<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()">
	<div data-view="GuestCardHLPView"  class="inline-edit">
		<header class="content-title float">
			<h2 translate> HOTEL_LOYALTY_PROGRAMS </h2>
			<span class="count"> (
				{{data.hotel_loyalty_program.length}}
				) </span>
			<a id="add-new-button" class="action add" ng-click="addNewHotelLoyalty()" translate>ADD_NEW</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div id="new-form-holder" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/hotelLoyalty/adHotelLoyaltyAdd.html'"></div>
			<div id="new-form-holder"></div>
			<table id="loyalty" class="grid">
				<tbody>
					<tr ng-repeat="hotelLoyalty in data.hotel_loyalty_program">
						<td ng-click="editHotelLoyalty($index,hotelLoyalty.value)" ng-hide="currentClickedElement == $index">
							<a class="edit-data-inline">{{hotelLoyalty.name}} </a></td>
						<td class="activate" ng-hide="currentClickedElement == $index">
							<div class="entry">
								<label for="1"></label>
								<div class="switch-button single" ng-class="{ on : hotelLoyalty.is_active == 'true' }" ng-click="activateInactivate(hotelLoyalty.value, hotelLoyalty.is_active, $index)">
									<input type="checkbox" checked="checked">
									<span class="switch-icon" ></span>
								</div>
							</div>
						</td>
						<td colspan="2" ng-include="getTemplateUrl($index,hotelLoyalty.value)"></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>