<div class='edit-data' id='add-new' style='display: block;'>
	<div class='data-holder'>
		<!-- Add payment type -->
		<form class='form inline-form float'>
			<div class='form-title'>
				<h3 translate>ADD</h3>
				<em class='status'>{{ 'MANDATORY_FIELDS_MESSAGE1' | translate }} <strong>*</strong> {{ 'MANDATORY_FIELDS_MESSAGE2' | translate }} </em>
			</div>
			<fieldset class='holder left'>
				<ad-textbox inputtype="text" value="addData.description"
				label = "Description" placeholder = "Enter payment description"
				required="yes" styleclass="full-width"></ad-textbox>
			</fieldset>
			<fieldset class='holder right'>
				<ad-textbox inputtype="text" value="addData.value"
				label = "Code" styleclass="full-width" placeholder = "Enter code"
				required="yes"></ad-textbox>
			</fieldset>
			<fieldset class='holder left'>
				<ad-checkbox is-checked="addData.is_cc" label="{{ 'CC' | translate}}" div-class="full-width" ></ad-checkbox>
				<div ng-hide="!addData.is_cc">
					<ad-checkbox is-checked="addData.is_offline" label="{{ 'OFFLINE' | translate}}" div-class="full-width"></ad-checkbox>
				</div>
			</fieldset>
			<fieldset class='holder right'>
				<ad-checkbox is-checked="addData.is_rover_only" label="{{ 'ROVER_ONLY' | translate}}" div-class="full-width" change="roverOnlyChanged()"></ad-checkbox>
				<ad-checkbox is-checked="addData.is_web_only" label="{{ 'WEB_ONLY' | translate}}" div-class="full-width" change="webOnlyChanged()"></ad-checkbox>
				<ad-checkbox is-checked="addData.is_display_reference" label="{{ 'DISPLAY_REFERENCE' | translate}}" div-class="full-width"></ad-checkbox>
			</fieldset>
			<div class='actions float'>
				<button class='button blank edit-data-inline' id='cancel' type='button' ng-click="clickCancel()" translate>
					CANCEL
				</button>
				<button class='button green edit-data-inline' id='save' type='button' ng-click="savePaymentMethod()" translate>
					SAVE_CHANGES
				</button>
			</div>

		</form>
	</div>
</div>
