<section  class="content current">
	<div data-view="PaymentMethodsView" class="inline-edit">
		<header class="content-title float">
			<h2 translate> PAYMENT_METHODS </h2>
			<span class="count"> (
				{{data.payments.length}}
				) </span>
			<a class='action add' ng-click="addNew()" translate>ADD_NEW</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div id = "new-form-holder" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/paymentMethods/adAddPaymentMethod.html'"></div>		

			<table class="grid">
				<tbody ng-repeat="payment in data.payments">
					
					<tr>
						<td ng-if="payment.is_system_defined" ng-click="editPaymentMethod($index)" ng-hide="currentClickedElement == $index">
							<a><strong>{{payment.description}}</strong></a>
							<em ng-if="payment.is_system_defined" translate>SYSTEM_DEFINED</em>
						</td>
						<td ng-if="!payment.is_system_defined" ng-click="editPaymentMethod($index)" ng-hide="currentClickedElement == $index">
							<a><strong>{{payment.description}}</strong></a>
						</td>
						
						<td class="activate" ng-hide="currentClickedElement == $index">
							<div class="entry">
								<td class="activate" ng-hide="currentClickedElement == $index">
									<div class="entry" >
										<div class="switch-button single"  ng-class="{ on : payment.is_active == 'true' }" ng-click="toggleClickedPayment($index,false)">
											<input type="checkbox">
											<span class="switch-icon"></span>
										</div>
									</div>
								</td>
							</div>
						</td>
						<td colspan="3" ng-include="getTemplateUrl($index)"></td>
					</tr>
					<!--- Sub list for Payment type Credit card ---->
					<tr ng-show="payment.description == 'Credit Card' && payment.is_active == 'true'">
						<td colspan="3" class="nested-table">
							<table id="credit_cards_types" class="grid">
								<tbody>
									<tr data-credit-card-id="1" ng-repeat="cc in data.credit_card_types">
										<td ng-if="cc.is_system_defined" ng-click="editPaymentMethodCC($index)" ng-hide="currentClickedElementCC == $index">
											<a><strong>{{cc.description}}</strong></a>
											<em translate>SYSTEM_DEFINED</em>
										</td>
										<td ng-if="!cc.is_system_defined" ng-click="editPaymentMethodCC($index)" ng-hide="currentClickedElementCC == $index">
											<a><strong>{{cc.description}}</strong></a>
										</td>
										<td class="activate" ng-hide="currentClickedElementCC == $index">
											<div class="entry" >
												<div ng-if="cc.is_system_defined" class="switch-button single"  ng-class="{ on : cc.is_active == 'true' }" ng-click="toggleClickedCC($index)">
													<input type="checkbox">
													<span class="switch-icon"></span>
												</div>
												<div ng-if="!cc.is_system_defined" class="switch-button single"  ng-class="{ on : cc.is_active == 'true' }" ng-click="toggleClickedPayment($index,true)">
													<input type="checkbox">
													<span class="switch-icon"></span>
												</div>
											</div>
										</td>
										<td colspan="3" ng-include="getTemplateUrlCC($index)"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					
				</tbody>
			</table>
		</section>
	</div>
</section>