!!!
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en" class="no-js"><![endif]-->
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name=>"robots", :content=>"noindex, nofollow"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}
    %meta{:name=>"apple-mobile-web-app-title", :content=>"StayNTouch"}
    =csrf_meta_tag
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    %title= page_title
    = render :partial => "shared/scripts_and_styles"
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/png"}
    %link{:href => "/assets/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "/assets/apple-touch-startup-image-768x1004.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: portrait)"}
    %link{:href => "/assets/apple-touch-startup-image-1024x748.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: landscape)"}
    %link{:href => "/assets/apple-touch-startup-image-1536x2008.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"}
    %link{:href => "/assets/apple-touch-startup-image-2048x1496.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"}
    
    = javascript_include_tag (:application)
    
  /%body{:id =>"manage-hotels"}
  = yield