<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="container-fluid eden_logo_bg">
			<div class="row headerrow black-bg">
				<logo-image></logo-image>
			</div>
		</div>
		<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
					<p class="msg-head brown-text">Your request is being processed.</p>
					<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
				</div>
			
		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">

			<p class="msg-head brown-text">Our apologies, something went wrong, please complete your check-out at our front desk.</p></p>
			<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
		</div>

		<!-- contentarea starts here-->
		<div class="container margin-10" ng-hide="isFetching || netWorkError">
			<!-- top section starts here-->

			<div class="row checkin-wrapper">
				<div class="col-md-6 headtext centeralign pad-rt-60 payment">
					<span class="brown-text">Payment</span>
					<p class="leadtext checkout-time-container">
						<span class="lightcontent chekout-time light-black-text">{{checkoutmessage}}
						</span>
					</p>
					<span class="black-text">{{currencySymbol}}{{fee}}</span>			
				</div>

				<!-- top section ends here-->


				<div class="col-md-6 pad-lf-60 cabin-number">
					<form >
						<div class="row">
							<div class="card-number-container">
								<p class="cabin-number-text lightcontent black-text">Card Number</p>
								<input type="password" ng-model="cardNumber" class = "col-xs-12 textBox shadow"/> 
							</div>
							<div class="ccv-container">
								<p class="cabin-number-text lightcontent black-text">CCV#</p>
								<input type="password" ng-model="ccv" class = "col-xs-12 textBox shadow"/> 
								<p class="ccv-popup-link" ng-click="showCcvPopup()"><u class="ccv-text brown-text">What is this?</u></p>
							</div>
						</div>

						<div class="row ">
							<div class="expiry-month-container">
								<p class="cabin-number-text lightcontent black-text">Expiration Date</p>
								<div class="select-style">
									<select ng-model="monthSelected"
									ng-options="month.value as month.name for month in months">
										<option value="">Month</option>
									</select>
								</div>
							</div>
							<div class="expiry-year-container">
								<p class="cabin-number-text">&nbsp;</p>
								<div class="select-style">
									<select ng-model="yearSelected"
									ng-options="year as year  for year in years">
										<option value="">Year</option>
									</select>
								</div>
							</div>
						</div>


						<button class="checkin-button continue-button green-bg" ng-click="savePaymentDetails()">
							<span class="continue-text white-text">Continue</span>
						</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


