<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div>
			<div class="container-fluid eden_logo_bg">
				<div class="row headerrow black-bg">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
				<div ng-hide="posted || isCheckoutCompleted || netWorkError || isCheckedout" class="checkout-status centeralign checkout-now-status" >
					<p class="msg-head brown-text">Your request is being processed.</p>
					<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
				</div>
			
				<div ng-show="posted && !success && !isCheckoutCompleted && !netWorkError" class="checkout-status centeralign checkout-now-status">
					<p class="msg-head brown-text">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
					<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
				</div>

				<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">

					<p class="msg-head brown-text">Our apologies, something went wrong, please complete your check-out at our front desk.</p>

					<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
				</div>
			
				<div ng-show="posted && success && isCheckoutCompleted && !netWorkError" class="checkout-status centeralign checkout-now-status">
					<p class="msg-head blue-text thanks-msg brown-text">Thank you for staying with us!</p>
				</div>

				<div ng-show="isCheckedout && !success" class="checkout-status centeralign checkout-now-status">
					<p class="msg-head brown-text">It appears you have already completed your check-out.</p>
					<p class="msg-body brown-text">For further enquiries please contact the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
					<p class="msg-foot brown-text">Thank you!</p>
				</div>
			</div>
		</div>
	</div>
</div>
