<!-- contentarea starts here-->
<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="container-fluid eden_logo_bg">
			<div class="row headerrow black-bg">
				<logo-image></logo-image>
			</div>
		</div>
		<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head brown-text">Your request is being processed.</p>
				<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
		</div>
		
		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head brown-text">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
			<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
		</div>

	<!-- contentarea starts here-->
		<div class="container margin-10 container-top-padding" ng-hide="isFetching || netWorkError ">
		<!-- top section starts here-->
			<div class="row check-inout-wrapper">
					<div class="col-md-6 headtext centeralign">
						<div class=" brown-text">Ready to check-out?</div>
						<div class="lightcontent chekout-time  room-text light-black-text margin-10">To start please enter your room number:</div>
						<div class="lightcontent chekout-time  room-text light-black-text margin-10" ng-show ="(roomVerificationInstruction.length>0)">({{roomVerificationInstruction}})</div>
					</div>
				<!-- top section ends here-->
				<div class="col-md-6 no-padding now-later-options cabin-number room_container">
					<form class="centeralign padding-10">
					<div class="row cabin_number_field">
						<p class="lightcontent chekout-time room-number-text light-black-text">Room Number</p>
						<input type="password" ng-model="roomNumber" class = "col-xs-12 textBox shadow room-input" placeholder="Enter Room number"/> 
					</div>								
							<button class="checkin-button continue-button green-bg room-verification-continue" ng-click="continueButtonClicked()">
								<span class="continue-text white-text">Continue</span>
							</button>				
					</form>
				</div>
			</div>
			<!-- checkinbtn section ends here-->
		</div>
	</div>
</div>


