<div class="data-holder">
	<form class="form single-field-form float">
		<ad-textbox value="item.name" name = "item-name" label = "" placeholder = "Enter origin name" required = ""></ad-textbox>

		<div class="actions float">
			<button type="button" class="button blank edit-data-inline" ng-click="clickedCancel()" translate>
				CANCEL
			</button>
			<button type="button" class="button green edit-data-inline" ng-click="updateItem()" translate>
				SAVE_CHANGES
			</button>
			<button type="button" class="button red edit-data-inline" ng-click="clickedDelete(item.value)" translate>
				DELETE
			</button>
		</div>
		
	</form>
</div>