<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()">
	<div data-view="GuestCardFFPView">
		<!-- FFP list -->
		<header class="content-title float">
			<h2 translate>FREQUENT_FLYER_PROGRAMS</h2>
			<span class="count">({{ ffp.length}})</span>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<table class="grid datatable table " ng-table="tableParams" template-pagination="nil">
				<tbody >
					<tr ffp-id="{{item.id}}" ng-repeat = "item in ffp">
						<td data-title="'Airline'" sortable="'airline'"><strong> {{item.airline}} </strong></td>
						<td data-title="'Program name'" sortable="'program_name'">{{item.program_name}} </td>
						<td data-title="'Active'" class="activate">
							<div class="entry" >
								<label></label>
								<div class="switch-button single"  ng-class="{ on : item.is_active }">
									<input type="checkbox" ng-click="toggleClicked()" id="ffp-active" value="ffp-active">
									<span class="switch-icon"></span>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</section>
	</div>
</section>