.modal-content.key-delivery
  %button#modal-close.modal-close{type: "button"}
    %span.icons.icon-close
  #room-status.scan-key
    -if(data[:is_late_checkout] == "true")
      %span.h2.message
        Checking Out 
        %br
        =data[:late_checkout_time]
    -else
      %span.h2.message#status
    %h1.icon-key
      =data[:user_name]
      %span
      =data[:room_number]
    %span.number
      Reservation
      =data[:confirmation_number]
  #key-status.scan-key
    %span.h2.message Room Key Emailed
    .action
      %em.info
        Email with the key QR code sent to
        =data[:email]
      %a.modal-close.button.brand-colors#goto-staycard View Stay Card
      %a.modal-close.button.blue#goto-search Search
        
  