	<section id="replacing-div-second" class="content current" style="display: block;" ng-hide="isLoading" ng-click="clearErrorMessage()"><div data-view="CheckoutGuests">
		<header class="content-title float">
			<h2>{{emailTitle}}</h2>
			<a id="go_back" data-type="load-details" class="action back" ng-click="backActionFromEmail()" translate>BACK_TO_SETUP</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
			<span class="count-show">Show</span>
			<div class="select table-count rates-table-count">
				<select ng-model="displyCount"	ng-options="opt for opt in displayCountList"></select>
			</div>
			<span class="count-entries">entries</span>
				
			<div class="entry table-search">
				<span class="search-text">Search</span>
				<span class="icons icon-search" name="submit" type="submit"></span>
				<input placeholder="" autocomplete="off" type="text" ad-delay-textbox ng-model="searchTerm" delay="1000" function-to-fire="searchEntered" />
		    </div>
			<form name="zest-checkout-send-email" method="post" id="zest-checkout-send-email" class="form with-grid float" action="">
				
				<table id="guests" class="grid datatable table" ng-table="tableParams" template-pagination="custom/pager">
					<tr ng-repeat="emailData in $data">
						<td header-class="width-5 padding-checkbox" style="text-align: left; " header="'ng-table/headers/checkbox.html'">
							<ad-checkbox is-checked="emailData.is_selected" ></ad-checkbox>	
						</td>
						<td header-class="width-30" data-title="'Name'" sortable="'first_name'"><a class="title">{{emailData.first_name}}&nbsp;{{emailData.last_name}} </a></td>
						<td header-class="width-30" data-title="'guest Email'" sortable="'email'"> {{emailData.email}}  </td>
						<td header-class="width-20" data-title="'Room'" sortable="'room_number'"><span class="number"> {{emailData.room_number}} </span></td>
						
					</tr>

				</table>
				<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class = "pager">
				<span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
				<span ng-show="totalCount==0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->

				<script type="text/ng-template" id="ng-table/headers/checkbox.html">
				
			<div class="entry radio-check">
			<label class="checkbox" ng-class="{'checked': isAllOptionsSelected()}">
			<span class="icon-form icon-checkbox" ng-class="{'checked': isAllOptionsSelected()}"></span>	
			<input type="checkbox" ng-checked="isAllOptionsSelected()" ng-click="toggleAllOptions()">
			<strong ng-show = "required=='yes'">*</strong>
		    </label>
			</div>

				</script>


				<div class="actions float">
					<button type="button" ng-click="backActionFromEmail()" class="button blank" translate>CANCEL</button>
					<button type="button" ng-disabled="disableSave" class="button grey" ng-show="disableSave">{{saveButtonTitle}}</button>

				<button type="button" ng-disabled="disableSave" ng-click="sendMailClicked()" class="button blue" ng-hide="disableSave">{{saveButtonTitle}}</button>
				</div>
			</form>
		</section>
	</div>
	</section>