<!-- Navbar --> 
<header ng-class="{'no-print':addNoPrintClass,'logo-print':isLogoPrint}" class="nav-bar rover-header " role = "banner">
	
	<!--search Backbutton> -->
	<label class="back-button" ng-if="searchBackButtonCaption!=''" ng-click="headerBackButtonClicked()">{{searchBackButtonCaption}}</label>	
	<!-- end of search backbutton -->

	<!-- back to prev -->
	<label class="back-button" href="" ng-if="setPrevState.title" ng-hide="setPrevState.hide" ng-click="loadPrevState()">{{ setPrevState.title }}</label>

	<div class="logo">
		<img ng-src= "{{userInfo.logo}}" alt="" />
	</div>

	<!-- Title -->
    <h1>
        <strong class="hotel">{{currentHotelData.name}}</strong>
        {{heading | translate}}
        <div class="user">
            <strong>{{userInfo.first_name}}
		{{userInfo.last_name}}</strong>
             <em class="date" ng-hide="isBussinessDateChanging"> {{userInfo.business_date | date:'EEEE, d MMMM y'}}</em>
             <em class="date updating" ng-show="isBussinessDateChanging">End of Day Routine in Progress</em>
        </div>
    </h1>
</header>