	<!-- Content -->
	<div id="availability-container" class="availability-container" ng-controller="rvAvailabilityMainController" >
			
		<!-- Navbar -->
		<header class="nav-bar" role="banner">
			<div class="switch-button" ng-class="{'on': availabilityToShow=='room'}" ng-click="setAvailability()">
				<input name="availability-toggle" id="availability-toggle" value="availability" type="checkbox" />
				<label class="data-off">
					<span class="value">Availability</span>
					<span class="switch-icon">House Status</span>
				</label>
				<label class="data-on">
					<span class="switch-icon">Availability</span>
					<span class="value">House Status</span>
				</label>
			</div>

			<!-- Logo -->
			<div class="logo">
			    <img ng-src= "{{userInfo.logo}}" alt="">
			</div>

			<!-- Title -->
		    <h1>
		        <strong class="hotel">{{currentHotelData.name}}</strong>
		        {{page.title}}
		        <div class="user">
		            <strong>{{userInfo.first_name}}{{userInfo.last_name}}</strong>
		            <em class="date" ng-hide="isBussinessDateChanging"> {{userInfo.business_date | date:'EEEE, d MMMM y'}}</em>
		            <em class="date updating" ng-show="isBussinessDateChanging">End of Day Routine in Progress</em>
		        </div>
		    </h1>
		</header>
		
		<section ng-include="getTemplateUrl()"></section>	
	</div>