<!--  House status content  -->
<section id="house-status-content" class="house-status-content" role="main" ng-controller="RVHouseAvailabilityStatusCtrl" ng-hide="!houseDetailsFetched">
	<div id="house-status-grid" class="house-status-grid scrollable" ng-iscroll="house-status-grid">
		<div class="wrapper">
			<table id="dates-grid" class="dates-grid">
				<!-- Here you'll always have 4 col elements -->
				<colgroup>
					<col> <!-- First col blank, for row labels -->
					<col class="grid-col">
					<col class="grid-col">
					<col class="grid-col">
				</colgroup>
				<thead>
					<tr>
						<th class="heading"></th> <!-- First is blank, for row labels -->
						<th ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span>{{dayDetails.day}}</span>
								{{dayDetails.date | date : 'EEE, MMM d'}}
							</div>
						</th>
					</tr>
				</thead>

				<!-- in order to animate graphs, you'll need to:
					1. append style attribute, with the value from data-width attribute
					2. add class "showing"
		        -->
				<tbody>
					<tr>
						<th class="heading" scope="row">Total Rooms occupied</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value">{{houseDetails.total_rooms_occupied[dayDetails.date].value}}</span>
								<span class="graph">
									<span class="bar" style="width: {{houseDetails.total_rooms_occupied[dayDetails.date].percent}}%;" ng-class="{blue: dayDetails.day == 'YESTERDAY',orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.total_rooms_occupied[dayDetails.date].value > 0}"></span>
								</span>
							</div>
						</td>
					</tr>
					<!-- <tr>
						<th class="heading" scope="row">Total Guests In House</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value">{{houseDetails.total_guests_inhouse[dayDetails.date].value}}</span>
								<span class="graph">
									<span class="bar" style="width: {{houseDetails.total_guests_inhouse[dayDetails.date].percent}}%;" ng-class="{blue: dayDetails.day == 'YESTERDAY',orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.total_guests_inhouse[dayDetails.date].value > 0}"></span>
								</span>
							</div>
						</td>
					</tr> -->
					<tr>
						<th scope="row">Departures Expected</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<!-- For yesterday we dont want to display the count and graph -->
								<span class="value" ng-if="dayDetails.day != 'YESTERDAY'">{{houseDetails.departues_expected[dayDetails.date].value}}</span>
								<span class="value" ng-if="dayDetails.day == 'YESTERDAY'">NA</span>
								<span class="graph" ng-if="dayDetails.day == 'TODAY' || dayDetails.day == 'TOMORROW'">
									<span class="bar" style="width: {{houseDetails.departues_expected[dayDetails.date].percent}}%;" ng-class="{orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.departues_expected[dayDetails.date].value > 0}"></span>
								</span>								
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Departures Actual</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<!-- For tomorrow we dont need to display the count and graph -->
								<span class="value" ng-if="dayDetails.day == 'YESTERDAY' || dayDetails.day == 'TODAY'">{{houseDetails.departures_actual[dayDetails.date].value}}</span>
								<span class="value" ng-if="dayDetails.day == 'TOMORROW'">NA</span>
								<span class="graph" ng-if="dayDetails.day == 'YESTERDAY' || dayDetails.day == 'TODAY'">
									<span class="bar" style="width: {{houseDetails.departures_actual[dayDetails.date].percent}}%;" ng-class="{orange: dayDetails.day == 'TODAY', blue: dayDetails.day == 'YESTERDAY', showing: houseDetails.departures_actual[dayDetails.date].value > 0}"></span>
								</span>
								
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Arrivals Expected</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<!-- For yesterday we dont want to display the count and graph -->
								<span class="value" ng-if="dayDetails.day == 'TODAY' || dayDetails.day == 'TOMORROW'">{{houseDetails.arrivals_expected[dayDetails.date].value}}</span>
								<span class="value" ng-if="dayDetails.day == 'YESTERDAY'">NA</span>
								<span class="graph" ng-if="dayDetails.day == 'TODAY' || dayDetails.day == 'TOMORROW'">
									<span class="bar" style="width: {{houseDetails.arrivals_expected[dayDetails.date].percent}}%;" ng-class="{orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.arrivals_expected[dayDetails.date].value > 0}"></span>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Arrivals Actual</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<!-- For tomorrow we dont need to display the count and graph -->
								<span class="value" ng-if="dayDetails.day == 'YESTERDAY' || dayDetails.day == 'TODAY'">{{houseDetails.arrivals_actual[dayDetails.date].value}}</span>
								<span class="value" ng-if="dayDetails.day == 'TOMORROW'">NA</span>
								<span class="graph" ng-if="dayDetails.day == 'YESTERDAY' || dayDetails.day == 'TODAY'">
									<span class="bar" style="width: {{houseDetails.arrivals_actual[dayDetails.date].percent}}%;" ng-class="{orange: dayDetails.day == 'TODAY', blue: dayDetails.day == 'YESTERDAY', showing: houseDetails.arrivals_actual[dayDetails.date].value > 0}"></span>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Available Tonight</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value">{{houseDetails.available_tonight[dayDetails.date].value}}%</span>
								<span class="graph">
									<span class="bar" style="width: {{houseDetails.available_tonight[dayDetails.date].percent}}%;" ng-class="{blue: dayDetails.day == 'YESTERDAY',orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.available_tonight[dayDetails.date].value > 0}"></span>
								</span>
								
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Occupied Tonight</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value">{{houseDetails.occupied_tonight[dayDetails.date].value}}%</span>
								<span class="graph">
									<span class="bar" style="width: {{houseDetails.occupied_tonight[dayDetails.date].percent}}%;" ng-class="{blue: dayDetails.day == 'YESTERDAY',orange: dayDetails.day == 'TODAY', yellow: dayDetails.day == 'TOMORROW', showing: houseDetails.occupied_tonight[dayDetails.date].value > 0}"></span>
								</span>
								
							</div>
						</td>
					</tr>
					<tr>
						<th class="heading" scope="row">Total Room Revenue</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value full-width">{{currencySymbol}}{{houseDetails.total_room_revenue[dayDetails.date] | number: precisonZero}}</span>
							</div>
						</td>
					</tr>
					<tr>
						<th class="heading" scope="row">Average Daily Rate</th>
						<td ng-repeat='dayDetails in houseDetails.dates'>
							<div class="inner">
								<span class="value full-width">{{currencySymbol}}{{houseDetails.avg_daily_rate[dayDetails.date] | number: precisonZero}}</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
