

<div id="availability-grid" class="availability-grid scrollable " ng-controller="rvRoomAvailabilityGridStatusController" ng-iscroll='room_availability_scroller' ng-iscroll-delay="100" ng-show="hideMeBeforeFetching">
	<div class="wrapper position-absolute">
		<table class="dates-grid" ng-class="{'grid-7': data.dates.length<=7, 'grid-14': data.dates.length<=14, 'grid-30': data.dates.length<=30}"  id="dates-grid">
			<colgroup>
				<col>
				<col class="grid-col" bindonce ng-repeat="eachDate in data.dates" bo-class="{'weekend': eachDate.isWeekend}">		
			</colgroup>
			<thead>
				<tr>
					<th class="heading"></th>
					<th bindonce ng-repeat="eachDate in data.dates track by $index">
						<div class="inner"  bo-class="{'weekend': eachDate.isWeekend}">
							<span bo-bind="eachDate.date|date:dayInWeek"></span>
							{{eachDate.date|date:shortMonthAndDate}}
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="heading">Occupancy %</th>
					<td bindonce ng-repeat="occupancy in data.occupancies track by $index">
						<div class="inner">{{occupancy | number : 2 }}%</div>
					</td>
				</tr>
				<tr>
					<th class="heading">Total Bookable Rooms</th>
					<td bindonce ng-repeat="bookableRoom in data.bookableRooms track by $index">
						<div class="inner" bo-text="bookableRoom"></div>
					</td>
				</tr>
				<tr class="room-details main">
					<th class="heading rows-toggle" ng-click="toggleShowRoomTypeWiseAvailableRooms()">Available Rooms</th>
					<td bindonce ng-repeat="availableRoom in data.availableRooms track by $index">
						<div class="inner" bo-text="availableRoom"></div>
					</td>
				</tr>
				<tr class="room-details" ng-class="{'hidden': !showRoomTypeWiseAvailableRooms}" bindonce ng-repeat="individualAvailableRoomList in data.individualAvailableRooms track by $index">
					<th class="" bo-text="individualAvailableRoomList.name" ></th>
					<td bindonce ng-repeat="individualAvailableRoom in individualAvailableRoomList.availableRoomNumberList track by $index">
						<div class="inner" bo-text="individualAvailableRoom"></div>
					</td>
				</tr>				
				<tr>
					<th class="">Out of Order rooms</th>
					<td bindonce ng-repeat="outOfOrderRoom in data.outOfOrderRooms track by $index">
						<div class="inner" bo-text="outOfOrderRoom"></div>
					</td>
				</tr>
				<tr>
					<th class="">Total Reserved Rooms</th>
					<td bindonce ng-repeat="reservedRoom in data.reservedRooms track by $index">
						<div class="inner" bo-text="reservedRoom"></div>
					</td>
				</tr>	
				<tr ng-hide="true">
					<th class="">[Overbooking]</th>
					<td bindonce ng-repeat="overBookableRoom in data.overBookableRooms track by $index">
						<div class="inner" bo-text="[overBookableRoom]"></div>
					</td>
				</tr>																		<tr ng-hide="true">
					<th class="">[Available rooms with overbooking]</th>
					<td bindonce ng-repeat="availableRoomsWithBookableRoom in data.availableRoomsWithBookableRooms track by $index">
						<div class="inner" bo-text="[availableRoomsWithBookableRoom]"> </div>
					</td>
				</tr>													
			</tbody>

		</table> 


	</div>
</div>