<section id="availability-content" class="availability-content" role="main" ng-controller="roomAvailabilityMainController">

	<!-- Grid -->
	<div class="availability-header">
		 <div class="date has-datepicker" ng-click="clickedOnDatePicker()">
		 	<input name="availability-start-date" id="availability-start-date" class="hasDatepicker" type="text" ng-model="data.formattedSelectedDate" ng-change="changedAvailabilityDataParams()" />
		 	<button type="button" class="ui-datepicker-trigger">...</button>
		 </div>				
	    <div class="select">
			<select id="days-view" name="days-view" ng-model="numberOfDaysSelected" ng-change="changedAvailabilityDataParams()">
				<option value="7" ng-selected="numberOfDaysSelected==7">7 Days</option>
				<option value="14" ng-selected="numberOfDaysSelected==14">14 Days</option>
				<option value="30" ng-selected="numberOfDaysSelected==30">30 Days</option>
			</select>
		</div>
	    <ul class="display">
	    	<li id="show-grid" ng-click="setSelectedView('grid')" ng-class="{'active': selectedView == 'grid'}"> 
	    		<span class="icons icon-navbar only-icon icon-grid" ng-class="{'active': selectedView == 'grid'}">
	    			Grid
	    		</span>
	    	</li>
	    	<li id="show-graph" ng-class="{'active': selectedView == 'graph'}" ng-click="setSelectedView('graph')">
	    		<span class="icons icon-navbar only-icon icon-graph" ng-class="{'active': selectedView == 'graph'}">Graph</span>
	    	</li>
	    </ul>
	</div>
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div ng-include="loadSelectedView()"></div>
</section>