<div ng-controller = "rvReservationSearchWidgetController" >
	<form method="get" action="" name="dashboard-search-form" id="dashboard-search-form" class="search-form has-dates" role="search" ng-class="{'enable-adding' :showAddNewGuestButton && showSearchResultsArea && textInQueryBox.length !== 0}" outside-click-handler><!--TODO: verify enable-adding -->	
	    <div class="entry search">
	    	<button id="dashboard-clear-query" class="clear-query" ng-click="clearResults()" ng-class="{'visible': textInQueryBox!=''}">
	    	    <span class="icons icon-clear-search">Clear query</span>
	    	</button>
	    	<button type="submit" name="submit" class="icons icon-search">Search</button>
	    	<input name="dashboard-query" id="dashboard-query" class="query" placeholder="Name, Group, Room No. or Confirmation No." type="search" autocomplete="off" ng-change="queryEntered()" ng-click="focusOnSearchText()" ng-model="textInQueryBox" focus-me="focusSearchField"/>
	    </div>
	    <div class="entry dates">

            <div class="entry-data has-datepicker">
                <label for="dashboard-date-from">From</label>
                <input name="dashboard-date-from" id="dashboard-date-from" class="hasDatepicker" readonly="" type="text" placeholder="{{fromDate | date : dateFormat }}" value="{{fromDate| date : dateFormat}}"/>
                <button ng-click="showCalendar('RVReservationSearchFromDatepickerCtrl')" type="button" class="ui-datepicker-trigger"></button>
            </div>
            <div class="entry-data has-datepicker">
                <label for="dashboard-date-to">To</label>
                <button id="dashboard-date-to-clear" class="clear-query" ng-class="{'visible': escapeNull(toDate) !=''}">
                    <span class="icons icon-clear-search" ng-click="clearToDateClicked()">Clear query</span>
                </button>

                <input name="dashboard-date-to" id="dashboard-date-to" class="datepicker" placeholder="{{toDate | date : dateFormat}}" value="{{toDate| date : dateFormat}}" readonly="" type="text" />
                <button ng-click="showCalendar('RVReservationSearchToDatepickerCtrl')" type="button" class="ui-datepicker-trigger"></button>
            </div>
        </div>
        <!-- Add reservation -->
    	<a class="add-new-button" ui-sref="rover.reservation.search" ng-show="showAddNewGuestButton && showSearchResultsArea && textInQueryBox.length !== 0">+ New</a>
	</form>
	<div class="search-pagination" ng-show="totalSearchResults > searchPerPage && results.length > 0">
	    <button type="button" class="button dark-grey next" ng-click="loadNextSet()" ng-disabled="isNextButtonDisabled()">Next</button>
	    <button type="button" class="button dark-grey prev" ng-click="loadPrevSet()" ng-disabled="isPrevButtonDisabled()">Previous</button>
	    <p>Showing <strong>{{start}}-{{end}}</strong> of <strong id="total-count">{{totalSearchResults}}</strong> items</p>
	</div>
	<section ng-attr-id="{{search_area_id}}" class="content scrollable" ng-class="{'no-pagination': ((totalSearchResults < searchPerPage && results.length > 0) || isSwiped), 'no-results' : results.length == 0, 'hidden': !showSearchResultsArea, 'showing-search': searchAreaIsOpening, 'closing-search': searchAreaIsHiding}" role="complementary" ng-show="showSearchResultsArea" ng-iscroll="result_showing_area" ng-iscroll-delay="1000">
	    <div class="wrapper"> 
	    	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	        <ul id="dashboard-search-results" class="search-results" > <!-- since parent id & class must have roles in displaying the bottom results, we are seperating these -->
				<li class="reservation" ng-repeat="row in results" ng-show="row.is_row_visible" ngrepeatend ngrepeatstarted>
					<a ng-class="getReservationClass(row.reservation_status)" ng-click="goToReservationDetails($event,row.id, row.confirmation)"> 
					<!--TODO: Verify add class "accompany" if it's a accompanying guest -->
						<figure class="guest-image" ng-show="row.images.length!=0 " ng-class="{'accompany': row.images.length >1}">	
							<img ng-repeat="image in row.images" ng-src="{{image.guest_image}}" ng-class="{'first-image':(row.images.length >1 && image.is_primary==true)}">
							<!-- commented out for CICO-9877 -->
							<!-- <img ng-repeat="image in row.images" ng-src="{{image.guest_image}}" ng-class="{'first-image':(row.images.length >1 && image.is_primary==true), 'second-image':(row.images.length >1 && image.is_primary==false)}"> -->
							<span class="vip" ng-show="row.vip==true">VIP</span>
						</figure>
						<div class="data" ng-class="{'no-guest-info': escapeNull(row.company)=='' && escapeNull(row.travel_agent)=='' && escapeNull(row.group)==''}">  <!-- TODO:   verify Add class "no-guest-info" if there's no company, ta and group attached -->
							<h2 ng-class="{'grey' : row.is_accompanying_guest=='1'}">
                                <span class="no-margin-right" ng-bind-html="escapeNull(row.lastname)|highlight:textInQueryBox:false"></span>,
								<span ng-bind-html="escapeNull(row.firstname)|highlight:textInQueryBox:false"></span>
							</h2>
							<span class="confirmation" ng-bind-html="'{{row.confirmation}}'|highlight:textInQueryBox:false">{{row.confirmation}}</span>
							<span class="icons icon-location" ng-hide="escapeNull(row.location)==''" >{{escapeNull(row.location)}}
							</span>
						</div>	

						<!-- if none of these exsist for the guest don't output the entire div (and add class "no-guest-info" to div.data) -->
	                    <div class="guest-info" ng-hide="escapeNull(row.company)=='' && escapeNull(row.travel_agent)=='' && escapeNull(row.group)==''">
	                        <span class="icons icon-guest-company" ng-hide="escapeNull(row.company)==''" ng-bind-html="escapeNull(row.company)|highlight:textInQueryBox:false"></span> 
	                        <span class="icons icon-guest-travelagent" ng-hide="escapeNull(row.travel_agent)==''" ng-bind-html="escapeNull(row.travel_agent)|highlight:textInQueryBox:false"></span>
	                        <span class="icons icon-group" ng-hide="escapeNull(row.group)==''" ng-bind-html="escapeNull(row.group)|highlight:textInQueryBox:false"></span> 
	                    </div>

						<!-- Display the arrival date and Room number-->
	                    <div class="reservation-info" ng-if="row.reservation_status == 'CHECKING_IN' || row.reservation_status == 'CHECKEDIN'|| row.reservation_status == 'CHECKING_OUT'|| (row.reservation_status == 'RESERVED' && escapeNull(row.room) !== '' ) || (row.reservation_status == 'RESERVED' && row.is_pre_checkin )">
	                        <!-- this can be either arrival or departure date, depending on reservation status -->
	                        <div class="arrival-departure">
	                            <span class="guest-status {{getGuestStatusMapped(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}">{{getGuestStatusMapped(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}</span>
	                            <span class="icons icon-queued" ng-if="isReservationQueued(row.is_reservation_queued, row.is_queue_rooms_on, row.reservation_status)"></span>
	                            
	                            <time datetime="{arrival or departure timestamp}">
	                            	<span ng-if ="(row.reservation_status == 'RESERVED'||row.reservation_status == 'CHECKING_IN')">

		                                <span>{{row.arrival_date| date : dateFormat}}</span>
		                                <!-- TODO: Date formating for arrival/departure time -->
		                                <span>{{getTimeConverted(row.arrival_time)}}</span>
		                            </span>
		                            	
		                            <span ng-if ="(row.reservation_status == 'CHECKEDIN'||row.reservation_status == 'CHECKING_OUT')">
		                            	
		                                <span>{{row.departure_date| date : dateFormat}}</span>
		                                <span ng-hide="(row.reservation_status =='CHECKING_OUT' && row.is_opted_late_checkout == true)">{{getTimeConverted(row.departure_time)}}</span>
		                                <span ng-show="(row.reservation_status =='CHECKING_OUT' && row.is_opted_late_checkout == true)">{{row.late_checkout_time}}</span>
		                            </span>

	                            </time> 
	                        </div>

	                        <div class="room-info">
								<!-- Confirm the logic of READY and NOT-READY -->
	                        	<span class="room-number" ng-class="getMappedClassWithResStatusAndRoomStatus(row.reservation_status, row.roomstatus, row.fostatus, row.room_ready_status, row.checkin_inspected_only, row.room_service_status)" >
	                        		<span ng-class="{'room-highlight': row.room.indexOf(textInQueryBox) != -1 && textInQueryBox!=''}">
	                        			{{escapeNull(row.room)}}
	                        		</span>			
	                        	</span>

	                        	<span class="room-status" ng-show="getRoomStatusMapped(row.roomstatus, row.fostatus) == 'not-ready' && row.reservation_status == 'CHECKING_IN'"  >{{row.fostatus}}</span>
	                        </div>
                    	</div>

                    	<!-- Display arrival and departure dates . Do not display the room number -->
	                    <div class="reservation-info" ng-if="row.reservation_status == 'CHECKEDOUT' || row.reservation_status == 'NOSHOW'|| row.reservation_status == 'NOSHOW_CURRENT' || row.reservation_status == 'CANCELED' || (row.reservation_status == 'RESERVED' && escapeNull(row.room) == '' )">
	                        <!-- this is arrival date -->
	                        <div class="arrival-departure">
	                            <span class="guest-status {{getGuestStatusIconForArrival(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}">{{getGuestStatusIconForArrival(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}</span>
	                            <time datetime="{arrival timestamp}">
	                                <span>{{row.arrival_date| date : dateFormat}}</span>
	                                <span>{{getTimeConverted(row.arrival_time)}}</span>
	                            </time>
	                        </div>

	                        <div class="departing">
	                            <span class="guest-status {{getGuestStatusIconForDeparture(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}">{{getGuestStatusIconForDeparture(row.reservation_status, row.is_opted_late_checkout,row.is_pre_checkin)}}</span>
	                            <time datetime="{departure timestamp}">
	                                <span>{{row.departure_date| date : dateFormat}}</span>
	                                <span>{{getTimeConverted(row.departure_time)}}</span>
	                            </time>
	                        </div>
	                    </div>
					</a>
				</li>
				<li class="no-content" ng-show="showNoMatches(results, textInQueryBox.trim().length, isTyping, isSwiped)" >
					<div class="info">
						<span class="icon-no-content icon-search"></span>
						<strong class="h1">No matches </strong>
						<span class="h2">Check that you didn't mispell the <strong>Name</strong> or 
							<strong>Group</strong>, or typed in the wrong <strong>Room </strong> or 
							<strong>Confirmation</strong> number
							<span ng-show="results.length==0 && showAddNewGuestButton">, or    
							<a ui-sref="rover.reservation.search">Add a New Guest <a/></span>
						</span>
						.
					</div>
				</li>
				<li class="no-content" ng-show="results.length == 0 && searchType != 'default' && (isLateCheckoutList && textInQueryBox=='')">
					<div class="info">
						<span class="icon-no-content icon-search"></span>
						<strong class="h1">No guests opted for late checkout </strong>
					</div>
				</li>
				<li class="no-content" ng-show="results.length == 0 && textInQueryBox.trim().length<=3 && !swipeNoResults">
					<div class="info">
						<span class="icon-no-content icon-search"></span>
						<strong class="h1">Find Guests</strong>
						<span class="h2">
							Search by
							<strong>Name</strong>,
							<strong>Group</strong>,
							<strong>Room No.</strong>
							or
							<strong>Confirmation No.</strong>
						</span>
					</div>
				</li>
				<li class="no-content" ng-show="swipeNoResults">
					<div class="info">
						<span class="icon-no-content icon-search" ></span>
						<strong class="h1">No matches </strong>
						<span class="h2">Enter different search criteria to find reservation / guest. 
							
						</span>
						
					</div>
				</li>
	        </ul>
	    </div>
	</section>
</div>