<div id="page-main-second"  ng-click="clickedOnSearchArea()" class="" style="">
    <!-- Search form -->
    <div ng-include="'/assets/partials/common/header.html'"></div>
    <form name="search-cards" id="search-cards" class="search-form" role="search" ng-class="{'enable-adding' : textInQueryBox!=''}">
        <div class="entry search">
            <a id="clear-query" class="icons icon-clear-search" ng-click="clearResults()" ng-class="{'visible': textInQueryBox!=''}">Clear query</a>
            <button type="submit" name="submit" class="icons icon-search">Search</button>
            <input type="text" class="query" placeholder="Name, IATA # or Corporate ID" name="query" id="query" autocomplete="off" ng-model="textInQueryBox" ng-keyup="queryEntered()">
        </div>
        <a class="add-new-button" data-lock="true" name="add-new-card" ng-click="addNewCard()">+ Add new</a>
    </form>

    <section id="find-cards" class="content scrollable" ng-iscroll="company_card_scroll" >

        <!-- Results / content -->
        <div class="wrapper">
            <ul id="search-cards-results" class="search-results" >
                 <li class="card" ng-repeat="row in results" ng-show="row.is_row_visible==true" ng-hide="results.length==0 || textInQueryBox==''">
                    <!-- TODO: add class="company-card" or class="travel-agent" on <a> element -->
                    <a ui-sref="rover.companycarddetails({id:row.id, type: row.account_type, query :textInQueryBox})">

                        <figure class="guest-image" ng-if="escapeNull(row.company_logo)!=''">
                            <img ng-src="{{row.company_logo}}" alt="">
                        </figure>

                        <div ng-if="escapeNull(row.company_logo)==''">
                            <div class="guest-image icons icon-company" ng-if="escapeNull(row.account_type)=='COMPANY'" ></div>
                            <div class="guest-image icons icon-travel-agent" ng-if="escapeNull(row.account_type)=='TRAVELAGENT'" ></div>
                        </div>

                        <div class="data">
                            <h2 ng-bind-html="row.account_name | highlight:textInQueryBox:false"></h2>
                        </div>
                        <div class="status company" ng-class="{'company': row.account_type.toLowerCase()=='company', 'travel-agent': row.account_type.toLowerCase()=='travelagent'}" >{{row.account_type}}</div>
                    </a>
                </li>
                <!-- No results / no content when searched query not found-->
                <li class="no-content" ng-show="results.length==0 && textInQueryBox!=''">
                    <div class="info">
                        <span class="icon-no-content icon-cards"></span>
                        <strong class="h1">No matches have been found</strong>
                        <span class="h2"> Do you want to create a new Company or Travel Agent card ? <br/>
                            <a class="open-modal" ng-click="addNewCard()">Add a New Card</a>
                        </span>
                    </div>
                </li>

            </ul>
        </div>

        <!-- No results / no content -->
        <div id="search-cards-no-results" class="no-content" ng-show="results.length==0 && textInQueryBox==''">
            <div class="info">
                <span class="icon-no-content icon-cards"></span>
                <strong class="h1">Find Cards</strong>
            <span class="h2">Search by <strong>Name</strong>, <strong>IATA #</strong> or <strong>Corporate ID</strong></span>
            </div>
        </div>


    </section>
</div>