<section class="content current" ng-click='clearErrorMessage()'>
	<header class="content-title" ng-show="mode == 'ADD'">
	    <h2 translate>NEW_CAMPAIGN_TITLE</h2>
	    <a class="action back" ng-click="gobackToCampaignListing();" translate>BACK</a>
	</header>

	<header class="content-title" ng-show="mode == 'EDIT'">
	    <h2>{{'EDIT_CAMPAIGN_TITLE' |translate}}<span translate> {{campaignData.name}}</span></h2>
	    <a ng-click="gobackToCampaignListing();" class="action back" translate> BACK</a>
	    <button type="button" class="action remove" ng-click="deleteCampaign();" translate>DELETE_CAMPAIGN</button>
	</header>
	<section class="content-scroll">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>

		<form method="post" action="" id="new-campaign" name="new-campaign" class="form campaign-details">
		    
		    <fieldset class="holder left">

		        <!-- Campaign details -->
		        <div class="form-title">
		            <h3><span translate>CAMPAIGN</span> {{'DETAILS' |translate}}</h3>
		            <em class="status"> {{ 'MANDATORY_FIELDS_MESSAGE1' | translate }} <strong>*</strong> {{ 'MANDATORY_FIELDS_MESSAGE2' | translate }} </em>
		        </div>
				<div class="entry full-width" ng-show = "mode == 'EDIT' && campaignData.status == 'COMPLETED'">
		            <div id="campaign-completed" class="notice success">
		                <strong translate>COMPLETED</strong>
		                {{campaignData.completed_date}} {{getTimeConverted(campaignData.completed_time)}}
		            </div>
		        </div>
		        <div class="entry full-width" ng-show = "mode == 'EDIT' && campaignData.status !== 'COMPLETED'">
                    <label for="campaign-status" translate>STATUS</label>
                    
                    <div class="switch-button" ng-show="campaignData.is_recurring == 'true' && (campaignData.status == 'ACTIVE' || campaignData.status == 'INACTIVE')" ng-class="{ 'on' :campaignData.status == 'ACTIVE' }" ng-click="statusChanged()"> <!-- Remove class "on" when checkbox is unchecked -->
                        <input id="campaign-status" type="checkbox"/>
                        <span class="switch-icon"></span>
                    </div>
                </div>

		        
		        <div class="entry full-width">
		            <label for="campaign-name">{{'CAMPAIGN_NAME'|translate}} <strong>*</strong></label>
		            <input type="text" id="campaign-name" placeholder="Enter Campaign name" ng-model="campaignData.name" value="" required ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"/>
		        </div>  
		        <div class="entry short">
		            <label for="campaign-id" translate>ID</label>
		            <input type="text" id="campaign-id" value="campaignData.id" ng-model="campaignData.id" readonly/>
		        </div>      
		        <div class="entry full-width">
		            <label for="campaign-audience">{{'AUDIENCE'|translate}} <strong>*</strong></label>
		            <div class="boxes">
		                <label class="radio">
		                    <span class="icon-form icon-radio" ng-class="{'checked': campaignData.audience_type =='DUE_IN_GUESTS'}"></span>
		                    <input name="audience" id="audience-duein" value="DUE_IN_GUESTS" type="radio" ng-model="campaignData.audience_type" ng-disabled="campaignData.status == 'COMPLETED'"/>
		                    <span translate>DUE_IN_GUESTS</span>
		                </label>
		                <label class="radio">
		                    <span class="icon-form icon-radio" ng-class="{'checked': campaignData.audience_type =='IN_HOUSE_GUESTS'}"></span>
		                    <input name="audience" id="audience-inhouse" value="IN_HOUSE_GUESTS" type="radio" ng-model="campaignData.audience_type" ng-disabled="campaignData.status == 'COMPLETED'" ng-disabled="campaignData.status == 'COMPLETED'"/>
		                    <span translate>IN_HOUSE_GUESTS</span>
		                </label>
		                <label class="radio">
		                    <span class="icon-form icon-radio" ng-class="{'checked': campaignData.audience_type =='EVERYONE'}"></span>
		                    <input name="audience" id="audience-everyone" value="EVERYONE" type="radio" ng-model="campaignData.audience_type" ng-disabled="campaignData.status == 'COMPLETED'"/>
		                    <span translate>EVERYONE</span>
		                </label>
		                <label class="radio">
		                    <span class="icon-form icon-radio" ng-class="{'checked': campaignData.audience_type =='SPECIFIC_USERS'}"></span>
		                    <input name="audience" id="audience-users" type="radio" value="SPECIFIC_USERS" ng-model="campaignData.audience_type" ng-disabled="campaignData.status == 'COMPLETED'"/>
		                    <span translate>SPECIFIC_USERS</span>
		                </label>
		                <input id="audience-specific-user" placeholder="Enter User Name" type="text" ng-show="campaignData.audience_type =='SPECIFIC_USERS'" ng-model="campaignData.specific_users" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"/> <!-- Remove class "hidden" when "Specific User(s)" option is selected. Add it back if other option is selected -->
		            </div>
		        </div>

		        <!-- Message -->
		        <div class="form-title">
		            <h3><span translate>MESSAGE</span> ({{'IN_APP' |translate}})</h3>
		            <em class="status"> {{ 'MANDATORY_FIELDS_MESSAGE1' | translate }} <strong>*</strong> {{ 'MANDATORY_FIELDS_MESSAGE2' | translate }} </em>
		        </div>
		        <div class="entry full-width">
		            <label for="message-subject">{{'MESSAGE_SUBJECT'|translate}}<strong>*</strong></label>
		            <input type="text" id="message-subject" maxlength="{{campaignData.messageSubjectMaxLength}}" placeholder="Subject or Message" value="campaignData.subject" required ng-model="campaignData.subject" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"/>
		            <p class="counter"><span ng-class="{'done': campaignData.subject.length == campaignData.messageSubjectMaxLength}">{{campaignData.messageSubjectMaxLength - campaignData.subject.length}}</span> {{'CHARACTERS_REMINING' |translate}}</p>
		            <!-- When counter hits 0, add class "done" to span element. So: <span class="done">0</span>-->
		        </div>
		        
		        <div class="entry full-width">
		            <label for="message-header">{{'MESSAGE_HEADER_IMAGE'|translate}}<span translate>IMAGE_TYPE</span></label>
		            <div class="file-upload with-preview">
		            	<span class="input">{{campaignData.header_file}}</span>
		                <input type="file" id="message-header" ng-model="campaignData.header_image" accept="image/*" app-filereader ng-disabled="campaignData.status == 'COMPLETED'"/>
		                <button type="button" class="button brand-colors" translate>ADD_IMAGE</button>
		            </div>
		            <span class="file-preview"><img ng-src="{{campaignData.header_image}}" alt="" height="112" width="auto"> <em ng-show="campaignData.header_image == '' || campaignData.header_image == undefined" translate>PREVIEW_NOT_AVAILABLE</em></span>
		        </div>   
		        <div class="entry full-width">
		            <label for="message-body">{{'MESSAGE_BODY'|translate}}<strong>*</strong></label>
		            <textarea id="message-body" rows="4" maxlength="{{campaignData.messageBodyMaxLength}}" placeholder="Text" ng-model="campaignData.body" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"></textarea>
		            <p class="counter" ng-class = "{'done': campaignData.messageBodyMaxLength == campaignData.body.length}"><span>{{campaignData.messageBodyMaxLength - campaignData.body.length}}</span> {{'CHARACTERS_REMINING' |translate}}</p>
		            <!-- When counter hits 0, add class "done" to span element. So: <span class="done">0</span>-->
		        </div>
		        <div class="entry">
		            <label for="call-label" translate>CALL_TO_ACTION_LABEL</label>
		            <input type="text" id="call-label" placeholder="Text displayed on button" ng-model="campaignData.call_to_action_label" value="campaignData.call_to_action_label" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"/>
		        </div>
		        <div class="entry full-width">
		            <label for="call-target" translate>CALL_TO_ACTION_TARGET</label>
		            <input type="text" id="call-target" placeholder="Button link" ng-model="campaignData.call_to_action_target" value="campaignData.call_to_action_target" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"/>
		        </div>
		    </fieldset>
	    <fieldset class="holder right">
	        
	        <!-- Delivery -->
	        <div class="form-title">
	            <h3><span translate>DELIVERY</span> {{'DETAILS'|translate}}</h3>
	            <em class="status">{{'TIME_ZONE'|translate}}<strong class="zone">{{hotelTimeZoneFull}} ({{hotelTimeZoneAbbr}})</strong></em>
	        </div>
	        <div class="large-block" ng-class = "{'open': campaignData.is_recurring == 'false'}">
	            <label class="radio large">
	                <span class="icon-form icon-radio" ng-class = "{'checked': campaignData.is_recurring == 'false'}"></span>
	                <input name="delivery" id="delivery-onetime" value="false" type="radio" ng-model="campaignData.is_recurring" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                {{'ONE_TIME'|translate}}
	            </label>
	            
	            <!-- Lines 97-148 are For future use, not for CICO-11909  -->
	            <label class="radio small"> <!-- // Add class "hidden" when "Recurring" is selected as option. Remove it if "One time" is selected as option. -->
	                <span class="icon-form icon-radio" ng-class = "{'checked': campaignData.is_recurring == 'false'}"></span>
	                <input name="delivery-once" id="delivery-immediately" value="immediately" type="radio" checked />
	                Immediately
	            </label>
	            <!-- 
	            <label class="radio small"> // Add class "hidden" when "Recurring" is selected as option. Remove it if "One time" is selected as option.
	                <span class="icon-form icon-radio"></span>
	                <input name="delivery-once" id="delivery-scheduled" value="scheduled" type="radio" />
	                Scheduled
	            </label> 
	            <div id="delivery-scheduled-options" class="inner-block hidden"> // Remove class "hidden" when Scheduled delivery is selected. Add back if Immediate delivery is selected
	                <div class="entry has-datepicker">
	                    <label for="delivery-date">Delivery Date</span></label>
	                    <input id="delivery-date" placeholder="Set Delivery Date" class="datepicker" type="text" readonly />
	                </div>
	                <div class="entry">
	                    <label for="delivery-hour">Delivery Time</label>
	                    <div class="select select-col col1-3">
	                        <select id="delivery-hour" class="placeholder">
	                            <option value="" selected>HH</option>
	                            <option value="01">01</option>
	                            <option value="02">02</option>
	                            <option value="03">03</option>
	                            <option value="04">04</option>
	                            <option value="05">05</option>
	                            <option value="06">06</option>
	                            <option value="07">07</option>
	                            <option value="08">08</option>
	                            <option value="09">09</option>
	                            <option value="10">10</option>
	                            <option value="11">11</option>
	                            <option value="12">12</option>
	                        </select>
	                    </div>
	                    <div class="select select-col col1-3">
	                        <select id="delivery-minute" class="placeholder">
	                            <option value="" selected>MM</option>
	                            <option value="00">00</option>
	                            <option value="15">15</option>
	                            <option value="30">30</option>
	                            <option value="45">45</option>
	                        </select>
	                    </div>
	                    <div class="select select-col col1-3">
	                        <select id="delivery-daytime">
	                            <option value="AM" selected>AM</option>
	                            <option value="PM">PM</option>
	                        </select>
	                    </div>
	                </div>
	            </div> -->
	        </div>
	        <div class="large-block" ng-class = "{'open': campaignData.is_recurring == 'true'}">
	            <label class="radio large">
	                <span class="icon-form icon-radio" ng-class = "{'checked': campaignData.is_recurring == 'true'}"></span>
	                <input name="delivery" id="delivery-recurring" value="true" type="radio" ng-model="campaignData.is_recurring" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                {{'RECURRING'|translate}}
	            </label>
	            <div class="inner-block" ng-show="campaignData.is_recurring == 'true'"> <!-- Remove class "hidden" when Recurring is selected. Add it back if "One Time" is selected as an option -->
	                <div class="entry recurring first">
	                    <label class="label" for="recurring-dayofweek" translate>SEND</label>
	                    <span class="delimiter" translate>EVERY</span>
	                    <div class="select day">
	                        <select id="recurring-dayofweek" class="placeholder" ng-model="campaignData.day_of_week" ng-disabled="campaignData.status == 'COMPLETED'">
	                            <option value="" translate>DAY_OF_WEEK</option>
	                            <option value="MONDAY" ng-selected="campaignData.day_of_week == 'MONDAY'" translate>MONDAY</option>
	                            <option value="TUESDAY" ng-selected="campaignData.day_of_week == 'TUESDAY'"translate>TUESDAY</option>
	                            <option value="WEDNESDAY" ng-selected="campaignData.day_of_week == 'WEDNESDAY'" translate>WEDNESDAY</option>
	                            <option value="THURSDAY" ng-selected="campaignData.day_of_week == 'THURSDAY'" translate>THURSDAY</option>
	                            <option value="FRIDAY" ng-selected="campaignData.day_of_week == 'FRIDAY'" translate>FRIDAY</option>
	                            <option value="SATURDAY" ng-selected="campaignData.day_of_week == 'SATURDAY'" translate>SATURDAY</option>
	                            <option value="SUNDAY" ng-selected="campaignData.day_of_week == 'SUNDAY'" translate>SUNDAY</option>
	                        </select>
	                    </div>
	                    <span class="delimiter" translate>AT</span>
	                    <div class="select">
	                    	<select ng-model="campaignData.delivery_hour" id="delivery-hour" class="placeholder" ng-disabled="campaignData.status == 'COMPLETED'">
								<option value="" data-text="Not set" class="placeholder" translate>HH</option>
								<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==campaignData.delivery_hour" >{{i}}</option>
							</select>
	                    </div>
	                    <div class="select">
	                    	<select ng-model="campaignData.delivery_min" id="delivery-minute" class="placeholder" ng-disabled="campaignData.status == 'COMPLETED'">
								<option value="" data-text="Not set" class="placeholder" translate>MM</option>
								<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i == campaignData.delivery_min" >{{i}}</option>
							</select>
	                    </div>
	                    <div class="select" ng-disabled="campaignData.status == 'COMPLETED'" >
	                        <select id="delivery-daytime" ng-model="campaignData.delivery_primetime" ng-disabled="campaignData.status == 'COMPLETED'">
	                            <option value="AM" ng-selected="campaignData.delivery_primetime == 'AM'" translate>AM</option>
	                            <option value="PM" ng-selected="campaignData.delivery_primetime == 'PM'" translate>PM</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="entry recurring">
	                    <label class="label" for="recurring-enddate" >{{'END'|translate}}</span></label>
	                    <label class="radio clear">
	                        <span class="icon-form icon-radio" ng-class="{'checked' : campaignData.recurring_end_type == 'NEVER'}"></span>
	                        <input name="recurring-tempo" id="recurring-tempo-never" type="radio" ng-model="campaignData.recurring_end_type" value = "NEVER" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                        {{'NEVER'|translate}}
	                    </label>
	                    <label class="radio">
	                        <span class="icon-form icon-radio" ng-class="{'checked' : campaignData.recurring_end_type == 'END_OF_DAY'}"></span>
	                        <input name="recurring-tempo" id="recurring-tempo-date" ng-model="campaignData.recurring_end_type" value = "END_OF_DAY" type="radio" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                        {{'AT_END_OF_DAY'|translate}}
	                    </label>
	                    <div id="recurring-datepicker" class="has-datepicker" ng-show = "campaignData.recurring_end_type == 'END_OF_DAY'"> <!-- Remove class "hidden" when "At End Of Day" is selected. Add when "Never" is selected. -->
	                        <input id="delivery-date" placeholder="Set Delivery Date" class="datepicker" type="text" readonly ng-click = "showDatePicker();" ng-show="campaignData.end_date_for_display == '' || campaignData.end_date_for_display == undefined" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                        <input id="delivery-date" placeholder="{{campaignData.end_date_for_display | date : dateFormat }}" class="datepicker" type="text" readonly ng-click = "showDatePicker();" ng-hide="campaignData.end_date_for_display == '' || campaignData.end_date_for_display == undefined" ng-disabled="campaignData.status == 'COMPLETED'"/>
	                    </div>
	                </div>
	            </div>
	        </div> 

	        <!-- Notifications -->
	        <div class="form-title">
	            <h3><span translate>NOTIFICATIONS</span> ({{'OUTSIDE_APP'|translate}})</h3>
	            <em class="status"> {{ 'MANDATORY_FIELDS_MESSAGE1' | translate }} <strong>*</strong> {{ 'MANDATORY_FIELDS_MESSAGE2' | translate }} </em>
	        </div>
	        <div class="entry full-width">
	            <label for="notification-ios8">{{'NOTIFICATION_BANNER_OR_ALERT'|translate}}<span>({{'IOS8'|translate}})</span><strong>*</strong></label>
	            <textarea id="notification-ios8" rows="1" maxlength="{{campaignData.ios8_alert_length}}" placeholder="Text" ng-model="campaignData.alert_ios8" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"></textarea>
	            <p class="counter"><span ng-class= "{'done': campaignData.ios8_alert_length == campaignData.alert_ios8.length}">{{campaignData.ios8_alert_length - campaignData.alert_ios8.length}}</span>&nbsp;{{'CHARACTERS_REMINING' |translate}}</p>
	            <!-- When counter hits 0, add class "done" to span element. So: <span class="done">0</span>-->
	        </div>
	        <div class="entry full-width">
	            <label for="notification-ios7">{{'NOTIFICATION_BANNER_OR_ALERT'|translate}}<span>({{'IOS7'|translate}})</span><strong>*</strong></label>
	            <textarea id="notification-ios7" rows="1" maxlength="{{campaignData.ios7_alert_length}}" placeholder="Text" ng-model="campaignData.alert_ios7" ng-disabled="campaignData.status == 'COMPLETED'" ng-class="{'disabled_text':campaignData.status == 'COMPLETED'}"></textarea>
	            <p class="counter"><span ng-class= "{'done': campaignData.ios7_alert_length == campaignData.alert_ios7.length}">{{campaignData.ios7_alert_length - campaignData.alert_ios7.length}}</span> {{'CHARACTERS_REMINING' |translate}}</p>
	            <!-- When counter hits 0, add class "done" to span element. So: <span class="done">0</span>-->
	        </div>          
	    </fieldset>
	    
	    <div class="actions" ng-show = "mode == 'ADD'">
	        <button type="button" class="button blank" ng-click="gobackToCampaignListing();" translate>CANCEL</button>
	        <button type="button" class="button blue" ng-click="saveAsDraft()" translate>SAVE_AS_DRAFT</button> 
	        <button type="button" class="button green" ng-click="startCampaignPressed()" translate>START_CAMPAIGN</button>
	    </div>

	    <div class="actions" ng-show = "mode == 'EDIT' && campaignData.status !== 'COMPLETED'">
            <button type="button" class="button blank" ng-click="gobackToCampaignListing();" translate>CANCEL</button>
            <button type="button" class="button green" ng-click="saveAsDraft()" translate>SAVE</button>
	        <button type="button" class="button green" ng-click="startCampaignPressed()" ng-show="campaignData.status == 'DRAFT'" translate>START_CAMPAIGN</button>
        </div>

        <div class="actions" ng-show = "mode == 'EDIT' && campaignData.status == 'COMPLETED'">
            <button type="button" class="button blank" ng-click="gobackToCampaignListing();" translate>CLOSE</button>
        </div>
	</form>

</section>