<section class="content content-holder current" id="load-listing" ng-click='clearErrorMessage()'>
		<header class="content-title">
		    <h2 translate>CAMPAIGNS_LIST_TITLE</h2>
		    <a ui-sref="admin.addCampaign" class="action add" translate>CAMPAIGN</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
			<!-- <div id="new-form-holder" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/keyEncoders/adEncoderAdd.html'"></div> -->

			<!-- <div id="new-form-holder"></div> -->

			<!--ng-table component -->
			<table id="" class="grid datatable campaign-grid" ng-table="tableParams" template-pagination="custom/pager">
				<tbody>
					<tr ng-repeat="campaign in $data"> 
						<td data-title="'ID'"  header-class="id" >
							<span> {{campaign.id}}</span>
						</td>
											
						<td data-title="'Name'"  sortable="'name'" header-class="name" >
							<a class="edit-data" ng-click="editCampaign(campaign.id, $index)" >
								<span>
									{{campaign.name}}
								</span>
							</a>
						</td>
						<td data-title="'Audience'" sortable="'audience_type'" header-class="" >
							<span>
								{{campaign.audience_type}}
							</span>
						</td>
						<td data-title="'Delivery'" sortable="'delivery'" header-class="" >
							<span>
								{{campaign.delivery}}
							</span>
						</td>
						<td data-title="'Status'" sortable="'status'" header-class="" class="status" ng-class="{'draft': campaign.status== 'DRAFT', 'active': campaign.status== 'ACTIVE', 'completed': campaign.status== 'COMPLETED'}">
							{{campaign.status}}
						</td>

						<td data-title="'Last Update'" sortable="'last_updated_date'" header-class="">
							<em>{{campaign.last_updated_date | date : dateFormat }} {{getTimeConverted(campaign.last_updated_time)}}</em>
						</td>

						<td class="delete" data-title="'Delete'" header-class="delete">
			                <button type="button" class="icons icon-delete large-icon" ng-click="deleteCampaign(campaign.id);">Delete</button>
			            </td>						
					</tr> 
				</tbody>
			</table>
		</section>
		<!--end -->

		<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class = "pager">
				<span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
				<span ng-show="totalCount==0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->
</section>

<div id="new-form-holder" ng-show="isAddmode" ng-include="getAddRateTemplateUrl()">
