<section id="room-assignment" class="content stay-card-inner check-in" role="complementary">
   <input id="roomassignment-ref-id" type="hidden">
   <div class="reservation-header">
      <div class="data">
         <span class="room" >
         <span class="guest-status room">room</span>
         <span id="header-room-num" class="room-number" ng-class="getTopbarRoomStatusClass()"> {{headerData.room_number}}</span>
         <span id="room-type" > {{headerData.room_type_name}} </span>
         </span>
         <span class="nights">
         <span class="guest-status nights"></span>
         {{headerData.total_nights+" "+setNightsText()}} 
         </span>
         <span class="date">
         <span class="guest-status small-icon check-in">check-in</span>
         {{headerData.arrival_date|date:dateFormat}}
         </span>
         <span class="date">
         <span class="guest-status small-icon check-out">check-out</span>
         {{headerData.departure_date|date:dateFormat}}
         </span>
      </div>
   </div>
   <div class="wrapper">
      <div id="notification-message" ng-include="'/assets/partials/common/notification_message.html'"></div>
      <div class="room-assignment-content only-upgrades">
         <div id="room-upgrades" class="upgrades scrollable" ng-iscroll='upgradesView' ng-iscroll-delay='50' style="width:100%;">
            <ul id="upgradesView"  class="wrapper" style="width:{{getHorizontalScrollWidth()}}px;">
               <li ng-repeat = "upgrade in upgradesList">
                  <div class="upgrade-title">
                     <span class="room-number" ng-class ="getRoomStatusClass(upgrade)"> {{upgrade.upgrade_room_number}} </span>
                     <h2> {{upgrade.upgrade_room_type_name}} </h2>
                     <a class="toggle has-arrow" ng-click="toggleUpgradeDescriptionStatus($index)" translate>DETAILS_LABEL</a>
                  </div>
                  <div id="room2008-details" ng-class="{'hidden':!isDescriptionVisible($index)}" class="room-details" ng-bind-html="upgrade.upgrade_room_description">
                     
                  </div>
                  <a id="upgrade-room-select" class="button green submit-value hover-hand" ng-click="showMaximumOccupancyDialog($index)">
                  Upgrade for only
                  <sup></sup>
                  {{currencySymbol}} {{upgrade.upsell_amount}} per night
                  </a>
                  <figure class="room-image">
                     <img ng-src="{{upgrade.room_type_image}}" alt="" ng-if="upgrade.room_type_image !== ''">
                     <img ng-src="/assets/bedroom-blank.png" alt="" ng-if="upgrade.room_type_image === ''">
                  </figure>
               </li>
               
            </ul></div>
           
         	<a id="no-thanks" class="button green no-auto-bind" ng-show="clickedButton == 'checkinButton'" ng-click="goToCheckinScreen()">NO THANKS, proceed with Check In</a>
         </div>
         
      </div>
   </div>
</section>