<!-- contentarea starts here-->
<div class="black-bg">
	<div class="row headerrow">
		<logo-image></logo-image>
	</div>
</div>
<div class="jumbotron">
	<div ng-show="isLoading && !netWorkError" class="checkout-status centeralign checkout-now-status" >
			<p class="msg-head brown-text">Your request is being processed.</p>
			<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
		</div>

	<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
		<p class="msg-head brown-text">Our apologies, something went wrong, please complete your pre check-in at our front desk.</p></p>
		<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
	</div>
		<!-- contentarea starts here-->
	<div class="container" ng-hide="isLoading || netWorkError">
	
		<div class="container-fluid">
			<div class="row checkin-wrapper-top">
				<div class="checkout-status centeralign checkout-now-status pre-checkin-complete">
					<p class="msg-head brown-text preckin-status-header">You're checked in!</p>
					<p class="msg-body brown-text">Reservation #:{{confirmationNumber}}</p>
					<p class="msg-body brown-text">You will receive an e-mail as soon as your room is ready. You can pick up your room key from our online check-in area at the front desk.</p>
				</div>
			</div>
		</div>
	</div
></div>