<div class="jumbotron">
	<div class="container backgroundbg">
		<div>
			<div class="row headerrow black-bg">
				<logo-image-back></logo-image-back>
			</div>
		</div>

		<!-- contentarea starts here-->
		<div class="container">
			<!-- top section starts here-->

			<div ng-show="returnHome && !netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head brown-text">Your request is being processed.</p>
				<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
			</div>

			<div ng-show="!returnHome && !posted && !netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head brown-text">Your request is being processed.</p>
				<p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
			</div>

			<div ng-show="!returnHome && posted && !success && !netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head brown-text">Something went wrong, complete your check-out by going to or call our front desk.</p>
				<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
			</div>

			<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head brown-text">Something went wrong, complete your check-out by going to or call our front desk.</p>
				<p class="msg-body brown-text">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
			</div>
			
			<div ng-show="!returnHome && posted && success && !netWorkError" class="row check-inout-wrapper checkout-late-sucess">
				<div class="col-md-6 headtext centeralign">
					<span class="brown-text">Thank you.</span>
					<p class="leadtext">
						<em class="lightcontent light-black-text chekout-late-final base-text">The following will appear on your bill.</em>
					</p>
					<p class="latecheckout-charged centeralign">
						<span class="light-black-text">Late Check-out ({{ lateCheckOut.time }} {{ lateCheckOut.ap }} ) .... {{currencySymbol}}{{ lateCheckOut.amount }}</span></p>
				</div>
				<div class="col-md-6 no-padding now-later-options margin-top-60">
					<a ui-sref="checkOutConfirmation" class="link-btn with-bg green-bg back-to-checkout white-text">Back to check-out screen</a>
				</div>
			</div>
			
		</div>
	</div>
</div>