%form#pay-bill.modal-content.form.confirmation{action: "", method: "post", name: "pay-bill"}
  .entry.full-width
    #notification-message
  .entry.full-width
    %label{for: "credit-card"} Pay with
    .select-item.credit-card
      %select.styled{name: "credit-card"}
        /%option{value: "", :data => {:card => "", :date => "",:image => "", :name =>  "", :number => ""}} Select credit card
        %option#card_details{value: data["card_number"], :data => {:image => "",  :number => ""}} 
          =data["card_number"]
      -if(data["card_number"]!="")
        .selected
          %figure.card-logo
            %img{alt: "", src: "/assets/#{data["cardcode"].downcase}.png"}
          %span.number
            Ending with
            %span.value.number 
              =data["card_number"]
      -else
        .selected
          %figure.card-logo
          %span.number
            Select credit card
            %span.value.number 
  .entry.full-width
    %label{for: "amount"}
      Amount to pay (
      %span
      =get_currency_symbol(current_hotel.default_currency.value)
      )
    %input#amount{name: "amount", type: "text", value:data["amount"]}
  .actions.float
    %button#submit-payment.button.green.modal-close{type: "button"} Submit payment to bill #
    %button#cancel.button.blank.modal-close{type: "button"} Cancel