.modal-content
  %button#modal-close.modal-close{type: "button"}
    %span.icons.icon-close.invert
  %span.h3.message{:id => "checkout_message", "data-enable-room-status" => data}
  -if(data == "true")
    .status
      %label{for: "room-status"} Room Status
      .switch-button
        %input#room-status{name: "room-status", type: "checkbox", value: "not-ready"}/
        %label.data-off
          %span.switch-icon Not Ready
          %span.value Ready
        %label.data-on
          %span.value Not Ready
          %span.switch-icon Ready
  %button.modal-close.button.green#ok{type: "button"} Ok