%form#edit-payment.modal-content.form.confirmation{:action => "index.html", :method => "post", :name => "edit-payment"}
  %button#credit-card-set-as-primary.button.green.modal-close{:type => "button"}     
    Set as primary
  %button#credit-card-delete.button.red.modal-close{:type => "button"} Delete
