%form#early-departure.modal-content.form.confirmation
  %span.h2.message Early Departure:
  %span.h3.message Please note that additional charges will be applied to the guest bill
  .actions.float
    %a#ok.button.green.modal-close ok 
    %a#cancel.button.blank.modal-close Cancel