-credit_cards = data[:existing_payments].select { |payment| payment[:is_credit_card] }

.modal-content.card-content
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  .entry.full-width
    #notification-message
      -if credit_cards.empty?
        No credit cards are saved to guest card
  %br

  -credit_cards.each do |existingPayments|
    -if(existingPayments[:value] == data[:selected_payment])
      -@class = " primary";
    -else
      -@class = "";
    %a.active-item.item-payment.float.existing_payments{class: @class, :data => {"id" => existingPayments[:value], "card-code" => existingPayments[:card_code].downcase, "ending-with" => existingPayments[:ending_with], "expiry" => existingPayments[:expiry_date]} }
      %figure.card-logo
        %img{:alt => "", :src => "/assets/#{existingPayments[:card_code].downcase}.png"}
      %span.number
        Ending with
        %span.value.number
          = existingPayments[:ending_with]
      %span.date
        Date
        %span.value.date
          = existingPayments[:expiry_date]
      %span.name
        Name
        %span.value.name
          = existingPayments[:holder_name]
      -if(existingPayments[:is_in_guest_card] == "true")
        %span.in-gc In Guest Card
      -if(existingPayments[:value] == data[:selected_payment])
        %span.primary
          %span.value.primary Selected

