%form#edit-payment.modal-content.form.confirmation{action: "index.html", method: "post", name: "edit-payment"}
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  %button#loyalty-delete.button.red.modal-close{type: "button",name:"delete"} Delete
  %input{id:"loyalty_id", type: "hidden", value: @loyalty_id , name:@loyalty_type}/