%form#new-hlp.modal-content.form.new-content{action: "index.html", method: "post", name: "new-hlp"}
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  %strong.h2.message New Hotel Loyalty Program
  .entry.full-width
    .error-messages
  .entry.full-width
    #notification-message
  .entry.full-width
    %label{for: "type"} Type
    .select
      %select#hotel-loyalty-types{name: "type"}
        %option.placeholder{selected: "selected",value: ""} Select Type
  .entry.full-width.hidden#hlplevek
    %label{for: "level"} Level
    .select
      %select#hotel-loyalty-levels{name: "level"}
        %option.placeholder{selected: "selected", value: ""} Select level
  .entry.full-width
    %label{for: "code"} Program Number
    %input#hl-code{name: "code", type: "text", value: ""}/
  .actions.float
    %button#cancel.button.blank.modal-close{type: "button"} Cancel
    %button#save.button.green.modal-close{type: "button"} Add
  %input{id:"newhlp_id", type: "hidden", value: @loyalty_id , name:@loyalty_type}/