%form#new-ffp.modal-content.form.new-content{action: "index.html", method: "post", name: "new-ffp"}
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  %strong.h2.message New Frequent Flyer Program
  .entry.full-width
    .error-messages
  .entry.full-width
    #notification-message
  .entry.full-width
    %label{for: "airline"} airline
    .select
      %select#airline-ff-list{name: "airline"}
        %option.placeholder{selected: "selected", value: ""} Select Airline Program Name
  .entry.full-width
    %label{for: "code"} Code
    %input#ff-code{name: "code", type: "text", value: ""}/
  .actions.float
    %button#cancel.button.blank.modal-close{type: "button"} Cancel
    %button#save.button.green.modal-close{type: "button"} Add
  %input{id:"newffp_id", type: "hidden", value: @loyalty_id , name:@loyalty_type}/