.modal-content.new-content.form.warning
  %div
    The PMS Interface is not responding. StayNTouch Apps have been disabled until a connection has been re-established. Please continue to re-try or contact your PMS vendor.
  .actions.float
    %button#cancel.button.modal-close.white.red-text Close
    %button.button#try-again.white.red-text Dashboard
  