.modal-content
  %button#modal-close.modal-close{type: "button"}
    %span.icons.icon-close.invert
  %span.h3.message
    =data
  .button-div
    %button.button.modal-close.white.red-text.close-but#close{type: "button"} Close