%form#update-settings.modal-content.form.admin-form{ name: "update-settings"}
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  %strong.h2.admin-title Update your account settings
  .entry.full-width
    #notification-message
  .entry.full-width
    %label{for: "name"} Name
    %input#name.normalInputStyle{readonly: "readonly",name: "name", type: "text", value: staff_settings_hash[:name]}/
  .entry.full-width
    %label{for: "email"} E-mail
    %input#email.normalInputStyle{readonly: "readonly",name: "email", type: "email", value: staff_settings_hash[:email]}/
  .entry.full-width
    %label{for: "change-password"} Change password
    %input#change-password{name: "change-password", placeholder: "Enter new password", type: "password", value: ""}/
  .entry.full-width
    %label{for: "confirm-password"} Confirm password
    %input#confirm-password{name: "confirm-password", placeholder: "Repeat new password", type: "password", value: ""}/
  .actions.float
    %button.button.green.modal-close#save-changes{type: "button"}
      Save changes
    %button#cancel.button.blank.modal-close{type: "button"} Cancel