%form#validate.modal-content.form.confirmation
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  .entry.full-width
    #notification-message
  %span.text Please ask the guest to provide email before checkout
  .entry.full-width#guest-email-entry
    %label{for: "guest-email"} E-mail
    %input#guest-email{autocomplete: "off", name: "guest-email", type: "text", value: ""}
  .actions.float
    %a#submit.button.red.modal-close Submit and go to check out
    %a#cancel.button.blank.modal-close Ignore and proceed with checkout
    