<div ng-controller="RVGuestCardCtrl" >
    <div id="guest-card-content" class="card-tabs card-search card-content ui-tabs ui-widget ui-widget-content ui-corner-all card-tabs-nav" ng-if="!searchMode" ng-class="UICardContentCls('guest-card')">
        <!-- Guest Card tabs navigation -->


        <ul role="tablist" class="float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all card-tabs-nav" id="guest-card-tabs-nav" class="card-tabs-nav">
            <li aria-selected="true" aria-labelledby="guest-contact" aria-controls="contact-info" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active" ng-class="{'ui-tabs-active': current == 'guest-contact'}" ng-click="guestCardTabSwitch('guest-contact')">
                <a tabindex="-1" role="presentation" class="ui-tabs-anchor ng-binding" id="guest-contact" ng-class="{'error':contactInfoError}">Contact Information </a>
            </li>
            <li aria-selected="false" aria-labelledby="guest-like" aria-controls="likes" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-like'}" ng-click="guestCardTabSwitch('guest-like')">
                <a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-like" ng-class="{'error':likesInfoError}">Likes</a>
            </li>
            <li aria-selected="false" aria-labelledby="guest-credit" aria-controls="cc-payment" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-credit'}" ng-click="guestCardTabSwitch('guest-credit')">
                <a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-credit">Credit Cards &amp; Payment</a>
            </li>
            <li aria-selected="false" aria-labelledby="guest-loyalty" aria-controls="loyalty" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-loyalty'}" ng-click="guestCardTabSwitch('guest-loyalty')">
                <a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-loyalty">Loyalty</a>
            </li>
        </ul>
        <!-- Guest Card Tab 1 -->
        <span ng-include="'/assets/partials/guestCard/guestCardContactInfo.html'"></span> 
        <!-- Guest Card Tab 2 likes -->
        <span ng-include="'/assets/partials/guestCard/rvGuestCardLikes.html'"></span> 
        <!-- Guest Card Tab 3 payment -->
        <span ng-include="'/assets/partials/guestCard/guestCardPayment.html'"></span>
        <!-- Guest Card Tab 4 loyalty-->
        <span ng-include="'/assets/partials/guestCard/guestCardLoyalty.html'"></span>
    </div>
    <div id="guest-card-content" class="card-tabs card-search card-content ui-tabs ui-widget ui-widget-content ui-corner-all card-tabs-nav" ng-if="searchMode" ng-class="UICardContentCls('guest-card')">
        <strong class="results-count" ng-show="guests.length > 0">
            {{ guests.length }} 
            possible match<span ng-if="guests.length > 1">es</span>
        </strong>
        <button id="new-guest" ng-show="addNewCards" type="button" class="button green has-arrow skip" ng-click="createNewGuest()">New Guest</button>
        <div id="search-guests-content" class="search-cards scrollable">
            <!-- Guest Card Results listing -->
            <div class="wrapper" ng-controller="guestResults" ng-show="guestSearchIntiated && guests.length > 0" style="height:100%; overflow: hidden;" ng-iscroll="guestResultScroll">
                <ul id="search-guests-results" class="search-results">
                    <li class="reservation identify-guest" ng-repeat="guest in guests">
                        <a ng-click="selectGuest(guest, $event)">
                            <figure class="guest-image">
                                <img ng-src="{{ guest.image }}" alt="" />
                                <span ng-show="guest.vip" class="vip">VIP</span>
                            </figure>
                            <div class="data" ng-class="{'no-stay': guest.stayCount == 0}">
                                <h2>
                                    <span ng-bind-html="'{{guest.firstName}}' | highlight:searchData.guestCard.guestFirstName:false"></span>
                                    <span ng-bind-html="'{{ guest.lastName }}' | highlight:searchData.guestCard.guestLastName:false"></span>
                                </h2>
                                <span class="stay-count" ng-if="guest.stayCount > 1">{{ guest.stayCount }} stays</span>
                                <span class="stay-count" ng-if="guest.stayCount == 1">{{ guest.stayCount }} stay</span>
                                <span class="confirmation" ng-if="guest.address.postalCode != '' && guest.address.postalCode != null">{{ guest.address.postalCode}}</span>
                                <span class="icons icon-location" ng-hide = "(guest.address.city == null || guest.address.city == '') && (guest.address.state =='' || guest.address.state == null)">
                                    <span ng-bind-html="'{{guest.address.city}}'|highlight:searchData.guestCard.guestCity:false"></span>
                                    <span ng-hide="guest.address.city == null || guest.address.city == '' || guest.address.state =='' || guest.address.state == null">, </span>
                                    <span>{{ guest.address.state }}</span>
                                </span>
                                <span class="icons icon-phone" ng-hide="guest.phone == '' || guest.phone == null">{{ guest.phone }}</span>
                                <span class="icons icon-email-grey" ng-bind-html="'{{guest.email}}' | highlight:searchData.guestCard.email:false" ng-hide="guest.email == '' || guest.email == null"></span>
                            </div>
                            <div class="last-stay" ng-if="guest.stayCount > 0">
                                <span class="label">
                                    Last
                                    <span class="date">{{ guest.lastStay.date | date: 'MMMM d, yyyy'}}</span>
                                </span>
                                <strong class="room">{{ guest.lastStay.room }}</strong>
                                <em class="type">{{ guest.lastStay.roomType }}</em>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>            
            <div class="search-cards no-content">
                <!-- Guest Card No Results -->
                <div class="info" ng-show="guestSearchIntiated && guests.length === 0">
                    <span class="icon-no-content icon-guest"></span>
                    <strong class="h1">No Matches</strong>
                    <span class="h2">Check that you didn't mispell the <strong>Name</strong>, <strong>City</strong> or <strong>Loyalty No.</strong>.</span>
                </div>
                <!-- Guest Card Empty -->
                <div class="info" ng-hide='guestSearchIntiated'>
                    <span class="icon-no-content icon-guest"></span>
                    <strong class="h1">Find Guest</strong>
                    <span class="h2">Search by <strong>Name</strong>, <strong>Group</strong>, <strong>Room No.</strong> or <strong>Confirmation No.</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>