<div ng-controller="RVTravelAgentCardCtrl">
    <div id="travel-agent-card-content" class="card-search card-tabs card-content" ng-if="searchMode == false" ng-class="UICardContentCls('travel-agent-card')">

     <ul ng-id="{'company-card-tabs-nav': account_type == 'COMPANY', 'travel-agent-card-tabs-nav': account_type == 'TRAVELAGENT'}" class="card-tabs-nav float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

        <li  ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contact-info'}" ng-click="switchTabTo($event, 'cc-contact-info')">
            <a translate>CONTACT_INFORMATION</a>
        </li>

        <li class="with-filters" ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contracts'}" ng-click="switchTabTo($event, 'cc-contracts')">
            <a translate>CONTRACTS</a>
        </li>

        <li ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-ar-accounts'}" ng-click="switchTabTo($event, 'cc-ar-accounts')" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable">
            <a translate>AR_ACCOUNT</a>
        </li>     

        <li ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-ar-transactions','with-filters': isWithFilters }" ng-click="switchTabTo($event, 'cc-ar-transactions')" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable">
            <a translate>AR_TRANSACTIONS</a>
        </li>

        <li class="with-filters" ng-hide="true" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-reservations'}" ng-click="switchTabTo($event, 'cc-reservations')">
            <a translate>RESERVATIONS</a>
        </li>

    </ul>
    <!-- Company Card Tab 1 Contact Information -->
    <span ng-include="'/assets/partials/companyCard/rvCompanyCardContactInformation.html'"></span>

    <!-- Company Card Tab 2 Contract -->
    <span ng-controller="cardContractsCtrl" ng-include="'/assets/partials/companyCard/rvCompanyCardContract.html'"></span>

     <!-- Company Card Tab 3 Ar accounts -->
    <span ng-controller="companyCardArAccountCtrl" ng-include="'/assets/partials/companyCard/rvcompanyCardArAccount.html'" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable"></span>

    <!-- Company Card Tab 4 AR Transactions -->
    <span ng-controller="RVCompanyCardArTransactionsCtrl" ng-include="'/assets/partials/companyCard/rvCompanyCardArTransactions.html'" ng-show="(contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable) && currentSelectedTab == 'cc-ar-transactions'"></span>

    <!-- Company Card Tab 5 Resevations -->
    <span ng-hide="true" ng-include="'/assets/partials/companyCard/rvCompanyCardReservations.html'"></span>
</div>
<div id="travel-agent-card-content" class="card-search card-tabs card-content" ng-if="searchMode" ng-class="UICardContentCls('travel-agent-card')">
    <button id="new-company" ng-show="addNewCards" type="button" class="button green has-arrow skip" ng-click="createNewTravelAgent()">Add New Card</button>
    <div id="search-travel-agent-content" class="search-cards scrollable">
        <!-- Travel Agent Card Results listing -->
        <div ng-controller="travelAgentResults" class="wrapper" ng-show="travelAgentSearchIntiated && travelAgents.length > 0" style="height:100%; overflow: hidden;" ng-iscroll="travelAgentResultScroll">
            <ul id="search-travel-agent-results" class="search-results">
                <li ng-repeat="travelAgent in travelAgents" class="card card-result">
                    <a ng-click="selectTravelAgent(travelAgent, $event)">
                        <div ng-show="travelAgent.logo == ''" class="guest-image icons icon-travel-agent"></div>
                        <figure ng-hide="travelAgent.logo == ''" class="guest-image">
                                <img ng-src="{{travelAgent.logo}}"/>
                        </figure>
                        <div class="data">
                            <div class="info">
                                <h2 ng-bind-html=" travelAgent.account_name |highlight:searchData.travelAgentCard.travelAgentName:false"></h2>
                                <div class="rate" ng-show="travelAgent.rate">
                                    <span class="label">Rate</span> 
                                    {{travelAgent.rate.difference}}{{ travelAgent.rate.based_on.name }}{{travelAgent.rate.surplus}}
                                </div>
                            </div>
                            <span class="confirmation">{{ travelAgent.address.postalCode }}</span>
                            <span class="icons icon-location" ng-if="{travelAgent.address.city != '' && travelAgent.address.city != null}"> 
                                <span ng-bind-html="'{{ travelAgent.address.city }}'|highlight:searchData.travelAgentCard.travelAgentCity:false"></span>
                                <span ng-show="travelAgent.address.state">, </span>
                                {{ travelAgent.address.state }}
                            </span>
                            <span class="icons icon-phone" ng-if="{travelAgent.phone != '' && travelAgent.phone != null}">{{ travelAgent.phone }}</span>
                            <span class="icons icon-email-grey" ng-if="{travelAgent.email != '' && travelAgent.email != null}">{{ travelAgent.email }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="search-travel-agent-no-results" class="search-cards no-content">
            <!-- Travel Agent Card No Results -->
            <div class="info" ng-show="travelAgentSearchIntiated && travelAgents.length === 0">
                <span class="icon-no-content icon-cards"></span>
                <strong class="h1">No Matches</strong>
                <span class="h2">Check that you didn't mispell the <strong>Trave Agent Name</strong>, <strong>City</strong> or <strong>IATA #</strong></span>
            </div>
            <!-- Travel Agent Card Empty -->
            <div class="info" ng-hide="travelAgentSearchIntiated">
                <span class="icon-no-content icon-cards"></span>
                <strong class="h1">Find Travel Agent</strong>
                <span class="h2">Search by <strong>Travel Agent Name</strong>, <strong>City</strong> or <strong>IATA #</strong></span>
            </div>
        </div>
    </div>
</div>  
</div>