
<div class='entry {{divClass}}'  ng-style="{{divStyle}}">
  <label class='{{labelClass}}' for='{{id}}' ng-hide="label.length==0">
  {{labelClass}}{{label}}<strong ng-show = "required=='yes'"> * </strong></label>
  
  <div class='select'>

    <select id="{{id}}" name="{{name}}" class="{{selboxClass}}" ng-style="{{sel-style}}" ng-model='selectedId'>
      <option value="" ng-hide="labelInDropDown.length===0 || !labelInDropDown">
        {{labelInDropDown}}
      </option>
      <option ng-repeat='row in list' value='{{row.value}}'  ng-selected="row.value==selectedId" ng-show = "showOptionsIf($index)">
        {{row.name}}
      </option>
    </select>
  </div>
</div>