<section class="content current" ng-click="clearErrorMessage()">
	<div>
	<section>
		<header class="content-title float">
			<h2>
				{{ 'ROOMS' | translate }}
			</h2>
			<span class="count">
				( {{totalCount}} )
				<span class="status">
					{{totalCount}} {{ 'OF' | translate }} {{	}} {{ 'LICENSED_ROOMS_CONFIGURED' | translate }}
				</span>
		    </span>
			<a id="add-rooms" class="action add" ui-sref='admin.roomdetails({})' ng-show="is_add_available === 'yes'">{{ 'ADD_NEW' | translate }}</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<span class="count-show">Show</span>
			<div class="select table-count rates-table-count">
				<select ng-model="displyCount"	ng-options="opt for opt in displayCountList"></select>
			</div>
			<span class="count-entries">entries</span>
				
			<div class="entry table-search">
				<span class="search-text">Search</span>
				<span class="icons icon-search" name="submit" type="submit"></span>
				<input placeholder="" autocomplete="off" type="text" ad-delay-textbox ng-model="searchTerm" delay="1000" function-to-fire="searchEntered" />
		    </div>
			<table id="rooms" class="grid datatable" ng-table="tableParams" template-pagination="custom/pager">
				<tbody>
					<tr ng-repeat="room in $data" room-id="{{room.room_id}}">
						<td data-title="'Room Number'" sortable="'room_number'"  header-class="width-50">
							<a ui-sref='admin.roomdetails({roomId:room.room_id})' class="number edit-data">
								{{room.room_number}}
							</a>
						</td>
						<td data-title="'Room Type'" sortable="'room_type'" header-class="width-50">
							{{room.room_type}}
						</td>
						<td data-title="'Delete'" ng-click="deleteRoom($index, room.room_id)" header-class="width-15 text-center-important" ng-show="isStandAlone">
							<a class="icons icon-delete large-icon " ></a>				
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class = "pager">
				<span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
				<span ng-show="totalCount==0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->
	</section>
</div>
</section>