<section class="content current" ng-click="clearErrorMessage()"><!-- Edit Room -->
	<div >
		<div class="data-holder">
			<header class="content-title float">
				<h2>
					<span ng-show="editMode">{{ 'EDIT_ROOM' | translate }}</span>
					<span ng-hide="editMode">{{ 'ADD_ROOM' | translate }}</span>
					<span>
						{{roomNumber}}
					</span>
				</h2>
				<a ng-click="goBack()" id="go_back" data-type="load-details" class="action back">{{ 'BACK_TO_ROOMS' | translate }}</a>
			</header>
			<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<form name="edit-room" id="edit-room" data-room-id="{{data.room_id}}" class="form float">
				<fieldset class="holder left">
					<div class="form-title">
						<h3>
							<span>{{ 'ROOM' | translate }}</span>
							{{ 'DETAILS' | translate }}
						</h3>
					</div>

				<ad-textbox value="data.room_number" name="room-number" id="room-number" label="Number" placeholder="{{ 'ENTER_ROOM_NUMBER' | translate }}"required="" maxlength=10>
				</ad-textbox>	

				<ad-textbox value="data.max_occupancy" name="max-occupancy" id="max-occupancy" label="Max Occupancy " placeholder="Enter Max Occupancy" required=""></ad-textbox>	

				<ad-dropdown div-class='full-width' label-in-drop-down="{{ 'SELECT_FLOOR' | translate }}"label="{{ 'SELECT_FLOOR' | translate }}" sel-class='placeholder'  list='floors' required='yes' selected-Id='data.selected_floor'></ad-dropdown>

				<ad-dropdown div-class='full-width' label-in-drop-down="{{ 'SELECT_ROOM_TYPE' | translate }}"label='Select room type' sel-class='placeholder' id='room-type' name='room-type' list='data.room_types' required='yes' selected-Id='data.room_type_id'></ad-dropdown>

				<div class="entry full-width">
					<label for="room-picture">
						{{ 'IMAGE' | translate }}
					</label>
					<div class="file-upload with-preview">
						<span class="input">{{fileName}}</span>
						<input ng-model="data.room_image" type="file" accept="image/*" name="room-picture" id="room-picture" value="{{data.room_image}}" app-filereader>
						<button type="button" class="button brand-colors" >{{ 'REPLACE_IMAGE' | translate }}</button>
					</div>
					<span class="file-preview">
						<img ng-src="{{data.room_image}}" id="file-preview" alt="">
					</span>
				</div>
			</fieldset>
			<fieldset class="holder right">
				<!-- Room Features -->
				<div class="form-title">
					<h3>
						<span>{{ 'ROOM' | translate }}</span>
						{{ 'FEATURES' | translate }}
					</h3>
					<em class="status">
						<span>{{ 'ROOM_FEATURES_TEXT' | translate }}</span>
					</em>
				</div>

				<div class="entry full-width">
					<div id="room-features" class="boxes col2">
						<ad-checkbox ng-repeat="room_feature in data.room_features" is-checked="room_feature.selected" label="{{room_feature.name}}" parent-label-class="room-likes" span-class="checkbox-background"></ad-checkbox>

					</div>
				</div>
			</fieldset>
			<fieldset class="holder right">
				<div class="form-title">
					<h3>
						<span>{{ 'ROOM' | translate }}</span>
						{{ 'LIKES' | translate }}
					</h3>
					<em class="status">
						<span>{{ 'ROOM_LIKE_TEXT' | translate }}</span>
					</em>
				</div>
				<div class="entry full-width">
					<div id="room-likes" class="boxes col2">
						<div ng-repeat="room_likes in data.room_likes">
							<ad-checkbox ng-repeat="option in room_likes.options" is-checked="option.selected" label="{{option.name}}" datagroup='{{room_likes.group_name}}' index="{{$index}}" change='changed' parent-label-class='room-likes' span-class="checkbox-background" ></ad-checkbox>
						</div>						
					</div>							
				</div>
			</fieldset>
			<div class="actions float">
				<button type="button" id="cancel" ng-click="goBack()" class="button blank add-data-inline">{{ 'CANCEL' | translate }}</button>
				<button type="button" id="update" class="button green add-data-inline" ng-click="updateRoomDetails()">{{ 'SAVE_CHANGES' | translate }}</button>
			</div>
		</form>
		</section>
	</div>


</div>
</section>