<div id="modal" class="modal-show" ng-cloak>
	<div class="modal-content">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<form method="post" action="" id="create-worksheet" name="create-worksheet" class="modal-content form new-worksheet">
			<button class="modal-close" id="modal-close" ng-click="closeDialog()" type="button"><span class="icons icon-close invert"></span></button>

			<span class="h2 message">Assign Room</span>		
			<div class="entry full-width">
				<div class="select">
            		<select id="work-type" name="work-type" ng-model="assignRoom.work_type_id" ng-options="work.id as work.name for work in workTypes" ng-change="assignRoomWorkTypeChanged()">
            			<option value="">Select Worktype</option>
            		</select>
				</div>
			</div>
			<div class="entry full-width">
				<div class="select">
					<select id="employees" name="employees" ng-model="assignRoom.user_id" ng-options="emp.id as emp.name for emp in activeWorksheetEmp">
					    <option value="">Select Employee</option>
					</select>					
				</div>
			</div>

			<div class="actions">
				<button ng-click="submitAssignRoom()"  type="button" ng-disabled="!assignRoom.user_id" ng-class="{'grey' : !assignRoom.user_id}" class="button green">Assign</button>
				<button ng-click="closeDialog()" type="button" class="button blank modal-close">Cancel</button> 
			</div>
		</form>
	</div>
</div>