<div ng-controller="RVHKGuestTabCtrl">

  <!-- 1.A Guest Tab - Room vacant, not queued -->
  <div class="no-content" ng-if="roomDetails.is_occupied == 'false'">
    <div class="info">
      <span class="icon-no-content icon-room"></span>
      <strong class="h1" translate>ROOM_IS_VACANT</strong>
    </div>
  </div>

  <!-- 1.B Guest Tab - Room vacant and queued to next quest (NOT SURE IF WE'RE DOING THIS NOW, CHECK WITH GOP/JOS)
  <div id="room-content" class="room-content">
    <strong class="h2">Room is queued.</strong>
    <figure class="guest-image">
      <img src="{{ roomDetails.avatar_src }}" alt="">
    </figure>
    <p>Queued for <em>{{ roomDetails.guest_name }}</em></p>
  </div> -->

  <!-- 1.C Guest Tab - Room Occupied -->
  <div class="room-actions">
    <div class="select">
      <select id="front-office-status" name="front-office-status" disabled ng-hide="true">
        <option value="arrival">Arrival</option>
        <option value="arrived">Arrived</option>
        <option value="due-out">Due Out</option>
        <option value="departed">Departed</option>
        <option value="stayover">Stayover</option>
      </select>
    </div>
  </div>
  <div class="room-content scrollable" ng-if="roomDetails.is_occupied == 'true'">
    <div class="wrapper">
      <strong class="h2">
        {{ roomDetails.current_room_reservation_status }}<span ng-if="roomDetails.hasDept">.</span>

        <!-- spaces removed so that in end UI there should not be a space b/w text and last full stop -->
        <span class="red" ng-if="roomDetails.hasDept">Departing<span ng-if="!!roomDetails.departure.time"> at {{ roomDetails.departure.time }}</span><span ng-if="!!roomDetails.departure.date"> on {{ roomDetails.departure.date | date : dateFormat }}</span>.</span>
      </strong>
      <figure class="guest-image">
        <img src="{{ roomDetails.avatar_src }}" alt="">
        <span ng-if="roomDetails.is_vip == 'true'" class="vip">VIP</span>
      </figure>
      <h2>
        <span class="guest-status {{ guestViewStatus }}"></span>
        <span class="name">{{ roomDetails.guest_name }}</span>
      </h2>
    </div>
  </div>

</div>