<div ng-show="localLoader" id="loading"><div id="loading-spinner"></div></div> 

<!-- Navbar -->
<div ng-include="'/assets/partials/common/header.html'"></div>

<div id="pull-refresh-page" ng-hide="filterOpen" ng-class="{'has-options': isStandAlone }">
  <span id="refresh-icon"></span>
  <span id="refresh-text" translate>PULL_REFRESH</span>
</div>

<div id="pull-load-next" ng-hide="filterOpen">
  <span id="load-icon"></span>
  <span id="load-text" translate>PULL_LOAD</span>
</div>

<!-- Search form -->
<form method="get" action="" name="rooms-search-form" id="rooms-search-form" class="search-form has-filters" role="search" ng-class="{'has-options': isStandAlone, 'single-option': (isStandAlone &&!topFilter.byWorkType), 'showing-filters': filterOpen }">
    <a id="show-filters" class="filter button white with-icon only-icon" ng-click="showFilters()">
        <span class="icons icon-filter"></span>
        <span translate>FILTER_ROOMS</span>
    </a>

    <div id="filter-actions" class="filter-actions">
      <button class="button blank" ng-show="isFilterChcked()" ng-click="clearFilters()" type="button" translate>CLEAR</button>
      <button type="button" class="button green" ng-click="filterDoneButtonPressed()" translate>APPLY</button>
    </div>
    
    <div class="entry search">
        <a class="clear-query" ng-show="query != ''" ng-click="clearSearch()" ng-class="{'visible': query != ''}">
            <span class="icons icon-clear-search ng-scope" translate>CLEAR_QUERY</span>
        </a>
        <button type="submit" name="submit" class="icons icon-search" translate>MENU_SEARCH</button>
        <input name="rooms-query" id="rooms-query" class="query" placeholder="{{ 'ENTER_ROOM_NUMBER' | translate }}" type="search" autocomplete="off" ng-model="query" ng-change="filterByQuery()">
    </div>
    
    <div class="entry options" ng-if="isStandAlone" ng-cloak>
        <div class="select">
            <select id="work-type" name="work-type" ng-model="topFilter.byWorkType" ng-options="work.id as work.name for work in workTypes" ng-change="applyWorkTypefilter()">
                <option value="">All Work Types</option>
            </select>
        </div>
        <!-- If Work type is set to All, don't show this dropdown -->
        <div class="select">
            <select id="employees" ng-disabled="!topFilter.byWorkType" name="employees" class="placeholder" ng-model="topFilter.byEmployee" ng-options="emp.id as emp.maid_name for emp in employees" ng-change="applyEmpfilter()">
                <option value="">All Employees</option>
            </select>
        </div>
    </div>

    <a id="refresh-data" class="filter button white with-icon only-icon" ng-click="refreshData()">
        <span class="icons icon-reset"></span>
        <span translate>Refresh</span>
    </a>
</form>

<ul id="my-worksheet-options" class="worksheet-options" ng-show="!!hasActiveWorkSheet">
    <li ng-click="changeView('summary')" ng-class="{'active': currentView == 'summary'}">Summary</li>
    <li ng-click="changeView('rooms')" ng-class="{'active': currentView == 'rooms'}">Rooms</li>
</ul>

<ul id="my-worksheet-summary" class="worksheet-summary" ng-if="!!hasActiveWorkSheet" ng-class="{'hidden': currentView == 'rooms'}"> <!-- Add class 'hidden' should be removed when "Rooms" is selected in #my-worksheet-options -->
    <li>Time Allocated <span>{{ counts.allocated }}</span></li>
    <li>Departures <span>{{ counts.departures }}</span></li>
    <li>Stayovers <span>{{ counts.stayover }}</span></li>
    <li>Completed <span>{{ counts.completed }}/{{ counts.total }}</span></li>
</ul>

<!-- Rooms list -->
<section id="rooms" class="content scrollable" bindonce bo-class="{'no-options': !isStandAlone}" ng-class="{'has-summary': !!hasActiveWorkSheet, 'hidden': currentView == 'summary', 'no-pagination': (disablePrevBtn && disableNextBtn)}" div-touch-move-stop-propogate>
  <ul class="wrapper search-results" ng-hide="uiTotalCount == 0">
    <li class="mobile-pagination" ng-show="!filterOpen && (!disablePrevBtn || !disableNextBtn)">
        <p class="page-count">Showing <strong>{{ resultFrom }}-{{ resultUpto }}</strong> of <strong>{{ netTotalCount }}</strong> items</p>
        <p class="pull-msg" ng-show="!disablePrevBtn">Pull down to load previous page</p>
        <p class="pull-msg" ng-show="disablePrevBtn">Pull down to refresh page</p>
    </li>

    <li class="room" bindonce ng-repeat="room in rooms track by $index">
        <a ng-click="roomListItemClicked()" ui-sref="rover.housekeeping.roomDetails({ id: room.id })" bo-class="{ 'with-image': room.is_occupied }"> <!-- Add  class="with-image" if room is occupied -->
          <div class="data">
            <h2 class="{{ room.roomStatusClass }}" bo-text="room.room_no"></h2> <!-- If room is ooo or oos, class should be 'out'. Otherwise, use {room-status} -->
            <span bo-if="!room.hk_status.oo_status" class="room-status {{ room.roomStatusClass }}" bo-text="room.description"></span>
            <span bo-if="!!room.hk_status.oo_status" class="room-status {{ room.roomStatusClassWithOO }}" bo-text="room.hk_status.oo_status"></span>
          </div>
          <div class="reservation-status" bo-class="{'queued': room.is_queued}">
            <!-- {leaveStatusClass} can be check-out(for due out or departed) or inhouse(for stayover) --> 
            <div class="current {{ room.leaveStatusClass }}">
              <span class="guest-status {{ room.leaveStatusClass }}" bo-text="room.room_reservation_status"></span>
              <!-- Show only if applicable, {departure-time} can be time or 'out' if departed -->
              <span bo-text="room.timeOrOut"></span>
            </div>
            <!-- {enterStatusClass} can be check-in(for arrival or arrived) or no-show(if room is not allocated to guest) -->
            <div class="next {{ room.enterStatusClass }}">
              <span class="guest-status {{ room.enterStatusClass }}" bo-text="room.room_reservation_status"></span>
              <!-- Show only if applicable, {arrival-time} can be time or 'IN' if arrived -->
              <span bo-text="room.timeOrIn"></span>
            </div>
            <div bo-if="!room.is_occupied" class="show-vacant">VACANT</div>
          </div>
          <!-- Show if room is assigned or ooo/oos -->
          <div class="additional-info">
            <!-- Show only if room is assigned -->
            <!-- if room is assigned -->
            <span ng-if="isStandAlone && !room.canAssign" class="{{ room.assigned_staff.class }}">{{ room.assigned_staff.name }}</span>
            <span ng-if="isStandAlone && room.canAssign" class="{{ room.assigned_staff.class }}" ng-click="$event.stopPropagation(); openAssignRoomModal(room);">{{ room.assigned_staff.name }}</span>
            <!-- Show only if room is not in service -->
            <span bo-if="room.ooOsTitle" bo-text="room.ooOsTitle" class="service-status"></span>
          </div>
          <!-- Show only if room is occupied -->
          <figure class="guest-image" bo-if="room.is_occupied">
            <span bo-if="room.is_vip" class="vip" translate>VIP</span>
            <img bo-src-i="{{room.avatar_src}}" alt="" />
          </figure>
        </a>
    </li>

    <li class="mobile-pagination on-bottom-pagination" ng-show="!filterOpen && (!disablePrevBtn || !disableNextBtn)">
        <p class="page-count">Showing <strong>{{ resultFrom }}-{{ resultUpto }}</strong> of <strong>{{ netTotalCount }}</strong> items</p>
        <p class="pull-msg" ng-show="!disableNextBtn">Pull up to load next page</p>
    </li>
  </ul>
  
  <!-- Empty -->
  <ul id="dashboard-search-results" class="search-results wrapper" ng-show="uiTotalCount == 0">
    <li class="no-content">
      <div class="info">
        <span class="icon-no-content icon-room"></span>
        <strong ng-show="!isStandAlone || !topFilter.byEmployee" class="h1">No Matching Rooms</strong>
        <strong ng-show="isStandAlone && !!topFilter.byEmployee" class="h1">No Rooms Assigned</strong>
        <span class="h2">Modify the <strong>Filters</strong> or</span>
        <span class="h2">Search by <strong>Room Number</strong></span>
      </div>
    </li>
  </ul>
</section>

<div class="search-pagination hk-pagination" ng-show="!filterOpen && (!disablePrevBtn || !disableNextBtn)">
    <!-- removed buttons since they include +300ms delay on touch pads -->
    <label class="button dark-grey next" ng-click="loadNextPage($event)" ng-class="{'disabled': disableNextBtn}">Next</label>
    <label class="button dark-grey prev" ng-click="loadPrevPage($event)" ng-class="{'disabled': disablePrevBtn}">Previous</label>
    <p>Showing <strong>{{ resultFrom }}-{{ resultUpto }}</strong> of <strong id="total-count">{{ netTotalCount }}</strong> items</p>
</div>

<!-- Rooms filters -->
<section id="filter-rooms" class="content" ng-class="{ 'hidden' : !filterOpen, 'showing-filters': filterOpen }">
    <div id="filter-options" class="content scrollable" ng-iscroll="room-status-filter">
        <div class="wrapper">
            <div class="holder">
                <strong class="title" translate>HK_FLOORS</strong>
                <div class="entry radio-check floors">
                    <label class="checkbox checked">
                        <span class="icon-form icon-checkbox" ng-class="{'checked': currentFilters.showAllFloors}"></span>
                        <input name="room-allfloors" id="room-allfloors" value="room-allfloors" type="checkbox" checked ng-click="allFloorsClicked()">
                        <label translate>SHOW_ALL_FLOORS</label>
                    </label>
                    <div id="filter-floors" class="entry-data" ng-class="{'hidden': currentFilters.showAllFloors}">
                        <div class="left">
                            <span class="h4" translate>HK_SINGLE</span>
                            <div class="select">
                                <select name="floor-filter-single" id="floor-filter-single" class="placeholder" ng-model="currentFilters.floorFilterSingle" ng-change="validateFloorSelection('SINGLE_FLOOR')">
                                  <option selected translate>FLOOR_#</option>
                                  <option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterSingle"> {{floor.floor_number}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="right">
                            <span class="h4" translate>HK_MULTIPLE</span>
                            <div class="select">
                                <select name="floor-filter-start" id="floor-filter-start" class="placeholder" ng-model="currentFilters.floorFilterStart" ng-change="validateFloorSelection('FROM_FLOOR')">
                                  <option selected translate>HK_FROM</option>
                                  <option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterStart"> {{floor.floor_number}}</option>
                                </select>
                            </div>
                            <div class="select">
                                <select name="floor-filter-stop" id="floor-filter-stop" class="placeholder" ng-model='currentFilters.floorFilterEnd' ng-change="validateFloorSelection('TO_FLOOR')">
                                  <option selected translate>HK_TO</option>
                                  <option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterEnd"> {{floor.floor_number}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="holder">
                <strong class="title" translate>HOUSEKEEPING_STATUS</strong>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.dirty}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.dirty">
                        <label translate>SHOW_DIRTY</label>
                    </label>
                </div>
                <div class="entry radio-check" ng-show="showPickup">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.pickup}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.pickup">
                        <label translate>SHOW_PICKUP</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.clean}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.clean">
                        <label translate>SHOW_CLEAN</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.inspected}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.inspected">
                        <label translate>SHOW_INSPECTED</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.out_of_order}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.out_of_order">
                        <label translate>SHOW_OOO</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.out_of_service}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.out_of_service">
                        <label translate>SHOW_OOS</label>
                    </label>
                </div>
            </div>
            <div class="holder">
                <strong class="title" translate>RESERVATION_STATUS</strong>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.vacant}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.vacant">
                        <label translate>SHOW_VACANT</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.occupied}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.occupied">
                        <label translate>SHOW_OCCUPIED</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.queued}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.queued">
                        <label translate>SHOW_QUEUED</label>
                    </label>
                </div>
            </div>
            <div class="holder">
                <strong class="title" translate>FRONT_OFFICE_STATUS</strong>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox"ng-class="{'checked' : currentFilters.stayover}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.stayover">
                        <label translate>SHOW_STAYOVER</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.not_reserved}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.not_reserved">
                        <label translate>SHOW_NOT_RESERVED</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.arrival}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.arrival">
                        <label translate>SHOW_ARRIVAL</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.arrived}"></span>
                        <input name="room-filters" id="room-filters13" type="checkbox" ng-model="currentFilters.arrived">
                        <label translate>SHOW_ARRIVED</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.dayuse}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.dayuse">
                        <label translate>SHOW_DAY_USE</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.dueout}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.dueout">
                        <label translate>SHOW_DUE_OUT</label>
                    </label>
                </div>
                <div class="entry radio-check">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked' : currentFilters.departed}"></span>
                        <input name="room-filters" type="checkbox" ng-model="currentFilters.departed">
                        <label translate>SHOW_DEPARTED</label>
                    </label>
                </div>
            </div>

            <div class="holder" ng-if="isStandAlone">
              <strong class="title" translate>ROOM_TYPE_FILTER_TITLE</strong>
              <div class="entry radio-check" ng-repeat= "type in roomTypes track by $index">
                <label class="checkbox">
                  <span class="icon-form icon-checkbox" ng-class = "{'checked' : type.isSelected}"></span>
                  <input type="checkbox" ng-model="type.isSelected" name="room-filters">
                  <label>{{ type.name }}</label>
                </label>
              </div>
            </div>
        </div>
    </div> 
</section>