<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()">
	<div data-view="UpsellLateCheckoutView">
		<section>
			<header class="content-title float">
				<h2 translate>LATE_CHECKOUT_UPSELL</h2>
				<a id="go_back" data-type="load-details" class="action back" ng-click="goBackToPreviousState()" translate>BACK</a>
			</header>
			<section class="content-scroll">
				<div ng-include="'/assets/partials/common/notification_message.html'"></div>
				<div id="new-form-holder" ng-show="isAddmode" ng-include="getTemplateUrl()"></div>
				<form name="upsell-late-checkout" method="post" id="upsell-late-checkout" class="form float" action="">
					<div class="form-title full-width">
						<h3><span translate>LATE_CHECKOUT</span> {{'UPSELL' | translate}} </h3>
					</div>
					<fieldset class="holder left">
						<div></div>

						<!-- Switch -->
						<div class="entry">
							<label for="late-checkout-upsell" translate>LATE_CHECKOUT_UPSELL</label>
							<div id="div-late-checkout-upsell" class="switch-button single" ng-class="{ on : upsellData.is_late_checkout_set === 'true' }"  ng-click="switchClicked()">
								<input type="checkbox" value="10" name="late-checkout-upsell" id="late-checkout-upsell">
								<span class="switch-icon"></span>

							</div>
						</div>

						<!-- Checkbox -->
						<div class="entry radio-check">
							<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class="{ checked : upsellData.is_exclude_guests === 'true' }"></span> <label for="exclude-guest-pre-allocated-room" translate>EXCULUDE_GUEST_IN_PRE_ALLOCATED_ROOMS</label>
								<input type="checkbox" value="testing" name="exclude-guest-pre-allocated-room" id="exclude-guest-pre-allocated-room" ng-click="checkBoxClicked()">
							</label>
						</div>
						<!-- charge code -->
						<ad-dropdown label="{{'CHARGE_CODE' | translate}}" label-in-drop-down="{{'CHARGE_CODE' | translate}}" list="upsellData.charge_codes" selected-Id='upsellData.selected_charge_code' required='yes' selbox-class='placeholder'></ad-dropdown>

						<!-- Hiding the field  according to CICO-9841 -->
						<div class="entry" ng-show="false">
							<label translate> SEND_UPSELL_ALERT_TO_ALL_GUESTS</label>
							<div class="entry full-width float">

								<!-- alert hour -->
								<div class="select select-col col1-3">

									<select ng-options="hour for hour  in hours" ng-model="upsellData.alert_hour">
										<option style="display:none" value="" translate>HH</option>
									</select>

								</div>
								<!-- alert minute -->
								<div class="select select-col col1-3">
									<select ng-options="minute for minute  in minutes" ng-model="upsellData.alert_minute">
										<option style="display:none" value="" translate>MM</option>
									</select>

								</div>
								<div class="select select-col col1-3">
									<select name="hotel-checkout-primetime" disabled="disabled" class="styled">
										<option value="AM" selected="" translate>AM</option>
										<option value="PM" translate>PM</option>
									</select>
								</div>
							</div>

						</div>
						<ad-textbox value="upsellData.allowed_late_checkout"   label = "{{'NUMBER_OF_LATE_CHECKOUTS_PER_DAY' | translate}}" placeholder = "{{'TYPE_NUMBER' | translate}}" ></ad-textbox>

					</fieldset>
					<fieldset class="holder right">
						<div></div>
						<div class="entry">
							<label translate> CHECKOUT_TIME_EXTENDED_TO </label>
							<div class="entry full-width float">
								<div class="select select-col col1-3">

									<select ng-options="hour for hour  in hours" ng-model="upsellData.extended_checkout_charge_0.time">
										<option style="display:none" value="" translate>HH</option>
									</select>

								</div>
								<div class="select select-col col1-3">
									<select name="primetime" disabled="disabled" class="styled">
										<option value="AM" translate>AM</option>
										<option value="PM" selected="" translate>PM</option>
									</select>
								</div>
							</div>

						</div>

						<ad-textbox value="upsellData.extended_checkout_charge_0.charge"   label = "{{'CHARGE' | translate}} [{{currency_code}}]" placeholder = "Enter charge"  ></ad-textbox>

						<div class="entry">
							<label translate> CHECKOUT_TIME_EXTENDED_TO </label>
							<div class="entry full-width float">
								<div class="select select-col col1-3">

									<select ng-options="hour for hour  in hours" ng-model="upsellData.extended_checkout_charge_1.time" ng-disabled="disableSecondOption">
										<option style="display:none" value="" translate>HH</option>
									</select>

								</div>
								<div class="select select-col col1-3">
									<select name="primetime" disabled="disabled" class="styled">
										<option value="AM" translate>AM</option>
										<option value="PM" selected="" translate>PM</option>
									</select>
								</div>
							</div>

						</div>
						<ad-textbox value="upsellData.extended_checkout_charge_1.charge"   label = "{{'CHARGE' | translate}} [{{currency_code}}]" placeholder = "Enter charge" disabled="disableSecondOption" ></ad-textbox>

						<div class="entry">
							<label translate> CHECKOUT_TIME_EXTENDED_TO </label>
							<div class="entry full-width float">
								<div class="select select-col col1-3">
									<select ng-options="hour for hour  in hours" ng-model="upsellData.extended_checkout_charge_2.time" ng-disabled="disableThirdOption">
										<option style="display:none" value="" translate >HH</option>
									</select>

								</div>
								<div class="select select-col col1-3">
									<select name="primetime" disabled="disabled" class="styled">
										<option value="AM" translate>AM</option>
										<option value="PM" selected="" translate>PM</option>
									</select>
								</div>
							</div>

						</div>

						<ad-textbox value="upsellData.extended_checkout_charge_2.charge"   label = "{{'CHARGE' | translate}} [{{currency_code}}]" placeholder = "Enter charge" disabled="disableThirdOption" ></ad-textbox>

					</fieldset>

					<fieldset class='holder column full-width'>
						
						<ad-dropdown label="{{'LIMITED_LATE_CHECK_OUTS_BY_ROOM_TYPE' | translate}}" label-in-drop-down="{{'SELECT_ROOM_TYPE' | translate}}" list="upsellData.room_types_list" selected-Id='upsellData.selected_room_type' selbox-class="placeholder"></ad-dropdown>
		
						<div class='entry'>
							<div class='add-room-type'>
								<button class='button green' id='add-room-type' ng-click="clickAddRoomType()" translate>
									ADD_ROOM_TYPE
								</button>
							</div>
						</div>
						<div class='entry full-width' id='room-type-header'>
							<div class='entry' ng-show="upsellData.isRoomTypesSelectedFlag">
								<label> <h4 translate>ROOM_TYPE</h4> </label>
							</div>
							<div class='entry' ng-show="upsellData.isRoomTypesSelectedFlag">
								<label> <h4 translate>MAX_PER_DAY </h4> </label>
							</div>
							<div id='room-type-details' ng-repeat="roomType in upsellData.room_types">
								
								<div class="entry full-width room-type-details" ng-show="roomType.max_late_checkouts !==''">
									<div class="entry">
										<span class="align-text-center"> {{roomType.name}} </span>
									</div>
									<div class="entry">
										<span class="entry">
											<ad-textbox value="roomType.max_late_checkouts" inputtype="number"></ad-textbox>
										</span>
										<span class="entry">
											<a class="icons icon-delete large-icon align-text-center" ng-click="deleteRoomType(roomType.id,roomType.name)"></a>
										</span>
									</div>
								</div>
								
							</div>
						</div>
					</fieldset>
					
					<div class="actions float">
						<button type="button" id="cancel" class="button blank" ng-click="goBackToPreviousState()" translate>
							CANCEL
						</button>
						<button type="button" id="save" class="button green" ng-click="saveClick()" translate>
							SAVE_CHANGES
						</button>
					</div>
				</form>
			</section>
		</section>
	</div>
</section>