<div id="page-inner-first" class="page page-current">
	<div id="staycard_main" ng-controller="stayCardMainCtrl">
			<div role="main" id="view-nested-first" class="nested-view view-current">
			<!-- Nav bar -->
			<div ng-include="'/assets/partials/common/header.html'"></div>
			
			<!-- Ideally this 'ng-class' to indicating that we are going back should be add within the 'ui-view' itself, but the current version of Angular used in this Rover app has a bug when mixing 'ui-view' and 'ng-class'. Bug: https://github.com/angular-ui/ui-router/issues/866 -->
			<!-- Please note that the Angular Team has fixed this issue, but since we cant just upgrade Angular we are still using this workaround. Fix: https://github.com/angular-ui/ui-router/pull/858 -->
			<div ng-class="{ 'return-back': returnBack }">
				<!-- TO INCLUDE RESERVATION CARD WHICH INCLUDES RESERVATION LISTING AND RESERVATION DETAILS IN THE RIGHT SIDE-->
				<div ui-view class="main-view"></div>
			</div>
		</div>
	</div>
</div>


