<div ng-show="hasLoader" id="loading"><div id="loading-spinner" ></div></div> 

<!-- Removed the animation class added while drawer menu open/close as it may be conflicting with ui-view animations -->
<div class="container tabs" ng-click="closeDrawerMenu()" ng-class="{ 'return-back': returnBack }">
<!-- 
	<div id="availability"> = default, hidden state
	<div id="availability" class="availability-open"> = when open
	add class "availability-closing" when closing availabiltiy screen, so you'll have:  <div id="availability" class="availability-open availability-closing">

	when closed, strip the classes so you end up with the default state: <div id="availability">
-->
<!-- we will not show availability feature as discussed with Nikci by Ganesh  for 3pms  -Please see CICO-6073 comment by Ganesh -->
	<div ng-show="isStandAlone" id="availability" ng-controller="rvAvailabilityButtonController" 
		ng-class="{	'availability-open': showAvailability, 
					'availability-closing': isClosing}">
		<a href="#availability" class="availability-toggle " ng-class="{'active': showAvailability}" ng-click="clickedOnAvailabilityButton()">Menu</a> <!-- Add class "active" when open -->
		<div ng-include="getAvailabilityTemplateUrl()"></div>
	</div>
	<div class="ui-router-wrapper">		
		<div ui-view class="main-view" ></div>
	</div>
</div>
<!-- <div ng-include="'/assets/partials/dashboard/rvLeftNavbar.html'"></div> -->

<nav id="main-menu" role="navigation" ng-class="{'menu-open': menuOpen, 'menu-closing' : !menuOpen,'menu-hotel':showHotelSwitchList}" ng-include="'/assets/partials/dashboard/rvLeftNavbar.html'"></nav>