<div role="dialog" id="modal" class="modal-show">
	<div class="modal-content key-delivery" ng-class="data.colorCodeClass">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<button ng-if="!viewFromBillScreen" ng-click="closeDialog()" type="button" id="modal-close" class="modal-close" ng-class="data.colorCodeClassForClose">
			<span class="icons icon-close"></span>
		</button>
		<div id="room-status" class="scan-key">
			<span ng-show="data.is_late_checkout == 'true'" class="h2 message">{{data.reservationStatusText}}<br/> {{data.late_checkout_time}}</span>
			<span ng-show="data.is_late_checkout == 'false'" class="h2 message">{{data.reservationStatusText}}</span>
			<h1 class="icon-key">{{data.user_name}}<span>{{data.room_number}}</span></h1>
			<span class="number">
				{{ 'RESERVATION' | translate }}
				{{data.confirmation_number}}	
			</span>
		</div>
		<div id="key-status" class="scan-key">
			<span class="h2 message" translate>ROOM_KEY_EMAILED</span>
			<div class="action">
				<em class="info"> {{ 'EMAIL_WITH_QR_CODE_SENT_TO' | translate }}  {{guestCardData.contactInfo.email}} </em>
				<a ng-show="fromView=='checkin'" class="modal-close button brand-colors" ng-click="goToStaycard()" translate>VIEW_STAY_CARD</a>
				<a ng-show="fromView=='checkin'" class="modal-close button blue" ng-click="goToSearch()" translate>SEARCH</a>
			</div>
		</div>
	</div>
</div>