<div id="wrapper" class="content current" ng-click="clearErrorMessage()" >
	<header class="content-title float">
		<h2 translate>ANALYTIC_SETUP_HEADER</h2>
		<a ng-click ="goBackToPreviousState()" class="action back" translate>BACK</a>
	</header>
	<section class="content-scroll">
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div ng-include="'/assets/partials/common/notification_success_message.html'"></div> 
	<form class="form float" >	
	    <fieldset class="holder left" ng-show="!isHotelAdmin">
			
		
	    	<ad-textbox value="data.product_cross_customer.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}" styleclass="full-width" ></ad-textbox>
			
			<ad-textbox value="data.product_cross_customer.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

			<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_cross_customer.tracker_zest_android"  placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>		
			
		</fieldset>	
		<fieldset class="holder left" ng-show="isHotelAdmin">
			<div class="form-title full-width">
						<h3><span translate>SNT_TRACKERS_TITLE</span> </h3>
					</div>
		
	    	<ad-textbox value="data.product_customer.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  styleclass="full-width"></ad-textbox>
			
			<ad-textbox value="data.product_customer.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

			<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_customer.tracker_zest_android"   placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>		
			
		</fieldset>
		
		<fieldset class="holder right" ng-show="isHotelAdmin">
			<div class="form-title full-width">
						<h3><span translate>HOTEL_TRACKERS_TITLE</span> </h3>
					</div>

		    <ad-dropdown label-in-drop-down="{{'SELECT_SERVICE' | translate}}" list="data.available_trackers" selected-id='data.product_customer_proprietary.selected_tracker' selbox-class="placeholder" div-class="full-width" label="{{'ANALYTIC_SERVICE_LABEL' | translate}}"></ad-dropdown>
			
			<ad-textbox value="data.product_customer_proprietary.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  styleclass="full-width"></ad-textbox>
			
			<ad-textbox value="data.product_customer_proprietary.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

			<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_customer_proprietary.tracker_zest_android"  placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>			
			
		</fieldset>		

		<div class="actions float">
			<button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>
				CANCEL
			</button>
			<button type="button" like-type="common" id="update" class="button  ng-binding green" ng-click="saveAnalyticSetup()" translate>
				SAVE_CHANGES
			</button>
		</div>

	</form>
	</section>
</div>