<!-- Content CASHIER -->
<div id="journal-content" class="journal-content" ng-controller="RVJournalCashierController" ng-click="clearErrorMessage()" ng-cloak>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <div id="cashier-history" class="journal-history scrollable" ng-iscroll='cashier_history'>
        <div class="wrapper">
            <h2 ng-show="detailsList.length>0" translate>HISTORY</h2>
            <h2 ng-hide="detailsList.length>0 || isLoading" translate>NO_HISTORY</h2>
            <ul class="shift-history">
                <!-- Closed -->
                <li ng-repeat="history in detailsList" ng-class="{'active':selectedHistory ===$index}" ng-click="historyClicked($index)">
                    <strong class="status closed" ng-show="history.status ==='CLOSED'">
                        {{'CLOSED' | translate}}
                         <span>by {{history.user}}</span>
                    </strong>
                    <strong class="status opened" ng-hide="history.status ==='CLOSED'">
                        {{'OPENED' | translate}}
                        <span ng-bind="history.user"</span>
                    </strong>
                    <time datetime="{datetime timestamp}">
                        <span class="time" ng-bind="history.time"></span>
                        <span class="date">{{history.date | date:'dd MMMM yyyy'}} </span>
                    </time>
                </li>
            </ul>
            <!-- adding extra empty tag to solve scroll not showing bottom part -->
            <div style="height:20%;"></div>
        </div> 
    </div>
    <div id="cashier-shift" class="journal-shift scrollable" ng-iscroll='cashier_shift'>
        <!-- Open shift -->
        <div class="wrapper">
            <table class="shift-details" ng-show="detailsList.length>0">
                <caption class="closed" ng-hide="details.status ==='OPEN'">
                    <strong>
                        {{data.selectedCashier}} |</strong>  {{details.status}} by {{details.user}} | {{details.time}}, {{details.date | date:'dd MMMM yyyy'}}
                </caption>
                <caption class="opened" ng-show="details.status ==='OPEN'">
                     <strong>
                        {{data.selectedCashier}} |</strong>  Opened by {{details.user}} | {{details.time}}, {{details.date | date:'dd MMMM yyyy'}} 
                </caption>
                <tbody>
                    <tr>
                        <th scope="row" translate>OPENING_BALANCE_CASH_MSG</th>
                        <td class="value">{{currencySymbol}}{{details.opening_balance_cash |number:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" translate>OPENING_BALANCE_CHECK_MSG</th>
                        <td class="value">{{currencySymbol}}{{details.opening_balance_check |number:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" translate>TOTAL_CASH_RECEIVED_MSG</th>
                        <td class="value">{{currencySymbol}}{{details.total_cash_received |number:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" translate>TOTAL_IN_CHECKS_RECEIVED_MSG</th>
                        <td class="value">{{currencySymbol}}{{details.total_check_received |number:2}}</td>
                    </tr>
                    <tr>
                        <td class="entry" colspan="2" ng-show="details.status ==='OPEN'">
                            <span translate>CASH_SUBMITTED</span>
                            <input name="cash-submited" id="cash-submited" type="text" ng-model="details.cash_submitted"/>
                        </td>

                        <th scope="row" translate  ng-hide="details.status ==='OPEN'">CASH_SUBMITTED</th>
                        <td class="value"  ng-hide="details.status ==='OPEN'">{{currencySymbol}}{{details.cash_submitted |number:2}}</td>
                    </tr>
                    <tr>
                        <td class="entry" colspan="2" ng-show="details.status ==='OPEN'">  
                            <span translate>CHECKS_SUBMITTED</span>
                            <input name="checks-submited" id="checks-submited" type="text" ng-model="details.check_submitted" />
                        </td>

                        <th scope="row" translate ng-hide="details.status ==='OPEN'">CHECKS_SUBMITTED</th>
                        <td class="value" ng-hide="details.status ==='OPEN'">{{currencySymbol}}{{details.check_submitted |number:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" translate>TOTAL_CLOSING_BALANCE_CASH_MSG</th>
                        <td class="value">{{currencySymbol}}{{(details.opening_balance_cash + details.total_cash_received) - details.cash_submitted |number:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" translate>TOTAL_CLOSING_BALANCE_CHECK_MSG</th>
                        <td class="value">{{currencySymbol}}{{(details.opening_balance_check + details.total_check_received) - details.check_submitted |number:2}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="button green" translate ng-hide="details.status ==='CLOSED' || detailsList.length == 0 || isLoading" ng-click="closeShift()">CLOSE_SHIFT</button>
            <button type="button" class="button green" translate ng-hide="details.status ==='OPEN' || detailsList.length === 0 || isLoading ||isDateBeforeBusinnesDate(details.date) || data.filterData.cashierStatus !== 'CLOSED' ||!isLastCashierPeriod()" ng-click="reOpen()">RE_OPEN</button>
            <!-- adding extra empty tag to solve scroll not showing bottom part -->
            <div style="height:20%;"></div>
        </div> 
    </div>
</div>
