<!-- PRINT BOX FOR REVENUE -->
<div ng-show="data.activeTab==0" class="holder">
    <div class="entry">
        <label for="revenue-charge-group" translate>CHARGE_GROUPS</label>
        <div class="select">
            <select ng-model="data.selectedChargeGroup" ng-change="chargeGroupChanged()"  name="revenue-charge-group" id="revenue-charge-group" ng-class="{'placeholder': data.selectedChargeGroup == 'ALL' }">
                <option value="ALL" selected translate>ALL_CHARGE_GROUPS</option>
                <option ng-repeat="item in data.revenueData.charge_groups" value="{{item.id}}" ng-show="item.show">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="entry">
        <label for="revenue-charge-code" translate>CHARGE_CODE_NAME</label>
        <div class="select">
            <select ng-model="data.selectedChargeCode" ng-change="chargeCodeChanged()"  name="revenue-charge-code" id="revenue-charge-code" ng-class="{'placeholder': data.selectedChargeCode == 'ALL'}">
                <option value="ALL" selected translate>ALL_CHARGE_CODE</option>
                <option ng-repeat="item in data.activeChargeCodes" value="{{item.id}}">{{item.name}}</option>
            </select> 
        </div>
    </div>
    <div class="entry">
        <div class="switch-button" ng-class="{'on' : data.isRevenueToggleSummaryActive }" ng-click="toggleSummaryOrDeatilsRevenue()">
            <input name="revenue-print-toggle" id="revenue-print-toggle" value="" type="checkbox" checked />
            <label class="data-off">
                <span class="value" translate>SUMMARY</span>
                <span class="switch-icon" translate>DETAILS</span>
            </label>
            <label class="data-on">
                <span class="switch-icon" translate>SUMMARY</span>
                <span class="value" translate>DETAILS</span>
            </label>
        </div>
    </div>
    <div class="actions">
        <button ng-click="printRevenue()" id="print-revenue" type="button" class="button blue" translate>PRINT</button>
    </div>
</div>

<!-- PRINT BOX FOR PAYMENTS -->
<div ng-show="data.activeTab==1" class="holder">
    <div class="entry">
        <label for="payments-payment-type">{{'PAYMENT_TYPE' | translate}} / {{'CHARGE_CODE' | translate}}</label>
        <div class="select">
            <select ng-model="data.selectedPaymentType" ng-change="paymentTypeChanged()" name="payments-payment-type" id="payments-payment-type" ng-class="{'placeholder': data.selectedPaymentType == 'ALL'}">
                <option value="ALL" translate>ALL</option>
                <option ng-repeat="item in data.paymentData.payment_types" value="{{item.id}}" ng-show="item.show">{{item.payment_type}}</option>
            </select>
        </div>
    </div>
    <div class="entry">
        <div class="switch-button" ng-class="{'on' : data.isPaymentToggleSummaryActive }" ng-click="toggleSummaryOrDeatilsPayment()">
            <input name="payments-print-toggle" id="payments-print-toggle" value="" type="checkbox" checked />
            <label class="data-off">
                <span class="value" translate>SUMMARY</span>
                <span class="switch-icon" translate>DETAILS</span>
            </label>
            <label class="data-on">
                <span class="switch-icon" translate>SUMMARY</span>
                <span class="value" translate>DETAILS</span>
            </label>
        </div>
    </div>
    <div class="actions">
        <button ng-click="printPayment()" id="print-payments" type="button" class="button blue" translate>PRINT</button>
    </div>
</div>

<!-- PRINT BOX FOR CASHIER -->
<div ng-show="data.activeTab==2" class="holder">
    <div class="entry">
        <label for="cashier-report" translate>REPORT</label>
        <div class="select">
            <select name="cashier-report" id="cashier-report" ng-model="data.reportType" ng-change="cashierFilterChanged()">
                <option value="" translate>SELECT_REPORT_TYPE</option>
                <option value="cashier" selected translate>CASHIER_SUMMERY</option>
                ...
            </select>
        </div>
    </div>
    <div class="actions">
        <button ng-click="printCashier()" id="print-cashier" type="button" class="button blue" translate>PRINT</button>
    </div>
</div>
