<!-- Content REVENUE-->
<div id="journal-content" class="journal-content scrollable" ng-controller="RVJournalRevenueController" ng-iscroll='revenue_content' ng-click="clickedOnRevenue($event)">
    
    <div class="wrapper">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div id="journal-grid" class="journal-grid" ng-class="{'print-details': !data.isRevenueToggleSummaryActive}">

            <ul class="grid-header revenue">
                <li class="name" translate>CHARGE_GROUPS</li>
                <li class="number" translate>NUMBER</li>
                <li class="value" translate>AMOUNT</li>
            </ul>

                <!-- First level - charge groups -->
                <div class="grid-group" ng-repeat="(index1 ,level1) in data.revenueData.charge_groups"  ng-show="level1.show && level1.filterFlag">

                    <a ng-click="clickedFirstLevel(index1)" ng-class="{'active':level1.active, 'has-arrow':checkHasArrowLevel1(index1)}" class="revenue-title toggle">
                        <strong ng-show="level1.show" class="name">{{level1.name}}</strong>
                        <span ng-show="level1.show" class="number" >{{escapeNullData(level1.number)}}</span>
                        <span ng-show="level1.show" class="value">{{currencySymbol}}{{ getTotalAmountOfGroupItem(index1) | number: precisonTwo}}</span>
                    </a>

                    <!-- Second level - charge codes -->
                    <div ng-repeat="(index2 ,level2) in level1.charge_codes" ng-show="level1.active" class="grid-charge">

                        <a ng-click="clickedSecondLevel(index1 ,index2)" ng-class="{'active':level2.active , 'has-arrow':checkHasArrowLevel2(index1, index2)}" ng-show="level2.show && level2.filterFlag" class="revenue-title toggle">
                            <span class="code short-text" ng-show="level2.show">{{level2.code}}</span>
                            <strong class="name" ng-show="level2.show">{{level2.name}}</strong>
                            <span class="value" ng-show="level2.show">{{currencySymbol}}{{getTotalAmountOfCodeItem(index1 ,index2) | number: precisonTwo}}</span>
                        </a>

                        <!-- Third level - transactions  -->
                        <table ng-show="level2.active && level2.show" class="grid-items">
                            <thead ng-show="isShowTableHeading(index1 ,index2)">
                                <tr>
                                    <th scope="col" translate>ROOM_LABEL</th>
                                    <th scope="col" translate>NAME</th>
                                    <th scope="col" translate>RESERVATION_NUMBER</th>
                                    <th scope="col" translate>TYPE</th>
                                    <th scope="col" translate>DETAILS</th>
                                    <th scope="col" translate>TIME</th>
                                    <th scope="col" translate>DEBIT</th>
                                    <th scope="col" translate>CREDIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index3 ,level3) in level2.transactions" ng-show="level3.show">
                                    <td>{{level3.room}}</td>
                                    <td>{{level3.name}}</td>
                                    <td>{{level3.reservation_number}}</td>
                                    <td>{{level3.type}}</td>
                                    <td ng-bind-html="level3.details"></td>
                                    <td>{{getTimeString(level3.date, level3.time)}}</td>
                                    <td>{{currencySymbol}}{{level3.debit | number: precisonTwo}}</td>
                                    <td>{{currencySymbol}}{{level3.credit | number: precisonTwo}}</td> 
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <p class="grid-footer payment"><span translate>TOTAL</span> {{currencySymbol}}{{ getTotalOfAllChargeGroups() | number: precisonTwo}}</p>
            </div>

    </div>
</div>
