<div class="reservation-header">
	<div class="data">
		<span data-room-status="{{stayDetails.details.room_status}}" data-reserv-status="{{stayDetails.details.reservation_status}}" data-fostatus="{{stayDetails.details.fo_status}}" class="room">
			<span class="guest-status room" translate>ROOM</span>
			<strong id="header-room-num" class="room-number "  ng-class="getColorCode()">
				{{stayDetails.details.room_number}}
			</strong>
			<span id="room-type" data-room-type="{{stayDetails.details.room_type}}">
				{{stayDetails.details.room_type_name}}
			</span>
		</span>
		<span class="nights" ng-class="{'overlay' : stayDetails.isOverlay }">
			<span class="guest-status nights">
																
			</span>
			<ng-pluralize count="stayDetails.details.total_nights"
				  when="{'0': 'Day Use',
         				'1': '1 night',
         				other: '{} nights'}">
			</ng-pluralize>	
			
		</span>
		<span class="date" ng-class="{'overlay' : stayDetails.isOverlay }">
			<span class="guest-status small-icon check-in" translate>CHECK_IN</span>

			{{getSimplifiedDayName(stayDetails.details.arrival_date)}}
			{{stayDetails.details.arrival_date|date:dateFormat}}
		</span>
		<span class="date" ng-class="{'overlay' : stayDetails.isOverlay }">
			<span class="guest-status small-icon check-out" translate>CHECK_OUT</span>
			{{getSimplifiedDayName(stayDetails.details.departure_date)}}
			{{stayDetails.details.departure_date|date:dateFormat}}
		</span>
	</div>

</div>