<div id="change-dates-main" >
	<!-- data-view="ChangeStayDatesView"> -->
	<div ng-include="'/assets/partials/common/header.html'"></div>
	<section role="complementary" id="edit-reservation" class="content stay-card-inner check-in">
		<!-- Room assignment header -->
		<div ng-include="'/assets/partials/changeStayDates/rvChangeStayDatesHeader.html'"></div>
		<!-- Edit reservation -->
		<div class="edit-reservation-content" >
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<!-- Reservation calendar -->
			<div id="calendar-holder" class="reservation-calendar scrollable" ng-iscroll="edit_staydate_calendar" ng-iscroll-delay="100">
				<div class="wrapper">
					<div id="reservationcalendar" class="fc fc-ltr" ui-calendar="fullCalendarOptions" ng-model="eventSources" calendar="myCalendar" iscroll-stop-propagation ng-hide="isChanging"></div>
					<strong id="instruction-title" class="notice" translate>DRAG_AND_DROP_TO_CHANGE_STAY_DATES</strong>
					<ul id="reservation-calendar-legend">
						<li><span class="check-in"></span>{{'ARRIVAL' | translate}}
						</li>
						<li><span class="no-availability"></span>{{'NO_AVAILABILITY' | translate}}
						</li>
						<li><span class="mid-stay"></span>{{'MID_STAY' | translate}}
						</li>
						<li><span class="availability"></span>{{'ROOM_AVAILABLE' | translate}}
						</li>
						<li><span class="check-out"></span>{{'DEPARTURE' | translate}}
						</li>
					</ul>
				</div>
			</div>
			<!-- Reservation update -->
			<div ng-include="'/assets/partials/changeStayDates/rvChangeStayDatesReservationUpdate.html'"></div>
		</div>
	</section>
</div>