%div#add-new-smartband
  #notification-message
  %div.smartband-image
  %br{clear: "all"}/
  = render :partial => "admin/shared/textbox", :locals => {:data => {"label_text" => "First Name" , "id"=> "first-name",  "name" =>  "first-name", "placeholder" =>"Enter First Name", "value" => ""}}  
  = render :partial => "admin/shared/textbox", :locals => {:data => {"label_text" => "Last Name" , "id"=> "last-name", "name" =>  "second-name", "placeholder" =>"Enter Last Name", "value" => ""}} 
  %div.entry.margin.only-switch.full-width
    %div.payment-type-parent
      %label{for: "payment-type"} Payment Type
      %div.on.switch-button
        %input#payment-type{name: "payment-type", type: "checkbox", value: "1"}
        %label.data-on
          %span.value Open Room Charge
          %span.switch-icon Fixed Amount
        %label.data-off
          %span.switch-icon Open Room Charge
          %span.value Fixed Amount
    = render :partial => "admin/shared/textbox", :locals => {:data => {"label_text" => "Amount" , "id"=> "fixed-amound", "class" => "payment-type-associated-div", "name" =>  "amount", "placeholder" =>"Enter Amount", "value" => ""}} 
    %br{clear: "all"}/
  %a#continue-button.continue-button.button.green Continue
  %a#cancel-link.cancel-link cancel
