%div#update-card-info{"data-currency-symbol" => get_currency_symbol(current_hotel.default_currency.value)}
  #notification-message
  %div.smartband-image
  %div#smartband-id
    
  %br{clear: "all"}/
  %div#area-of-details
    = render :partial => "admin/shared/textbox", :locals => {:data => {"label_text" => "First Name" , "id"=> "first-name",  "name" =>  "first-name", "placeholder" =>"Enter First Name", "value" => "" }}  
    = render :partial => "admin/shared/textbox", :locals => {:data => {"label_text" => "Last Name" , "id"=> "last-name", "name" =>  "last-name", "placeholder" =>"Enter Last Name", "value" => ""}} 
    %div.entry#float-right
      %div
        %label
          available credit
        %label#credit-bal
          =get_currency_symbol(current_hotel.default_currency.value)        
    %div.entry#credit-adding-div
      %label
        Add Credit
      %div
        %label
          =get_currency_symbol(current_hotel.default_currency.value)
        %input{:id => "credit-to-add", :name => "credit-to-add", :type => "text"}
    %div.entry.margin.only-switch.full-width#payment-type-div
      %div.payment-type-parent
        %label{for: "payment-type"} Payment Type
        %div.on.switch-button
          %input#payment-type{name: "payment-type", type: "checkbox", value: "1"}
          %label.data-on
            %span.value Open Room Charge
            %span.switch-icon Fixed Amount
          %label.data-off
            %span.switch-icon Open Room Charge
            %span.value Fixed Amount  
  %br{clear: "all"}/
  %a#continue-button.continue-button.button.green Continue
  %a#cancel-link.cancel-link cancel


