%form#smartband.modal-content.form.new-content
  %div.header
    %span.heading
      Smartbands
    %a#add-new-button.button.green Add New
    %a#see-all-band-button.button.white See All Bands
  = render :partial => "modals/smartbands/smartband_list", :locals => {:data => data}
  = render :partial => "modals/smartbands/addNewSmartBand"
  = render :partial => "modals/smartbands/modifyAddCreditSmartband"
  = render :partial => "modals/smartbands/writeToSmartBand"