%div#smartband-listing
  #notification-message
  %div#listing-area.middle.scrollable{"data-currency-symbol" => get_currency_symbol(current_hotel.default_currency.value)} 
    %ul      
      -data[:results].each do |band_list|        
        %li{"data-id"=>band_list[:id], "data-is-fixed"=> band_list[:is_fixed].to_s}
          %span.smartband-icon
            
          %span.band-holder
            =band_list[:first_name].to_s + " " + band_list[:last_name].to_s
          %span.charge
            -if(band_list[:is_fixed]==true)
              =get_currency_symbol(current_hotel.default_currency.value)
              =number_with_precision(band_list[:amount], :precision => 2)
            -else
              OPEN ROOM CHARGE
          %span.account-num
            =band_list[:account_number].to_s.last(4)
          
  %div.footer
    %a#close-popup Close


  