%div#write-to-band
  #notification-message
  %div.heading
    Hold Band To Encoder Until Ready
  %div.smartband-large-writing-icon
    %img{src:"/assets/smartband-hold-writing.png"}
    %div.success
      %img{src: "/assets/smartband-success.png"}
  %a#not-ready-status.not-ready-status Not Ready
  %a#cancel.cancel cancel 
  %div#button-area
    %a#done-button.button Done    
    %a#next-band-button.green.button Next band 