<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()" ><div data-view="HotelChainsView">
	<header class="content-title float">
		<h2>
			Chains
		</h2>
		<span class="count">
			(
			{{chainsList.length}}
			)
		</span>
		<a id="add-new-button" ng-click="addNew()" class="action add">Add new</a>
	</header>
	<section class="content-scroll">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div id="new-form-holder" ng-show="isAddmode" ng-include="getTemplateUrl()">
		</div>
		<table id="brands" class="grid" >
			<tbody>
				<tr ng-repeat="chain in chainsList">
					<td width="90%" ng-click="editSelected($index,chain.value)" ng-hide="currentClickedElement == $index && isEditmode">
						<a  data-colspan="2" class="edit-data-inline">
							{{chain.name}}
						</a>
					</td>
					<td width="10%" ng-hide="currentClickedElement == $index && isEditmode">
						<em></em>
					</td>
					<td colspan="2" ng-include="getTemplateUrl()" ng-show="currentClickedElement == $index && isEditmode"></td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
</section>




