<div class="modal-content modal-vertical-centered">
<div class="centeralign cc-alert">
	    <div style="text-align:left;" class="cc-number-description">
			<p class="ccv-headings centeralign">What is the<br class="cabin-number-main-heading-seperator"/>  Verification Number?</p>
			<p class="ccv-headings">Visa and Mastercard</p>
			<span>
				The verification number is a 3-digit number printed on the back of your card. It appears after and to the right of your card number.
			</span>
			<p class="ccv-headings">American Express</p>
			<span>
				The American Express verification number is a 4-digit number printed on the front of your card. It appears after and to the right of your card number.
			</span>
		</div>

		<button type="button" ng-click="closeDialog()" class="btn btn-close room-error-button room-error-green-button cc-close">CLOSE</button>
	</div>
</div>