<div id="rate-manager">
	<div resize></div>
	<div ng-include="'/assets/partials/common/header.html'"></div>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div ng-include="'/assets/partials/rateManager/topbar.html'" style= "width:100%;" ng-show="currentFilterData.filterConfigured"></div>
	<div ng-include="'/assets/partials/rateManager/leftMenu.html'" class="left-menu"></div>
	<div class="content">
		<div ng-if = "displayMode == 'CALENDAR'" ng-include="'/assets/partials/rateManager/rateCalendar.html'" class="calendar" ng-controller="RateCalendarCtrl" ></div>
		<div ng-if = "displayMode == 'GRAPH'" ng-include="'/assets/partials/rateManager/occupancyGraph.html'" class="graph" ng-controller="RateMgrOccupancyGraphCtrl">
		</div>
	</div>
</div>
