<div id="mixedRestrictions" ng-controller="MixedRestrictionsCtrl">
	<div ng-repeat="restrictionType in data.restrictionTypes" class="editor-container">
		<div class="restriction_text" ng-if="restrictionType.hasEdit" ng-show="restrictionType.showEdit">
		    <h4>{{restrictionType.description}}</h4>
		    <div class="mixed_restrictions">
		    	<em>Restrictions have been already been set for some of the selected room types or rates. This will override all previously set restrictions of this type.</em>
		    </div>
		    <div class="inputlabel" for="restictionCount">
		    	<label for="restictionCount"> {{restrictionType.description}} </label>
				<br/>
				<input id="restictionCount" ng-model="options.daysEntered"/>
				<!-- {{options.daysEntered}} -->
		    </div>
			<div class="cancellationbuttonwrap">
			    <button class="button  green" type="button" ng-click="updateRestrictionBtnClicked(restrictionType.id)">Set Restriction</button>
			    <button class="button  red" type="button" ng-click="removeRestrictionBtnClicked(restrictionType.id)">Remove Restriction</button>
				<button ng-show="restrictionType.showEdit" class="button blank cancel" type="button" ng-click="cancelButtonClicked(restrictionType.id)">Cancel</button>
			</div>
		</div>
		<div class="restriction_text" ng-if="!restrictionType.hasEdit" ng-show="restrictionType.showEdit">
		    <h4>{{restrictionType.description}}</h4>
		    <div class="mixed_restrictions">
		        <em>Restrictions have been already been set for some of the selected room types or rates. This will override all previously set restrictions of this type.</em>
		    </div>
			<div class="cancellationbuttonwrap">
			    <button class="button large green" type="button" ng-click="updateRestrictionBtnClicked(restrictionType.id)">Set Restriction</button>
			    <button class="button large red" type="button" ng-click="removeRestrictionBtnClicked(restrictionType.id)">Remove Restriction</button>
				<button ng-show="restrictionType.showEdit" class="button blank cancel" type="button" ng-click="cancelButtonClicked(restrictionType.id)">Cancel</button>

			</div>
		</div>
	</div>
</div>

