<div id="rate-manager-not-configured" ng-if = "!currentFilterData.filterConfigured">
	 <span>
	 	<span>Rate Manager not configured<span>Please select filter options to begin</span></span>
 	</span>
</div>
<div ng-if = "currentFilterData.filterConfigured && calendarMode == 'RATE_VIEW'" ng-include="'/assets/partials/rateManager/rateViewCalendar.html'" class="calendar-wraper"></div>
<div ng-if = "currentFilterData.filterConfigured && calendarMode == 'ROOM_TYPE_VIEW'" ng-include="'/assets/partials/rateManager/roomTypeViewCalendar.html'" class="calendar-wraper"></div>



