<tr><td colspan="{{$data.data.length + 1}}"> All rooms</td></tr>
<tr ng-repeat="row in $data.data">
	<td ng-hide="currentExpandedRow==$index">Room Type
		<img src="/assets/arrow-up.png" ng-click="expandRow($index)" >
	</td>
	<td ng-show="currentExpandedRow==$index"> Room Type Expanded
		<img src="/assets/arrow-up.png" ng-click="expandRow($index)" >
	</td> 
	<td ng-hide="currentExpandedRow==$parent.$index" ng-repeat="item in row.details" class="cal-cell" >
		{{item.rates.total}}
		<span class=" guest-status check-out">
									</span>
		<!-- TODO: Item.restriction -->
	</td>
	<td ng-repeat="item in row.details" class="cal-cell" ng-show="currentExpandedRow==$parent.$index">
		expanded value
	</td>
</tr>