<div id="restictionsList" ng-iscroll ng-iscroll-delay="1000" >
	<div class="scrollable">	
		<div class="restriction_text" >
			<h4>
				RESTRICTIONS
			</h4>
		</div>
		<div>
			<ul>
				<li class="restriction-type"
				ng-repeat="restrictionType in data.restrictionTypes"
				ng-hide="restrictionType.isOnRate || (restrictionType.hideOnHourly == true && data.isHourly) || (!data.isHourly && !data.id && restrictionType.hideOnHourly == true && data.isHourly != false)"
					ng-class="{selected: ($index == restrictionsList.selectedIndex && data.showEditView)}"
					style="cursor: pointer;">
				<div class="restrictions-container" ng-click="toggleRestrictions(restrictionType.id, restrictionType.days,$index)">
					<span class="restriction-icon {{restrictionType.background_class}} {{restrictionType.icon}}">{{restrictionType.days}}</span>
					<span class="text">{{restrictionType.description}}</span>
					<span ng-show="restrictionType.isRestrictionEnabled" class="restriction-status status-on">on</span>
					<span ng-show="!restrictionType.isRestrictionEnabled" class="restriction-status status-off">off</span>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>
