<div id="restrictionPriceContainer" class="price-div">
	<div class="restriction_text" >
		<h4> PRICE </h4>
		<em ng-if="!data.isHourly">Adjust price for all room types</em>
		<em ng-if="data.isHourly">Price adjustment for all Occupancies</em>
	</div>

	<section ng-if="data.isHourly">
		<div class="price-fields">
			<label>ALL OCCUPANCIES</label>		
			<span ng-if = "!popupData.all_data_selected">
				<span class="inp-field-before-or">
					<input type="text" size="7" ng-model="data.nightly" ng-class="{'strike-through': data.nightly_extra_amnt != ''}" ng-disabled="data.nightly_extra_amnt != '' || data.nightly == undefined" force-decimal-zero-dir>
				</span> 
					<span class="or"> 
						OR
					</span> 
			</span>
			<span class="inp-field-after-or select">
				<select style="width:70px;" ng-model="data.nightly_sign" ng-disabled="data.nightly == undefined">
					<option ng-selected="data.nightly_sign == '+'" value="+">+</option>
					<option ng-selected="data.nightly_sign == '-'" value="-">-</option>
				</select> 
			</span>
			<span class="inp-field">
				<input type="text"  size="7" ng-model="data.nightly_extra_amnt" ng-disabled="data.nightly == undefined">
			</span>
			<span class="inp-field select">
				<select style="width:70px;" ng-model="data.nightly_amnt_diff_sign" ng-disabled="data.nightly == undefined">
					<option ng-selected="data.nightly_amnt_diff_sign == '%'" value="%">%</option>
					<option ng-selected="data.nightly_amnt_diff_sign == currencySymbol" value="{{currencySymbol}}">{{currencySymbol}}</option>
				</select> 
			</span>
			<br clear="all">		
		</div>
	</section>
	
	<section ng-if="!data.isHourly">
		<div class="price-fields">
			<label>SINGLE</label>			
			<span ng-if = "!popupData.all_data_selected"> <span class="inp-field-before-or">
					<input type="text" size="7" ng-model="data.single" ng-class="{'strike-through': data.single_extra_amnt != ''}" ng-disabled="data.single_extra_amnt != '' || data.single == undefined" force-decimal-zero-dir>
				</span> <span class="or"> OR</span> </span>
			<span class="inp-field-after-or select">
				<select style="width:70px;" ng-model="data.single_sign" ng-disabled="data.single == undefined">
					<option ng-selected="data.single_sign == '+'" value="+">+</option>
					<option ng-selected="data.single_sign == '-'" value="-">-</option>
				</select> </span>
			<span class="inp-field">
				<input type="text"  size="7" ng-model="data.single_extra_amnt" ng-disabled="data.single == undefined">
			</span>
			<span class="inp-field select">
				<select style="width:70px;" ng-model="data.single_amnt_diff" ng-disabled="data.single == undefined">
					<option ng-selected="data.single_amnt_diff == '%'" value="%">%</option>
					<option ng-selected="data.single_amnt_diff == currencySymbol" value="{{currencySymbol}}">{{currencySymbol}}</option>
				</select> 
			</span>
			<br clear="all">			
		</div>

		<div class="price-fields">
			<label>DOUBLE</label>			
			<span ng-if = "!popupData.all_data_selected"> <span class="inp-field-before-or">
					<input type="text" size="7" ng-class="{'strike-through': data.double_extra_amnt != ''}" ng-model="data.double" ng-disabled="data.double_extra_amnt!='' || data.double == undefined" force-decimal-zero-dir>
				</span> <span class="or"> OR</span> </span>
			<span class="inp-field-after-or select">
				<select style="width:70px;" ng-model="data.double_sign" ng-disabled="data.double == undefined">
					<option ng-selected="data.double_sign == '+'" value="+">+</option>
					<option ng-selected="data.double_sign == '-'" value="-">-</option>
				</select> </span>
			<span class="inp-field" >
				<input type="text" ng-model="data.double_extra_amnt" size="7" ng-disabled="data.double == undefined">
			</span>
			<span class="inp-field select">
				<select style="width:70px;" ng-model="data.double_amnt_diff" ng-disabled="data.double == undefined">
					<option ng-selected="data.double_amnt_diff == '%'" value='%'>%</option>
					<option ng-selected="data.double_amnt_diff == currencySymbol" value='{{currencySymbol}}'>{{currencySymbol}}</option>
				</select> 
			</span>
		</div>

		<div class="price-fields">
			<label> EXTRA ADULT (+{{currencySymbol}})</label>
			<span ng-if = "!popupData.all_data_selected"> <span class="inp-field-before-or">
					<input type="text" size="7" ng-class="{'strike-through': data.extra_adult_extra_amnt != ''}" ng-model="data.extra_adult" ng-disabled="data.extra_adult_extra_amnt!='' || 'data.extra_adult == undefined'" force-decimal-zero-dir>
				</span> <span class="or"> OR</span> </span>
			<span class="inp-field-after-or select">
				<select style="width:70px;" ng-model="data.extra_adult_sign" ng-disabled = 'data.extra_adult == undefined'>
					<option ng-selected="data.extra_adult_sign == '+'" value="+">+</option>
					<option ng-selected="data.extra_adult_sign == '-'" value="-">-</option>
				</select> </span>
			<span class="inp-field">
				<input type="text"  size="7" ng-model="data.extra_adult_extra_amnt" ng-disabled = 'data.extra_adult == undefined'>
			</span>
			<span class="inp-field select">
				<select style="width:70px;" ng-model="data.extra_adult_amnt_diff" ng-disabled = 'data.extra_adult == undefined'>
					<option ng-selected="data.extra_adult_amnt_diff == '%'" value="%">%</option>
					<option ng-selected="data.extra_adult_amnt_diff == currencySymbol" value="{{currencySymbol}}">{{currencySymbol}}</option>
				</select> 
			</span>
		</div>

		<div class="price-fields last-price-fields">
			<label> CHILD (+{{currencySymbol}})</label>
			<span ng-if = "!popupData.all_data_selected"> <span class="inp-field-before-or">
					<input type="text" size="7" ng-class="{'strike-through': data.child_extra_amnt != ''}" ng-model="data.child" ng-disabled="data.child_extra_amnt!='' || 'data.child == undefined'" force-decimal-zero-dir>
				</span> <span class="or"> OR</span> </span>
			<span class="inp-field-after-or select">
				<select style="width:70px;" ng-model="data.child_sign" ng-disabled = 'data.child == undefined'>
					<option ng-selected="data.child_sign == '+'" value="+">+</option>
					<option ng-selected="data.child_sign == '-'" value="-">-</option>
				</select> </span>
			<span class="inp-field">
				<input type="text"  size="7" ng-model="data.child_extra_amnt" ng-disabled = 'data.child == undefined'>
			</span>
			<span class="inp-field select">
				<select style="width:70px;" ng-model="data.child_amnt_diff" ng-disabled = 'data.child == undefined'>
					<option ng-selected="data.child_amnt_diff == '%'" value="%">%</option>
					<option ng-selected="data.child_amnt_diff == currencySymbol" value="{{currencySymbol}}">{{currencySymbol}}</option>
				</select> 
			</span>
		</div>
	</section>
</div>