<!--<div id="modal" class="rm-calendar-popup modal-show">
	<form ng-cloak class="form grey-texture-bg-color">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<fieldset class="holder full-width grey-texture-bg-color" style="margin-bottom:0px;">
			<div class="form-title">
				<h3><span>Date</span>&nbsp;Range Update</h3>
			</div>
		</fieldset>
		<fieldset class="holder left grey-texture-bg-color">
			<div class="center_align grey-texture-bg-color"><em>From</em>&nbsp;
			<span class="italic_text">{{fromDate| date:'MMMM dd, y'}}</span></div>
			<div ui-date="fromDateOptions" ng-model="fromDate" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<fieldset class="holder right grey-texture-bg-color">
			<div class="center_align grey-texture-bg-color"><em>To </em>&nbsp;
			<span class="italic_text">{{toDate | date:'MMMM dd, y'}}</span></div>
			<div ui-date="toDateOptions" ng-model="toDate" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<div class="actions float">
			<button class="button blank add-data-inline" type="button" ng-click="cancelClicked()">Cancel</button>
			<button class="button green" 
					ng-click="updateClicked()" 
					type="button"
					disabled="disabled" 
					ng-disabled="toggleUpdate()"
					ng-class="{ grey : toggleUpdate() }">Ok</button>
		</div>
	</form>
</div>-->

<div id="modal" class="rm-calendar-popup modal-show">
	<form ng-cloak method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form date-range-update">
	    <button id="modal-close" class="modal-close" type="button" ng-click="cancelClicked()">
	    	<span class="icons icon-close invert"></span>
	    </button>
	    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
	    <span class="message h2">Date Range Update</span>

	    <fieldset id="fromDatePicker" class="holder left">
	    	<strong class="h3">From <span>{{fromDate| date:'MMMM dd, y'}}</span></strong>
	    	<div ui-date="fromDateOptions" ng-model="fromDate" ui-date-format="yy-mm-dd"></div>
	    </fieldset>
	    <fieldset id="toDatePicker" class="holder right">
	    	<strong class="h3">To <span>{{toDate | date:'MMMM dd, y'}}</span></strong>
	    	<div ui-date="toDateOptions" ng-model="toDate" ui-date-format="yy-mm-dd"></div>
	    </fieldset>
	    <div class="actions">
	        <button type="button" class="button blank" ng-click="cancelClicked()">Cancel</button>
			<button class="button green" 
					ng-click="updateClicked()" 
					type="button"
					disabled="disabled" 
					ng-disabled="toggleUpdate()"
					ng-class="{ grey : toggleUpdate() }">Set Range</button>
	    </div>
	</form>
</div>