<div class ="topbar">
	<ul>
		<li ng-show="backbuttonEnabled"><a ng-click="backButtonClicked()" class="back-button">Back</a></li>
		<li><h6>Date Range</h6>{{currentFilterData.begin_date|date : dateFormat}} to {{currentFilterData.end_date|date : dateFormat}}</li>
		<li ng-show="ratesDisplayed.length > 0"><h6>Rate</h6><span ng-repeat="rate in ratesDisplayed">{{rate.name}}{{$last ? '' : ', '}}</span></li>
		<li ng-show="currentFilterData.name_cards.length > 0"><h6>Name Card</h6><span ng-repeat="card in currentFilterData.name_cards">{{card.account_name}}{{$last ? '' : ', '}}</span></li>
	</ul>
	<ul class="display-mode" >
		<li ng-click="showCalendarView()" class="active" ng-class="{'active' : displayMode == 'CALENDAR'}">
			<span class="icons icon-navbar only-icon icon-grid active" ng-class="{'active' : displayMode == 'CALENDAR'}">Show grid</span>
		</li>
		<li ng-click="showGraphView()" ng-class="{'active' : displayMode == 'GRAPH'}">
			<span class="icons icon-navbar only-icon icon-graph" ng-class="{'active' : displayMode == 'GRAPH'}">Show graph</span>
		</li>
	</ul>
</div>