<div id="modal" class="modal-show right-arrow">
    <div class="rate-dialog-tag">
        <div ng-controller="UpdatePriceAndRestrictionsCtrl" 
             style="background: #DEDEDE;">
            <div ng-cloak class="updatePriceAndRestrictionsContainer">
                <div class="header">
                    <div class="title-wrap">
                        <h2 ng-show="!popupData.all_data_selected" ng-class="{'title-expanded': showExpandedView || (popupData.fromRoomTypeView && data.hasAmountConfigured)}">{{data.name}}</h2>
                        <em ng-show="!popupData.all_data_selected">{{popupData.selectedDate| date:'EEEE, MMMM dd'}}</em>
                        <!-- To show dates as bold for all room types and all rate types -->
                        <h2 ng-show="(popupData.fromRoomTypeView && popupData.all_data_selected) || (!popupData.fromRoomTypeView && popupData.all_data_selected)" class="h1">
                        	{{popupData.selectedDate| date:'EEEE, MMMM dd'}}
                    	</h2>
                        <em ng-show="popupData.fromRoomTypeView && popupData.all_data_selected">All room types</em>
                        <em ng-show="!popupData.fromRoomTypeView && popupData.all_data_selected">All rates</em>
                    </div>
                    <div class="toggle-expand" ng-click="expandButtonClicked()" ng-class="{ expand:!showExpandedView, collapse: showExpandedView}">&nbsp;</div>
                    <div style="clear: both;"></div>
                </div>                
                <div>
                    <table>
                        <tr>
                            <td>
                                <div class="ng-scope restbg" ng-include="'/assets/partials/rateManager/restrictionsList.html'" >
                                </div>
                            </td>
                            <td ng-if="popupData.all_data_selected" ng-show="data.showEditView">
                                <div ng-include="'/assets/partials/rateManager/mixedRestrictions.html'"></div>
                            </td>
                            <td ng-show="data.showEditView && !popupData.all_data_selected">
                                <div ng-include="'/assets/partials/rateManager/enterRestriction.html'"></div>
                            </td>
                            <td ng-show="popupData.fromRoomTypeView && !data.showEditView && data.hasAmountConfigured">
                                <div ng-include="'/assets/partials/rateManager/restrictionRoomRates.html'" ></div >
                            </td>
                            <td ng-show="showExpandedView">
                                <div ng-include="'/assets/partials/rateManager/restrictionWeekDays.html'"></div >
                            </td>
                            <td ng-show="showExpandedView && !popupData.fromRoomTypeView && !popupData.all_data_selected">
                                <div ng-include="'/assets/partials/rateManager/priceInfo.html'"></div >
                            </td>
                        
                            <td>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="footer">
                    <div class="actions float">
                        <button class="button blank edit-data-inline" id="cancel" ng-click="hideUpdatePriceAndRestrictionsDialog()" type="button">
                            Cancel
                        </button>
                        <button class="button green edit-data-inline" id="save" type="button" ng-click="saveRestriction()" ng-class="{'grey' : data.showEditView}" ng-disabled="data.showEditView">
                            Set
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>