<section class="content current" ng-click='clearErrorMessage()'>
	
    	<header class="content-title">
            <h2 translate>CONTENT_MANAGEMENT_TITLE</h2>
            <a class="action add" ui-sref = "admin.contentManagementSectionDetails({id:'new'})" translate>SECTION_LABEL</a>
            <a class="action add" ui-sref = "admin.contentManagementCategoryDetails({id:'new'})" translate>CATEGORY_LABEL</a>
            <a class="action add" ui-sref = "admin.contentManagementItemDetails({id:'new'})" translate>ITEM_LABEL</a>
            <div class="filters">
                <ul id="view-options" class="cms-view">
                    <li ng-class= "{'active':isGridView}" ng-click="isGridView = !isGridView" ><span translate>VIEW_GRID_LABEL</span></li>
                    <li ng-class= "{'active':!isGridView}" ng-click="isGridView = !isGridView" ><span translate>VIEW_TREE_LABEL</span></li>
                </ul>
            </div>
        </header>
        
         <section class="content-scroll" ng-show="isGridView"  ng-include="'/assets/partials/contentManagement/adContentManagementGridView.html'"></section>
         
         <section class="content-scroll" ng-show="!isGridView" ng-include="'/assets/partials/contentManagement/adContentManagementTreeView.html'"></section>

</section>