<section class="content current" ng-click="clearErrorMessage()">
    <header class="content-title">
        <h2 ng-show="!isAddMode" ><span translate>EDIT_ITEM_LABEL</span> <span>{{data.name}}</span></h2>
        <h2 ng-show="isAddMode" translate>ADD_ITEM_LABEL</h2>
        <a ng-click="goBack()" class="action back" translate>BACK</a>
        <a class="action remove" ng-hide="!data.id " ng-click="deleteItem(data.id)" translate>DELETE_ITEM_LABEL</a>
    </header>

    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <form method="post" action="" id="{add/edit}" name="{add/edit}-item" class="form float">
            <fieldset class="holder left">
                <div class="form-title">
                    <h3><span translate>ITEM_LABEL</span> <span translate>DETAILS_LABEL</span></h3>
                    <em class="status"><span translate>MANDATORY_FIELDS_MESSAGE1</span> <strong>*</strong> <span translate>MANDATORY_FIELDS_MESSAGE2</span></em>
                </div>
                <div class="entry full-width">
                    <label for="item-availability"><span translate>AVAILABILITY_STATUS_LABEL</span> <strong>*</strong></label>
                    <div class="switch-button" ng-class="{'on': data.status}">
                        <input name="item-availability" ng-model="data.status" id="item-availability" value="1" type="checkbox"  />
                        <span class="switch-icon"></span>
                    </div>
                </div>
                <div class="entry">
                    <label for="item-name"><span translate>ITEM_NAME_LABEL</span> <strong>*</strong></label>
                    <input type="text" name="item-name" ng-model="data.name" id="item-name" placeholder="Enter item name" value="{Item Name}" required />
                </div>
                <div class="entry full-width">
                    <label for="item-type"><span translate>ITEM_TYPE_LABEL</span> <strong>*</strong></label>
                    <div class="boxes">
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio " ng-class = "{'checked': data.page_template=='POI'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="poi" value="POI" />
                            <span translate>POI_LABEL</span> 
                        </label>
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='GENERAL'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="general" value="GENERAL" />
                            <span translate>GENERAL_LABEL</span> 
                        </label>
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='LINK'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="link" value="LINK" />
                           <span translate>LINK_LABEL</span> 
                        </label>
                    </div>
                </div>
                <div class="entry full-width">
                    <label for="item-image"><span translate>ITEM_IMAGE_LABEL</span><span translate>IMAGE_SPEC</span></label>
                    <div class="file-upload with-preview large-preview">
                        <span class="input">{{fileName}}</span>
                        <input type="file" name="item-image" ng-model="data.image" app-filereader id="item-image" />
                        <button type="button" ng-if="data.image != null && data.image != ''" class="button brand-colors" translate>REPLACE_IMAGE_LABEL</button>
                        <button type="button" ng-if="data.image == null || data.image == ''" class="button brand-colors" translate>ADD_IMAGE_LABEL</button>
                    </div>
                    <span class="file-preview large-preview">
                        <img src="{{data.image}}" alt="" />
                    </span>
                </div>
                <div class="entry full-width">
                    <label for="item-description" translate>DESCRIPTION_LABEL</label>
                    <textarea name="item-description" ng-model="data.description" id="item-description" rows="4" placeholder="Item description ..."></textarea>
                </div>
                <div class="entry">
                    <label for="item-phone" translate>PHONE_LABEL</label>
                    <input type="text" name="item-phone" ng-model="data.phone" id="item-phone" placeholder="Enter Phone number" value="" />
                </div>
                <div class="entry full-width">
                    <label for="item-address"><span translate>ADDRESS_LABEL</span> <strong ng-show="data.page_template=='POI'">*</strong></label>
                    <input type="text" name="aitem-ddress" ng-model="data.address" id="item-address" placeholder="Enter Address" value=""  />
                </div>
                
                <div class="entry full-width">
                    <label for="item-url"><span translate>URL_LABEL </span><strong ng-show="data.page_template=='LINK'">*</strong></label>
                    <input type="text" name="item-url" ng-model="data.website_url" id="item-url" placeholder="Enter URL" value=""  />
                </div>        
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title">
                    <h3><span translate> TO_CATEGORY_LABEL</span></h3>
                </div>
                <div class="entry full-width">
                    <ul class="boxes cms-tree">
                        <li class="category" ng-repeat="category in data.parent_category">
                            <div class="sort">
                                <span class="cms-name">{{category.name}}</span>
                                <div class="cms-delete">
                                    <a class="icons icon-delete" ng-click="deleteParentCategory($index)">Delete</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="add">
                            <a  class="add-new-button open-modal" ng-click = "openAddCategoryModal()" translate>ADD_CATEGORY_LABEL</a>
                        </li>
                    </ul>
                </div>        
            </fieldset>
            <div class="actions float">
                <button type="button" ng-click="goBack()" class="button blank" translate>CANCEL</button>
                <button type="button" ng-click="saveItem()" class="button green" translate>SAVE_CHANGES</button>  
            </div>
        </form>
    </section>
</section>