<div role="dialog" id="modal" class="modal-show">
    <form method="post" action="add-ar-amount" id="add-ar-amount" name="add-ar-amount" class="modal-content form transaction-amount">

        <button ng-click="closeDialog()" class="modal-close" id="modal-close" type="button">
            <span class="icons icon-close invert"></span>
        </button>

        <div ng-include="'/assets/partials/common/notification_message.html'"></div>

        <span class="message h2" translate>ADD_AMOUNT</span>
        <span class="text">
            <span translate>AVAILABLE_AMOUNT</span>: 
            <strong class="green" ng-hide="addedCreditAmount>0">{{currencySymbol}}{{existingCreditAmount}}</strong>
            <!-- When some value is entered in the input field below, update this content as user types in numbers:-->
            <strong class="red" ng-show="addedCreditAmount>0">{{currencySymbol}}{{existingCreditAmount}}</strong>
            <strong class="green" ng-show="addedCreditAmount>0">{{currencySymbol}}{{totalCreditAmount}}</strong>
            
        </span>

        <div class="entry full-width">
            <label for="amount"><span translate>AMOUNT</span> (<span>{{currencySymbol}}</span>)</label>
            <div class="select">
                <select ng-change="addCreditAmount()" ng-model="selectedSymbol" name="amount-type" id="amount-type">
                    <option value="+" seleted>+</option>
                    <option value="-">-</option>
                </select>
            </div>
            <input ng-keyup="addCreditAmount()" ng-model="addedCreditAmount" name="amount" id="amount" value="{{addedCreditAmount}}" type="text" />
        </div>  

        <div class="actions">
            <button ng-click="savebuttonClick()" type="button" class="button green" translate>SAVE</button>
            <button ng-click="closeDialog()" type="button" class="button blank" translate>CANCEL</button>
        </div>
    </form>
</div>