<!-- Preloaded nested view -->

<div ng-include="'/assets/partials/common/header.html'"></div>

<div id="company-card-nested-first" class="nested-view view-current" role="main" ng-click="companyCardClicked($event)" outside-click-handler>
    <div class="cards fullscreen" ng-class="{'company-card': account_type == 'COMPANY', 'travel-agent-card': account_type == 'TRAVELAGENT', 'new-card':isAddNewCard}">
        <div class="cards-wrapper">
            <!-- Cards Header -->
            <header class="cards-header">
                <div id="{{dataIdHeader}}" ng-id="{'company-card-header': account_type == 'COMPANY', 'travel-agent-card-header': account_type == 'TRAVELAGENT'}" class="card-header">
                    <!-- When company logo exists -->
                    <input class="hidden" type="file" name="company-logo" id="uplaodCompanyLogo"  ng-model="contactInformation.account_details.company_logo" accept="*" app-filereader />
                    <figure class="guest-image" ng-if="escapeNull(contactInformation.account_details.company_logo)!=''">
                        <img ng-click="clickedLogo()" ng-src="{{contactInformation.account_details.company_logo}}" alt="" />
                    </figure>
                    <!-- When there's no logo use this instead of <figure>  -->
                    <div ng-click="clickedLogo()" class="guest-image icons icon-company" ng-if="escapeNull(contactInformation.account_details.company_logo)=='' && account_type == 'COMPANY'" translate>
                    </div> 
                    <div ng-click="clickedLogo()" class="guest-image icons icon-travel-agent" ng-if="escapeNull(contactInformation.account_details.company_logo)=='' && account_type == 'TRAVELAGENT'" translate>
                    </div>
                    <form method="post" name="change-company-name" id="change-company-name">
                        <div class="holder">
                            <div class="entry">
                                <input name="cc-name-first" id="cc-name-first" placeholder="" value="{{contactInformation.account_details.account_name}}" ng-model="contactInformation.account_details.account_name" type="text" class="masked-input h1" auto-grow-field />

                            </div>
                        </div>
                        <div class="holder data">
                            <input  name="cc-city" id="cc-city" placeholder="" value="{{contactInformation.address_details.city}}" ng-model="contactInformation.address_details.city" type="text" class="masked-input icons icon-gc-location"  data-size="{{contactInformation.address_details.city.length}}" auto-grow-field/>

                            <input  name="cc-state" id="cc-state" placeholder="" value="{{contactInformation.address_details.state}}" ng-model="contactInformation.address_details.state"  type="text" class="masked-input" auto-grow-field/>

                            <input name="cc-phone" id="cc-phone" placeholder="" value="{{contactInformation.address_details.phone}}" ng-model="contactInformation.address_details.phone" type="tel" class="masked-input icons icon-gc-phone" auto-grow-field />

                            <input name="cc-email" id="cc-email" placeholder="" value="{{contactInformation.address_details.email_address}}" ng-model="contactInformation.address_details.email_address" type="email" class="masked-input icons icon-gc-email" auto-grow-field/>
                        </div>
                    </form>
                    
                    <div class="card-actions" ng-show="isAddNewCard">
                        <button class="button green" type="button" ng-click="clikedSaveNewCard()" translate>SAVE_NEW_CARD</button>
                        <button class="button blank" type="button" ng-click="clikedDiscardCard()" translate>DISCARD</button>
                    </div>
                </div>
            </header>

            <!-- Cards Content -->
            <div class="cards-content"  >               
                <div id="company-card-content" class="card-tabs card-content" >
                    <!-- company Card tabs navigation -->
                    <ul ng-id="{'company-card-tabs-nav': account_type == 'COMPANY', 'travel-agent-card-tabs-nav': account_type == 'TRAVELAGENT'}" class="card-tabs-nav float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                        <li ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contact-info'}" ng-click="switchTabTo($event, 'cc-contact-info')">
                            <a translate>CONTACT_INFORMATION</a>
                        </li>

                        <li class="with-filters" ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contracts'}" ng-click="switchTabTo($event, 'cc-contracts')">
                            <a translate>CONTRACTS</a>
                        </li>

                        <li ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-ar-accounts'}" ng-click="switchTabTo($event, 'cc-ar-accounts')" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable">
                            <a translate>AR_ACCOUNT</a>
                        </li>

                        <li ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-ar-transactions','with-filters':isWithFilters }" ng-click="switchTabTo($event, 'cc-ar-transactions')" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable">
                            <a translate>AR_TRANSACTIONS</a>
                        </li>

                        <li class="with-filters" ng-hide="true" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-reservations'}" ng-click="switchTabTo($event, 'cc-reservations')">
                            <a translate>RESERVATIONS</a>
                        </li>
                    </ul>

                    <!-- Company Card Tab 1 Contact Information -->
                    <span ng-include="'/assets/partials/companyCard/rvCompanyCardContactInformation.html'"></span>
                    <!-- Company Card Tab 2 Contract -->
                    <span ng-controller="companyCardContractsCtrl"  ng-include="'/assets/partials/companyCard/rvCompanyCardContract.html'"></span>
                    <!-- Company Card Tab 3 Ar accounts -->
                    <span ng-controller="companyCardArAccountCtrl" ng-include="'/assets/partials/companyCard/rvcompanyCardArAccount.html'" ng-show="contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable"></span>
                    <!-- Company Card Tab 4 AR Transactions -->
                    <span ng-controller="RVCompanyCardArTransactionsCtrl" ng-include="'/assets/partials/companyCard/rvCompanyCardArTransactions.html'" ng-show="(contactInformation.account_details.accounts_receivable_number.length>0 || isArTabAvailable) && currentSelectedTab == 'cc-ar-transactions'"></span>
                    <!-- Company Card Tab 5 Resevations -->
                    <span ng-hide="true" ng-include="'/assets/partials/companyCard/rvCompanyCardReservations.html'"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Second nested view -->
<div id="company-card-nested-second" class="nested-view" role="main"></div>
