<div role="dialog" id="modal" class="modal-show">

<form method="post" id="contracted-nights" name="contracted-nights" class="modal-content form grid">
    <button class="modal-close" id="modal-close" type="button" ng-click="clickedCancel()"><span class="icons icon-close invert"></span></button>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <span class="h2 message" translate>CONTRACTED_NIGHTS</span>
    
    <div class="grid-wrapper">
        <div class="holder left">
            <div class="entry">
                <label for="contracted-all" translate>ALL</label>
                <input ng-model="nightsData.allNights" name="contracted-all" id="contracted-all" value="{{nightsData.allNights}}" type="number"  />
            </div>
            <div class="entry move">
                <span ng-click="updateAllNights()" id="copy-to-all" class="admin-icons icon-mover-right" translate>COPY_VALUES</span>
            </div>
        </div>
        <div class="holder right">
            <div ng-repeat="nights in nightsData.occupancy" class="entry">
                <label for="contracted-jan">{{nights.month}} {{nights.year}}</label>
                <input ng-model="nights.contracted_occupancy" name="contracted-jan" id="contracted-jan" value="{{nights.contracted_occupancy}}" type="number" />
            </div>
        </div>
    </div>
    
    <div class="actions float">
        <button type="button" id="cancel" class="button blank modal-close" ng-click="clickedCancel()" translate>CANCEL</button>
        <button type="button" id="submit" class="button green modal-close" ng-click="saveContractedNights()" translate>SAVE</button>
    </div>
</form>
</div>