<!-- Company Card Tab - AR Transactions -->
<form method="post" action="{action}" id="cc-ar-transactions" name="cc-ar-transactions" class="form card-tab transactions" ng-click="clearErrorMessage()">
    
    <div class="tab-header">

        <div class="search-form has-dates" ng-class="{'open':filterData.filterActive}">
            <div class="entry filter">
                <button ng-click="clickedFilter()" type="button" class="filter button with-icon only-icon" ng-class="{'active':filterData.filterActive}">
                    <span class="icons icon-filter" ng-class="{'active':filterData.filterActive}"></span> 
                </button>
            </div>
            <div class="entry showing">
                <div class="select">
                    <select name="showing" id="showing" ng-model="filterData.showFilterFlag" ng-change="chagedShowFilter()">
                        <option ng-selected="filterData.showFilterFlag=='ALL'" value="ALL" translate>SHOW_ALL_BILLS</option>
                        <option ng-selected="filterData.showFilterFlag=='OPEN'" value="OPEN" translate>SHOW_OPEN_BALANCE</option>
                    </select>
                </div>
            </div> 
            <div class="entry search">
                <button ng-click="$event.preventDefault(); clearSearchField();"  ng-class="{'visible': escapeNull(filterData.textInQueryBox) !='' }" class="clear-query">
                    <span class="icons icon-clear-search" translate>CLEAR_QUERY</span>
                </button>
                <button ng-click="queryEntered();$event.preventDefault();" name="submit" class="icons icon-search" translate>SEARCH</button>
                <input ng-change="queryEntered()" ng-model="filterData.textInQueryBox" name="ar-transaction-query" id="ar--query" class="query" placeholder="{{ 'SEARCH_BY_NAME_ROOM_PLACEHOLDER' | translate }}" type="search" autocomplete="off" />
            </div>
            <div class="entry dates">
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-from" translate>FROM</label>
                    <button  ng-click="$event.preventDefault(); clearFromDateField();" class="clear-query" ng-class="{'visible': escapeNull(filterData.fromDate) !=''}">
                        <span class="icons icon-clear-search" translate>CLEAR_QUERY</span>
                    </button>
                    <input ng-click="clickedFromDate()" name="ar-transaction-date-from" id="ar-transaction-date-from" type="text" class="datepicker" value="{{ filterData.fromDate | date : dateFormat }}" readonly />
                    <button ng-click="clickedFromDate()" type="button" class="ui-datepicker-trigger"></button>
                </div>
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-to" translate>TO</label>
                    <button  ng-click="$event.preventDefault(); clearToDateField();" class="clear-query" ng-class="{'visible': escapeNull(filterData.toDate) !=''}">
                        <span class="icons icon-clear-search" translate>CLEAR_QUERY</span>
                    </button>
                    <input  name="ar-transaction-date-to" id="ar-transaction-date-to" type="text" class="datepicker" value="{{ filterData.toDate | date : dateFormat }}" readonly />
                    <button ng-click="clickedToDate()" type="button" class="ui-datepicker-trigger"></button>
                </div>
            </div>
        </div>
        
        <ul class="totals">
            <li>
                <div class="data">
                    <span class="label" translate>OPEN_GUEST_BILLS</span>
                    <span class="value">{{arTransactionDetails.open_guest_bills}}</span>
                </div>
                <button ng-show="arTransactionDetails.open_guest_bills > 0" ng-click="clickedPayAll()" type="button" class="button green" translate>PAY_ALL</button>
            </li>
            <li>
                <div class="data">
                    <span class="label" translate>AMOUNT_RECIEVED</span>
                    <span class="value" ng-class="{'red': arTransactionDetails.available_credit == '0.00','green': arTransactionDetails.available_credit != '0.00'}">{{currencySymbol}}{{arTransactionDetails.available_credit}}</span>
                    
                </div>
                <button ng-click="addCreditAmount()" type="button" class="button purple with-icon only-icon">
                    <span class="icons icon-pencil"></span>
                </button>
            </li>
            <li>
                <div class="data">
                    <span class="label" translate>AMOUNT_OWED</span>
                    <span class="value" ng-class="{'green': arTransactionDetails.amount_owing == '0.00','red': arTransactionDetails.amount_owing != '0.00'}">{{currencySymbol}}{{arTransactionDetails.amount_owing}}</span>
                    
                </div>
            </li>
            <li>
                <button type="button" class="button white purple-text" ng-hide="true" translate>PAST_PAYMENTS</button>
                <button ng-show="arTransactionDetails.ar_transactions.length > 0" ng-click="clickedPrintButton()" type="button" class="button blue with-icon only-icon">
                    <span class="icons icon-print"></span>
                </button>
            </li>
        </ul>

    </div>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <!-- If there are open bills: -->
    <div class="tab-details scrollable" ng-class="{ 'with-pagination': ( arTransactionDetails.total_count > filterData.perPage && arTransactionDetails.ar_transactions.length > 0 )}" ng-show="arTransactionDetails.ar_transactions.length > 0" ng-iscroll="ar-transaction-list">
        <div class="wrapper">
            
            <ul class="search-results">
                <li class="reservation transaction" ng-click="goToReservationDetails($index, $event)" ng-repeat="transaction in arTransactionDetails.ar_transactions">
                    
                    <div class="faux-anchor" class="guest-{reservation-status}"> 
                        <figure class="guest-image">
                            <img src="{{transaction.guest_image}}" alt="" />
                            <span class="vip" ng-if="transaction.guest_is_vip">VIP</span>
                        </figure>
                        <div class="data">
                            <h2><span>{{transaction.guest_first_name}}</span> <span>{{transaction.guest_last_name}}</span></h2>
                            <span class="confirmation">{{transaction.reservation_confirm_no}}</span>
                            <div class="arrival">
                                <span class="guest-status small-icon check-in">CHECK-IN</span>
                                <time>
                                    <span class="date">{{transaction.reservation_arrival_date| date : dateFormat}}</span>
                                    <span ng-if="transaction.is_hourly" class="time">{{getTimeConverted(transaction.reservation_arrival_time)}}</span>
                                </time>
                            </div>
                            <div class="departure">
                                <span class="guest-status small-icon check-out">CHECK_OUT</span>
                                <time>
                                    <span class="date">{{transaction.reservation_dep_date| date : dateFormat}}</span>
                                    <span ng-if="transaction.is_hourly" class="time">{{getTimeConverted(transaction.reservation_dep_time)}}</span>
                                </time>                                
                            </div>
                        </div>
                        <div class="amount">{{currencySymbol}}{{transaction.amount}}</div>
                        
                        <div class="switch-button" ng-class="{'on': transaction.paid}">
                            <input value="" type="checkbox" />
                            <label class="data-off">
                                <span class="value" translate>OPEN</span>
                                <span class="switch-icon" translate>PAID</span>
                            </label>
                            <label class="data-on">
                                <span class="switch-icon" translate>OPEN</span>
                                <span class="value" translate>PAID</span>
                            </label>
                        </div>
                    </div>
                </li>
            </ul>

         </div>
    </div>

    <!-- When no open bills / all bills paid -->
    <div class="tab-details no-content" ng-show="arTransactionDetails.ar_transactions.length == 0 && arDetailsFetched">
        <div class="info">
            <span class="icon-no-content icon-ok"></span>
            <strong class="h1" translate>NO_TRANSACTIONS</strong>
            <span class="h2" translate>OUTSTANDING_GUEST_BILLS_PAID</span>
        </div>
    </div>
    <div class="search-pagination" ng-show="arTransactionDetails.total_count > filterData.perPage && arTransactionDetails.ar_transactions.length > 0">
        <button type="button" class="button dark-grey next" ng-click="loadNextSet()" ng-disabled="isNextButtonDisabled()" translate>NEXT</button>
        <button type="button" class="button dark-grey prev" ng-click="loadPrevSet()" ng-disabled="isPrevButtonDisabled()" translate>PREVIOUS</button>
        <p><span translate>SHOWING</span> <strong>{{filterData.start}}-{{filterData.end}}</strong> <span translate>OF</span> <strong id="total-count">{{arTransactionDetails.total_count}}</strong> <span translate>ITEMS</span></p>
    </div> 
</form>
