<div role="dialog" id="modal" class="modal-show">
	<form class="modal-content new-card" name="message-reminder" id="message-reminder">
	    <span class="h2 message" translate>CREATE_NEW</span>
		<div class="actions">
			<button class="button blue" type="button" ui-sref="rover.companycarddetails({id:'add', type: 'COMPANY', query:textInQueryBox})" ng-click="closeDialog()" translate>COMPANY_CARD</button> 
	    	<button class="button purple" type="button" ui-sref="rover.companycarddetails({id:'add', type: 'TRAVELAGENT', query:textInQueryBox})" ng-click="closeDialog()" translate>TA_CARD</button> 
	    	<button class="button blank modal-close" type="button" ng-click="closeDialog()" translate>CANCEL</button>
		</div>
	</form>
</div>