#reports_main{"data-view" => "Reports"}
  / Navbar
  %header.nav-bar.float{role: "banner"}
    / Drawer toggle
    %a.nav-toggle{href: "#main-nav"} Menu
    / logo
    .logo
      %img{:alt => "", :src => "#{get_current_hotel_logo(current_hotel)}"}
    / Title
    %h1.h2
      {{ report_app_title }}
      %span
        %strong
          =current_user.detail.first_name
          =current_user.detail.last_name
        &#124;
        %em.date
          =current_hotel.active_business_date.strftime("%A, %d %B %Y")

    -if @is_late_checkout_on
      / Late checkout
      %a#late-checkout-alert.icons.icon-alert.late-check-out{"data-page" => "search", "data-transition" => "main-page", :href=>search_view_url+"?type=LATE_CHECKOUT"}
        =@late_checkout_count

  %div#reprots-wrapper

    %input{"ng-model" => "businessDate", "type" => "hidden", "ng-init" => "businessDate='" + current_hotel.active_business_date.strftime('%Y-%m-%d') + "'"}

    %section#reports.content.scrollable{role: "main"}
      .wrapper{"ng-controller" => "reporstList"}
        %ul.reports-list{"ng-if" => "showReports"}
          %li{"ng-repeat" => "item in reportList"}
            %a.toggle-filter.has-arrow{"ng-click" => "toggleFilter()", "ng-class" => "{'active': item.show_filter}"}
              %span.icon-report{"ng-class" => "item.reportIconCls"}
              %div.data
                %h2
                  {{ item.title }}
                  %span {{ item.sub_title }}
                %em {{ item.description }}

            %div.configure-report{"ng-show" => "item.show_filter"}
              %div.date-range{"ng-if" => "item.hasDateFilter"}
                %label Date range
                %div.has-datepicker
                  %input.range-datepicker.hasDatepicker{"ng-click" => "checkUntil()", "ng-model" => "item.fromDate", "data-max-date" => "{{ item.untilDate }}", "placeholder" => "From", "readonly" => "", "bs-datepicker" => ""}
                %span.span-to To
                %div.has-datepicker
                  %input.range-datepicker.hasDatepicker{"ng-model" => "item.untilDate", "data-min-date" => "{{ item.fromDate }}", "placeholder" => "Until", "readonly" => "", "bs-datepicker" => ""}

              %div.filter{"ng-if" => "item.hasCicoFilter"}
                %label Transaction Type
                %div.select
                  %select{"ng-model" => "item.chosenCico", "ng-options" => "cico.value as cico.label for cico in item.cicoOptions"}
                    %option{"value" => ""} Transaction Type

              %div.filter{"ng-if" => "Hide_For_This_Sprint_Entirely"}
                %label User
                %div.select
                  %select{"ng-model" => "item.chosenUsers", "ng-options" => "user.id as user.full_name for user in userList"}
                    %option{"value" => ""} User

              %div.sort{"ng-if" => "item.sortByOptions"}
                %label Sort by
                %div.select
                  %select{"ng-model" => "item.chosenSortBy", "ng-options" => "sortBy.value as sortBy.description for sortBy in item.sortByOptions"}
                    %option{"value" => ""} Sort By

              %a.button.green{"ng-click" => "genReport()"} Show Report



    %section#reports-details.content.scrollable{role: "main", "ng-controller" => "reportDetails", "ng-show" => "showReportDetails"}

      %div#report-update
        %div.date-range{"ng-if" => "chosenReport.hasDateFilter"}
          %label Date range
          %div.has-datepicker
            %input#chosenReportFrom.range-datepicker.hasDatepicker{"ng-click" => "checkUntil()", "ng-model" => "chosenReport.fromDate", "data-max-date" => "{{ chosenReport.untilDate || chosenReport.allowedUntilDate }}", "placeholder" => "From", "readonly" => "", "bs-datepicker" => ""}
          %span.span-to To
          %div.has-datepicker
            %input#chosenReportTo.range-datepicker.hasDatepicker{"ng-model" => "chosenReport.untilDate", "data-min-date" => "{{ chosenReport.fromDate }}", "placeholder" => "Until", "readonly" => "", "bs-datepicker" => ""}

        %div.filter{"ng-if" => "chosenReport.hasCicoFilter"}
          %label Transaction Type
          %div.select
            %select{"ng-model" => "chosenReport.chosenCico", "ng-options" => "cico.value as cico.label for cico in chosenReport.cicoOptions"}
              %option{"value" => ""} Transaction Type

        %div.filter{"ng-if" => "Hide_For_This_Sprint_Entirely"}
          %label User
          %div.select
            %select{"ng-model" => "chosenReport.chosenUsers", "ng-options" => "user.id as user.full_name for user in userList"}
              %option{"value" => ""} User

        %div.sort{"ng-if" => "chosenReport.sortByOptions"}
          %label Sort by
          %div.select
            %select{"ng-model" => "chosenReport.chosenSortBy", "ng-options" => "sortBy.value as sortBy.description for sortBy in chosenReport.sortByOptions"}
              %option{"value" => ""} Sort By

        %a.button.green{"ng-click" => "fetchUpdatedReport()"}
          Update Report

      %section#report-details.content.stay-card-inner
        %div.report-header
          %div.actions.back
            %a.back-button{"ng-click" => "returnBack()"}
              Back
          %div.actions
            %div.select{"ng-hide" => "true"}
              %select
                %option{"value" => "pdf"} Save/E-mail as PDF
                %option{"value" => "word"} Save/E-mail as Word
                %option{"value" => "excel"} Save/E-mail as Excel
            %button.button.with-icon.only-icon.blue{"button" => "button", "ng-hide" => "true"}
              %span.icons.icon-email
            %button.button.with-icon.only-icon.blue{"button" => "button", "ng-click" => "fetchFullReport()"}
              %span.icons.icon-print
            %button.button.with-icon.only-icon.purple{"button" => "button", "ng-hide" => "true"}
              %span.icons.icon-save
        %div.report-totals
          %ul.col2.left-align{"ng-if" => "firstHalf"}
            %li{"ng-repeat" => "item in firstHalf"}
              {{ item.label }}
              %span{"ng-class" => "item.class"}
                {{ item.value }}
          %ul.col2.right-align{"ng-if" => "restHalf"}
            %li{"ng-repeat" => "item in restHalf"}
              {{ item.label }}
              %span{"ng-class" => "item.class"}
                {{ item.value }}

        %div#report-content.report-content.scrollable
          %div.wrapper
            %table
              / Reports table header
              %thead{"ng-if" => "results.length"}
                %tr
                  %th{"ng-repeat" => "item in headers track by $index", "colspan" => "{{ $first && 1 || item.span }}", "ng-class" => "{ 'align-right' : $first }"}
                    {{ item.value }}
                %tr.bottom-row{"ng-if" => "subHeaders"}
                  %th{"ng-repeat" => "item in subHeaders track by $index"}
                    {{ item }}
              / Reports table footer
              %tfoot
                %tr.totals{"ng-if" => "resultsTotalRow"}
                  %td
                    Total
                  %td{"ng-repeat" => "item in resultsTotalRow track by $index"}
                    {{ item }}

                %tr
                  %td{"colspan" => "{{ leftColSpan }}"}
                    From
                    %span {{ displayedReport.fromDate }}
                    To
                    %span {{ displayedReport.untilDate }}
                    %br
                    %div{"ng-if" => "chosenReport.chosenCico"}
                      Transaction type
                      %span {{ transcationTypes }}
                    %div{"ng-if" => "chosenReport.chosenUsers"}
                      Users
                      %span {{ userNames }}
                  %td{"colspan" => "{{ rightColSpan }}"}
                    Business date
                    %span
                      =formatted_date(current_hotel.active_business_date)
                    %br
                    User
                    %span
                      =current_user.detail.first_name
                      =current_user.detail.last_name
                    %br
                    %ul.pagination{"ng-if" => "pagination.length"}
                      %li.title
                        Pages:
                      %li{"ng-repeat" => "page in pagination", "ng-class" => "{'active': page.active}", "ng-click" => "fetchNextPage()"}
                        {{ page.no }}
                    %br
                    %br

              / Reports table content
              %tbody
                %tr{"ng-repeat" => "each in results track by $index"}
                  / dont get afraid.. the conditions are to apply bold for cols for different reports
                  / yeah thats hard :(
                  %td{"ng-repeat" => "item in each track by $index", "ng-class" => "{'bold': (($index === 1 || $index === 5) && chosenReport.title === 'Check In / Check Out') || ($index === 7 && chosenReport.title === 'Upsell') || ($index === 3 && chosenReport.title === 'Late Check Out')}"}
                    {{ item }}

= javascript_include_tag (:reports)
