<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
							
				<div class="password-reset-container centeralign">
					<p class="msg-head" ng-show="isTokenExpired">NO LONGER VALID</p><p class="msg-body" ng-show="isTokenExpired">This URL is no longer valid for verifying the email address</p>

                    <p class="msg-head" ng-show="!isTokenExpired">SUCCESS</p>
					<p class="msg-body" ng-show="!isTokenExpired">You verified your email address and completed the Sign Up for Yotel<br/><br/>
					Return to the app and select CONTINUE</p>					
					
                </div>

				
			</div>
		</div>
	</div
></div>