<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">

			    <!--- show posting message   -->
		        <div ng-show="isPosting" class="password-reset-container centeralign" >
			        <p class="msg-head brown-text">Your request is being processed.</p>
			        <p class="msg-body brown-text">This may take a few seconds..... please wait!</p>
		        </div>
							
				<div class="password-reset-container centeralign" ng-hide= "isPosting ">

				    <p class="msg-head" ng-show="isTokenExpired">NO LONGER VALID</p><p class="msg-body" ng-show="isTokenExpired">This URL is no longer valid for resetting the password</p>

					<p class="msg-head" ng-show="!isPasswordReset && !isTokenExpired">RESET PASSWORD</p><p class="msg-body" ng-show="!isPasswordReset && !isTokenExpired">Please choose a new password for Yotel app</p>

                    <p class="msg-head" ng-show="isPasswordReset && !isTokenExpired">SUCCESS</p>
					<p class="msg-body" ng-show="isPasswordReset && !isTokenExpired">You successfully changed your password for Yotel.<br/><br/>
					Return to the app and select Sign In</p>
					
					<div class="msg-body" ng-show="!isPasswordReset && !isTokenExpired">					   
					   <div class= "passwd-reset-labels">
					   	    <p class="passwd-reset-left-item">
		                       Username <strong class="colon"> :</strong>  
	                       </p>
	                       
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item colon">:</strong> 
                           <p class="passwd-reset-right-item">
		                       {{user_name}}
	                       </p>
	                    </div>

	                    <div class= "passwd-reset-labels">
					   	    <p class="passwd-reset-left-item">
		                       New Password<strong > *</strong><strong class="colon"> :</strong> 
	                       </p>	                        
	                       <!-- <strong class="passwd-reset-left-item colon">:</strong> --> 
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item colon">:</strong> 
                           <input class="passwd-reset-right-item text-box" type="password" value = "{{data.newPassword}}" ng-model = "data.password" placeholder="new password" id="new_psswd" name="new_psswd">
	                    </div>

	                    <div class= "passwd-reset-labels">
					   	    <p class="passwd-reset-left-item">
		                       Confirm New Password<strong > *</strong><strong class="colon"> :</strong> 
	                       </p>	                       
	                       <!-- <strong class="passwd-reset-left-item colon">:</strong> --> 
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item colon">:</strong> 
                           <input class="passwd-reset-right-item text-box" type="password" value = "{{data.confirmPassword}}" ng-model = "data.confirm_password" placeholder="confirm new password" id="confirm_new_psswd" name="confirm_new_psswd">
	                    </div>		                   
				    </div>
				    <button class="passwd-reset-button continue-button" ng-show="!isPasswordReset && !isTokenExpired">
							<span class="continue-text" ng-click = "resetPasswordClicked()">Reset My Password</span>
					</button>
                </div>
				
			</div>
		</div>
	</div
></div>