<div role="dialog" id="modal" class="modal-show">

	<form class='modal-content form new-content' id='smartband'>
		<div class='header'>
			<span class='heading' translate> SMARTBANDS </span>
			<a class='button green' ng-click="addNewSmartband()" ng-show="showSmartBandListView" id='add-new-button' translate>ADD_NEW_SMART</a>
			<a class='button white' id='see-all-band-button' ng-show="showAddNewSmartBandScreen" ng-click="seeAllBands()" translate>SEE_ALL_BANDS</a>
		</div>
		<div ng-include="'/assets/partials/smartbands/rvSmartbandList.html'" ng-show="showSmartBandListView"></div>
		<div ng-include="'/assets/partials/smartbands/rvAddNewSmartBand.html'" ng-show="showAddNewSmartBandScreen"></div>
		<div ng-include="'/assets/partials/smartbands/rvModifyAddCreditSmartband.html'" ng-if="showBandEditScreen"></div>
		<div ng-include="'/assets/partials/smartbands/rvWriteToSmartBand.html'" ng-show="showWriteToBand"></div>
		<div class="footer" ng-show="showSmartBandListView">
			<a id="close-popup" ng-click="closeDialog()" translate>CLOSE</a>
		</div>

	</form>
	
</div>
