<div id='write-to-band'>
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div class='heading' translate>
		HOLD_BAND_TO_ENCODE_UNTIL_READY
	</div>
	<div class='smartband-large-writing-icon'>
		<img src='/assets/smartband-hold-writing.png'>
		<div class='success' ng-show="showSuccess">
			<img src='/assets/smartband-success.png'>
		</div>
	</div>
	
	<a class='not-ready-status' ng-show="!showSuccess" translate>NOT_READY</a>
	<a class='cancel' ng-click="seeAllBands()" ng-show="!showSuccess" translate>CANCEL</a>
	
	<div id='button-area' ng-show="showSuccess">
		<a class='button' id='done-button' ng-click="seeAllBands()" translate>DONE</a>
		<a class='green button'  id='next-band-button' ng-click="addNewSmartband()" translate>NEXT_BAND</a>
	</div>
</div>