<header role="banner" id="global-header" class="float">
	<!-- Logo -->
	<img src="/assets/logo.png" class="logo" alt="">

	<form role="search" name="search-form" method="get" id="search-form" class="search-form float hidden" action="index.html">
		<div class="entry">
			<a id="clear-query" href="#" class="icons icon-clear-search">Clear query</a>
			<button type="submit" name="submit" class="icons icon-search">Search</button>
			<input type="search" placeholder="Search" name="query" id="query" autocomplete="off">
		</div>
	</form>
</header>