<!-- NEW CODE -->
<nav id="main-menu" role="navigation" ng-animate="animate" ng-class="{'menu-open': menuOpen, 'menu-closing' : !menuOpen}">
	<a class="nav-toggle" ng-class="{'active': menuOpen}" ng-click="$emit('navToggled')" >Menu</a>
	
	<!--CICO-10216 Seems un necessare check -->
	<!-- <div id="nav" ng-show="isHotelAdmin || isHotelStaff"> -->
	<div id="nav">
		<h5 ng-show="isHotelAdmin || isHotelStaff">Menu</h5>
		
		<ul id="large-menu" class="main">
			<li ng-repeat="menuItem in menu | filter:{hidden:'!'+true}" ng-hide="(isHotelAdmin || isHotelStaff) && menuItem.standAlone && !isStandAlone" ng-click="$emit('updateSubMenu',[$index,menuItem])" ng-show="isHotelAdmin || isHotelStaff"> 			
				<a href="{{menuItem.action}}" class="icon-menu {{menuItem.iconClass}}" ng-class="{'open':menuOpen && showSubMenu && menuItem.submenu.length >= 1 && activeSubMenu == menuItem.submenu}" translate="{{menuItem.title}}"></a>
			</li>
			<li id="settings" ng-show="isHotelAdmin || isHotelStaff">
				<a ng-click="settingsClicked()" class="icon-menu icon-settings active">Settings</a>
			</li> 
			<li id="sign-out">
				<a href="/logout" ng-click="toggleDrawerMenu()" class="icon-menu icon-sign-out">Sign Out</a>
			</li>
		</ul>

		<ul id="mobile-menu" class="main">
			<li ng-repeat="mobileMenuItem in mobileMenu" ng-click="$emit('updateSubMenu',[$index,menuItem])" ng-show="isHotelAdmin || isHotelStaff">
				<a href="{{mobileMenuItem.action}}" class="icon-menu {{mobileMenuItem.iconClass}}" ng-class="{'open':menuOpen && showSubMenu && mobileMenuItem.submenu.length >= 1 && activeSubMenu == mobileMenuItem.submenu}" translate="{{mobileMenuItem.title}}"></a>
			</li>
			<li id="sign-out">
				<a href="/logout" ng-click="toggleDrawerMenu()" class="icon-menu icon-sign-out">Sign Out</a>
			</li>
		</ul>
	</div>

	<ul id="submenu" class="submenu" ng-class="{'active':menuOpen && showSubMenu && activeSubMenu.length > 0}">
		<li ng-repeat="menuItem in activeSubMenu | filter:{hidden:'!'+true}" ng-hide="menuItem.standAlone && !isStandAlone" ng-click="$emit('updateSubMenu',[$index,menuItem])">
			<a href="{{menuItem.action}}" ng-click="$emit('navToggled')" translate="{{menuItem.title}}"></a>
		</li>
	</ul>
</nav>


<!-- OLD CODE -->
<!-- <nav id="main-menu" role="navigation" ng-animate="animate" ng-class="{'menu-open': menuOpen, 'menu-closing' : !menuOpen}">
	<a id="{{menuImage}}"class="nav-toggle updated" ng-click="$emit('navToggled')"  ng-class="{'active': menuOpen}">Menu
		<span  ng-class="{'active': menuOpen}"></span>
	</a>

	<ul ng-show="isHotelAdmin" for-hotel-admin>
		<li class="menu-title">
			MENU
		</li>
		<li ng-repeat="menuItem in menu | filter:{hidden:'!'+true}" ng-click="$emit('updateSubMenu',[$index,menuItem])" ng-class="{'active':selectedMenuIndex.length > 0 && (selectedMenuIndex == menuItem.menuIndex || (menuItem.submenu | filter:{menuIndex:selectedMenuIndex}).length > 0), 'last-child' : $last}" class="rover-icon-menu admin-bar {{menuItem.iconClass}}" ng-hide="menuItem.standAlone && !isStandAlone" > 			
			<a href="{{menuItem.action}}" translate="{{menuItem.title}}">
			</a>
			<div class="pointer" ng-show="menuOpen && showSubMenu && menuItem.submenu.length >= 1 && activeSubMenu == menuItem.submenu">
			</div>
		</li>
	</ul>

	<ul class="float-bottom" ng-show ="isHotelAdmin">
		<li class="active">
			<label class="icon-menu icon-settings active"></label>
			<a ng-click="settingsClicked()">
				Settings
			</a>
		</li> 

		<li >
			<a ng-click="$emit('navToggled')" href="/logout">
				<label class="icon-menu icon-sign-out"></label>
			</a>
				<a ng-click="toggleDrawerMenu()" href="/logout">
					Sign Out
				</a>
		</li>
	</ul>

	<ul ng-hide="isHotelAdmin" for-snt-admin>
		<li id="sign-out">
			<a ng-click="$emit('navToggled')" href= "/logout">
				<label class="icon-menu icon-sign-out"></label>
			</a>
			<a ng-click="toggleDrawerMenu()" href="/logout">
				Sign Out
			</a>
		</li>
	</ul>

	<div id="submenu" ng-show="menuOpen && 	showSubMenu && activeSubMenu.length > 0">
		<ul>
			<li class="admin" ng-repeat="menuItem in activeSubMenu" ng-hide="menuItem.standAlone && !isStandAlone" ng-click="$emit('updateSubMenu',[$index,menuItem])">
				<a href="{{menuItem.action}}" ng-click="$emit('navToggled')" translate="{{menuItem.title}}">
				</a>
			</li>
		</ul>
	</div>

	<ul id="submenu" class="submenu" ng-class="{'active':menuOpen && showSubMenu && activeSubMenu.length > 0}">
		<li ng-repeat="menuItem in activeSubMenu" ng-hide="menuItem.standAlone && !isStandAlone" ng-click="$emit('updateSubMenu',[$index,menuItem])">
			<a href="{{menuItem.action}}" ng-click="$emit('navToggled')" translate="{{menuItem.title}}"></a>
		</li>
	</ul>
</nav> -->