<section id="replacing-div-second" class="content current" ng-hide="isLoading" ng-click="clearErrorMessage()"><div data-view="ZestCheckinConfiguration" >
	
	<header class="content-title float">
		<h2 translate>RESERVATION_SETTINGS</h2>
		<a ng-click="goBackToPreviousState()" data-type="load-details" class="action back" translate>BACK</a>
	</header>
	<section class="content-scroll">
		<div ng-include="'/assets/partials/common/notification_message.html'"  ></div>

		<form style="overflow-y:auto;" class="form float" >
			<fieldset class="holder full-width">

				<fieldset class="holder left">
					<div style="height:20px;"></div>
					<!-- <ad-checkbox is-checked="reservationSettingsData.recommended_rate_display" label="{{'USE_RECOMMENDED_RATE_DISPLAY' | translate}}" div-class="full-width"></ad-checkbox> -->
					<ad-toggle-button label="{{'USE_RECOMMENDED_RATE_DISPLAY' | translate}}" is-checked="reservationSettingsData.recommended_rate_display" ></ad-toggle-button>



					<div class="entry">
						<label translate>DEFAULT_RATE_DISPLAY</label>
						<div class="select">
							<select class="placeholder" ng-model="reservationSettingsData.default_rate_display_name" ng-options="rate_type.name as rate_type.name for rate_type in defaultRateDisplays">
							</select>
						</div>
					</div>
				</fieldset>

				<!-- max guest counts starts here -->

				<fieldset class="holder right">
					<div class="entry full-width"> 
						<div class=" col1-3 actions_margin_top">           
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_adults" styleclass = "col1-3"
							label = "{{'MAX_ADULTS' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
						<div class=" actions_margin_top" >
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_children" styleclass = "col1-3"
							label = "{{'MAX_CHILDREN' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
						<div class="col1-3">
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_infants" styleclass = "col1-3"
							label = "{{'MAX_INFANTS' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
					</div>    
				</fieldset>
				<!-- max guest counts ends here -->

				<fieldset class="holder left">
					<div style="height:20px;"></div>
					<ad-toggle-button label="Hourly Rates" is-checked="reservationSettingsData.is_hourly_rate_on" ></ad-toggle-button>
					<ad-toggle-button label="{{'ADDONS_FOR_RESERVATIONS' | translate}}" is-checked="reservationSettingsData.is_addon_on" ></ad-toggle-button>
				</fieldset>
				<fieldset class="holder left">
					<div style="height:20px;"></div>
					<ad-checkbox is-checked="reservationSettingsData.disable_cc_swipe" label="{{ 'DISABLE_CC_SWIPE_AT_CHECK_IN' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_terms_conditions_checkin" label="{{ 'DISABLE_TERMS_AND_CONDITIONS_AT_CHECK_IN' | translate}}" div-class="full-width"  ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_email_phone_dialog" label="{{ 'DISABLE_EMAIL_PHONE_DIALOGUE' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_early_departure_penalty" label="{{ 'DISABLE_EARLY_DEPARTURE_PENALTY' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_reservation_posting_control" label="{{ 'DISABLE_RESERVATION_POSTING_CONTROL' | translate}}" div-class="full-width" ></ad-checkbox>
				</fieldset>

			</fieldset>
			<div class="actions float">
				<button type="button" ng-click="goBackToPreviousState()" class="button blank add-data-inline" translate>CANCEL</button>
				<button type="button" ng-click="saveChanges()" class="button green" translate>SAVE_CHANGES</button>
			</div>
		</form>
	</section>
</div>
</section>