<div class="jumbotron">
		<!-- contentarea starts here-->
	<div class="container" ng-hide="isLoading || netWorkError">
	
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row checkin-wrapper-top">
				<div class="checkout-status centeralign">
					<p class="msg-head blue-text preckin-status-header">Sorry</p>
					<p class="msg-body">This feature is unavailable for this hotel</p>
				</div>
			</div>
		</div>
	</div
></div>