<!-- contentarea starts here-->
<div class="container-fluid">
	<div class="row headerrow">
		<logo-image></logo-image>
	</div>
</div>
<div class="jumbotron">
	<div ng-show="isLoading && !netWorkError" class="checkout-status centeralign checkout-now-status" >
			<p class="msg-head">Your request is being processed.</p>
			<p class="msg-body">This may take a few seconds..... please wait!</p>
		</div>

	<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
		<p class="msg-head">Our apologies, something went wrong, please complete your pre check-in at our front desk.</p></p>
		<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
	</div>
		<!-- contentarea starts here-->
	<div class="container" ng-hide="isLoading || netWorkError">
	
		<div class="container-fluid">
			<div class="row checkin-wrapper-top">
				<div class="checkout-status centeralign checkout-now-status pre-checkin-complete">
					<p class="msg-head blue-text preckin-status-header">Pre Check-in Completed</p>
					<p class="msg-body">Thank you for pre checking-in online! You will recieve a text message as soon as your room is ready. You can pick up your room key from our online check-in area or at any front desk</p>
				</div>
			</div>
		</div>
	</div
></div>