<div class="jumbotron">
		<!-- contentarea starts here-->
	<div class="container" ng-hide="isLoading || netWorkError">
	
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row checkin-wrapper-top">
				<div class="checkout-status centeralign checkout-now-status">
					<p class="msg-head blue-text preckin-status-header">Pre Check-in is already Completed</p>
					<p class="msg-body">Thank you for pre checking-in online! You will recieve a text message as soon as your room is ready. You can pick up your room key from our online pre check-in area or at any front desk</p>
				</div>
			</div>
		</div>
	</div
></div>