<div id="wrapper" class="content current" ng-click="clearErrorMessage()" >
	<header class="content-title float">
		<h2>{{title}}</h2>
		<a ng-click ="back()" class="action back">Back</a>
	</header>
	<section class="content-scroll">
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div ng-include="'/assets/partials/common/notification_success_message.html'"></div> 
	<form class="form float" >		
		<fieldset class="holder left">
			<div class="form-title">
				<h3><span>Hotel</span> Name and Location </h3>
				<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
			</div>
		
	    	<ad-textbox value="data.hotel_name" name = "hotel-name" id = "hotel-name" label = "Name" placeholder = "Enter hotel name" required = "yes" ></ad-textbox>
			
			<ad-textbox value="data.hotel_code" name = "hotel-code" id = "hotel-code" label = "Hotel Code" placeholder = "Enter hotel name" required = "yes" readonly="{{readOnly}}"></ad-textbox>

			<ad-textbox label="Street" value="data.street" required="yes" placeholder="Enter hotel street" name="hotel-street" id="hotel-street"></ad-textbox>

			<ad-textbox label="Phone" value="data.phone" required="yes" placeholder="Enter hotel phone number" name="hotel-phone" id="hotel-phone"></ad-textbox>

			<div class="entry">
				<label for="hotel-city"> City <strong>*</strong> </label>
				<input type="text" ng-model="data.city" value="{{data.city}}" required="yes" placeholder="Enter city name" name="hotel-city" id="hotel-city">
			</div>

			<div class="entry">
				<label for="hotel-state"> State </label>
				<input type="text" ng-model="data.state" value="{{data.state}}" required="" placeholder="Enter state name" name="hotel-state" id="hotel-state">
			</div>

			<div class="entry">
				<label for="hotel-zipcode"> ZipCode</label>
				<input type="text" ng-model="data.zipcode" value="{{data.zipcode}}" required="" placeholder="Enter zip code" name="hotel-zipcode" id="hotel-zipcode">
			</div>

			<div class="entry">
				<label for="hotel-country"> Country <strong>*</strong> </label>
				<div class="select">
					<select ng-model="data.country" name="hotel-country" id="hotel-country" class="placeholder">
						<option value=""> Country </option>
						<option ng-model="country.id" ng-repeat="country in data.countries" value="{{country.id}}" ng-selected="country.id==data.country"> {{country.name}} </option>

					</select>
				</div>
			</div>

			<div class="entry">
				<label for="hotel-longitude"> Longitude </label>
				<input type="text" ng-model="data.longitude" value="{{data.longitude}}" required="" readonly="readonly" placeholder="Enter hotel longitude" name="hotel-longitude">
			</div>

			<div class="entry">
				<label for="hotel-latitude"> Latitude </label>
				<input type="text" ng-model="data.latitude" value="{{data.latitude}}" required="" readonly="readonly" placeholder="Enter hotel latitude" name="hotel-latitude" >
			</div>

			<div class="entry full-width registration-for-rover" ng-hide="isAdminSnt">
				<label for="rover"> Rover Registration </label>
				<div  id="registration-for-rover" class="boxes">
					<label class="radio" ng-class="{checked: data.required_signature_at == 'CHECKIN'}"> <span class="icon-form icon-radio" ng-class="{checked: data.required_signature_at == 'CHECKIN'}"></span>
						<input ng-model="data.required_signature_at" type="radio" value="CHECKIN" name="rover" id="type1" class="change-data" checked="checked">
						Require Signature at Check In </label>
					<label class="radio" ng-class="{checked: data.required_signature_at == 'CHECKOUT'}"> <span class="icon-form icon-radio" ng-class="{checked: data.required_signature_at == 'CHECKOUT'}"></span>
						<input ng-model="data.required_signature_at" type="radio" value="CHECKOUT" name="rover" id="type2" class="change-data">
						Require Signature at Check Out </label>
					<label class="radio" ng-class="{checked: data.required_signature_at == 'NO_SIGNATURE'}"> <span class="icon-form icon-radio" ng-class="{checked: data.required_signature_at == 'NO_SIGNATURE'}"></span>
						<input ng-model="data.required_signature_at"type="radio" value="NO_SIGNATURE" name="rover" id="type3" class="change-data">
						No Signature Required </label>
				</div>
			</div>

			<div class="entry full-width">
				<label for="terms_and_conditions" translate>
				TERMS_AND_CONDITIONS_LABEL
				</label>
				<textarea class="full-width terms_height" id="terms_and_conditions" type="" ng-model="data.terms_and_conditions"></textarea>
			</div>
			
		</fieldset>
		
		<fieldset class="holder right">
			<div class="form-title">
				<h3><span>Hotel</span> Details </h3>
				<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
			</div>
			
			<ad-textbox value="data.number_of_rooms" label = "Number of rooms" placeholder = "Type number" readonly="{{readOnly}}"></ad-textbox>

			<div class="entry is-pms-tokenized" ng-show="isAdminSnt">
				<label>Enable single digit room number search</label>
				<div class="switch-button single" ng-class="{ on : data.is_single_digit_search == true }" ng-click="data.is_single_digit_search = !data.is_single_digit_search">
					<input type="checkbox" value="{{data.is_single_digit_search}}" id="is-single-digit-search">
					<span class="switch-icon"></span>
				</div>
			</div>

			<div class="entry">
				<label> Checkin time </label>
				<div class="entry full-width float">
					<div class="select select-col col1-3">
						<select ng-model="data.check_in_hour" name="hotel-checkin-hour" id="hotel-checkin-hour" class="styled">
								<option value="" data-text="Not set" class="placeholder">HH</option>
								<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==data.check_in_time.hour" >{{i}}</option>
							</select>
						</div>
						<div class="select select-col col1-3">
							<select ng-model="data.check_in_min" name="hotel-checkin-minute" id="hotel-checkin-minutes">
								<option value="" data-text="Not set" class="placeholder">MM</option>
								<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==data.check_in_time.minute" >{{i}}</option>
							</select>
						</div>
					<div class="select select-col col1-3">
						<select ng-model="data.check_in_primetime" class="styled">
							<!-- || data.check_in_time.primetime.length == '' || data.check_in_time.primetime.length == 0  || !isEdit -->
							<option ng-selected="data.check_in_time.primetime == 'AM'" value="AM">AM</option>
							<option ng-selected="data.check_in_time.primetime == 'PM'" value="PM">PM</option>
						</select>
						
					</div>

				</div>

			</div>
			<div class="entry">
				<label> Checkout time </label>
				<div class="entry full-width float">
					<div class="select select-col col1-3">
						<select ng-model="data.check_out_hour" name="hotel-checkout-hour" id="hotel-checkout-hour" class="styled">
							<option value="" data-text="Not set" class="placeholder">HH</option>
							<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==data.check_out_time.hour" >{{i}}</option>
						</select>
					</div>
					<div class="select select-col col1-3">
						<select ng-model="data.check_out_min" name="hotel-checkout-minute" id="hotel-checkout-minutes">
							<option value="" data-text="Not set" class="placeholder">MM</option>
							<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==data.check_out_time.minute" >{{i}}</option>
						</select>
					</div>
					<div class="select select-col col1-3">
						<select ng-model="data.check_out_primetime" class="styled">
							<option ng-selected="data.check_out_time.primetime == 'AM'" value="AM">AM</option>
							<option ng-selected="data.check_out_time.primetime == 'PM'" value="PM">PM</option>
						</select>
					</div>
				</div>

			</div>
			<div class="entry">
				<label for="hotel-chain"> Hotel chain <strong>*</strong> </label>
				<div class="select">
					<select ng-disabled="isHotelChainEditable" ng-model="data.hotel_chain" name="hotel-chain" id="hotel-chain" class="placeholder">
						<option value=""> Hotel chain </option>
						<option ng-repeat="chain in data.chains" value="{{chain.id}}" ng-selected="chain.id==data.hotel_chain" >{{chain.name}}</option>
					</select>
				</div>
			</div>

			<div class="entry">
				<label for="hotel-brand"> Hotel brand </label>
				<div class="select">
					<select ng-model="data.hotel_brand" name="hotel-brand" id="hotel-brand" class="placeholder">
						<option value=""> Hotel brand </option>
						<option ng-repeat="brand in data.brands" value="{{brand.id}}" ng-selected="brand.id==data.hotel_brand">{{brand.name}}</option>
					</select>
				</div>
			</div>

			<div class="entry">
				<label for="hotel-time-zone"> Hotel Time Zone <strong>*</strong> </label>
				<div class="select">
					<select ng-model="data.hotel_time_zone" name="hotel-time-zone" id="hotel-time-zone" class="placeholder" >
						<option value=""> Hotel Time Zone </option>
						<option ng-repeat="timezone in data.time_zones"  ng-selected="timezone.value==data.hotel_time_zone">{{timezone.value}}</option>
					</select>
				</div>
			</div>
			
			<div class="entry">
				<label for="hotel-time-zone"> Hotel Date Format <strong>*</strong> </label>
				<div class="select">
					<select ng-model="data.hotel_date_format" name="hotel-time-zone" id="hotel-time-zone" class="placeholder" >
						<option value=""> Hotel Date Format </option>
						<option ng-repeat="formats in data.date_formats"  value="{{formats.id}}" ng-selected="formats.id==data.hotel_date_format">{{formats.value}}</option>
					</select>
				</div>
			</div>
			
			<div class="entry hotel-pms-type" ng-show="isAdminSnt">
				<label for="hotel-pms-type"> PMS Type</label>
				<div class="select">
					<select ng-model="data.hotel_pms_type" name="hotel-pms-type" id="hotel-pms-type" class="placeholder">
						<option value=""> PMS Type </option>
						<option ng-repeat="pms_types in data.pms_types" value="{{pms_types.value}}" ng-selected="pms_types.value==data.hotel_pms_type">{{pms_types.value}}</option>
					</select>
				</div>
			</div>
			<div class="entry">
				<label for="hotel-currency"> Hotel Currency <strong>*</strong> </label>
				<div class="select">
					<select ng-model="data.default_currency" name="hotel-currency" id="hotel-currency" class="placeholder">
						<option value=""> Hotel Currency </option>
						<option ng-model="currency.id" ng-repeat="currency in data.currency_list" ng-selected="currency.id==data.default_currency" value="{{currency.id}}">{{currency.code}}</option>
					</select>
				</div>
			</div>
			<div class="entry is-pms-tokenized" ng-show="isAdminSnt && data.hotel_pms_type ==='OWS'">
				<label for="is-pms-tokenized">PMS Tokenized</label>
				<div class="switch-button single" ng-class="{ on : data.is_pms_tokenized == 'true' }" ng-click="toggleClicked()">
					<input type="checkbox" value="{{data.is_pms_tokenized}}" name="is-pms-tokenized" id="is-pms-tokenized">
					<span class="switch-icon"></span>
				</div>
			</div>

			<div class="entry">
				<label for="auto-logout"> Auto logout delay [Minutes] <strong>*</strong> </label>
				<input type="text" ng-model="data.auto_logout_delay" value="{{data.auto_logout_delay}}" required="yes" placeholder="Enter auto logout delay" name="auto-logout" id="auto-logout">
			</div>
			<div class="entry" ng-hide="isAdminSnt">
				<label for="auto-logout"> Password Expiry [Days] <strong>*</strong> </label>
				<input type="text" ng-model="data.password_expiry" value="{{data.password_expiry}}" required="yes" placeholder="Enter password expiry delay">
			</div>
			<div class="entry date has-datepicker" ng-if="isAdminSnt">
				<label for="auto-logout"> PMS Start Date  </label>
				<input type="text" ng-model="data.pms_start_date" placeholder="Enter PMS start Date" name="pms-start-date" id="pms-start-date" readonly ng-click="setPmsStartDate()">
				<button ng-click="setPmsStartDate()" class="ui-datepicker-trigger" type="button">
                         ...
                </button>
			</div>			
			<div class="entry full-width" ng-show="isAdminSnt">
				<label for="hotel-pms-type"> Language </label>
				<div class="select">
					<select ng-model="data.selected_language" name="hotel-pms-type" id="hotel-pms-type" class="placeholder">
						<option value=""> Language </option>
						<option ng-repeat="language in languages" value="{{language.id}}" ng-selected="language.id==data.selected_language">
							{{language.description}}
						</option>
					</select>
				</div>
			</div>
			
			<div class="entry full-width">
				<label for="hotel_from_address"> EMAIL DOMAIN AND FROM ADDRESS FOR GUESTS <strong>*</strong></label>
				<input type="text" ng-model="data.hotel_from_address" value="{{data.hotel_from_address}}" placeholder="Enter Email domain and from address for GUEST" name="hotel_from_address" id="hotel_from_address">
			</div>

			<div class="entry is-pms-tokenized" ng-show="isAdminSnt && data.hotel_pms_type ==='OWS'">
				<label for="use-kiosk-entity-id-for-fetch-booking">Use KIOSK entity id in FetchBooking</label>
				<div class="switch-button single" ng-class="{ on : data.use_kiosk_entity_id_for_fetch_booking == 'true' }" ng-click="kioskEntityToggleClicked()">
					<input type="checkbox" value="{{data.use_kiosk_entity_id_for_fetch_booking}}" name="use-kiosk-entity-id-for-fetch-booking" id="use-kiosk-entity-id-for-fetch-booking">
					<span class="switch-icon"></span>
				</div>
			</div>

			<div class="entry is-pms-tokenized" ng-show="isAdminSnt && data.hotel_pms_type ==='OWS'">
				<label for="use-snt-entity-id-for-checkin-checkout">Use SNT entity id in Check In/Out</label>
				<div class="switch-button single" ng-class="{ on : data.use_snt_entity_id_for_checkin_checkout == 'true' }" ng-click="sntEntityToggleClicked()">
					<input type="checkbox" value="{{data.use_snt_entity_id_for_checkin_checkout}}" name="use-snt-entity-id-for-checkin-checkout" id="use-snt-entity-id-for-checkin-checkout">
					<span class="switch-icon"></span>
				</div>
			</div>
			<div class="entry is-pms-tokenized" ng-show="isAdminSnt">
				<label for="do_not_update_video_checkout">Do not update video checkout</label>
				<div class="switch-button single" ng-class="{ on : data.do_not_update_video_checkout == 'true' }" ng-click="doNotUpdateVideoToggleClicked()">
					<input type="checkbox" value="{{data.do_not_update_video_checkout}}" name="do-not-update-video-checkout" id="do-not-update-video-checkout">
					<span class="switch-icon"></span>
				</div>
			</div>
			<!-- <div class="entry">
				<label for="hotel_from_address"> LANGUAGE <strong>*</strong></label>
				<select ng-model="data.hotel_pms_type" name="hotel-pms-type" id="hotel-pms-type" class="placeholder">
					<option value=""> PMS Type </option>
					<option ng-repeat="pms_types in data.pms_types" value="{{pms_types.value}}" ng-selected="pms_types.value==data.hotel_pms_type">{{pms_types.value}}</option>
				</select>
			</div> -->

			<div class="entry full-width" ng-hide="isAdminSnt">
				<label for="hotel-logo"> Hotel Logo Image for Rover (316x70px 9:2 ratio)  </label>
				<div class="file-upload with-preview">
					<span class="input">{{hotel_logo_file}}</span>
					<a id="deleteLogo" class="icons icon-delete large-icon delete_item" ng-show="isLogoAvailable(data.hotel_logo)" ng-click = "data.hotel_logo = 'false'"></a>
					<input type="file" ng-model="data.hotel_logo" accept="image/*" app-filereader />
					<button type="button" class="button brand-colors">
						Choose file
					</button>
				</div>
				<span class="file-preview"> <img ng-src="{{data.hotel_logo}}" alt="" height="112" width="auto"> </span>
			</div>

			<div class="entry full-width" ng-hide="isAdminSnt">
				<label for="hotel-logo"> Hotel Logo Image for Templates (500x115px)  </label>
				<div class="file-upload with-preview">
					<span class="input">{{hotel_template_logo_file}}</span>
					<a id="deleteLogo" class="icons icon-delete large-icon delete_item" ng-show="isLogoAvailable(data.hotel_template_logo)" ng-click = "data.hotel_template_logo = 'false'"></a>
					<input type="file" ng-model="data.hotel_template_logo" accept="image/*" app-filereader />
					<button type="button" class="button brand-colors">
						Choose file
					</button>
				</div>
				<span class="file-preview"> <img src="{{data.hotel_template_logo}}" alt="" height="112" width="auto"> </span>
			</div>
			
		</fieldset>
		
		<fieldset class="holder left">
			<div class="form-title">
				<h3><span>Hotel</span> Main Contact </h3>
				<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
			</div>
			<div class="entry">
				<label for="contact-first-name"> First Name <strong>*</strong> </label>
				<input type="text" ng-model="data.contact_first_name" required="yes" placeholder="Enter first name" name="contact-first-name" id="contact-first-name" value="{{data.contact_first_name}}">
			</div>

			<div class="entry">
				<label for="contact-last-name"> Last Name <strong>*</strong> </label>
				<input type="text" ng-model="data.contact_last_name" required="yes" placeholder="Enter last name" name="contact-last-name" id="contact-last-name" value="{{data.contact_last_name}}">
			</div>

			<div class="entry">
				<label for="contact-email"> Email <strong>*</strong> </label>
				<input type="text" ng-model="data.contact_email" value="{{data.contact_email}}" required="yes" placeholder="Enter email" name="contact-email" id="contact-email">
			</div>

			<div class="entry">
				<label for="contact-phone"> Phone <strong>*</strong> </label>
				<input type="text" ng-model="data.contact_phone" value="{{data.contact_phone}}" required="yes" placeholder="Enter phone number" name="contact-phone" id="contact-phone">
			</div>

		</fieldset>

		<fieldset class="holder right" ng-show="isAdminSnt">
			<div class="form-title">
				<h3><span>Hotel</span> External Reference Import </h3>
				<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
			</div>

			<div class="entry" ng-show="isAdminSnt">
				<label for="is-external-references-import-on">Enable</label>
				<div class="switch-button single" ng-class="{ on : data.is_external_references_import_on}">
					<input type="checkbox" ng-model="data.is_external_references_import_on" value="{{data.is_external_references_import_on}}" name="is-external-references-import-on" id="is-external-references-import-on">
					<span class="switch-icon"></span>
				</div>
			</div>

			<div class="entry">
				<label for="contact-phone"> Frequency [Minutes] <!-- strong>*</strong> --> </label>
				<input type="text" ng-model="data.external_references_import_freq" value="{{data.external_references_import_freq}}"placeholder="Enter frequency" name="frequency" id="frequency">
			</div>

		</fieldset>
		

		<fieldset class="holder left" ng-show="isAdminSnt">
			<div class="form-title">
				<h3>
					<span>Hotel</span>
					 Payment Gateway Settings
				</h3>
			</div>
			<div class="entry ">
				<label class="radio" ng-class="{checked:data.payment_gateway == 'MLI'}">
					<span class="icon-form icon-radio " ng-class="{checked:data.payment_gateway == 'MLI'}"></span>
					<input type="radio" ng-model="data.payment_gateway" value="MLI" class="change-data">
					MerchantLink Payment
				</label>
				<label class="radio" ng-class="{checked:data.payment_gateway == 'sixpayments'}">
					<span class="icon-form icon-radio " ng-class="{checked:data.payment_gateway == 'sixpayments'}"></span>
					<input type="radio" ng-model="data.payment_gateway" value="sixpayments" class="change-data">
					Six Payment
				</label>

				
			</div>
			<div class="entry"></div>
			<div class="entry" ng-show="data.payment_gateway == 'MLI'">
				<label for="mli-payment-gateway-url">
					MerchantLink payment gateway url
				</label>
				<input type="text" ng-model="data.mli_payment_gateway_url" value="{{data.mli_payment_gateway_url}}" placeholder="Enter MLI payment gateway url">
			</div>

			<div class="entry" ng-show="data.payment_gateway == 'MLI'">
				<label for="mli-merchant-id">
					MerchantLink Merchant ID
				</label>
				<input type="text" ng-model="data.mli_merchant_id" value="{{data.mli_merchant_id}}" placeholder="Enter MLI Merchant ID">
			</div>

			<div class="entry" ng-show="data.payment_gateway == 'MLI'">
				<label for=" mli-api-version">
					MerchantLink api version
				</label>
				<input type="text" ng-model="data.mli_api_version" value="{{data.mli_api_version}}" placeholder="Enter MLI api version">
			</div>

			<div class="entry" ng-show="data.payment_gateway == 'MLI'">
				<label for="mli-api-key">
					MerchantLink api key
				</label>
				<input type="password" ng-model="data.mli_api_key" value="{{data.mli_api_key}}" placeholder="Enter MLI api key">
			</div>

			<div class="entry" ng-show="data.payment_gateway == 'MLI'">
				<label for="mli-site-code">
					MerchantLink site code
				</label>
				<input type="text" ng-model="data.mli_site_code" value="{{data.mli_site_code}}" placeholder="Enter MLI api key">
			</div>

			<div class="entry full-width" ng-show="data.payment_gateway == 'MLI'">
				<button type="button" id="test-mli-payment-gateway" class="button blue" ng-click="testMLIPaymentGateway()">
					TEST MERCHANTLINK PAYMENT GATEWAY
				</button>
			</div>
			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="mli-payment-gateway-url">
					Six Payments merchant ID
				</label>
				<input type="text" ng-model="data.six_merchant_id" value="{{data.six_merchant_id}}" placeholder="Enter six payment merchant id">
			</div>

			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="mli-merchant-id">
					Six Payments validation code
				</label>
				<input type="text" ng-model="data.six_validation_code" value="{{data.six_validation_code}}" placeholder="Enter six payment validation code">
			</div>
			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="six-ipage-url">
					Six Payments URL
				</label>
				<input type="text" ng-model="data.six_ipage_url" value="{{data.six_ipage_url}}" readonly="readonly">
			</div>
			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="six-server-location-id">
					Six Payments Location Id
				</label>
				<input type="text" ng-model="data.six_server_location_id" value="{{data.six_server_location_id}}">
			</div>
			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="six-server-ipaddress">
					Six Payments Server IP
				</label>
				<input type="text" ng-model="data.six_server_ipaddress" value="{{data.six_server_ipaddress}}">
			</div>
			<div class="entry" ng-show="data.payment_gateway == 'sixpayments'">
				<label for="six-server-port">
					Six Payments Server Port
				</label>
				<input type="text" ng-model="data.six_server_port" value="{{data.six_server_port}}">
			</div>
			
		</fieldset>
		<fieldset class="holder right" ng-show="isAdminSnt && data.payment_gateway == 'MLI'" >
			<div class="form-title">
				<h3><span>Hotel</span> MerchantLink Settings </h3>
				<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
			</div>
			<div class="entry">
				<label for="mli-hotel-code"> MerchantLink hotel code </label>
				<input type="text" ng-model="data.mli_hotel_code" value="{{data.mli_hotel_code}}" placeholder="Enter MLI hotel code" name="mli-hotel-code" id="mli-hotel-code">
			</div>

			<div class="entry">
				<label for="mli-chain-code"> MerchantLink chain code </label>
				<input type="text" ng-model="data.mli_chain_code" value="{{data.mli_chain_code}}" placeholder="Enter MLI chain code" name="mli-chain-code" id="mli-chain-code">
			</div>

			<div class="entry full-width">
				<label for="certificate">
					 MerchantLink Token Certificate
				</label>
				<div class="file-upload">
					<span class="input">{{fileName}}</span>
					<input type="file" ng-model="certificate" accept="*" app-filereader />
					<button type="button" class="button brand-colors">
						Attach Certificate
					</button>
				</div>
			</div>
			
			<div class="entry full-width">
				<label for="mli-access-url"> MerchantLink Access URL </label>
				<input type="text" ng-model="data.mli_access_url" value="{{data.mli_access_url}}" readonly="true" name="mli-access-url" id="mli-access-url" readonly>
			</div>

			<button type="button" id="test-mli-connectivity" ng-click="clickedTestMliConnectivity()" class="button blue">
				Test MerchantLink Connectivity
			</button>

		</fieldset>

		<div class="actions float">
			<button type="button" ng-click ="back()" class="button blank">
				Cancel
			</button>
			<button type="button" ng-click="clickedSave()" class="button green">
				Save Changes
			</button>
			<button type="button" ui-sref="admin.mapping({hotelId:id})"  ng-show="isAdminSnt && isEdit && data.hotel_pms_type ==='OWS'" class="button green">
				Mappings
			</button>
			<button type="button" ui-sref="admin.users({id:id})" ng-show="isAdminSnt && isEdit" class="button green">
				User Setup
			</button>
		</div>

	</form>
	</section>
</div>