<!-- contentarea starts here-->

<div class="jumbotron" id="check-in-out">
	<div class="backgroundbg">
		<div class="black-bg">&nbsp;</div>
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>
	<div class="container content-wrap">
		<div class="container-fluid">
		
			<div class="row">
				<div ng-hide="posted || isCheckoutCompleted || netWorkError || isCheckedout" class="checkout-status centeralign checkout-now-status" >
					<p class="msg-head">Your request is being processed.</p>
					<p class="msg-body">This may take a few seconds..... please wait!</p>
				</div>
			
				<div ng-show="posted && !success && !isCheckoutCompleted && !netWorkError" class="checkout-status centeralign checkout-now-status">
					<p class="msg-head">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
					<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="blue-alert-link-tag">{{hotelPhone}}.</a></p>
				</div>

				<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
					<p class="msg-head">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
					<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="blue-alert-link-tag">{{hotelPhone}}.</a></p>
				</div>
			
				<div ng-show="posted && success && isCheckoutCompleted && !netWorkError" class="checkout-status centeralign checkout-now-status final-msg-container">
					<p class="msg-head final-msg">Thank you for staying with us!</p>
				</div>
				<div>

					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="social-links" ng-show="posted && success && isCheckoutCompleted && !netWorkError">
						<tr>
							<td  colspan="3" class="social-heading">Get Social with us:</td>
						</tr>
						<tr>
							<td align="center" valign="middle">	
								<a href="https://www.facebook.com/TheHuntleyHotel" target="_blank" class="mobile-only"><img src="/assets/img/Huntley/mobile/fb_icon.png" width="55" height="55" alt=""/></a>
								<a href="https://www.facebook.com/TheHuntleyHotel" target="_blank" class="desktop-only"><img src="/assets/img/Huntley/Desktop/fb_icon.png" width="55" height="55" alt=""/></a>
							</td>
							<td align="center" valign="middle">
								<a href="https://twitter.com/TheHuntleyHotel" target="_blank" class="mobile-only"><img src="/assets/img/Huntley/mobile/twitter_icon.png" width="55" height="55" alt=""/></a>
								<a href="https://twitter.com/TheHuntleyHotel" target="_blank" class="desktop-only"><img src="/assets/img/Huntley/Desktop/twitter_icon.png" width="55" height="55" alt=""/></a>
							</td>
							<td align="center" valign="middle">
								<a href="http://instagram.com/thehuntleyhotel" target="_blank" class="mobile-only"><img src="/assets/img/Huntley/mobile/instagram_icon.png" width="55" height="55" alt=""/></a>
								<a href="http://instagram.com/thehuntleyhotel" target="_blank" class="desktop-only"><img src="/assets/img/Huntley/Desktop/instagram_icon.png" width="55" height="55" alt=""/></a>
							</td>
						</tr>
						<tr>
							<td colspan="3" align="center" valign="middle" class="social-heading">Share great time with us:</td>
						</tr>
						<tr>
							<td colspan="3" align="center" valign="middle">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="social-link-second-row">
									<tr>
										<td align="center" valign="middle">&nbsp;</td>
										<td align="center" valign="middle">	
											<a href="https://www.tripadvisor.com/UserReviewEdit-g33052-d82042-e__2F__Hotel__5F__Review__2D__g33052__2D__d82042__2D__Reviews__2D__Huntley__5F__Santa__5F__Monica__5F__Beach__2D__Santa__5F__Monica__5F__California__2E__html-Huntley_Santa_Monica_Beach-Santa_Monica_California.html" class="mobile-only" target="_blank"><img src="/assets/img/Huntley/mobile/tripadvisor_icon.png" width="55" height="55" alt=""/></a>
											<a href="https://www.tripadvisor.com/UserReviewEdit-g33052-d82042-e__2F__Hotel__5F__Review__2D__g33052__2D__d82042__2D__Reviews__2D__Huntley__5F__Santa__5F__Monica__5F__Beach__2D__Santa__5F__Monica__5F__California__2E__html-Huntley_Santa_Monica_Beach-Santa_Monica_California.html" class="desktop-only" target="_blank"><img src="/assets/img/Huntley/Desktop/tripadvisor_icon.png" width="96" height="55" alt=""/></a>
										</td>
										<td align="center" valign="middle">	
											<a href="https://www.yelp.com/writeareview/biz/rIXeDt4m1doGK_IsRyW8cA?return_url=%2Fbiz%2FrIXeDt4m1doGK_IsRyW8cA" class="mobile-only" target="_blank">
											<img src="/assets/img/Huntley/mobile/yelp_icon.png" width="55" height="55" alt=""/></a>
											<a href="https://www.yelp.com/writeareview/biz/rIXeDt4m1doGK_IsRyW8cA?return_url=%2Fbiz%2FrIXeDt4m1doGK_IsRyW8cA" class="desktop-only" target="_blank"><img src="/assets/img/Huntley/Desktop/yelp_icon.png" width="96" height="55" alt=""/></a>
										</td>
										<td align="center" valign="middle">&nbsp;</td>
										</tr>
									</table>

								</td>
							</tr>
						</table>

				<div ng-show="isCheckedout && !success" class="checkout-status centeralign checkout-now-status">
					<big>Thank you!</big>
					<p class="msg-head">It appears you have already completed your check-out.</p>
					<p class="msg-body">For further enquiries please contact the hotel at <a href="tel: {{hotelPhone}}"class="blue-alert-link-tag ">{{hotelPhone}}.</a></p>
					
				</div>
			</div>
		</div>
	</div
></div>