<!-- contentarea starts here-->
<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="black-bg">&nbsp;</div>
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>
		<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
				<p class="msg-head">Your request is being processed.</p>
				<p class="msg-body">This may take a few seconds..... please wait!</p>
		</div>
		
		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
			<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
		</div>

	<!-- contentarea starts here-->
		<div class="container" ng-hide="isFetching || netWorkError ">
		<!-- top section starts here-->
			<div class="row check-inout-wrapper">
					<div class="col-md-6 headtext centeralign">
						<div class="black-text">Ready to check-out?</div>
						<div class="lightcontent chekout-time black-text room-text">To start please enter your room number:</div>
						<div class="lightcontent chekout-time black-text room-text room-instruction" ng-show ="(roomVerificationInstruction.length>0)">({{roomVerificationInstruction}})</div>
					</div>
				<!-- top section ends here-->
				<div class="col-md-6 no-padding now-later-options cabin-number room_container">
					<form class="centeralign">
					<div class="row cabin_number_field">
						<p>ROOM NUMBER</p>
						<input type="password" ng-model="roomNumber" class = "col-xs-12 textBox shadow room-input" placeholder="Enter Room number"/> 
					</div>								
							<button class="checkin-button continue-button blue-bg room-verification-continue" ng-click="continueButtonClicked()">
								<span class="continue-text white-text">Continue</span>
							</button>				
					</form>
				</div>
			</div>
			<!-- checkinbtn section ends here-->
		</div>
	</div>
</div>


