%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name=>"robots", :content=>"noindex, nofollow"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}
    %meta{:name=>"apple-mobile-web-app-title", :content=>"StayNTouch"}
    %meta{:name=>"format-detection", :content=>"telephone=no"}
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    
    = render :partial => "shared/scripts_and_styles"
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/png"}
    %link{:href => "/assets/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "/assets/apple-touch-startup-image-768x1004.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: portrait)"}
    %link{:href => "/assets/apple-touch-startup-image-1024x748.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: landscape)"}
    %link{:href => "/assets/apple-touch-startup-image-1536x2008.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"}
    %link{:href => "/assets/apple-touch-startup-image-2048x1496.png", :rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"}  
    =csrf_meta_tag
    = javascript_include_tag ('https://cnp.merchantlink.com/form/v2.1/hpf.js')
    = javascript_include_tag (:staff_main)
    = stylesheet_link_tag "staff_main", media: "all"
  %script(src="/assets/rover_templates.js")
  %body{"ng-app" => "sntRover", "document-touch-move-prevent"=>""}
    %div{"ui-view" => "", "class" => "root-view"}
