<section id="replacing-div-first" class="content current " ng-click="clearErrorMessage()">
	<div>
		<header class="content-title float">
			<h2 ng-show="mod == 'edit'">Edit User</h2>
			<h2 ng-show="mod == 'add'">Add New User</h2>
			<a id="go_back" data-type="load-details" class="action back" ui-sref='{{BackAction}}'>Back</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<form user="2" id="edit-user" class="form float">
				<fieldset class="holder left">
					<div class="form-title">
						<h3><span>User</span> details </h3>
						<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
					</div>
					<ad-textbox value="data.first_name" name = "first-name" id = "first-name" label = "First Name" placeholder = "Enter first name" required = "yes" ></ad-textbox>
					<ad-textbox value="data.last_name" name = "last-name" id = "last-name" label = "Last Name" placeholder = "Enter last name" required = "yes" ></ad-textbox>
					<ad-dropdown id="department" selbox-class="placeholder" label="Department" div-class="full-width" label-in-drop-down="Department" list="data.departments" selected-Id='data.user_department' >
					</ad-dropdown>
					<div></div>
					<ad-textbox value="data.job_title" name = "job-title" id = "job-title" label = "Job title" placeholder = "Enter job title" required = "yes" ></ad-textbox>
					<ad-textbox value="data.phone" name = "phone" id = "phone" label = "Phone" placeholder = "Enter phone" required = "no" ></ad-textbox>



					



					<div class="entry full-width">
						<label for="user-picture"> Picture </label>
						<div class="file-upload with-preview">
							<span class="input">{{fileName}}</span>
							<input type="file" ng-model="image" accept="image/*" app-filereader />
							<button type="button" class="button brand-colors">
								 Choose file
							</button> 
						</div>
						<span class="file-preview"> <img ng-src="{{image}}" id="file-preview" alt=""> </span>
					</div>

				</fieldset>
				<fieldset class="holder right">
					<div class="form-title">
						<h3><span>User</span> credentials </h3>
						<em class="status"> <strong>All fields are mandatory!</strong> </em>
					</div>
					<ad-textbox value="data.email" name = "email" id = "email" label = "Email" placeholder = "Enter email address" required = "yes" styleclass="full-width" ></ad-textbox>
					<ad-textbox value="data.confirm_email" name = "re-email" id = "re-email" label = "Re-type email" placeholder = "Enter email address" required = "yes" styleclass="full-width" ></ad-textbox>

					<div class="entry full-width">
						<label for="password"> Password <strong>*</strong> </label>
						<input type="password" ng-model="data.password" required="yes" placeholder="Enter password" name="password" id="password" autocomplete="off" focus-me="focusOnPassword">
					</div>

					<div class="entry full-width">
						<label for="confirm-password"> Re-type password <strong>*</strong> </label>
						<input type="password" ng-model="data.confirm_password" required="yes" placeholder="Confirm password" name="re-password" id="confirm-password" autocomplete="off">
					</div>

					<!-- Activation Status -->
					<div class="entry re-invite" ng-show="mod == 'edit'">
						<label> Activation Status </label>
						<div ng-show="data.is_activated == 'true'">
							ACTIVATED
						</div>
						<div ng-show="data.is_activated == 'false'">
							PENDING
						</div>
					</div>
					<div class="entry re-invite" ng-show="mod == 'edit'">
						<label>
							<button id="re-invite" ng-click="sendInvitation(data.user_id)" class="button" ng-disabled="disableReInviteButton(data)" ng-class="{'green': !disableReInviteButton(data), 'grey': disableReInviteButton(data)}">
								Re-Invite
							</button> </label>
					</div>

				</fieldset>

				<fieldset class="holder full-width" ng-hide="isAdminSnt">
					<!-- Needs in future -->
					<div class="form-title">
						<h3><span>User</span> roles </h3>
						<em class="status"> <span>User can have multiple roles</span> </em>
					</div>



					<div class="entry has-sortable">
						<label>Assigned Roles</label>
						<ul id="assigned-roles" 
						data-placeholder="Drop a role here to assign it to the user"

						data-jqyoui-options="{accept:'.unassigned-user-roles'}"
						
						class="boxes sortable empty short-list" data-drop="true" 
						ng-model='assignedRoles' 

						jqyoui-droppable="{multiple:true, onOver: 'reachedAssignedRoles'}" 

						style="overflow-y: scroll !important;" data-type="target">

							<li ng-repeat="role in assignedRoles" 
							class="assigned-user-roles li-draggable"

							data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}"
							ng-model="assignedRoles" 

							jqyoui-draggable="{index: {{$index}}, placeholder:false, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem'}" 
							ng-hide="!role.name" 

							ng-class="{selected: selectedAssignedRole == $index, justDropped: justDropped == $index}" 

							ng-click="selectAssignedRole($event, $index)">

								<span class="icons icon-handle"></span>
								<span class="icons icon-handle"></span>
								{{role.name}}
							</li>
							<span class="placeholder ui-state-disabled"  ng-show="assignedRoles.length == 0">Drop a role here to assign it to the user</span>
						</ul>
					</div>


					<div class="entry movers">
						<span data-type="target" class="icons icon-mover-right to-target" ng-click="leftToRight()" ng-class="{active: selectedAssignedRole!=-1}">Assign role(s)</span>
						<span data-type="source" class="icons icon-mover-left to-source" ng-click="rightToleft()" ng-class="{active: selectedUnassignedRole!=-1}">Unassign role(s)</span>
					</div>



					<div class="entry has-sortable" >
						<label>Not Assigned Roles</label>
						<ul data-placeholder="To remove a role for the user simply drop it here" 

						class="boxes sortable short-list"  style="overflow-y: scroll !important;" 
						data-drop="true" ng-model='unAssignedRoles' 

						data-jqyoui-options="{accept:'.assigned-user-roles'}"
						jqyoui-droppable="{multiple:true, onOver: 'reachedUnAssignedRoles' }" data-type="source">
						
							<li ng-repeat="role in unAssignedRoles" 
							class="unassigned-user-roles li-draggable"
							data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" 

							ng-model="unAssignedRoles" 

							jqyoui-draggable="{index: {{$index}}, placeholder:false,animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem'}" 

							ng-hide="!role.name" ng-class="{selected: selectedUnassignedRole == $index}" 

							ng-click="selectUnAssignedRole($event, $index)">
								<span class="icons icon-handle"></span>
								<span class="icons icon-handle"></span>
								{{role.name}}
							</li>
						</ul>
					</div> 

				</fieldset>
				<fieldset class="holder left">
					<div class="entry full-width">
							<label for="defaultdashboard" >{{'DEFAULT_DASHBOARD'|translate}}<strong > * </strong></label>
		                <div class="select">
		                    <select id="defaultdashboard" ng-required="true" class="placeholder" ng-model = "data.default_dashboard_id" ng-options="dashboard.dashboard_id as dashboard.dashboard_name for dashboard in getMyDashboards()" >
		                      <option value="" disabled translate>SELECT_DEFAULT_DASHBOARD</option>
		                    </select>
		                </div>
		            </div>
				</fieldset>
				<div class="actions float">
					<button type="button" id="cancel" class="button blank add-data-inline" ui-sref='admin.users'>
						Cancel
					</button>
					<button type="button" id="save" class="button green add-data-inline" ng-click="saveUserDetails()">
						Save changes
					</button>
				</div>
			</form>
		</section>
	</div>
</section>