<section id="replacing-div-first" class="content current ">
	<div id="users_list" data-view="UsersListView">
		<!-- Hotels list -->
		<section>
			<header class="content-title float">
				<h2>Users</h2>
				<span class="count">({{data.users.length}})</span>
				<a id="add_new_user" class="action add" ui-sref="admin.userdetails({ page: 'add', id: '', hotelId: hotelId })">Add New</a>
				<a id="find_existing_user" class="action link" ng-show="isAdminSnt" ui-sref="admin.linkexisting({id:hotelId})" >Link Existing</a>
				<a id="go_back" data-type="load-details" class="action back" ng-show="isAdminSnt" ui-sref="admin.snthoteldetails({action:'edit',id:hotelId})">Back</a>
			</header>
			<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<table id="users_list_table" class="grid datatable table" ng-table="tableParams"
			template-pagination="nil">
				<tr ng-repeat="user in $data">
					<td data-title="'Name'" sortable="'full_name'"><a ui-sref="admin.userdetails({ page: 'edit', id: user.id, hotelId: hotelId, isUnlocking: false })"  class="title">{{user.full_name}} </a></td>
					<td data-title="'Email'" sortable="'email'"> {{user.email}}  </td>
					<td data-title="'Department'" sortable="'department'">{{user.department}}</td>
					<td data-title="'Last Login'" sortable="'last_login'"><span class="login">{{user.last_login_date | date : dateFormat}} {{user.last_login_time}}</span></td>
					<td data-title="'Active'" user="2" id="activate-inactivate-button_2" header-class="activate"  class="activate activate-inactivate-button">
						<div class="entry" ng-show="user.can_delete">
							<label for=""></label>
							<div class="switch-button single" ng-class="{ on : user.is_active == 'true' }" ng-click="activateInactivate(user.id, user.is_active, $index)">
								<input type="checkbox" value="" name="" id="">
								<span class="switch-icon"></span>
							</div>
						</div>
					</td>
					<td data-title="'Locked'" class="delete" header-class="delete">
						<button type="button" ui-sref="admin.userdetails({ page: 'edit', id: user.id, hotelId: hotelId, isUnlocking: true})" class="icons icon-lock" ng-if="user.is_locked">Locked</button>
					</td>
					<td data-title="'Delete'" class="delete" header-class="delete">
						<a id="165" ng-show="user.can_delete" class="icons icon-delete large-icon" ng-click="deleteUser($index, user.id)">Delete this user</a>							
					</td>
				</tr>
			</table>
		</section>
		</section>
	</div>
</section>