<!-- Navbar -->
<header class="nav-bar float" role="banner">
    <!-- Menu toggle button / Back button  -->
    <a class="nav-toggle" ng-click="toggleMainNav()"> </a>

    <!-- Title -->
    <h1 class="h2">Dashboard</h1>
</header>

<!-- Dashboard content -->
<section id="dashboard" class="content">
    <div id = "wrapper" class="wrapper">
        <h2>Guests</h2>
        <ul id="guests-today">
            <li>
                <a class="button green">
                    <span class="icons check-in">Checking in</span>
                    <strong> {{data.due_in_count}} </strong>
                </a>
            </li>
            <li>
                <a class="button blue">
                    <span class="icons inhouse">In house</span>
                    <strong> {{data.inhouse_count}} </strong>
                </a>
            </li>
            <li>
                <a class="button red">
                    <span class="icons check-out">Checking out</span>
                    <strong> {{data.due_out_count}} </strong>
                </a>
            </li>       
        </ul>
        <h2>Rooms</h2>
        <ul id="stats-today">
            <li>
                <em>Occupied</em>
                <span>{{data.occupied}}</span>
            </li>
            <li>
                <em>Vacant (Clean)</em>
                <span class="green">{{data.vacant_clean_room_count}}</span>
            </li>
            <li>
                <em>Vacant (Dirty)</em>
                <span class="red">{{data.vacant_dirty_room_count}}</span>
            </li>
            <li>
                <em>Out Of Order / Service</em>
                <span class="grey">{{data.out_of_order_rooms_count}}</span>
            </li>
        </ul>
    </div>
</section>
