<div role="dialog" id="modal" class="modal-show">
	<div class="modal-content new-content form warning">
	  <div>
	    The PMS Interface is not responding. StayNTouch Apps have been disabled until a connection has been re-established. Please continue to re-try or contact your PMS vendor.
	  </div>
	  <div class="actions float">
	    <button class="button modal-close white red-text" ng-click="closeThisDialog()">Close</button>
	    <button id="try-again" class="button white red-text" ng-click="tryAgainButtonClicked()">Try Again</button>
	  </div>
	</div>
</div>