<div class="page inner-page page-current" id="page-inner-first">
    <header class="nav-bar float">
        <!-- Menu toggle button / Back button  -->
        <a ui-sref="hk.navmain.search" class="back-button">Rooms</a>

        <!-- Title -->
        <h1 class="h2">Room Details</h1>
    </header>
    <!-- Rooms details -->
    <section id="room-details" class="content">

        <header id="room-header" ng-class= "{'inspected-clean': isGreen, 'dirty': isRed, '': isOutOfService, 'pickup': isOrange, 'occupied': isDefaultRoomColor}">
            <h1 class="icons icon-room">{{data.room_details.current_room_no}}</h1>
            <div class="select">
                <div ng-show = "shouldDisable()" style = "height:100%; z-index:999; width : 100%; position:absolute;"></div>
                <select ng-model="currentHKStatus"
                    ng-disabled="shouldDisable()"
                    ng-options="opt as opt.description for opt in data.room_details.hk_status_list" ng-change="updateHKStatus()">
                    <option value="" disabled>Room status</option>
                </select>
            </div>
        </header>

        <div id="guest-info" ng-show="data.room_details.is_occupied == 'true'">
            <div class="wrapper">
                  <span id="fo-status">{{ data.room_details.current_room_reservation_status }}</span>
                  <figure class="guest-image">
                      <img alt="" ng-src="{{ data.room_details.avatar_src }}">
                      <span ng-show="data.room_details.is_vip == 'true'" class="vip">VIP</span>            
                  </figure>
                  <h2>
                      <span class="guest-status {{guestViewStatus}}"></span>
                      <span class="name">{{ data.room_details.guest_name }}</span>
                  </h2>
                  <em class="status" ng-hide="data.room_details.reservation_status == 'CHECKING_OUT'">Due Out {{data.room_details.dept_date}}</em>
                  <em class="status today" ng-show="data.room_details.reservation_status == 'CHECKING_OUT'">Due Out today<span ng-show="data.room_details.is_late_checkout == 'true'"> ({{data.room_details.late_checkout_time}}) </span></em>
              </div>
        </div>

        <div id="guest-info" class="no-content" ng-show="data.room_details.is_occupied == 'false'">
            <div class="info">
                <span class="icons icon-vacant"></span>
                <strong class="h1">Room is vacant.</strong>
            </div>
        </div>     
        
    </section>
</div>