<!-- Navbar -->
<header class="nav-bar float" role="banner">
	<!-- Menu toggle button / Back button  -->
	<a class="nav-toggle" ng-click="toggleMainNav()">Menu</a>
	<!-- Title -->
	<h1 class="h2">Rooms Status</h1>
	<!-- Filter / Checkout button  -->
	<a ng-click="$emit('showFilterScreen')" class="button white with-icon only-icon toggle linked-toggle"><span class="icons icon-filter"></span>Filter rooms</a>
</header>
<!-- Search form -->
<form class="search-form" role="search">
	<div class="entry">
		<div class="closebtn" ng-show="query != ''" ng-click = "clearSearch()" >
			<a id="clear-query" class="icons icon-clear-search visible"  ng-click = "$emit('clearSearch()')">Clear query</a>
		</div>

		<button type="submit" class="icons icon-search">
			Search
		</button>
		<input name="query" id="query" ng-model="query" placeholder="Enter Room Number" type="text" autocomplete="off" ng-change = "filterByQuery()"
		>
	</div>
</form>

<div id="pull-refresh-notify">
	<span id="icon"></span>
	<span id="ref-text">Pull down to refresh...</span>
</div>

<!-- Rooms list -->
<section id="rooms" class="content scrollable">
	<ul class="wrapper">
		<li ng-repeat="room in rooms" ng-if="room.display_room" ng-click = "roomListItemClicked(room)">
			<a class = "{{ room.roomStatusClass }}"> <h2 class="room-number">{{ room.room_no }}</h2>
			<figure class="guest-image">
				<span ng-if="room.is_vip" class="vip">VIP</span>
				<img ng-src="{{room.avatar_src}}">
			</figure>
			<p class="room-stats-wrap">
				<span class="room-status">{{ room.description }}</span>
				<span class="fo-status">{{ room.room_reservation_status }}</span>
			</p> </a>
		</li>
	</ul>
</section>

<!-- Rooms filters -->
<section class="content" id="filter-rooms" ng-show = "filterOpen">

	<header role="banner" class="nav-bar float">
		<h1 class="h2">Filter rooms</h1>
		<button id="clear-filters" class="button blank clear-selection" ng-show = "isFilterChcked()" ng-click = "clearFilters()" type="button">
			Clear
		</button>
		<a class="complete toggle linked-toggle" ng-click="filterDoneButtonPressed()">Done</a>
	</header>
	<div class="content scrollable" id="filter-options">
		<div class="wrapper" >
			<!-- Floor Filters -Begin-->
			<div class="holder">
				<strong class="title">Floors</strong>
				<div class="entry radio-check floors">
					<label class="checkbox checked"> <span class="icon-form icon-checkbox" ng-class="{'checked': currentFilters.showAllFloors}"></span>
						<input name="room-allfloors" id="room-allfloors" value="room-allfloors" type="checkbox" ng-click="allFloorsClicked()">
						Show All Floors </label>
					<div id="filter-floors" class="entry-data" ng-class="{'hidden': currentFilters.showAllFloors}">
						<!-- For Single Floor Search -->
						<div class="left">
							<span class="h4">Single</span>
							<div class="select">
								<select name="floor-filter-single" id="floor-filter-single" class="placeholder" ng-model="currentFilters.floorFilterSingle" ng-change="validateFloorSelection('SINGLE_FLOOR')">
									<option value="" selected>Floor #</option>
									<option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterSingle"> {{floor.floor_number}}</option>
								</select>
							</div>
						</div>
						<!-- Floor Search From -->
						<div class="right">
							<span class="h4">Multiple</span>
							<div class="select">
								<select name="floor-filter-start" id="floor-filter-start" class="placeholder" ng-model="currentFilters.floorFilterStart" ng-change="validateFloorSelection('FROM_FLOOR')">
									<option value="" selected>From</option>
									<option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterStart"> {{floor.floor_number}}</option>
								</select>
							</div>
							<!-- Floor Search To -->
							<div class="select">
								<select name="floor-filter-stop" id="floor-filter-stop" class="placeholder" ng-model='currentFilters.floorFilterEnd' ng-change="validateFloorSelection('TO_FLOOR')">
									<option value="" selected>To</option>
									<option ng-repeat="floor in floors" value="{{floor.floor_number}}" ng-selected="floor.floor_number==currentFilters.floorFilterEnd"> {{floor.floor_number}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Floor Filters -END-->
			<div class="holder">
				<strong class="title">Housekeeping Status</strong>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.dirty}"></span>
						<input type="checkbox" ng-model="currentFilters.dirty" name="room-filters">
						Show Dirty </label>
				</div>
				<div class="entry radio-check" ng-show="showPickup">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.pickup}"></span>
						<input type="checkbox" ng-model="currentFilters.pickup" name="room-filters">
						Show Pickup </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.clean}"></span>
						<input type="checkbox" ng-model="currentFilters.clean" name="room-filters">
						Show Clean </label>
				</div>
				<div class="entry radio-check" ng-show="showInspected">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.inspected}"></span>
						<input type="checkbox" ng-model="currentFilters.inspected" name="room-filters">
						Show Inspected </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.out_of_order}"></span>
						<input type="checkbox" ng-model="currentFilters.out_of_order" name="room-filters">
						Show Out of Order </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.out_of_service}"></span>
						<input type="checkbox" ng-model="currentFilters.out_of_service" name="room-filters">
						Show Out of Service </label>
				</div>
			</div>
			<div class="holder">
				<strong class="title">Reservation Status</strong>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.vacant}"></span>
						<input type="checkbox" ng-model="currentFilters.vacant" name="room-filters">
						Show Vacant </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.occupied}"></span>
						<input type="checkbox" ng-model="currentFilters.occupied" name="room-filters">
						Show Occupied </label>
				</div>
				<div class="entry radio-check" ng-show="showQueued">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.queued}"></span>
						<input type="checkbox" ng-model="currentFilters.queued" name="room-filters">
						Show Queued </label>
				</div>
			</div>
			<div class="holder">
				<strong class="title">Front Office Status</strong>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.stayover}"></span>
						<input type="checkbox" ng-model="currentFilters.stayover" name="room-filters">
						Show Stayover </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.not_reserved}"></span>
						<input type="checkbox" ng-model="currentFilters.not_reserved" name="room-filters">
						Show Not Reserved </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.arrival}"></span>
						<input type="checkbox" ng-model="currentFilters.arrival" name="room-filters">
						Show Arrival </label>
				</div>
				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.arrived}"></span>
						<input type="checkbox" ng-model="currentFilters.arrived" name="room-filters">
						Show Arrived </label>
				</div>

				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.dayuse}"></span>
						<input type="checkbox" ng-model="currentFilters.dayuse" name="room-filters">
						Show Day Use </label>
				</div>

				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.dueout}"></span>
						<input type="checkbox" ng-model="currentFilters.dueout" name="room-filters">
						Show Due Out </label>
				</div>

				<div class="entry radio-check">
					<label class="checkbox"> <span class="icon-form icon-checkbox" ng-class = "{'checked' : currentFilters.departed}"></span>
						<input type="checkbox" ng-model="currentFilters.departed" name="room-filters">
						Show Departed </label>
				</div>
			</div>
		</div>
	</div>
</section>
