<section class="content current" ng-click="clearErrorMessage()">
	<div>
		<header class="content-title float">
			<h2 translate>GUEST_REVIEW_SETUP</h2>
			<a id="go_back" data-type="load-details" class="action back" ng-click="goBackToPreviousState()" translate>BACK</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<form style="overflow-y:auto;" name="edit-guest-review" method="post" class="form float">
				<fieldset class="holder column">
					<ad-toggle-button label="{{'GUEST_REVIEWS' | translate}}" div-class="full-width" is-checked="data.is_guest_reviews_on" ></ad-toggle-button>

					<ad-textbox value="data.number_of_reviews"   label = "{{'NUMBER_OF_REVIEWS' | translate}}" placeholder = "{{'NUMBER_OF_REVIEWS_PLACEHOLDER' | translate}}" name="number-of-reviews" id="number-of-reviews"></ad-textbox>

					<ad-dropdown label="{{'RATING_LIMIT' | translate}}" list="rating_list" selected-Id='data.rating_limit'  id="rating-limit"></ad-dropdown>

				</fieldset>
				<div class="actions float">
					<button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>CANCEL</button>
					<button type="button" id="save_guest_review" class="button green" ng-click="save()" translate>SAVE_CHANGES</button>
				</div>
			</form>
		</section>
	</div>
</section>