<div class="pickadate">
<div class="calendar_top_panel">
 
     <a href="" class="pickadate-prev float_left" ng-hide="allowPrevMonth">&nbsp;&nbsp;&nbsp;&nbsp;</a>
   
     <a href="" class="pickadate-prev float_left" ng-click="changeMonth(-1)" ng-show="allowPrevMonth" ><img src="/assets/arrow-left-black.png"/></a>
 
  <div class="float_left" style="width:85%;padding:0 10%;">
    <div class="select select-col col1-4 float_left full-width" style="width:60%;">
     <select class=" styled pickadate_select float_left" ng-options="month.name for month in months" ng-model="monthSelected" ></select>
   </div>
 

  <div class="select select-col col1-4 float_right" style="width:40%;">
   <select class="styled pickadate_select pickadate_select_year" ng-options="year for year in years" ng-model="yearSelected" ></select>
  </div>
</div>

 <a href="" class="pickadate-next float_right" ng-click="changeMonth(1)" ng-show="allowNextMonth" ><img src="/assets/arrow-right-black.png"/></a>



</div>
<div class="pickadate-body">
  <div class="pickadate-main">
    <ul class="pickadate-cell">
      <li class="pickadate-head" ng-repeat="dayName in weekDays">
        {{dayName}}
      </li>
    </ul>
    <ul class="pickadate-cell">
      <li ng-repeat="d in dates" ng-click="dateClicked(d)" class="{{d.className}} " ng-class="{'pickadate-active': (date == d.date) && isDateSelected && !d.disabled,'current-date': (todayDate == d.date) && !isDateSelected,'pickdate-cell-bg':!((date == d.date) && isDateSelected && !d.disabled)}"> 
      {{d.date | date:"d"}}
    </li>
  </ul>
</div>
</div>
</div>