<div class="data-holder" >

	<form class="form single-field-form float">
		<ad-textbox value="rateTypeData.name" label = "" placeholder = "Enter rate type" required = "yes"></ad-textbox>
		
		<div class="actions float">
			<button type="button" id="cancel" class="button blank edit-data-inline" ng-click="clickCancel()" translate>
				CANCEL
			</button>
			<button type="button" id="update" class="button green edit-data-inline" ng-click="saveRateType()" translate>
				SAVE_CHANGES
			</button>
			<button type="button" id="delete" class="button red edit-data-inline" ng-click="deleteRateType(currentClickedElement, rateTypeData.id)" translate>
				DELETE
			</button>
		</div>

	</form>
</div>
