<!-- Worksheet content -->
<section id="worksheet-content" class="content worksheets single" role="main">
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <!-- Worksheet header -->
    <form method="post" action="" id="worksheet-header" name="worksheet-header" class="worksheet-header">
        <div class="entry maid">
            <label for="worksheet-employee" translate>EMP</label>
            <div class="select">
                <select ng-model="singleState.workSheet.user_id" ng-options="employee.id as employee.maid_name for employee in employeeList" id="worksheet-employee" name="worksheet-employee">
                        <option value="">{{'SELECT_EMPLOYEE'| translate}}</option>
                </select>
            </div>
        </div>
        <div class="entry task">
            <label for="worksheet-work-type" translate>TASK</label>
            <div class="select">
                <select ng-model="singleState.workSheet.work_type_id" ng-options="workType.id as workType.name for workType in workTypes" id="worksheet-work-type" name="worksheet-work-type">
                </select>
            </div>
        </div>
        <div class="entry shift">
            <label for="worksheet-shift" translate>SHIFT</label>
            <div class="select">
                <select ng-model="singleState.workSheet.shift_id" ng-options="shift.id as shift.display_name for shift in shifts" id="worksheet-shift" name="worksheet-shift" >                   
                </select>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="button button white with-icon only-icon" ng-click="refreshSheet()"><span class="icons icon-reset"></span></button>
            <button type="button" class="button grey" ng-click="printWorkSheet()">{{'PRINT' | translate}}</button>
            <button type="button" class="button red" ng-click="deletWorkSheet()">{{'DELETE' | translate}}</button>
        </div>
    </form>

    <!-- Single worksheet - unassigned rooms -->
    <div class="unassigned-rooms single-sheet">
        <h2 translate>UNASSIGNED ROOMS</h2>
        <a ng-click="showFilter()" class="filter button open-modal white with-icon only-icon">
            <span class="icons icon-filter"></span>
            {{'FILTER_ROOMS' | translate}}
        </a>
        <div class="worksheet-actions" ng-if="false">
            <div class="select">
                <select id="worksheet-unassigned-room-status" ng-model="singleState.filters.selectedStatus"  ng-class="{'placeholder': !singleState.filters.selectedFloor}" name="worksheet-unassigned-room-status" ng-change="startLoader();filterRooms();">
                    <!-- Add class="placeholder" if value="" is selected -->
                    <option value="" selected>{{ 'ALL_UNASSIGNED'| translate}}</option>
                    <option value="DIRTY">{{ 'UNASSIGNED'| translate}} &amp; Dirty</option>
                    <option value="PICKUP">{{'UNASSIGNED' | translate}} &amp; Pickup</option>
                </select>
            </div>
            <div class="select">
                <select id="worksheet-unassigned-floor" name="worksheet-unassigned-floor" ng-model="singleState.filters.selectedFloor" ng-class="{'placeholder': !singleState.filters.selectedFloor}" ng-options="floor.floor_number as floor.description for floor in floors" ng-change="startLoader();filterRooms();">
                    <option value="" selected>{{ 'ALL_FLOORS'| translate}}</option>
                </select>                
            </div>
        </div>        
        <div id="worksheet-unassigned-rooms" class="worksheet-content scrollable" ng-iscroll="workSheetUnassigned"
            data-type="source" 
            data-drop="true" 
            jqyoui-droppable="{multiple:true, onDrop:'dropToUnassign(event, dropped)'}" 
            data-jqyoui-options="{accept: '.worksheet-room.single-sheet.assigned'}">
            <ul class="sortable wrapper">
                <!-- for {-status} values see room-status/room-status.html, lines 71-105 -->
                <li iscroll-stop-propagation id="unassigned-{{$index}}" class="worksheet-room single-sheet unassigned" ng-repeat="room in singleState.unassignedFiltered" 
                        data-drag = "true"                        
                        jqyoui-draggable ="{index: {{$index}}, animate:false, onStart: 'onAssignmentDragStart()', onStop: 'onAssignmentDragStop()' }"
                        data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo:'#worksheet-content', containment: '#worksheet-content'}">

                    <h3 class="{{room.current_status | lowercase}}">{{room.room_no}}</h3>
                    <div class="reservation-status">
                        <div class="current {{departureClass[room.reservation_status]}}">
                            <span class="guest-status {{departureClass[room.reservation_status]}}">{{room.reservation_status}}</span>
                            <!-- Show only if applicable, {departure-time} can be time or 'out' if departed -->
                            <span ng-if="room.reservation_status == 'Due out' && !room.checkout_time">DUE OUT</span>
                            <span ng-if="room.reservation_status == 'Due out' && !!room.checkout_time">{{ room.checkout_time}}</span>
                            <span ng-if="room.reservation_status == 'Departed' || room.reservation_status == 'Departed / Arrival'" translate>OUT</span>
                            <span ng-if="room.reservation_status != 'Due out' && room.reservation_status != 'Departed / Arrival' && room.reservation_status != 'Departed' &&  departureClass[room.reservation_status] == 'check-out' &&!!room.checkout_time">{{ room.checkout_time }}</span>
                            <span ng-if="room.reservation_status != 'Due out' && room.reservation_status != 'Departed' &&  departureClass[room.reservation_status] == 'check-out' && !room.checkout_time">DUE OUT</span>
                        </div>

                        <div class="next {{arrivalClass[room.reservation_status]}}">
                            <span class="guest-status {{arrivalClass[room.reservation_status]}}">{{room.reservation_status}}</span>
                            <!-- Show only if applicable, {arrival-time} can only be time -->
                            <span ng-if="room.reservation_status == 'Arrived'">IN</span>
                            <span ng-if="room.reservation_status == 'Arrival' && !room.checkin_time">ARRIVAL</span>
                            <span ng-if="room.reservation_status == 'Arrival' && !!room.checkin_time">{{ room.checkin_time }}</span>
                            <span ng-if="room.reservation_status != 'Arrival' && room.reservation_status != 'Arrived' &&  arrivalClass[room.reservation_status] == 'check-in' && !!room.checkin_time">{{ room.checkin_time}}</span>
                            <span ng-if="room.reservation_status != 'Arrival' && room.reservation_status != 'Arrived' &&  arrivalClass[room.reservation_status] == 'check-in' && !room.checkin_time">IN</span>
                        </div>

                    </div>
                     <!-- If VIP guest  -->
                    <span class="vip" ng-show='room.is_vip' translate>VIP</span>
                    <!-- If room is queued -->
                    <span ng-show="room.is_queued" class="icon icon-queued">Room queued</span>
                    <button type="button" class="button green" ng-click="assignRoom(room)" translate>ASSIGN_LABEL</button>
                </li>                
            </ul>
        </div>  
    </div>

    <!-- Single worksheet - assigned rooms -->
    <div class="assigned-rooms single-sheet">
        <h2>Assigned</h2>
        <ul class="worksheet-summary show-on-print">
            <li ng-bind="idToVal(singleState.workSheet.user_id, 'maid_name', employeeList)"></li>
            <li ng-bind="idToVal(singleState.workSheet.work_type_id, 'name', workTypes)"></li>
        </ul>
        <ul class="worksheet-summary">
            <li>{{'TIME_ALLOCATED' | translate}} <span>{{singleState.summary.timeAllocated}}</span></li>
            <li>{{'DASHBOARD_SEARCH_CHECKINGOUT' | translate}} <span>{{singleState.summary.departures}}</span></li>
            <li>{{'STAYOVERS' | translate}} <span>{{singleState.summary.stayovers}}</span></li>
            <li>{{'COMPLETED' | translate}}<span>{{singleState.summary.completed}} / {{singleState.assigned.length}}</span></li>
        </ul>         
        <div id="worksheet-assigned-rooms" class="worksheet-content scrollable" 
            data-drop="true" 
            jqyoui-droppable="{multiple:true, onDrop:'dropToAssign(event, dropped)'}" 
            data-jqyoui-options="{accept: '.worksheet-room.single-sheet.unassigned'}" 
            ng-iscroll="workSheetAssigned">
            <section>
                <!-- 1. New sheet, no rooms assigned -->
                <ul class="sortable wrapper placeholder" ng-if="singleState.assigned.length === 0"></ul>
                <div id="initial-no-content" class="no-content" ng-if="singleState.assigned.length === 0">
                    <div class="info">
                        <span class="icon-no-content icon-housekeeping"></span>
                        <strong class="h1" translate>NO_ROOM_ASSIGNED</strong>
                        <span class="h2" translate>DRAG_DROP_TO_ASSIGN</span> 
                    </div>
                </div>

                <!-- 2. Existing sheet, with rooms assigned -->
                <ul class="sortable wrapper" ng-if="singleState.assigned.length > 0" data-type="source" data-drop="true" jqyoui-droppable="{multiple:true}" data-jqyoui-options="{accept:'.worksheet-room.single-sheet.unassigned'}">
                    <!-- for {-status} values see room-status/room-status.html, lines 71-105 -->                    
                    <li iscroll-stop-propagation class="worksheet-room single-sheet assigned" ng-repeat="room in singleState.assigned" 
                        data-drag = "true"
                        jqyoui-draggable ="{index: {{$index}}, animate:false, onStart: 'onUnassignmentDragStart()', onStop: 'onUnassignmentDragStop()' }"
                        data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo:'#worksheet-content', containment: '#worksheet-content'}" id="unassigned-{{$index}}">

                        <h3 class="{{room.current_status | lowercase}}">{{room.room_no}}</h3>
                        <div class="reservation-status">
                            <div class="current {{departureClass[room.reservation_status]}}">
                                <span class="guest-status {{departureClass[room.reservation_status]}}">{{room.reservation_status}}</span>
                                <!-- Show only if applicable, {departure-time} can be time or 'out' if departed -->
                                <span ng-if="room.reservation_status == 'Due out' && !room.checkout_time">DUE OUT</span>
                                <span ng-if="room.reservation_status == 'Due out' && !!room.checkout_time">{{ room.checkout_time}}</span>
                                <span ng-if="room.reservation_status == 'Departed' || room.reservation_status == 'Departed / Arrival'" translate>OUT</span>
                                <span ng-if="room.reservation_status != 'Due out' && room.reservation_status != 'Departed / Arrival' && room.reservation_status != 'Departed' &&  departureClass[room.reservation_status] == 'check-out' &&!!room.checkout_time">{{ room.checkout_time }}</span>
                                <span ng-if="room.reservation_status != 'Due out' && room.reservation_status != 'Departed' &&  departureClass[room.reservation_status] == 'check-out' && !room.checkout_time">DUE OUT</span>

                            </div>
                            <div class="next {{arrivalClass[room.reservation_status]}}">
                                <span class="guest-status {{arrivalClass[room.reservation_status]}}">{{room.reservation_status}}</span>
                                <!-- Show only if applicable, {arrival-time} can only be time -->
                                <span ng-if="room.reservation_status == 'Arrived'">IN</span>
                                <span ng-if="room.reservation_status == 'Arrival' && !room.checkin_time">ARRIVAL</span>
                                <span ng-if="room.reservation_status == 'Arrival' && !!room.checkin_time">{{ room.checkin_time }}</span>
                                <span ng-if="room.reservation_status != 'Arrival' && room.reservation_status != 'Arrived' &&  arrivalClass[room.reservation_status] == 'check-in' && !!room.checkin_time">{{ room.checkin_time}}</span>
                                <span ng-if="room.reservation_status != 'Arrival' && room.reservation_status != 'Arrived' &&  arrivalClass[room.reservation_status] == 'check-in' && !room.checkin_time">IN</span>
                            </div>
                        </div>
                         <!-- If VIP guest  -->
                        <span class="vip" ng-show='room.is_vip' translate>VIP</span>
                        <!-- If room is queued -->
                        <span ng-show="room.is_queued" class="icon icon-queued">Room queued</span>
                        
                        <!-- If room not cleaned -->
                        <button ng-hide="room.current_status == 'INSPECTED' || room.current_status == 'CLEAN'" type="button" class="button red" ng-click="unAssignRoom(room)">Unassign Room</button>
                        <!-- If room cleaned/inspected -->
                        <span class="no-action" ng-show="room.current_status == 'INSPECTED' || room.current_status == 'CLEAN'">Room {{room.current_status}}</span> 
                    </li>
                    
                </ul>
            </section>
        </div>  
    </div>
</section>