<div role="dialog" id="modal" class="modal-show">
	<form id="room-type-charge-modal" class="modal-content form new-content">
		<button type="button" id="modal-close" class="modal-close">
			<span class="icons icon-close invert" ng-click="clickedCancelButton()"></span>
		</button>
		<strong class="h2 message">Add change room type charge to rate amount</strong>
		<div class="entry full-width">
			<div id="notification-message"></div>
		</div>
		<div class="holder float"></div>
		<div class="entry full-width">
			<label for="room-type-charge"> Charge Amount (IN
				{{currencySymbol}}
				)<strong></strong> </label>
			<input type="text" ng-model="roomCharge" placeholder="Enter the room type charge" >
		</div>
		<div class="actions float is-disabled">
			<button type="button" id="cancel-room-type-charge-modal" class="button blank modal-close" ng-click="clickedCancelButton()">
				CANCEL
			</button>
			<button type="button" id="nocharge" class="button green" ng-disabled="enableDisableButtons()" ng-click="clickedNoChargeButton()">
				NO CHARGE
			</button>
			<button type="button" id="ok" class="button green" ng-disabled="!enableDisableButtons()" ng-click="clickChargeButton()">
				CHARGE
			</button>
		</div>
	</form>
</div>