<div  class="wrapper" >
							<div class="action">
								<button type="button" id="clear-filters-button" class="button blank clear-selection" ng-click="clearAllFilters()" translate>
									CLEAR_FILTERS_LABEL
								</button>
							</div>
							
							<div class="entry radio-check" ng-repeat="group in roomFeatures">
								<label class="checkbox inline" ng-class="{'checked':feature.selected}" ng-repeat="feature in group.items"> 
									<span class="icon-form icon-checkbox" ng-class="{'checked':feature.selected}" ></span>
									<input type="checkbox" value="{{feature.id}}" 
									ng-click="setSelectionForFeature($parent.$index, $index)">
									{{feature.name}} </label>

							</div>				
							
					
</div>