<section role="complementary" id="room-assignment" class="content stay-card-inner" ng-class="{'check-in': reservationData.reservation_card.reservation_status.indexOf(['CHECKING_IN', 'CHECKEDIN'])!=-1}">
	<!-- Room assignment header -->
	<input type="hidden" value="" id="roomassignment-ref-id">
	<!-- Room assignment header -->
	<div class="reservation-header">
		<!-- Other header details -->
		<div class="data">
			<span class="room"> <span class="guest-status room">room</span> 
			<strong ng-if="reservationData.reservation_card.room_number" id="header-room-num" ng-class="getRoomStatusClass()" class="room-number" > {{reservationData.reservation_card.room_number}} </strong>
			<span id="room-type" data-room-type="DLK"> {{reservationData.reservation_card.room_type_description}} </span> </span>
			<span class="nights"> <span class="guest-status nights"></span> {{reservationData.reservation_card.total_nights + " " + setNightsText()}}
				 </span>
			<span class="date"> <span class="guest-status small-icon check-in">check-in</span> {{reservationData.reservation_card.arrival_date|date:dateFormat}} </span>
			<span class="date"> <span class="guest-status small-icon check-out">check-out</span> {{reservationData.reservation_card.departure_date|date:dateFormat}} </span>
		</div>

	</div>
	<div class="wrapper">
		<div id="notification-message" ng-include="'/assets/partials/common/notification_message.html'"></div>
		<!-- Room assignment content -->
		<div class="room-assignment-content" ng-class="{'has-room': !!reservationData.reservation_card.room_number && !roomAssgnment.inProgress && isStandAlone}">
			<!-- Rooms listing & filters -->
			<div class="rooms-listing">
				<!-- Room type search + reveal filters button -->
				<div class="search float">
					<a  class="button white with-icon only-icon toggle" ng-class="{'active':isFiltersVisible}" ng-click="toggleFiltersView()"> <span class="icons icon-filter" ng-class="{'active':isFiltersVisible}" ></span> Room attributes </a>
					<div class="select">
						<select ng-model="roomType" ng-change="getRooms($index)" name="room-type" id="room-type-selectbox">
							<!-- %option.placeholder{value: "all-types"} All room types -->
							<option ng-repeat="roomtype in roomTypes" value="{{roomtype.type}}" ng-selected="roomtype.type==roomType"> 
							{{roomtype.description}} </option>
						</select>
					</div>
				</div>
				<div class="results">
					<!-- Advanced search fields -->					
					<div id="filterlist" ng-iscroll='filterlist' ng-iscroll-delay='50' ng-show="isFiltersVisible" class="attributes scrollable" ng-include="'assets/partials/roomAssignment/rvRoomFilters.html'"  ng-controller="RVRoomFiltersController"> </div>
					
					<!-- Rooms list -->
					<div id="roomlist" ng-iscroll='roomlist' ng-iscroll-delay='50' class="rooms scrollable" ng-class="{'roomListAnimation': isFiltersVisible, 'no-content':isRoomListEmpty()}">
						<ul class="wrapper"  ng-show = "!isRoomListEmpty()">
							<li ng-repeat="room in filteredRooms" ng-click="showMaximumOccupancyDialog($index)">
								<a data-value="" class="button white submit-value hover-hand" id="room-list-item"><span data-value="{{room.room_number}}" class="room-number" ng-class="getRoomStatusClassForRoom(room)">{{room.room_number}}</span>
									<span data-value="{{room.room_number}}" class="room-status" ng-class="getRoomStatusClassForRoom(room)" ng-show="room.room_status == 'NOTREADY'">{{getNotReadyRoomTag(room)}}</span>
									<span class="room-preassignment" ng-show="room.is_preassigned">{{room.last_name + " "+ room.guarantee_type}}</span></a>
							</li>
						</ul>
						<div class="info" ng-show = "isRoomListEmpty()">
							<span class="icon-no-content icon-room"></span>
							<strong class="h1" translate>ROOMS_NOT_READY_TEXT</strong>
							<span class="h2" translate>CHANGE_FILTER_TEXT</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-include="'assets/partials/roomAssignment/rvUpgrades.html'" ng-show="isUpsellAvailable()" ng-controller="RVUpgradesCtrl"> </div>
			<!-- Upgrades available -->
			<!-- No upgrades -->
			<div class="upgrades no-content" ng-show="!isUpsellAvailable()">
				<div class="info">
					<span class="icon-no-content icon-upgrades"></span>
					<strong class="h1" translate>UPGRADES_NOT_AVAILABLE_LABEL</strong>
				</div>
			</div>

		</div>
		<button id="unassign-room" class="button red" ng-show="showUnAssignRoom()" ng-click="unassignRoom()" >Unassign Room  {{reservationData.reservation_card.room_number}} </button>
	</div>

</section>