<div role="dialog" id="modal" class="modal-show">
	<div class="modal-content" >
		<button type="button" id="modal-close" class="modal-close"  ng-click="closeDialog()">
			<span class="icons icon-close invert"></span>
		</button>
		<span class="h3 message" > ROOM HAS ALREADY BEEN TAKEN. ROOM {{roomAssignedByOpera}} IS AUTOMATICALLY ASSIGNED BY PMS </span>
		<div class="button-div">
			<button type="button" id="close" ng-click="clickedCloseButton()" class="button modal-close white red-text close-but">
				Close
			</button>
		</div>
	</div>
	
</div>