<div id="upgradesView"  class="upgrades">
   <div class="guest-likes-scroll scrollable" ng-iscroll='upgradesView' ng-iscroll-delay='500'>
   <div class="wrapper" >
      <h2 class="available-title" translate>UPGRADES_AVAILABLE_LABEL</h2>
      <ul ng-repeat="upgrade in upgradesList" class="room-upgrades-list">
         <li>
            <div class="upgrade-title">
               <span class="room-number" ng-class ="getRoomStatusClass(upgrade)"> {{upgrade.upgrade_room_number}} </span>
               <h2> {{upgrade.upgrade_room_type_name}} </h2>
               <a class="toggle has-arrow" ng-click = "toggleUpgradeDescriptionStatus($event,$index)" translate>DETAILS_LABEL</a>
            </div>
            <div id="room1034-details" ng-class="{'hidden':!isDescriptionVisible($index)}" class="room-details" ng-show="isDescriptionVisible($index)" ng-bind-html="upgrade.upgrade_room_description">
               
            </div>
            <a id="upgrade-room-select" class="button green submit-value"   data-transition="nested-view" ng-click="showMaximumOccupancyDialog($index)">
            <span translate>UPGRADE_FOR_ONLY_LABEL</span>
            <sup></sup>
            {{currencySymbol}} {{upgrade.upsell_amount}} <span translate>PER_NIGHT_LABEL</span>
            </a>
            <figure class="room-image">
               <img ng-src="{{upgrade.room_type_image}}" onerror="this.src=''" alt="" image-load image-loaded="imageLoaded()" ng-if="upgrade.room_type_image !== ''">
               <img ng-src="/assets/bedroom-blank.png" alt="" ng-if="upgrade.room_type_image === ''">
            </figure>
         </li>
      </ul>
   </div>
</div>
</div>