<section class="content current" ng-click='clearErrorMessage()'>
	
	<div data-view="HotelRoomTypesView">
		<header class="content-title float">
			<h2> {{ 'ROOM_TYPES' | translate }} </h2>
			<span class="count"> ({{data.room_types.length}}) </span>
			<a id="import-rooms" class="action import" ng-click="importFromPms($event)" ng-show="data.is_import_available">{{ 'IMPORT_FROM_PMS' | translate }}</a>
			<a id="add-rooms" class="action add" ng-click="addNewRoomType()" >{{ 'ADD_NEW' | translate }}</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
			<div id="new-form-holder"></div>
			<span id="new-form-holder" class="grid" ng-if="isAddMode" ng-include="'/assets/partials/roomTypes/adRoomTypesDetails.html'"></span>	
			<table id="brands" class="grid " ng-table="tableParams" template-pagination="nil">
				<thead>
					<tr>
						 
	           		<th width="45%" ng-class="{
	           			'sortable': currentClickedElement == -1,
	                    'sort-asc': tableParams.isSortBy('name', 'asc'),
	                    'sort-desc': tableParams.isSortBy('name', 'desc')
	                  }"
	                  
	                    ng-click="sortByName()" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user" ></i> <span >Room Type</span></div>
	                </th>
	                <th width="40%" ng-class="{
	                	'sortable': currentClickedElement == -1,
	                    'sort-asc': tableParams.isSortBy('code', 'asc'),
	                    'sort-desc': tableParams.isSortBy('code', 'desc')
	                  }"
	                  
	                    ng-click="sortByCode()" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user" ></i> <span >Room Code</span></div>
	                </th>
	                <th width="15%" class="text-center-important" ng-show="isStandAlone"><div><span>Delete</span></div>
	                </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="room_types in $data" > 
						<td ng-click="editRoomTypes($index,room_types.id)" ng-hide="currentClickedElement == $index" >
							<a data-item="3" data-colspan="2" class="edit-data-inline">{{room_types.name}} </a>
						</td>
						<td class="text-left" ng-hide="currentClickedElement == $index" >
							{{room_types.code}}
						</td>
						<td ng-hide="currentClickedElement == $index|| !isStandAlone">
							<a class="icons icon-delete large-icon" ng-click="deleteRoomTypes(room_types.id)" ></a>										
						</td>						
						<td colspan="3" ng-include="getTemplateUrl($index, room_types.id)" ng-show="currentClickedElement == $index">						
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>