<section class="content current" ng-click="clearErrorMessage()">
	<div  class="inline-edit">
		<header class="content-title float">
			<h2 translate> MAINTENANCE_REASONS </h2>
			<span class="count"> (
				{{data.maintenance_reasons.length}}
				) </span>
			<a class="action add" ng-click="addNewClicked()" translate>ADD_NEW</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			
			<div id="add-new" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/maintenanceReasons/adMaintenanceReasonsAdd.html'"></div>		
			
			<table class="grid">
				<tbody>
					<tr ng-repeat="item in data.maintenance_reasons" > 
						<td ng-click="editItem($index)" ng-hide="currentClickedElement == $index">
							<a data-item="1" data-colspan="2" class="edit-data-inline">{{item.name}} </a>
						</td>
						<td class="delete" ng-click="clickedDelete(item.value)" ng-hide="currentClickedElement == $index">
							<a class="icons icon-delete large-icon delete_item"></a>
						</td>
						<td colspan="2" ng-include="getTemplateUrl($index)"></td>
					</tr>
					
				</tbody>
			</table>
		</section>
	</div>
</section>