<section class="content current" ng-click="clearErrorMessage()"><!-- Add new Item -->
	<div id="add-new-item" data-view="ItemsDetailsView">
		<header class="content-title float">
			<h2 ng-show="mod == 'edit'">{{'EDIT' | translate}} <span>{{itemDetails.item_description}} </span></h2>
			<h2 ng-show="mod == 'add'" translate>ADD_NEW_ITEM</h2>
			
			<a data-type="load-details" class="action back" ng-click="goBack()" translate>BACK_TO_ITEMS</a>
			<em class="status required" ng-show="mod == 'edit'">
				{{'MANDATORY_FIELDS_MESSAGE1' | translate}}
				<strong>*</strong>
				{{'MANDATORY_FIELDS_MESSAGE2' | translate}}
			</em>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<form name="item-details" method="post" class="form float">
				<fieldset class="holder full-width float" ng-show="mod == 'add'">
					<div class="form-title" >
						<h3>
							<span translate>ADD_NEW</span>
							{{'ITEM' | translate}}
						</h3>
						<em class="status">
							{{'MANDATORY_FIELDS_MESSAGE1' | translate}}
							<strong>*</strong>
							{{'MANDATORY_FIELDS_MESSAGE2' | translate}}
						</em>
					</div>
				</fieldset>
				<fieldset class="holder left float">
					<ad-textbox value="itemDetails.item_description" name = "item_desc" id = "item_desc" label = "{{'ITEM_DESCRIPTION' |translate}}" placeholder = "{{'ITEM_DESCRIPTION_PLACEHOLDER' |translate}}" required = "yes" styleclass="full-width" ></ad-textbox>

					<ad-textbox value="itemDetails.unit_price" name = "unit_price" id = "unit_price" label = "{{'UNIT_PRICE' |translate}}" placeholder = "{{'UNIT_PRICE_PLACEHOLDER' |translate}}" required = "no" styleclass="full-width" ></ad-textbox>

				</fieldset>
				<fieldset ng-class="(mod == 'add') ? 'holder right float' :  'holder left float'">
					<ad-dropdown label="{{'SELECT_CHARGE_CODE' |translate}}" label-in-drop-down="{{'SELECT_CHARGE_CODE' |translate}}" list="itemDetails.charge_code" selected-Id='itemDetails.selected_charge_code' required = "yes" div-class="full-width" id="charge_code"></ad-dropdown>						
				</fieldset>
				<fieldset class="holder left float">
					<ad-checkbox is-checked="itemDetails.is_favourite" label="{{'FAVOURITE' |translate}}" name="favorite" id="favorite"></ad-checkbox>	

				</fieldset>
			<div class="actions float">
				<button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBack()" translate>CANCEL</button>

				<button type="button" id="save" class="button green add-data-inline"  ng-click="saveItemDetails()" translate>SAVE_CHANGES</button>

			</div>
		</form>
	</section>
</div>
</section>