<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>
		<div ng-show="isLoading && !netWorkError" class="checkout-status centeralign checkout-now-status" >
			<p class="msg-head">Your request is being processed.</p>
			<p class="msg-body">This may take a few seconds..... please wait!</p>
		</div>

		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head">Our apologies, something went wrong, please complete your pre check-in at our front desk.</p></p>
			<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
		</div>
		<!-- contentarea starts here-->
		<div class="container" ng-hide="isLoading || netWorkError">
			<!-- top section starts here-->
			<div class="row checkin-wrapper-top arrival-details">
				<div class="pad-rt-60 pre-checkin-container-padding">
					<div class="chekin-heading centeralign blue-text">
						Arrival Details
					</div>
					<div class="date-container ">
						<div class="row cabin_number_field ">
							<p class="lightcontent grey-text">ESTIMATED ARRIVAL TIME</p>
							<div class="expiry-year-container eta-container">
								<div class="select-style">
									<select ng-model="stayDetails.hour"
									ng-options="hour as hour  for hour in hours">
									<option value="">HH</option>
								</select>
							</div>
						</div>
						<div class="expiry-year-container eta-container">
							<div class="select-style">
								<select ng-model="stayDetails.minute"
								ng-options="minute as minute  for minute in minutes">
								<option value="">MM</option>
							</select>
						</div>
					</div>
					<div class="expiry-year-container eta-container">
						<div class="select-style arrival-time">
							<select ng-model="stayDetails.primeTime">
								<option value="AM" selected="" >AM</option>
								<option value="PM" >PM</option>
								<option value="">AM/PM</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row cabin_number_field">
				<p class="lightcontent  grey-text">LET US KNOW ANY REQUESTS OR COMMENTS</p>
				<textarea rows="5" cols="50" ng-model="stayDetails.comment" class = "col-xs-12 textArea shadow grey-text" placeholder="Comments here">
				</textarea>
			</div>	
			
			<div class="row cabin_number_field">			
				<button class="checkin-button pre-checkin-btn mgm-bg pre-checkin-button continue-button"
				ng-click="postStayDetails()">
					<span class="white-text">Continue</span>
				</button>
			</div>
	</div>
</div>	
<div class="row  no-top-margin">
	<div class="col-md-6 error-callus">
		&nbsp;
	</div>
</div>						
</div>
<!-- pre-checkinbtn section ends here-->
</div>

