<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div>
			<div class="black-bg">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
				<div class="checkout-status centeralign checkout-now-status">
					<p class="msg-head brown-text">It appears you have already completed your check-in.</p>
					<p class="msg-body brown-text">For further enquiries please contact the hotel at <a href="tel: {{hotelPhone}}"class="brown-text">{{hotelPhone}}.</a></p>
					<p class="msg-foot brown-text">Thank you!</p>
				</div>
			</div>
		</div>
	</div
></div>