 <form id="gc-contact-info" outside-click-handler name="gc-contact-info" class="form card-tab scrollable" ng-controller="RVContactInfoController" ng-show="current == 'guest-contact'">
 	<div ng-iscroll="contact_info"  ng-iscroll-delay="1000" ng-iscroll-form='true' class="contacts-information-container scrollable" style="height:{{guestCardHeight - dimensionsLookup.cardTabContentOffset}}px">
 		<div class="wrapper">
 			<div class="entry full-width">
 				<div ng-include="'/assets/partials/common/notification_message.html'"></div>
 			</div>
 			<div class="holder left">
 				<rv-textbox value="guestCardData.contactInfo.title"   label = "Title" styleclass="margin"></rv-textbox>
 				<rv-textbox value="guestCardData.contactInfo.first_name"   label = "First name" styleclass="margin" ></rv-textbox>
 				<rv-textbox value="guestCardData.contactInfo.last_name"   label = "Last Name" ></rv-textbox>
 				<rv-textbox value="guestCardData.contactInfo.works_at" styleclass="margin"  label = "Works at" ></rv-textbox>
 				<rv-textbox value="guestCardData.contactInfo.job_title"   label = "Job title" ></rv-textbox>

 				<div class="entry has-datepicker margin">
 					<label for="birthday"> Birthday </label>
 					<input type="text" ng-model="birthdayText" readonly="" name="guest-birthday" maxlength="8" id="guest-birthday" class="hasDatepicker" ng-click="popupCalendar()" >
 					<button type="button" class="ui-datepicker-trigger" ng-click="popupCalendar()">
 						...
 					</button>
 				</div>

 				<div class="entry radio-check full-width">
 					<label >Email Opt In</label>
 					<label id="guestcard_email_checkbox" class="checkbox"ng-class="{'checked': guestCardData.contactInfo.is_opted_promotion_email}">
 						<span class="icon-form icon-checkbox" ng-class="{'checked': guestCardData.contactInfo.is_opted_promotion_email}"></span>
 						<input type="checkbox"  name="opt-in" id="opt-in" ng-model="guestCardData.contactInfo.is_opted_promotion_email">
 						<span class="guest_card_promotions">Promotions &amp; News Email Opt In </span> 
 					</label>
 				</div>
 			</div> 		
 			<div class="holder right">
 					<rv-textbox value="guestCardData.contactInfo.email"   label = "E-mail address" styleclass="full-width"></rv-textbox>
 					<rv-textbox value="guestCardData.contactInfo.address.street1"   label = "Address" styleclass="full-width"></rv-textbox>
 					<rv-textbox value="guestCardData.contactInfo.address.city"  styleclass="margin" label = "City" ></rv-textbox>
 					<rv-textbox value="guestCardData.contactInfo.address.postal_code"   label = "Postal code" ></rv-textbox>
 					<rv-textbox value="guestCardData.contactInfo.address.state" styleclass="margin"  label = "State" ></rv-textbox>

 					<div class="entry">
 						<label for="country">Country</label>
 						<div form="contact-info" class="select">
 							<select iscroll-stop-propagation ng-options="country.id as country.value for country  in countries" ng-model="guestCardData.contactInfo.address.country_id">
 								<option style="display:none" value=""></option>
 							</select>
 						</div>
 					</div>
 					<rv-textbox value="guestCardData.contactInfo.phone"  styleclass="margin" label = "Phone" ></rv-textbox>
 					<rv-textbox value="guestCardData.contactInfo.mobile"   label = "Mobile" ></rv-textbox>
 			</div> 	
 		</div> 		
 	</div>
 </form>
