 <form method="post" ng-controller="RVGuestCardLoyaltyController"  id="gc-loyalty" name="loyalty" class="form card-tab scrollable" ng-show="current == 'guest-loyalty'">
     <div id="loyaltyList" ng-iscroll='loyaltyList' ng-iscroll-delay='50' class="scroll-guest-tab" style="height:{{guestCardHeight - dimensionsLookup.cardTabContentOffset}}px">
        <div class="wrapper">
            <div class="entry full-width">
                <div id="notification-message" ng-include="'/assets/partials/common/notification_message.html'"></div>
            </div>
            <!-- Frequent Flyer Program -->
            <div class="holder left">
                <strong class="h3" translate>FREQUENT_FLYER_PROGRAM</strong>
                <a class="active-item item-loyalty open-modal float active-item-no-transition" ng-repeat="freaquentLoyalty in loyaltyData.userMemberships.frequentFlyerProgram track by freaquentLoyalty.id" ng-click="showDeleteModal(freaquentLoyalty.id, $index, 'FFP')">
                   <span class="value code">{{freaquentLoyalty.membership_type}}</span>
                    <span class="value number">{{freaquentLoyalty.membership_card_number}}</span>
                    <span class="value name">{{freaquentLoyalty.membership_level}}</span>
                </a>
          
                <a ng-click="addNewFreaquentLoyality()" class="open-modal add-new-button" >+ <span translate>NEW_FREQUENT_FLYER_PROGRAM</span></a>
            </div>

            <!-- Hotel Loyalty Program -->
            <div class="holder right">
                <strong class="h3" translate>HOTEL_LOYALTY_PROGRAM</strong>
                <a class="active-item item-loyalty open-modal float active-item-no-transition" ng-repeat="hotelLoyalty in loyaltyData.userMemberships.hotelLoyaltyProgram track by hotelLoyalty.id" ng-click="showDeleteModal(hotelLoyalty.id, $index, 'HLP')">
                    <span class="value code">{{hotelLoyalty.membership_type}}</span>
                    <span class="value number">{{hotelLoyalty.membership_card_number}}</span>
                    <span class="value name">{{hotelLoyalty.membership_level}}</span>
                </a>
                <a ng-click="addNewHotelLoyality()" class="open-modal add-new-button">+ <span translate>NEW_HOTEL_LOYALTY_PROGRAM</span></a>
            </div>
        </div>
      </div>
   </form>
