<div role="dialog" id="modal" class="modal-show"><form ng-click="setPosition()" name="new-ffp" method="post" id="new-ffp" class="modal-content form new-content" action="index.html">
	<button type="button" id="modal-close" ng-click = "cancel()" class="modal-close">
		<span class="icons icon-close invert"></span>
	</button>
	<strong class="h2 message" translate>NEW_FREQUENT_FLYER_PROGRAM</strong>
		<div class="entry full-width">
 			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
 		</div>
	<div class="entry full-width">
		<div id="notification-message"></div>
	</div>
	<div class="entry full-width">
		<label for="airline" translate>AIRLINE</label>
	
			<div form="contact-info" class="select">
 						<select ng-options="userMembership.ff_value as userMembership.ff_description for userMembership  in userMembershipTypes" ng-model="userMembershipType">
 							<option style="display:none" value=""></option>
 						</select>
 					</div>
		</div>
		<div class="entry full-width">
			<label for="code" translate>CODE</label>
			<input type="text" ng-model="userMembershipNumber" name="code" id="ff-code">
		</div>
		<div class="actions">
			<button type="button" id="cancel" class="button blank modal-close" ng-click="cancel()" translate>CANCEL</button>
			<button type="button" id="save" class="button green modal-close" ng-click="save()" translate>ADD</button>
		</div>
		<input type="hidden" id="newffp_id">
	</form>
</div>