<div id="modal" class="modal-show" role="dialog">
   <form id="edit-payment" class="modal-content form confirmation" name="edit-payment" method="post" action="index.html">
      <button id="modal-close" class="modal-close" ng-click = "closeDialog()" type="button">
      <span class="icons icon-close invert"></span>
      </button>
      <button id="loyalty-delete" class="button red modal-close" type="button" name="delete" ng-click="deleteLoyalty()">Delete</button>
      <input id="loyalty_id" type="hidden">
   </form>
</div>