
<div data-role="header">
     <h1>Dashboard</h1>
 </div>
<div data-role = "content" id="dashboard" style="background-image: url(templates/assets/dashboard_bg.png);">
	<p id = "info" style="float: left;"><img src="templates/assets/info_dashboard.png" width="100" height="50"/></p>
	<p id = "deals" style="float: left;"><img src="templates/assets/deals_dashboard.png" width="100" height="50"/></p>    
    <p id = "featured" style="float: left;"><img src="templates/assets/explore_dashboard.png" width="100" height="50"/></p>
    <p id = "explore" style="float: left;"><img src="templates/assets/featured_dashboard.png" width="100" height="50"/></p>
    <p id = "near" style="float: left;"><img src="templates/assets/near_me_dashboard.png" width="100" height="50"/></p>
</div> 
<!-- <div data-role="header">
     <h1>Dashboard</h1>
 </div>
<div data-role = "content" id="dashboard" style="background-image: url(templates/assets/dashboard_bg.png);">
	<p id = item1>item1</p>
	<p id = item2>item2</p>
	<p id = item3>item3</p>
	<p id = item4>item4</p>
</div>  -->
