<section id="daily-work-assignment" class="content current" style="display: block;" ng-click="clearErrorMessage()">
	<div>
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>

		<header class="content-title float" style="position:static;margin:0;">
			<h2 translate>Work Type</h2>
			<span class="count">({{ workType.length }})</span>
			<a id="add-new-button" class="action add ng-scope" ng-click="openWorkTypeForm('new')" translate="">Add Work Type</a>
		</header>
		<div id="new-form-holder-work-type" ng-show="workTypeClickedElement == 'new'" ng-include="'/assets/partials/housekeeping/adHKAddWorkType.html'"></div>
		<table id="task-types" class="grid">
			<tbody>
				<tr ng-repeat="item in workType">
					<td ng-if="!item.is_system" width="50%" ng-click="openWorkTypeForm($index)" ng-hide="workTypeClickedElement == $index">
						<a>{{ item.name }}</a>
						<span ng-if="item.is_system" class="bold">{{ item.name }}</span>
						<em ng-if="item.is_system">&nbsp;{{ 'SYSTEM_DEFINED' | translate }}</em>
					</td>
					<td ng-if="item.is_system" width="50%">
						<span class="bold">{{ item.name }}</span>
						<em>&nbsp;{{ 'SYSTEM_DEFINED' | translate }}</em>
					</td>

					<td class="delete" ng-hide="workTypeClickedElement == $index">
						<a ng-if="!item.is_system" ng-click="deleteWorkType()" class="icons icon-delete large-icon delete_item"></a>
					</td>
					<td class="activate" ng-hide="workTypeClickedElement == $index">
						<div class="entry" ng-if="!item.is_system">
							<label></label>
							<div class="switch-button single"  ng-class="{ on : item.is_active}" ng-click="toggleActive()">
								<input type="checkbox" is_system="item.system_defined" value="" name="" id="">
								<span class="switch-icon"></span>
							</div>
						</div>
					</td>
					<td colspan="3" ng-show="workTypeClickedElement == $index" ng-include="'/assets/partials/housekeeping/adHKAddWorkType.html'"></td>
				</tr>
			</tbody>
		</table>






		<header class="content-title float" style="position:static;margin:0;">
			<h2 translate>Task List</h2>
			<span class="count">({{ taskList.length }})</span>
			<a id="add-new-button" class="action add ng-scope" ng-click="openTaskListForm('new')" translate="">Add Task</a>
		</header>
		<div id="new-form-holder-task-list" ng-show="taskListClickedElement == 'new'" ng-include="'/assets/partials/housekeeping/adHKAddToTaskList.html'"></div>
		<table id="task-types" class="grid">
			<tbody>
				<tr ng-repeat="item in taskList">
					<td width="30%" ng-click="openTaskListForm($index)" ng-hide="taskListClickedElement == $index">
						<a ng-class="{'bold' : item.is_system}">{{ item.name }}</a>
						<em ng-if="item.is_system">&nbsp;{{'SYSTEM_DEFINED' | translate }}</em>
					</td>
					<td width="30%" ng-hide="taskListClickedElement == $index">
						<span>{{ item.work_type_name }}</span>
					</td>
					<td ng-hide="taskListClickedElement == $index">
						<span>{{ item.completion_time }}</span>
					</td>
					<td class="delete" ng-hide="taskListClickedElement == $index">
						<a ng-if="!item.is_system" ng-click="deleteTaskListItem()" class="icons icon-delete large-icon delete_item"></a>
					</td>
					<td colspan="4" ng-show="taskListClickedElement == $index" ng-include="'/assets/partials/housekeeping/adHKAddToTaskList.html'"></td>
				</tr>
			</tbody>
		</table>






		<header class="content-title float" style="position:static;margin:0;">
			<h2 translate>Employee Working Shifts</h2>
			<span class="count">({{ workShift.length }})</span>
			<a id="add-new-button" class="action add ng-scope" ng-click="openWorkShiftForm('new')" translate="">Add Shift</a>
		</header>
		<div id="new-form-holder-work-shift" ng-show="workShiftClickedElement == 'new'" ng-include="'/assets/partials/housekeeping/adHKAddWorkShift.html'"></div>
		<table id="task-types" class="grid">
			<tbody>
				<tr ng-repeat="item in workShift">
					<td width="50%" ng-click="openWorkShiftForm($index)" ng-hide="workShiftClickedElement == $index">
						<a ng-class="{'bold' : item.is_system}">{{ item.name }}</a>
						<em ng-if="item.is_system">&nbsp;{{ 'SYSTEM_DEFINED' | translate }}</em>
					</td>
					<td ng-hide="workShiftClickedElement == $index">
						<span>{{ item.time }}</span>
					</td>
					<td class="delete" ng-hide="workShiftClickedElement == $index">
						<a ng-if="!item.is_system" ng-click="deleteWorkShift()" class="icons icon-delete large-icon delete_item"></a>
					</td>
					<td colspan="3" ng-show="workShiftClickedElement == $index" ng-include="'/assets/partials/housekeeping/adHKAddWorkShift.html'"></td>
				</tr>
			</tbody>
		</table>

	</div>
</section>