<div class="data-holder">
	<form class="form float">
		<div class="form-title" style="margin-bottom: 25px;">
			<h3>
				<span ng-if="workShiftForm == 'add'">{{'ADD' | translate}}</span> 
				<span ng-if="workShiftForm == 'edit'">{{'EDIT' | translate}}</span> 
				 Work Shift
			</h3>
			<em class="status"> <span translate="" class="ng-scope">All Fields</span> <span translate="" class="ng-scope">are mandatory!</span> </em>
		</div>

		<fieldset class="holder left float">
			<div class="entry">
				<label>Shift Name</label>
				<input type="text" placeholder="Enter shift name" ng-model="eachWorkShift.name">
			</div>
		</fieldset>

		<fieldset class="holder right float">
			<div class="entry">
				<label>Time</label>
				<div class="entry full-width float">
					<div class="select select-col col1-3">
						<select ng-model="eachWorkShift.hours" class="styled">
							<option value="00" data-text="Not set" class="placeholder">HH</option>
							<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==eachWorkShift.hours">{{i}}</option>
						</select>
					</div>
					<div class="select select-col col1-3">
						<select ng-model="eachWorkShift.mins">
							<option value="00" data-text="Not set" class="placeholder">MM</option>
							<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==eachWorkShift.mins">{{i}}</option>
						</select>
					</div>
				</div>
			</div>
		</fieldset>

		<div class="actions float">
			<button type="button" class="button blank edit-data-inline" ng-click="closeWorkShiftForm()" translate>CANCEL</button>

			<button ng-if="workShiftForm == 'add'" type="button" class="button green edit-data-inline" ng-click="addWorkShift()" translate>SAVE_CHANGES</button>
			<button ng-if="workShiftForm == 'edit'" type="button" class="button green edit-data-inline" ng-click="updateWorkShift()" translate>SAVE_CHANGES</button>

			<button ng-if="workShiftForm == 'edit'" ng-hide="chosenItem.newItem" type="button" class="button red edit-data-inline" ng-click="deleteWorkShift()" translate>DELETE</button>
		</div>
	</form>
</div>