<div class="data-holder">
	<form id="" class="form float">
		<div class="form-title" style="margin-bottom: 25px;">
			<h3>
				<span ng-if="taskListForm == 'add'">{{'ADD' | translate}}</span> 
				<span ng-if="taskListForm == 'edit'">{{'EDIT' | translate}}</span> 
				 Task
			</h3>
			<em class="status"> <span translate="" class="ng-scope">Fields marked with</span> <strong>*</strong> <span translate="" class="ng-scope">are mandatory!</span> </em>
		</div>

		<fieldset class="holder left float">
			<div class="entry full-width">
				<label>Task <strong> * </strong></label>
				<input type="text" placeholder="Enter the task name" ng-model="eachTaskList.name">
			</div>

			<div class="entry full-width">
				<label>Work Type <strong> * </strong></label>
				<div class="select">
					<select class="daily-task-worktype" ng-model="eachTaskList.work_type_id" ng-options="item.id as item.name for item in workType">
						<option value="" class="placeholder">Choose work type</option>
					</select>
				</div>
			</div>

			<div class="entry full-width">
			    <label for="item-type">Room Type <strong>*</strong></label>
			    <div class="boxes">
			        <label class="checkbox inline" ng-repeat="item in roomTypesList">
			            <span class="icon-form icon-checkbox" ng-class="{'checked' : eachTaskList.room_type_ids[$index]}"></span>
			            <input type="checkbox" ng-model="eachTaskList.room_type_ids[$index]">
			            {{ item.name }}
			        </label>
			    </div>
			</div>

			<div class="entry full-width">
			    <label for="item-type">Reservation status <strong>*</strong></label>
			    <div class="boxes">
			        <label class="checkbox inline" ng-repeat="item in resHkStatusList">
			            <span class="icon-form icon-checkbox" ng-class="{'checked' : eachTaskList.reservation_statuses_ids[$index]}"></span>
			            <input type="checkbox" ng-model="eachTaskList.reservation_statuses_ids[$index]">
			            {{ item.description }}
			        </label>
			    </div>
			</div>
		</fieldset>

		<fieldset class="holder right float">			
			<div class="entry full-width">
			    <label for="item-type">Fo status <strong>*</strong></label>
			    <div class="boxes">
			        <label class="checkbox inline" ng-repeat="item in foStatusList">
			            <span class="icon-form icon-checkbox" ng-class="{'checked' : eachTaskList.front_office_status_ids[$index]}"></span>
			            <input type="checkbox" ng-model="eachTaskList.front_office_status_ids[$index]">
			            {{ item.description }}
			        </label>
			    </div>
			</div>

			<div class="entry full-width">
				<label>Task completion time</label>
				<div class="entry full-width float">
					<div class="select select-col col1-3">
						<select ng-model="eachTaskList.hours" class="styled" ng-change="updateIndividualTimes()">
							<option value="" data-text="Not set" class="placeholder">HH</option>
							<option ng-repeat="i in [0, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==eachTaskList.hours">{{i}}</option>
						</select>
					</div>
					<div class="select select-col col1-3">
						<select ng-model="eachTaskList.mins" ng-change="updateIndividualTimes()">
							<option value="" data-text="Not set" class="placeholder">MM</option>
							<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==eachTaskList.mins">{{i}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="entry full-width">
				<label>Task completion HK status</label>
				<div class="select">
					<select ng-model="eachTaskList.task_completion_hk_status_id" ng-options="item.id as item.description for item in HkStatusList">
						<option value="" class="placeholder">Choose HK status</option>
					</select>
				</div>
			</div>
		</fieldset>

		<fieldset style="clear:both; width:80%;" ng-if="(eachTaskList.room_type_ids | filter:anySelected(true)).length">
			<div class="entry full-width">
				<label>Task completion Time (Individual rooms)</label>
				<div class="boxes">
					<div ng-repeat="room in roomTypesList" ng-show="eachTaskList.room_type_ids[$index]">				
						<div class="float">
							<div class="select select-col col1-4 no-bg">
								<span>{{room.name}}</span>
							</div>			
							<div class="select select-col col1-4">
								<select ng-model="eachTaskList.rooms_task_completion[room.id].hours" class="styled">
									<option value="" data-text="Not set" class="placeholder">HH</option>
									<option ng-repeat="i in [0, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==eachTaskList.rooms_task_completion[room.id].hours">{{i}}</option>
								</select>
							</div>
							<div class="select select-col col1-4">
								<select ng-model="eachTaskList.rooms_task_completion[room.id].mins">
									<option value="" data-text="Not set" class="placeholder">MM</option>
									<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==eachTaskList.rooms_task_completion[room.id].mins">{{i}}</option>
								</select>
							</div>
							<div class="select select-col col1-4 no-bg" ng-show="checkCopyBtnShow(room.id)">
								<button type="button" class="button green edit-data-inline" ng-click="copyNpaste(room.id)">Copy paste</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</fieldset>


		<div class="actions float">
			<button type="button" class="button blank edit-data-inline" ng-click="closeTaskListForm()" translate>CANCEL</button>

			<button ng-if="taskListForm == 'add'" type="button" class="button green edit-data-inline" ng-click="addTaskListItem()" translate>SAVE_CHANGES</button>
			<button ng-if="taskListForm == 'edit'" type="button" class="button green edit-data-inline" ng-click="updateTaskListItem()" translate>SAVE_CHANGES</button>

			<button ng-if="taskListForm == 'edit'" ng-hide="chosenItem.newItem" type="button" class="button red edit-data-inline" ng-click="deleteTaskListItem()" translate>DELETE</button>
		</div>
	</form>
</div>