<div id="modal" class="modal-show" ng-cloak>
	<div class="modal-content">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<form method="post" action="" id="create-worksheet" name="create-worksheet" class="modal-content form new-worksheet">
			<button class="modal-close" id="modal-close" ng-click="closeDialog()" type="button"><span class="icons icon-close invert"></span></button>

			<span class="h2 message">Assign Room</span>		
			<div class="entry full-width">
				<div class="select">
					<select ng-model="stateVariables.assignRoom.work_type_id" ng-options="workType.id as workType.name for workType in ngDialogData.workTypes" ng-disabled="ngDialogData.workTypes.length < 2">
            		</select>
				</div>
			</div>
			<div class="entry full-width">
				<div class="select">
					<select ng-model="stateVariables.assignRoom.user_id" ng-options="employee.id as employee.maid_name for employee in employeeList">
						<option value="" translate selected>Select Employee</option>
					</select>					
				</div>
			</div>

			<div class="actions">
				<button ng-click="assignRoom()"  type="button" ng-disabled="!stateVariables.assignRoom.user_id" ng-class="{'grey' : !stateVariables.assignRoom.user_id}" class="button green">Assign</button>
				<button ng-click="closeDialog()" type="button" class="button blank modal-close">Cancel</button> 
			</div>
		</form>
	</div>
</div>