- if flash[:notice]
    %p{:class =>"alert-message-dashboard notice"}= flash[:notice]
- elsif flash[:info]
    %p{:class =>"alert-message-dashboard notice"}= flash[:info]
- elsif flash[:error]
    %p{:class =>"alert-message-dashboard error"}= flash[:error]  