/ Main sidebar navigation
%nav#main-menu{role: "navigation"}
  %ul
    %li
      %a.icon-menu.icon-dashboard.active{:data => {:page => "dashboard", :transition => "main-page"}, :href=>staff_dashboard_url} Dashboard
    %li
      %a.icon-menu.icon-search{:data => {:page => "search", :transition => "main-page"},"hotel-code" => "#{}", :href=>search_view_url} Search
    /As part of CICO-4763. Below three icons keeping hidden
    %li.hidden
      %a.icon-menu.icon-social-lobby.hidden{:data => {:page => "social-lobby", :transition => "main-page"}, :href=>"javascript: void(0)"} Social Lobby
    %li.hidden
      %a.icon-menu.icon-messages.hidden{:data => {:page => "messages", :transition => "main-page"}, :href=>"javascript: void(0)"} Messages
    %li.hidden
      %a.icon-menu.icon-reviews.hidden{:data => {:page => "reviews", :transition => "main-page"}, :href=>"javascript: void(0)"} Reviews
    %li
      %a.icon-menu.icon-reports{:data => {:page => "reports", :transition => "main-page"}, :href=> 'templates/reports'} Reports
    %li#settings
      -if(current_user.hotel_admin?)
        %a.icon-menu.icon-settings{:href=>"admin/settings", "data-rel" => "external"} Settings
      -elsif(current_user.hotel_staff?)
        %a#staff-settings.icon-menu.icon-settings Settings
      -else
        %a.icon-menu.icon-settings
    %li#sign-out
      %a.icon-menu.icon-sign-out{:href=>logout_url, :title => "Logout", "data-rel" => "external"} Sign Out
    %li#rover-info
      %img{alt: "", src: "/assets/stayntouch.png"}
      Version 1.0
