#guest_loyalty{"data-view" => "GuestcardLoyaltyView"}
  .wrapper.float#loyalty-tab
    / Frequent Flyer Program
    .holder.left
      %strong.h3 Frequent Flyer Program
      #loyalty-ffp
        - @loyalty["frequentFlyerProgram"].each do |flyerPrograms|
          %a.active-item.item-loyalty.float{loyaltyId: "#{flyerPrograms['id']}" ,id:"ff-program-#{flyerPrograms["id"]}",loyaltyType:"flyer"}
            %span.value.code=flyerPrograms["membership_type"]
            %span.value.number=flyerPrograms["membership_card_number"]
            %span.value.name=flyerPrograms["membership_level"]
      %a.add-new-button#add-new-ffp{"data-action" => "new-ffp"} + New Frequent Flyer Program
    / Hotel Loyalty Program
    .holder.right
      %strong.h3 Hotel Loyalty Program
      #loyalty-hlp
        - @loyalty["hotelLoyaltyProgram"].each do |hotelPrograms|
          %a.active-item.item-loyalty.float{ loyaltyId: hotelPrograms["id"] ,id:"hl-program-#{hotelPrograms["id"]}",loyaltyType:"hotel"}
            %span.value.code=hotelPrograms["membership_type"]
            %span.value.number=hotelPrograms["membership_card_number"]
            %span.value.name=hotelPrograms["membership_level"]
      %a.add-new-button#add-new-hlp{"data-action" => "new-hlp"} + New Hotel Loyalty Program