- if flash[:notice]
  %span#loginStatus.notice.success #{flash[:notice]}
- elsif flash[:info]
  %span#loginStatus.notice.success #{flash[:info]}
- elsif flash[:error]
  %span#loginStatus.notice.error #{flash[:error]}
    