#guest_payment{"data-view" => "GuestPaymentView"}
  .wrapper.float#payment_tab{"data-payment-count" => @payment_records.count}
    .entry.full-width
      #notification-message-guest 
    / Credit cards on file  
    -@payment_records.each do |creditCardArray|
      -if(creditCardArray.is_primary)
        -@class = " primary";
      -else
        -@class = "";
      -@class = "credit-card-option-row#{creditCardArray['id']}" + @class  
      %a.active-item.item-payment.float{class: @class,  id:"credit_row#{creditCardArray['id']}", credit_id: creditCardArray["id"]}
        %figure.card-logo
          %img{alt: "", src: "/assets/#{creditCardArray.credit_card_type.value.downcase}.png"}/       
        %span.number
          Ending with
          %span.value.number
            =creditCardArray.mli_token_display
        %span.date
          Date
          %span.value.date
            -unless creditCardArray.card_expiry_display.nil? || creditCardArray.card_expiry_display.empty?
              = creditCardArray.card_expiry_display
        %span.name
          Name
          %span.value.name
            =creditCardArray.card_name
        -if(creditCardArray.is_primary)
          %span#primary_credit.primary
            %span.value.primary Primary      
    %a.add-new-button{id: "add_new_payment"} + New Payment Method
