<div id="modal" class="modal-show" role="dialog">
	
		<form id="new-payment" class="modal-content form new-content ng-pristine ng-valid" method="post" action="http://stayntouch.perceptiveinteractive.com/with-cards/app/modals/new-payment-method/" name="new-payment" ng-click="setPosition()">
			<button id="modal-close" class="modal-close" ng-click="closeDialog()" type="button">
				<span class="icons icon-close invert"></span>
			</button>
			<strong class="h2 message ng-scope" translate>NEW_ACCOUNT_RECEIVABLE</strong>
		
			<div class="ng-scope" ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div class="entry full-width" >
				<label class="ng-scope" for="ar-account-no" translate>ENTER_AR_ACCOUNT_NUMBER</label>
				<input id="ar-account-no" class="ng-pristine ng-valid" type="text" name="ar-account-no" placeholder="{{ENTER_AR_ACCOUNT_NUMBER | translate}}" value="" ng-model="ar_number" >
			</div>
			<div class="actions float">
				<button id="cancel" class="button blank modal-close ng-scope" ng-click="closeDialog()" type="button" translate>CANCEL</button>
				<button id="save" class="button green modal-close ng-scope" ng-click="createAccountReceivable()" type="button" translate>CREATE</button>
			</div>
		</form>
	
</div>