<div style="display: block;" id="add-new" class="edit-data">
	<div class="data-holder">
		<form id="add-like" class="form inline-form float">
			<div class="form-title">
				<h3>
					<span>{{likeTitle}}</span>
					{{likeSubtitle}}
				</h3>
				<em class="status">
					{{'MANDATORY_FIELDS_MESSAGE1' | translate}}
					<strong>*</strong>
					{{'MANDATORY_FIELDS_MESSAGE2' | translate}}

				</em>
			</div>
			<fieldset class="holder left float">

				<ad-textbox value="likeData.name"   label = "{{'NAME' | translate}}" placeholder = "{{'CATEGORY_NAME_PLACEHOLDER' | translate}}" required = "yes" styleclass="full-width"></ad-textbox>

				<!-- Checkbox -->
				<div class="entry full-width radio-check">
					<label class="checkbox">
						<span class="icon-form icon-checkbox" ng-class="{ checked : likeData.show_on_room_setup === 'true' }"></span>
						<label translate>ROOM_ASSIGMENT_SETUP_MSG</label>
						<input type="checkbox" ng-click="likeData.show_on_room_setup =(likeData.show_on_room_setup === 'true')? 'fasle':'true'">

					</label>
				</div>
				<div class="entry full-width">
					<label>
						{{'TYPE' | translate}}
						<strong>*</strong>
					</label>
					<div class="boxes">
						<label class="radio" ng-class="{checked:likeData.type == 'textbox'}">
							<span class="icon-form icon-radio " ng-class="{checked:likeData.type == 'textbox'}"></span>
							<input type="radio" ng-model="likeData.type" value="textbox" class="change-data" checked='checked'>
							{{'TEXT_VALUE' | translate}}
							<span>({{'TEXTBOX' | translate}})</span>
						</label>

						<label class="radio" ng-class="{checked:likeData.type == 'radio'}">
							<span class="icon-form icon-radio " ng-class="{checked:likeData.type == 'radio'}"></span>
							<input type="radio" ng-model="likeData.type" value="radio" class="change-data" >
							{{'ONE_SELECTION_TWO_OPTIONS_TEXT' | translate}}
							<span>({{'RADIO_BTN_LIST' | translate}})</span>
						</label>

						<label class="radio" ng-class="{checked:likeData.type == 'dropdown'}">
							<span class="icon-form icon-radio " ng-class="{checked:likeData.type == 'dropdown'}"></span>
							<input type="radio" ng-model="likeData.type" value="dropdown" class="change-data" >
							{{'ONE_SELECTION_MULTIPLE_OPTIONS_TEXT' | translate}}
							<span>({{'SELECTBOX' | translate}})</span>
						</label>


						<label class="radio" ng-class="{checked:likeData.type == 'checkbox'}">
							<span class="icon-form icon-radio " ng-class="{checked:likeData.type == 'checkbox'}"></span>
							<input type="radio" ng-model="likeData.type" value="checkbox" class="change-data" >
							{{'MULTIPLE_OPTIONS_MULTIPLE_SELECTION_TEXT' | translate}}
							<span>({{'CHECKBOX_LIST' | translate}})</span>
						</label>


					</div>
				</div>
			</fieldset>

			<fieldset class="holder right float">
				<!-- Radio data type -->
				<div id="entry-radio" class="data-type" ng-show="showRadio">
					<div class="entry full-width">
					 	<label for="radio-option1">
							{{'OPTIONS' |translate}}
							<strong>*</strong>
						</label>
				
						<ad-textbox value="likeData.options[0].name"    placeholder = "First option"  ></ad-textbox>
						<ad-textbox value="likeData.options[1].name"    placeholder = "Second option" ></ad-textbox>

				
					</div>
				</div>
				<!-- Select data type -->
				<div id="entry-select" class="data-type" ng-show="showDropDown">
					<div class="entry full-width">
						<label for="select-option1">
							{{'OPTIONS' |translate}}
						</label>
						<div class="entry" ng-repeat="option in likeData.options">
							<input type="text"  placeholder="Add new option" name="radio-option" ng-focus="onFocus($index)" ng-blur="onBlur($index)" ng-change="textChanged($index)" data-type="dropdown" class="add-new-option"
							ng-model="option.name" >
						</div>
					</div>

				</div>
				<!-- Checkbox data type -->
				<div id="entry-checkbox" class="data-type" ng-show="showCheckbox">
					<div class="entry full-width">
						<div class="entry full-width">
						<label for="select-option1">
							{{'OPTIONS' |translate}}
						</label>
						<div class="entry" ng-repeat="option in likeData.options">
							<input type="text"  placeholder="Add new option" name="radio-option" ng-focus="onFocus($index)" ng-blur="onBlur($index)" ng-change="textChanged($index)" data-type="dropdown" class="add-new-option"
							ng-model="option.name" >
						</div>
					</div>
				</div>
			</fieldset>


			<div class="actions float">
				<button type="button" ng-click="cancelCliked()" class="button blank add-data-inline" translate>CANCEL</button>
				<button type="button" like-type="common" ng-click="addSaveCliked()" class="button green add-data-inline" translate>SAVE_CHANGES</button>
			</div>
		</form>
	</div>
</div>