<table class="grid sub-grid">
	<tr ng-hide="showCancelForm || !showCancelList" ng-repeat="rule in cancelRulesList">
		<td class="offset"> &nbsp; </td>
		<td ng-click="editSingleRule(rule, 'Cancellation Penalties')"><a href>{{ rule.name }}</a></td>

		<td>{{ rule.description }}</td>

		<td width="10" class="delete">
			<a class="icons icon-delete large-icon" ng-click="deleteRule(rule, 'Cancellation Penalties')"translate>DELETE_RULE</a>		
		</td>
	</tr>

	<tr ng-show="showCancelForm">
		<td class="offset"> &nbsp; </td>
		<td>
			<div style="display: block;" id="add-new" class="edit-data">
				<div class="data-holder">
					<form id="add-addon" name="add-addon" class="form inline-form float">
						<div class="form-title">
							<h3>
								<span>{{ rulesTitle }}</span>
								{{ rulesSubtitle }}
							</h3>
							<em class="status">
								{{'MANDATORY_FIELDS_MESSAGE1'| translate}}
								<strong>*</strong>
								{{'MANDATORY_FIELDS_MESSAGE2'| translate}}
							</em>
						</div>

						<fieldset class="holder left float">	
							<ad-textbox styleclass="full-width"
								value="singleRule.name"
								name="name"
								id="name"
								label="Request name"
								placeholder="{{'ENTER_THE_REQUEST_NAME'|translate}}"
								required="yes"></ad-textbox>

							<ad-textarea rows="4"
								div-class="full-width"
								text-area-class="full-width"
								value="singleRule.description"
								name="desc"
								id="desc"
								label="Description"
								placeholder="{{'ENTER_THE_REQUEST_DESC'|translate}}"
								required="yes"></ad-textarea>
						</fieldset>

						<fieldset class="holder right float">
							<div class="entry">
								<ad-textbox styleclass="full-width"
									value="singleRule.amount"
									name="amount"
									id="amount"
									label="Amount[{{ currencySymbol }}]"
									placeholder="{{'ENTER_THE_AMT'|translate}}"
									required="yes"></ad-textbox>
							</div>
							<div class="entry">
								<div class="entry full-width">
									<label for="amount-type-id">
										{{'AMOUNT_TYPE'|translate}}
										<strong>*</strong>
									</label>
									<div class="select">
										<select name="amount-type-id" id="amount-type-id" ng-model="singleRule.amount_type">
											<option value="" data-text="Not set" class="placeholder">Choose amount type</option>
											<option value="amount">{{'AMOUNT'|translate}}[{{ currencySymbol }}]</option>
											<option value="percent" translate>PERCENTAGE</option>
											<option value="day" translate>NIGHTS</option>
										</select>
									</div>
								</div>
							</div>

							<div class="entry full-width" ng-show="singleRule.amount_type === 'percent'">
								<label for="amount-type-id">
									{{'PER_NIGHT_OR_STAY'|translate}}
									<strong>*</strong>
								</label>
								<div class="select">
									<select name="amount-type-id" id="amount-type-id" ng-model="singleRule.post_type_id" ng-options="type.id as type.description for type in postTypes">
										<option value="" data-text="Not set" class="placeholder" translate>CHOOSE_NIGHT_OR_STAY</option>
									</select>
								</div>
							</div>

							<div class="entry margin-right">
								<ad-textbox styleclass="full-width"
									value="singleRule.advance_days"
									name="name"
									id="name"
									label="Days In advance"
									placeholder="{{'ENTER_THE_NUM_OF_DAYS'|translate}}"></ad-textbox>
							</div>
							<div class="entry no-margin-right">
								<div class="entry full-width">
									<label translate>TIME</label>
									<div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_hour" name="hotel-checkin-hour" id="hotel-checkin-hour" class="styled">
												<option value="" data-text="Not set" class="placeholder" translate>HH</option>
												<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==singleRule.advance_hour" >{{i}}</option>
											</select>
										</div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_min" name="hotel-checkin-minute" id="hotel-checkin-minutes">
												<option value="" data-text="Not set" class="placeholder" translate>MM</option>
												<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==singleRule.advance_min" >{{i}}</option>
											</select>
										</div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_primetime" class="styled">
												<option ng-selected="singleRule.advance_primetime == 'AM'" value="AM" translate>AM</option>
												<option ng-selected="singleRule.advance_primetime == 'PM'" value="PM" translate>PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="entry margin">
								<label translate>CANCELLATION_CHARGE_CODE</label>

								<div class="select">
									<select class="placeholder" ng-model="singleRule.charge_code_id">
										<option value="" ng-selected="singleRule.charge_code_id == ''" translate>SELECT_CHARGE_CODE</option>
										<option ng-selected="singleRule.charge_code_id == charge_code.charge_code" value="{{charge_code.value}}" ng-repeat="charge_code in chargeCodes" >{{charge_code.charge_code+' '+charge_code.description}}</option>
									</select>
								</div>
							</div>

							<div class="entry full-width radio-check">
								<label class="checkbox">
									<span class="icon-form icon-checkbox" ng-class="{ checked : singleRule.apply_to_all_bookings }"></span>
									<label translate>APPLY_TO_ALL_BOOKINGS</label>
									<input type="checkbox" ng-model="singleRule.apply_to_all_bookings">
								</label>
							</div>
						</fieldset>
						
						<div class="actions float">
							<button type="button"
								id="cancel"
								class="button blank add-data-inline"
								ng-click="cancelCliked()" translate>CANCEL</button>
							<button type="button"
								like-type="common"
								id="update"
								class="button green add-data-inline"
								ng-click="saveUpdateRule('Cancellation Penalties')" translate>SAVE_CHANGES</button>
						</div>

					</form>
				</div>
			</div>	
		</td>
	</tr>
</table>