<section id="replacing-div-first"
			class="content current" ng-click="clearErrorMessage()">

	<div data-view="GuestCardLikesView">
		<header class="content-title float">
			<h2 translate>
				RULES_AND_RESTRICTIONS
			</h2>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>

			<div id="new-form-holder"
					ng-show="isAddmode"
					ng-include="getTemplateUrl()"></div>

			<table id="rules">
				<tbody>
					<tr><td><br><strong class="sep-heading" translate>RESTRICTIONS</strong></td></tr>

					<tr ng-repeat="item in ruleList | filter: { editable: false }">
						<td>
							<table class="grid">
								<td>
									<strong> {{ item.description }} </strong>
									<em translate>SYSTEM_DEFINED</em>
								</td>
								<td class="activate text-left">
									<div class="entry">
										<label></label>
										<div class="switch-button single"
												ng-class="{ on: item.activated }">
											<input type = "checkbox"
													id = "upsell-rooms"
													name = "upsell-rooms"
													ng-click = "switchClicked(item)">
											<span class="switch-icon"></span>
										</div>
									</div>
								</td>
							</table>
						</td>
					</tr>

					<tr><td><br><br><strong class="sep-heading" translate>RULES</strong></td></tr>

					<tr ng-repeat="item in ruleList | filter: { editable: true }" ng-hide="{{ item.description === 'Levels' }}">
						<td>
							<table class="grid">
								<td>
									<span class="toggle" ng-click="toggleRulesListShow()" ng-show="showPolicyArrow()"></span>
									<a class="inline" ng-click="toggleRulesListShow()"> {{ item.description }} </a>
									<em class="action add" ng-click="openAddNewRule()" translate>ADD_NEW_RULE</em>
								</td>
								<td class="activate text-left">
									<div class="entry">
										<label></label>
										<div class="switch-button single"
												ng-class="{ on: item.activated }">
											<input type = "checkbox"
													id = "upsell-rooms"
													name = "upsell-rooms"
													ng-click = "switchClicked(item)">
											<span class="switch-icon"></span>
										</div>
									</div>
								</td>
							</table>
							
							<div ng-include="getTemplateUrl()"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>