<div class="reservation-actions" ng-controller="reservationActionsController">
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<!-- Resevation is checking-in -->
		<a class="button green" ng-click="goToCheckin()" ng-show="reservationData.reservation_card.reservation_status == 'CHECKING_IN' || reservationData.reservation_card.reservation_status == 'NOSHOW_CURRENT'">
			Check in
		</a>
		<button type="button" ng-click="putInQueue(reservationData.reservation_card.reservation_id)" class="button white blue-text" ng-show="showPutInQueue(reservationData.reservation_card.is_queue_rooms_on, reservationData.reservation_card.is_reservation_queued, reservationData.reservation_card.reservation_status)">Put in Queue</button>
		
		<button type="button" ng-click="removeFromQueue(reservationData.reservation_card.reservation_id)" class="button white red-text" ng-show="showRemoveFromQueue(reservationData.reservation_card.is_queue_rooms_on, reservationData.reservation_card.is_reservation_queued, reservationData.reservation_card.reservation_status)">Remove from Queue</button>
		
		<a class="button red" ng-click="goToCheckoutButton(reservationData.reservation_card.reservation_id, 'checkoutButton', reservationData.reservation_card.smartband_has_balance)" ng-show="reservationData.reservation_card.reservation_status == 'CHECKEDIN' || reservationData.reservation_card.reservation_status == 'CHECKING_OUT'">
			Check out
		</a>
		
    	<!-- Reservation is checking out -->
		<!-- Show balance -->
		<div class="balance break" ng-show="displayBalance(reservationData.reservation_card.reservation_status, reservationData.reservation_card.balance_amount)">
			<span class="label">Balance</span>
			<!-- In connected PMS, we should indicate if it is having suppressed rate -->
			<span ng-if="isStandAlone == true">
				<span class="h1" ng-class="getBalanceAmountColor(reservationData.reservation_card.balance_amount)" ng-if ="!reservationData.reservation_card.is_rate_suppressed_present_in_stay_dates"> 
					{{currencySymbol}} 
					{{ reservationData.reservation_card.balance_amount | number:2 }}
				</span>
				<span class="h1" ng-if ="reservationData.reservation_card.is_rate_suppressed_present_in_stay_dates"> 
					SR
				</span>
			</span>
			
			<span ng-if="isStandAlone == false">
				<!-- if balance is zero, show balance in green color -->
				<span class="h1" ng-class="getBalanceAmountColor(reservationData.reservation_card.balance_amount)"> 
					{{currencySymbol}} 
					{{ reservationData.reservation_card.balance_amount | number:2 }}
				</span>
			</span>
			
		</div>
		
		<a id="deposit_balance" ng-show="showDepositBalance(reservationData.reservation_card.reservation_status, reservationData.reservation_card.is_rates_suppressed)" class="button brand-colors" ng-click="showDepositBalanceModal()">
			Deposit/Balance&nbsp;{{currencySymbol}}{{reservationData.reservation_card.deposit_attributes.outstanding_stay_total | number:precisonZero}}
		</a>
		<a id="deposit_balance" ng-show="showDepositBalanceWithSr(reservationData.reservation_card.reservation_status, reservationData.reservation_card.is_rates_suppressed)" class="button brand-colors" ng-click="showDepositBalanceModal()">
			Deposit/Balance&nbsp;{{reservationData.reservation_card.text_rates_suppressed}}
		</a>
		
		
		<!-- Show add-ons button set hidden for now as part of story 4130 - in future we need this -->
		<a class="button hidden brand-colors" ng-show="displayAddon(reservationData.reservation_card.reservation_status)">
			Add-ons
		</a>
		
		<a ui-sref="rover.reservation.staycard.billcard({reservationId:reservationData.reservation_card.reservation_id, clickedButton: 'viewBillButton', userId:guestCardData.userId})" class="button yellow-btn red-text-btn" ng-show="reservationData.reservation_card.is_routing_available == 'true'">
			View bill / Routing
		</a>
		
		<a ui-sref="rover.reservation.staycard.billcard({reservationId:reservationData.reservation_card.reservation_id, clickedButton: 'viewBillButton', userId:guestCardData.userId})" class="button white blue-text" ng-hide="reservationData.reservation_card.is_routing_available == 'true'">View bill</a>
		
		<!-- show add charge -->
		
		<a class="button white green-text" ng-click="openPostCharge()" ng-show="displayAddCharge(reservationData.reservation_card.reservation_status)">Add Charge</a>
		
		<!-- show smartbands -->
		<a class="button white blue-text" ng-click="openSmartBands()" ng-show="showSmartBandsButton(reservationData.reservation_card.reservation_status, reservationData.reservation_card.icare_enabled, reservationData.reservation_card.has_smartbands)">SmartBands</a>

		<!-- show cancel / reinstate reservation -->

		<!-- Feature Only available for STANDALONE pms -->
		<!-- TODO: Cancellation can be actioned on 'Reserved', 'DueIn' and 'CheckedIn' (reverse check in) status, if no other balance exists and if arrival date = cancellation date. For any other case the cancellation button will not display. -->
		<!-- The 'Cancel Reservation' button should be located at the bottom right of the Stay Card. -->
		<div class="bottom-buttons">
			<!-- Feature Only available for STANDALONE pms -->
			<!-- TODO: Cancellation can be actioned on 'Reserved', 'DueIn' and 'CheckedIn' (reverse check in) status, if no other balance exists and if arrival date = cancellation date. For any other case the cancellation button will not display. -->
			<!-- The 'Cancel Reservation' button should be located at the bottom right of the Stay Card. -->
			<a ng-if="(isStandAlone &&(reservationData.reservation_card.reservation_status != 'CANCELED' && (reservationData.reservation_card.reservation_status == 'RESERVED' || reservationData.reservation_card.reservation_status == 'CHECKING_IN' || (reservationData.reservation_card.reservation_status == 'CHECKEDIN' && (reservationData.reservation_card.balance_amount | number:2) == 0.00 && actionsCheck.firstDate))))" class="button white red-text" ng-click="toggleCancellation()" translate>
			{{'CANCEL_RESERVATION' | translate}}
			</a>
			<a class="button white blue-text" ng-show="showResendConfirmation(reservationData.reservation_card.reservation_status)" ng-click="sendConfirmationEmail()"> {{'RESEND_CONFIRMATION' | translate}} </a>
		</div>
	
	</div>