<form method="post" class="block-item item-newspaper">
	<div class="block-title">
		<h3 translate>NEWSPAPER_LABEL</h3>
	</div>
	<div class="select" ng-class="{'overlay':reservationData.reservation_card.reservation_status === 'CANCELED'}" >
		<!-- The newspaper selection option is not available for 'NOSHOW', 'CHECKEDOUT', 'CANCELED' reservations -->
		<select name="reservation_newspaper" iscroll-stop-propagation ng-model = "reservationData.reservation_card.news_paper_pref.selected_newspaper" ng-change="saveNewsPaperPreference()" ng-disabled= "!isNewsPaperPreferenceAvailable()">
			<option value="" class="placeholder" translate>NEWSPAPER_SELECT</option>
			<option value="{{newspaper.value}}" ng-selected="newspaper.value==reservationData.reservation_card.news_paper_pref.selected_newspaper" ng-repeat="newspaper in reservationData.reservation_card.news_paper_pref.news_papers" >
				{{newspaper.name}} 
			</option>
		</select>
	</div>
</form>