<div class="block-item item-room" ng-controller="reservationRoomStatus" ng-class="addHasButtonClass(reservationData.reservation_card.reservation_status, reservationData.reservation_card.is_upsell_available)">
	<h3 class="block-title">Room</h3>
	<!-- Room Assignment screen is not available for 'NOSHOW', 'CHECKEDOUT', 'CANCELED' reservations -->
	<!-- The arrows are removed and room assignment buttons are not clickable in that case -->
	<a class="next-view no-auto-bind" ng-click="goToroomAssignment()" ng-class="getRoomClass(reservationData.reservation_card.reservation_status)">
		 <strong class="room-number" ng-class="getRoomStatusClass(reservationData.reservation_card.reservation_status, reservationData.reservation_card.room_status, reservationData.reservation_card.fo_status, reservationData.reservation_card.room_ready_status,  reservationData.reservation_card.checkin_inspected_only)" >
		 	 {{reservationData.reservation_card.room_number}} 
		 </strong>{{reservationData.reservation_card.room_type_description}} 
	</a>

	<!-- If room assignment not available:
    <div class="no-view">
        <strong class="room-number">{Room number}</strong>
        {Room Type}
    </div> -->
	
	<div class="actions" >

  		<a id="upgrade-btn" ng-if="showUpgradeButton(reservationData.reservation_card.reservation_status, reservationData.reservation_card.is_upsell_available)" class="button with-icon brand-colors" ui-sref="rover.reservation.staycard.upgrades({reservation_id:reservationData.reservation_card.reservation_id, clickedButton : 'upgradeButton'})">
    		<span class="icons icon-upgrade"></span>
    		Upgrade
  		</a>

  		<a ng-if="showKeysButton(reservationData.reservation_card.reservation_status)" ng-click="clickedIconKey($event)" id="add-keys" class="button with-icon blue"> <!-- Add attribute data-position="bottom-right" if QR is to be shown --> 
    		<span class="icons icon-key"></span>
    		Keys
  		</a>

	</div>
	
</div>