<div id="modal" class="modal-show" role="dialog" ng-click="clearErrorMessage()" ng-cloak>
<form ng-show="!shouldShowWaiting" method="post" action="cancel-reservation" id="cancel-reservation" name="cancel-reservation" class="modal-content form cancel-reservation" ng-class="{'select-card':ngDialogData.state == 'PENALTY'}"><!-- Add class "select-card" when applying penalty charge -->
    <button class="modal-close" id="modal-close" type="button" ng-click="closeReservationCancelModal()"><span class="icons icon-close invert"></span></button>
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>   
    <!-- 1. Cancel Options screen -->
      <fieldset id="cancel-options" ng-if="ngDialogData.state == 'CONFIRM'">
        <span class="h2 message" ng-show="ngDialogData.penalty > 0" translate> OUTSIDE_CANCELLATION </span>
        <span class="text" ng-show="ngDialogData.penalty > 0">{{'PENALTY_PRE'| translate}} {{ ngDialogData.penaltyText }} {{'PENALTY_POST' | translate}}.</span>

        <div class="entry full-width">
            <label for="cancel-reason">{{'CANCELLATION_REASON'| translate}}(<span translate>OPTIONAL</span>)</label>
            <textarea id="cancel-reason" name="cancel-reason" placeholder="{{'CANCELLATION_REASON_PLACEHOLDER' | translate}}" rows="2" ng-model="cancellationData.reason"/>
        </div> 
        <div class="actions" ng-show="ngDialogData.penalty > 0">
            <button type="button" class="button green" ng-click="applyPenalty()" translate>PENALTY_APPLY</a>
            <button type="button" class="button blue" ng-click="cancelReservation()" translate>PENALTY_SKIP</a>
            <button type="button" class="button blank modal-close" ng-click="closeReservationCancelModal()" translate>CANCEL</button> 
        </div>
        <div class="actions" ng-show="ngDialogData.penalty == 0">            
            <button type="button" class="button blue" ng-click="cancelReservation()" translate>PROCEED</a>
            <button type="button" class="button blank modal-close" ng-click="closeReservationCancelModal()" translate>CANCEL</button> 
        </div>
    </fieldset>

    <!-- 2. Apply penalty screen-->
    <fieldset id="apply-penalty" class="credit-card" ng-show="ngDialogData.state == 'PENALTY'">
    	
        <strong class="h2 message">Select or Add Credit Card</strong>
        <span class="text">Card will be charged with a {{currencySymbol}}{{ ngDialogData.penalty }} penalty.</span>

        <div id="set-payment" class="payment-form">
            <div ng-include="'/assets/partials/roverPayment/rvCardOptions.html'" ng-controller="RVCardOptionsCtrl" ng-show="showCC"></div>

                  <!-- Payment type -->
            <div id="payment-type" class="entry full-width" ng-hide="showCC">
                <label for="payment-type" translate>PAYMENT_TYPE</label>
                <div class="select">
                    <select id="payment-options" ng-model="cancellationData.paymentType"  name="payment-options" ng-change="showHideCreditCard()">
                        <option value="" translate>SELECT_PAYMENT_TYPE</option>
                        <option ng-repeat="paymentData in passData.details.paymentTypes" value="{{paymentData.name}}" ng-selected="{{paymentData.name === depositData.paymentType}}">{{paymentData.description}}</option>
                    </select>
                </div>
            </div>
             <!-- Card Input type - output only if Six Payments and payment type is CC -->
            <div class="entry" ng-show="paymentGateway === 'sixpayments' && cancellationData.paymentType ==='CC' && !showCC">
                <label for="card-source">Card Input</label>
                <div class="switch-button" ng-class="{'on': !isManual}">
                    <input name="card-source" id="card-source" value="card-source" type="checkbox" ng-model="isManual" ng-change="changeOnsiteCallIn()" />
                    <label class="data-off">
                        <span class="value">C &amp; P</span>
                        <span class="switch-icon">Manual</span>
                    </label>
                    <label class="data-on">
                        <span class="switch-icon">C &amp; P</span>
                        <span class="value">Manual</span>
                    </label>
                </div>
            </div>
             <!-- Selected/added credit card -->
            <div id="selected-card" class="entry full-width" ng-show="!showCC && cancellationData.paymentType ==='CC' && (paymentGateway !== 'sixpayments' || isManual) && !depositPaidSuccesFully && cancellationData.cardNumber.length>0" ng-click="onCardClick()">
                <label>Credit Card (<span>Tap to change</span>)</label>
                <label id="pay-with-jcb" class="active-item item-payment">
                    <figure class="card-logo">
                      <img src="/assets/{{cancellationData.card_type}}.png" alt="" />
                    </figure>
                    <span class="number">Ending with <span class="value number">{{cancellationData.cardNumber}}</span></span>
                    <span class="date">Date <span class="value date">{{cancellationData.expiry_date}}</span></span>
                </label>
            </div>

            <div class="entry full-width" ng-hide="showCC || depositPaidSuccesFully" ng-class="{'amount': isShowFees()}">
                <label for="amount">Amount to pay (<span>{{currencySymbol}}</span>)</label>
                
                <!-- CICO-12408 : Use only when fee exsists -->
                <input ng-keyup="calculateFee()" name="amount" id="amount" ng-model="ngDialogData.penalty" type="text" disabled="true" class="amount" />
                <span ng-show="isShowFees()" class="delimiter">+</span> 
                <input ng-show="isShowFees()" name="fee" id="fee" ng-keyup="calculateTotalAmount(ngDialogData.penalty)" ng-model="feeData.calculatedFee" value="{{feeData.calculatedFee}}" type="text" class="fee" />
                <span ng-show="isShowFees()" class="delimiter">fee</span>

                <span ng-show="isShowFees()" class="total">
                    Total:
                    <strong id="total-deposit-amount">
                        {{currencySymbol}}{{feeData.totalOfValueAndFee}}
                    </strong>
                </span>

            </div>
            <!-- Reference field - use only when it exsits -->
            <div class="entry full-width reference" ng-hide="showCC || !isDisplayReference ||depositPaidSuccesFully">
                <label for="reference">Reference</label>
                <input name="reference" id="reference" ng-model="referanceText" type="text" />
            </div>
            
            <div class="entry full-width" ng-show="!showCC && cancellationData.paymentType ==='CC' && (paymentGateway !== 'sixpayments' || isManual) && newCardAdded && !depositPaidSuccesFully">
                <label class="checkbox inline" for="add-in-guest-card" ng-class="{'checked': cancellationData.addToGuestCard}">
                    <span class="icon-form icon-checkbox" ng-class="{'checked': cancellationData.addToGuestCard}"></span>
                    <input ng-model="cancellationData.addToGuestCard" id="add-in-guest-card" value="1" type="checkbox" />
                    {{'ADD_TO_GUEST_CARD' | translate}}
                </label>
            </div> 

            <!-- Success feedback -->
            <div class="feedback" ng-show="depositPaidSuccesFully">
                <div class="notice success">Amount paid!</div>
                <ul class="transaction">
                    <li ng-show="authorizedCode !==''">
                        Your Authorize code is: <span class="auth">{{authorizedCode}}</span>
                    </li>
                    <li ng-if="isShowFees()">
                        Amount paid: <span class="value">{{currencySymbol}}{{ngDialogData.penalty}} + {{currencySymbol}}{{feeData.calculatedFee}} fee
                        </span>
                    </li>
                    <li ng-if="!isShowFees()">
                        Amount paid: <span class="value">{{currencySymbol}}{{ngDialogData.penalty}}
                        </span>
                    </li>
                </ul>
            </div> 


            <!-- Buttons -->
            <div class="actions" ng-hide="showCC || depositPaidSuccesFully">
                <button type="button" class="button blank modal-close" ng-click="closeReservationCancelModal()">Close</button>
                <button type="button"  ng-disabled="cancellationData.paymentType === ''" ng-class="{'grey':cancellationData.paymentType === '','green':cancellationData.paymentType !== ''}" class="button" ng-click="submitPayment()">Make Payment</button> 
            </div>
            <div class="actions" ng-hide="!depositPaidSuccesFully">
                <button type="button" id="cancel-payment" class="button blank modal-close" ng-click="cancelReservation()" translate>CANCEL_RESERVATION</button>
             </div>   
        </div>
    </fieldset>
</form>
<div ng-show="shouldShowWaiting" class="modal-content modal-vertical-centered" style="position: relative;padding: 40px;text-align: center;">
	<div class="centeralign alert-box">
		WAITING FOR PAYMENT COMPLETION 
	</div>
	<div class="waiting-payment">&nbsp;</div>
</div>

</div>