<div class="block-wrapper">
    <span ng-show="reservationData.reservation_card.notes.reservation_notes.length == 0" class="block-title toggle has-arrow" ng-click="reservationNotesState.hideDetails = !reservationNotesState.hideDetails; refreshReservationDetailsScroller(100)" ng-class="{'active': !reservationNotesState.hideDetails}">
        Add Notes
    </span>
    <span ng-show="reservationData.reservation_card.notes.reservation_notes.length > 0" class="block-title toggle has-arrow" ng-click="reservationNotesState.hideDetails = !reservationNotesState.hideDetails; refreshReservationDetailsScroller(100)" ng-class="{'active': !reservationNotesState.hideDetails}">
        Notes
    </span> 
    <div id="{notes-id}" class="block-item item-notes has-buttons" ng-class="{'hidden': reservationNotesState.hideDetails}"> <!-- Remove class hidden when 'a.toggle' is clicked -->
        <!-- Post note form -->
        <form method="post" action="{action}" class="form">
            <textarea placeholder="{{'WRITE_NOTE'|translate}}" ng-model="$parent.reservationnote" rows="2"></textarea>
            <div class="actions">
                <button type="button" class="button brand-colors post" ng-click="saveReservationNote()" translate>NOTES_POST</button>
            </div>
        </form>

        <!-- Notes posted -->
        <ul class="notes">
            <li ng-repeat="note in reservationData.reservation_card.notes.reservation_notes">
                <figure class="guest-image">
                    <img ng-src="{{note.user_image}}" alt="">
                </figure>
                <div class="note-title">
                    <h4> {{note.username}} </h4>
                    <time datetime="T">
                        <span class="time"> {{note.posted_time}}</span>
                        <span class="date">{{note.posted_date | date:dateFormat}} </span>
                    </time>
                    <span class="topic"> {{note.topic}} </span>
                    <button id="delete_note" class="icons icon-trash" ng-click="deleteReservationNote($index)" >Delete post</button>
                </div>
                <p ng-bind-html="note.text">
                </p>
            </li>            
        </ul>
    </div>
</div>