<div id="reservations-nav-current" class="reservation-tabs-nav reservations-tabs" ng-controller="reservationListController"  >
	<div id="resultListing" ng-iscroll='resultListing' ng-iscroll-delay='700' style="position:absolute; top:0px; bottom: 0px; left:0px; width: 100%;" class="scrollable">
	<!-- <div id="result_listing" ng-iscroll="result_listing" ng-iscroll-delay="1000"   style="position:absolute; top:0px; bottom: 0px; left:0px; width: 100%;"> -->
	<ul class="wrapper ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
		
		
		<li class="icons-tabs no-icon reservation-tab ui-state-default 
					ui-corner-top" 
					ng-click="getReservationDetails(list.confirmation_num,list.id)" 
					ng-repeat="list in reservationList" ng-class="{'ui-tabs-active': currentReservationId == list.confirmation_num}">
			<a> 
				<span class="guest-status small-icon" ng-class="{'arrival': (list.reservation_status == 'RESERVED' && !list.is_pre_checkin), 'check-in': (list.reservation_status == 'CHECKING_IN' && !list.is_pre_checkin), 'no-show':  list.reservation_status == 'NOSHOW' || list.reservation_status == 'NOSHOW_CURRENT', 'departed':  list.reservation_status == 'CHECKEDOUT', 'check-out': list.reservation_status == 'CHECKING_OUT', 'inhouse': list.reservation_status == 'CHECKEDIN', 'cancel': list.reservation_status == 'CANCELED','pre-check-in': list.is_pre_checkin}" ></span>
				<span class="number">{{list.confirmation_num}}</span> 
		    </a>
		</li>
		
		<!-- Setting button to hidded - need in future -->
		<a class="hidden open-modal add-new-button">+ Add new</a>
	</ul>
	</div>
</div>
