<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
							
				<div class="checkout-status centeralign checkout-now-status">
					<p class="msg-head">Check-out is complete.</p>
					<p class="msg-body">An email with your bill details has been sent to:</br>
						 {{emailAddress}}.</p>
					<p class="msg-foot">Thank you for staying with us!</p>
					
					<p class="msg-foot">For the best rates always book direct</p>
				</div>

				
			</div>
		</div>
	</div
></div>