<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>	
	<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
					<p class="msg-head">Your request is being processed.</p>
					<p class="msg-body">This may take a few seconds..... please wait!</p>
				</div>
			
		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
			<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
		</div>
	<!-- contentarea starts here-->
	<div class="container" ng-hide="isFetching || netWorkError ">
		<!-- top section starts here-->
		<div class="row checkin-wrapper">
			<div class="col-md-6 headtext centeralign pad-rt-60">
				Enter Your 4-digit<br class="cabin-number-main-heading-seperator"/> Cabin Number				
			</div>
			<div class="verti-ruler"></div>
			<!-- top section ends here-->
			<div class="col-md-6 pad-lf-60 cabin-number">
				<form >
				<div class="row cabin_number_field">
					<div class="row cabin_number_field">
						<p class="cabin-number-text" ng-show ="(roomVerificationInstruction.length>0)">({{roomVerificationInstruction}})</p>
					</div>	
				</div>	
				<div class="row cabin_number_field centeralign margin-top-10">
					<input type="password" ng-model="roomNumber" class = "col-xs-8 textBox float-none" placeholder="Enter Cabin number"/> 
				</div>							
						<button class="checkin-button continue-button" ng-click="continueButtonClicked()">
							<span class="continue-text">Continue</span>
						</button>				
				</form>
			</div>
		</div>
			<!-- checkinbtn section ends here-->
		</div>
	</div>
</div>


