<!--for charge code type other than PAYMENT or TAX -->
<div class="form-title">
	<h3 class="ng-binding"><span translate="" class="ng-scope">Tax Setup</span></h3>
	<a translate="" style="float:right;" class="form-title action add add-tax ng-scope" ng-click="addTaxClicked()">Add Tax </a>
</div>
<!-- <div class="content-title form-title">
	<h3 translate>TAX_SETUP </h3>
	<a ng-click="addTaxClicked()" class=" action add" style="float:right;" translate>ADD_TAX</a>
</div> -->
<!--for charge code type other than PAYMENT or TAX -->

<!-- EDITABLE WHEN 'ADD TAX' IS CLICKED -->
<div id="new-form-holder" ng-show="isAddTax" ng-include="'/assets/partials/chargeCodes/adTaxFormAdd.html'"></div>
<div id="new-form-holder"></div>
<!-- EDITABLE WHEN 'ADD TAX' IS CLICKED -->
<table id="taxCalculationList" class="grid datatable">
	<tbody>
		<tr ng-repeat="row in prefetchData.linked_charge_codes">
			<td ng-hide="isEditTax && currentClickedTaxElement === $index" >
				<a data-colspan="1" class="tax-name edit-data-inline" ng-click="editSelectedTax($index)"> 
					{{'TAX' |translate}} {{$index+1}}
				</a>
				<a class="icons icon-delete large-icon delete_item pull-right" ng-click="deleteTaxFromCaluculationPolicy($index)"></a>
			</td>
			<td data-colspan="1" ng-include="'/assets/partials/chargeCodes/adTaxFormEdit.html'" ng-show="isEditTax && currentClickedTaxElement === $index"></td>
		</tr>
		</tbody>
</table>
