<!-- EDITABLE WHEN 'ADD TAX' IS CLICKED -->

<div ng-show="isEditTax">
	<div class="form-title" >
		<h3>{{'TAX' |translate}} {{$index+1}}</h3>
	</div>

	<div class="entry full-width">
		<div class="center_align">
			<div class="float_left">
				<label class="radio">
					<span ng-class="{'checked': row.is_inclusive}" class="icon-form icon-radio "></span>
					<input type="radio" ng-click="toggleExclusive($index,true)" >
					{{'INCLUSIVE' |translate}} </label>
			</div>
			<div class="float_left rates_exclusive">
				<label class="radio" >
					<span ng-class="{'checked':!row.is_inclusive}" class="icon-form icon-radio" ></span>
					<input type="radio" ng-click="toggleExclusive($index,false)" >
					{{'EXCLUSIVE' |translate}} </label>
			</div>
		</div>
	</div>
	
	<div class='entry full-width'  ng-style="full-width">
	  <label>{{'CHARGE_CODE' |translate}}</label>
	  <div class='select'>
	  	<select ng-model='row.charge_code_id'>
	      <option value="">
	        {{'CHARGE_CODE_PLACEHOLDER'| translate}}
	      </option>
	      <option ng-repeat='code in prefetchData.tax_codes' value='{{code.value}}'  ng-selected="code.value==row.charge_code_id" >
	        {{code.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{code.description}}
	      </option>
	    </select>
	  </div>
	</div>
	
	<!-- Show from TAX 2 onwards. -->
	<ad-dropdown ng-if="!row.is_inclusive && $index!==0" label="{{'CALCULATION_RULE' |translate}}" selbox-class= "placeholder" label-in-drop-down="{{'SELECT_CALCULATION_RULE' |translate}}" list="row.calculation_rule_list" selected-Id="row.selected_calculation_rule" div-class="full-width"  ></ad-dropdown>
	
	<div class="actions float" style=" padding-top: 0px; height: 73px;">
		<button type="button" ng-click="clickedCancelEditTax($index)" class="button blank edit-data-inline" translate>
			CANCEL
		</button>
		<button type="button" ng-click="clickedUpdateTax($index)" class="button green edit-data-inline" translate>
			OK
		</button>
	</div>
</div>
