<div id="modal" class="modal-show" role="dialog">
   <form method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form advanced-bill">
      <button id="modal-close" class="modal-close" type="button" ng-click = "closeAdanceBillDialog()"><span class="icons icon-close invert"></span></button>
      <span class="message h2" translate>ADVANCE_BILL_CONFIRM_TEXT</span>
      <div class="actions">
         <button type="button" class="button green modal-close" ng-click = "generateAdvanceBill()" translate>POST_CHARGES_LABEL</button>
         <button type="button" ng-click = "closeAdanceBillDialog()" class="button red modal-close" translate>NO</button>
      </div>
   </form>
</div>