<div id="modal" class="modal-show" role="dialog">
   <form ng-hide="shouldShowWaiting" method="post" action="billing-information" id="billing-information" name="billing-information" class="modal-content billing-information" ng-class="{'add-card':saveData.newPaymentFormVisible}">
   <button id="modal-close" type="button" class="dark-title modal-close" ng-click="handleCloseDialog()"><span class="icons icon-close"></button>
      <div class="modal-header">
         <h1 translate>BILLING_INFO_TITLE</h1>

         <em ng-if = "billingEntity !== 'TRAVEL_AGENT_DEFAULT_BILLING' && billingEntity !== 'COMPANY_CARD_DEFAULT_BILLING'"><span translate>CONFIRMATION_LABEL</span> #{{reservationData.confirm_no}}</em>
         <em ng-if = "billingEntity == 'TRAVEL_AGENT_DEFAULT_BILLING'">{{attachedEntities.travel_agent.name}}</em>
         <em ng-if = "billingEntity == 'COMPANY_CARD_DEFAULT_BILLING'">{{attachedEntities.company_card.name}}</em>
         <button type="button" id="new-route" class="button" ng-class = "{'green': isInitialPage, 'white':!isInitialPage}" ng-click="headerButtonClicked()" ng-hide="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'">{{getHeaderButtonLabel()}}</button>
      </div>
      <div style="position: relative;overflow: hidden;height:510px;">
         <div class = "wrapper">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <!-- Billing Info Content -->
            <div ng-if = "isInitialPage" class="billing-info-body" ng-include="'/assets/partials/bill/rvAllRoutes.html'" ></div>

            <div ng-if = "(!isInitialPage && !isEntitySelected)" class="billing-info-entity" ng-include="'/assets/partials/bill/rvSelectEntity.html'"></div>

            <div ng-if = "(!isInitialPage && isEntitySelected)" class="billing-info-body" ng-include="'/assets/partials/bill/rvRouteDetails.html'"  > </div>
         </div>
      </div>
   </form>
   <div ng-show="shouldShowWaiting" class="modal-content modal-vertical-centered waiting-dialog" style="position: relative;padding: 40px;text-align: center;" ng-cloak>
		<div class="centeralign alert-box">
			WAITING
		</div>
		<div class="waiting-payment">&nbsp;</div>
	</div>
</div>