<div role="dialog" id="modal" class="modal-show" ng-cloak>
<form method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form edit-charge">
    <button class="modal-close" type="button"  ng-click="callActionsPopupAction('close')"  id="modal-close"><span class="icons icon-close invert"></span></button>
    <fieldset id="charge-options" class="actions">
        <button type="button" class="button red" ng-click="callActionsPopupAction('remove')" ng-hide="hideRemoveAndEdit" translate>REMOVE_CHARGE</button>
        <button type="button" class="button blue" ng-click="callActionsPopupAction('split')" translate>SPLIT_CHARGE</button>
        <button type="button" class="button brand-colors" ng-click="callActionsPopupAction('edit')" ng-hide="hideRemoveAndEdit" translate>EDIT_CHARGE</button> 
        <button type="button" class="button blank modal-close" ng-click="callActionsPopupAction('close')" translate>CANCEL</button> 
    </fieldset>
</form>
</div>