<div class="nested-view view-current">
	<!-- Nav bar -->

	<div class="no-print" ng-include="'/assets/partials/common/header.html'"></div>

	<section role="complementary" id="registration-details" class="content stay-card-inner check-in">
		<!-- Reservation Header -->
		<div class="reservation-header" >
			<div class="actions">
				<!-- Billing information -->
				<a class="button blue" ng-click="openBillingInformation()" ng-show = "isStandAlone" translate>{{reservationBillData.billingInfoTitle}}</a>
			</div>
						
			<!-- Other header details -->
			<div class="data">
				<span class="room" ng-show="reservationBillData.room_number != ''"> 
					<span class="guest-status room" translate>ROOM</span>
					<strong id="header-room-num" class="room-number" ng-class="getRoomClass(reservationBillData.reservation_status, reservationBillData.room_status, reservationBillData.fo_status, reservationBillData.room_ready_status, reservationBillData.checkin_inspected_only)"> {{reservationBillData.room_number}} </strong> 
					<span id="room-type"> {{reservationBillData.room_type_name}} </span> 
				</span>
				<span class="nights"> 
					<span class="guest-status nights"></span> {{reservationBillData.number_of_nights}}
					{{setNightsString()}} 
				</span>
				<span class="date"> <span class="guest-status small-icon check-in" translate>CHECK_IN</span> 
				 {{reservationBillData.checkin_date | date:fulldayInWeek}}
				 {{reservationBillData.checkin_date | date:dateFormat}} </span>
				<span class="date"> <span class="guest-status small-icon check-out" translate>CHECK_OUT</span>
				{{reservationBillData.checkout_date | date:fulldayInWeek}} 
				{{reservationBillData.checkout_date | date:dateFormat}} </span>
			</div>
		</div>

		<!-- Registration Content -->
		<div ng-iscroll='registration-content' ng-iscroll-delay='1000' class="registration-content scrollable">

			<div class="wrapper">
				<div ng-include="'/assets/partials/common/notification_message.html'"></div>
				<div id="billing-information" class="billing-information notice" ng-show="showBillingInfo && !isStandAlone">
					<table>
						<thead>
							<tr>
								<th><span translate>TO_BILL</span> #</th>
								<th><span translate>TO_ROOM</span> #</th>
								<th><span translate>GUEST_OR_COMPANY</span></th>
								<th><span translate>DETAILS</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="routingData in reservationBillData.routing_array">
								<td> {{routingData.bill_number}} </td>
								<td>{{routingData.room_no}}</td>
								<td> {{routingData.guest_or_company}} </td>
								<td> {{routingData.details}} </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="billing-information" class="billing-information notice" ng-show="showIncomingBillingInfo && !isStandAlone">
					<table>
						<thead>
							<tr>
								<th><span translate>FROM_ROOM</span> #</th>
								<th></th>
								<th><span translate>FROM_GUEST_NAME</span></th>
								<th><span translate>DETAILS</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="incomingRoutingData in reservationBillData.incoming_routing_array">
								<td> {{incomingRoutingData.room_no}} </td>
								<td></td>
								<td> {{incomingRoutingData.guest_name}} </td>
								<td> {{incomingRoutingData.details}} </td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- Rate & Bill Summary -->
				<div id="bills" class="registration-summary ui-tabs ui-widget ui-widget-content ui-corner-all" >
					<!-- Bills summary tabs navigation -->
					<div id="bills-tabs-nav" class="float bill-tabs" ng-iscroll="bill-tab-scroller" ng-iscroll-delay="100">
						<div class="bill-tab-container"  style="width:{{getWidthForBillTabsScroll()}}px">
						
						<!-- Billing info -->
						<a class="toggle has-arrow" ng-show="routingArrayCount>0 && !isStandAlone" ng-class="{'active':showBillingInfo}" ng-click="showBillingInfoHandle()" translate> BILLING_INFO </a>
						
						<!-- Incoming billing info -->
						<a class="toggle has-arrow" ng-show="incomingRoutingArrayCount>0 && !isStandAlone" ng-class="{'active':showIncomingBillingInfo}" ng-click="showIncomingBillingInfoHandle()" translate> INCOMING_BILLING_INFO </a>
						
						<a class="button no-post-button" ng-show="clickedButton == 'checkinButton' && !reservationBillData.is_res_posting_control_disabled" ng-click="noPostButtonClicked()" ng-class = "{'green':reservationBillData.roomChargeEnabled, 'red': !reservationBillData.roomChargeEnabled}">{{getNoPostButtonTiltle()}}  </a>
						
						<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all bill-tab-ul" role="tablist">
							
							<li class="ui-state-default ui-corner-top bill-tab-li" ng-click="setActiveBill($index)" ng-class="showActiveBill($index)" ng-repeat="billTab in reservationBillData.bills">
								<a class="ui-tabs-anchor" >
								<div class="price" ng-hide="billTab.total_amount=='SR'">
									<span translate>BILL #{{billTab.bill_number}}</span>
									{{currencySymbol}}{{billTab.total_amount | number: precisonZero}}
								</div>
								<div class="price" ng-show="billTab.total_amount=='SR'">
									<span translate>BILL #{{billTab.bill_number}}</span>
									{{billTab.total_amount}}
								</div>
								<div class="payment" ng-show="billTab.credit_card_details.payment_type !== 'CC'">
									{{billTab.credit_card_details.payment_type_description}}
								</div>
								<figure id="payment-info-1" class="card-logo" ng-show="billTab.credit_card_details.payment_type == 'CC'">
									<img ng-src="/assets/{{billTab.credit_card_details.card_code}}.png" alt="" class="credit-card-image">
									<span class="number"> {{billTab.credit_card_details.card_number}}</span>
								</figure></a>
							</li>
							<li class="add-new-bill-li" ng-show="reservationBillData.bills.length<10 && isStandAlone">
							<a class="button with-icon brand-colors ng-binding ui-tabs-anchor add-new-bill-button" ng-click="createNewBill()"> 
								<span class="icons icon-plus"></span> 
							</a>
							</li>

						</ul>
						</div>
					</div>
					
					<!-- Bill Tabs for Day items and Group items -->
					<div ng-class="{'hidden': $index!=currentActiveBill}" class="bill-position bill-summary ui-tabs-panel ui-widget-content ui-corner-bottom" ng-repeat="billData in reservationBillData.bills">
						<div class="bill-summary-wrapper">
							<!-- TODO: IMPLEMENT HORIZONTAL SCROLL -->
							
							<div class="scrollable" ng-iscroll='billDays' ng-iscroll-delay='50' id="bill-days-new">
								<ul class="wrapper" style="width: {{billData.billDaysWidth}}px;">
									<li class="add-new" ng-click="openPostCharge(billData.bill_number)">
										<a id="add-new-button" class="add-new-button">+ <span translate>ADD</span></a>
									</li>

									<li ng-click="showDayRates($index, days.date, reservationBillData.checkout_date, reservationBillData.number_of_nights)" ng-repeat="days in billData.days" ng-class="getDaysClass($parent.$index, days.date, reservationBillData.checkin_date, reservationBillData.checkout_date, businessDate)">
										<!-- For checkin date -->
										<a class="toggle dual-toggle" ng-class="{'active': $index == dayRates}" ng-show="showDays(days.date,reservationBillData.checkout_date, reservationBillData.number_of_nights, 'others')"> 
											<span class="day"> {{days.date | date:'EEE'}} </span> 
											<span class="date"> {{days.date | date:'dd'}} </span> 
											<span class="guest-status check-in small-icon" ng-show="days.date == reservationBillData.checkin_date"><span translate>CHECK_IN</span></span> 
											<span class="price" ng-show="days.amount == 'SR'">SR</span>
											<span class="price" ng-hide="days.amount == 'SR'">{{currencySymbol}}{{days.amount | number: precisonZero}}</span>  
										</a>
										<!-- For checkout date -->
										<div class="no-expense" ng-show="showDays(days.date,reservationBillData.checkout_date, reservationBillData.number_of_nights, 'checkout')">
											<span class="day"> {{days.date | date:'EEE'}} </span>
											<span class="date"> {{days.date | date:'dd'}} </span>
											<span class="guest-status check-out small-icon" ><span translate>CHECK_OUT</span></span>
										</div>
									</li>

									<!-- packages -->
									<li class="active package summarychargegroup" ng-click="showAddons($index)" ng-repeat="addons in billData.addons">
										<a class="toggle dual-toggle" ng-class="{'active': $index == showAddonIndex}"> 
											<span class="day"> {{addons.title}} </span> 
											<span class="price" ng-show="addons.package_type != 'PACKAGES'">{{addons.package_type}}</span> 
											<span class="price" ng-show="addons.package_type == 'PACKAGES'">{{currencySymbol}}{{addons.amount | number: precisonZero}}</span> 
										</a>
									</li>

									<!-- Group items tab -->
									<li class="active expense summarychargegroup" ng-click="showGroupItems($index)" ng-repeat="groupItems in billData.group_items">
										<a class="toggle dual-toggle"  ng-class="{'active': $index == showGroupItemIndex}"> 
											<span class="expense"> {{groupItems.title}} </span> 
											<span class="price" >{{currencySymbol}}{{groupItems.amount | number: precisonZero}}</span>
										</a>
									</li>

								</ul>

							</div>
							<!-- Bill  summaries -->
							<!-- Bill item per day -Summary -->
							<div class="summary-expanded float" ng-class="{'hidden': $index != dayRates}" ng-repeat="billItem in billData.days">
								<a class="toggle has-arrow" ng-click="showRoomDetails($index)" ng-class="{'active': $index == showRoomDetailsIndex}">
									<div class="price" ng-show="reservationBillData.is_rate_suppressed_present_in_stay_dates">
										{{'SUPPRESSED_RATES_TEXT' | translate}}

										<span translate>+ FEES</span>
									</div>
									<div class="price" ng-hide="reservationBillData.is_rate_suppressed_present_in_stay_dates">
										{{currencySymbol}}{{billItem.amount | number: precisonTwo}}<span translate>+ <span translate>FEES</span>
									</div>
									<div class="rate">
										<span translate> RATE_PER_NIGHT </span>
										{{billItem.rate_name}}
									</div>
									<div class="room">
										<span translate> GUEST_ROOM_TYPE </span>
										{{billItem.room_type_name}}
									</div> 
								</a>
								<div class="stay-details float" ng-class="{'hidden': $index != showRoomDetailsIndex}">
									<div class="rate-details">
										{{billItem.rate_description}}
									</div>
									<div class="room-details" ng-bind-html="billItem.room_type_description">
										
									</div>
								</div>
							</div>

							<!-- package summary -->
							<div class="summary-expanded float" ng-class="{'hidden': showAddonIndex != $index}" ng-repeat="billAddons in billData.addons">
								<table class="expense-details">
									<thead>
										<tr>
											<th class="price" translate>PRICE</th>
											<th translate>PACKAGE</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="expense in billAddons.expense_details">
											<td class="price" ng-if="expense.is_inclusive == 'true'" translate> INCL </td>
											<td class="price" ng-if="expense.is_inclusive == 'false' && expense.price =='' " translate> EXCL </td>
											<td class="price" ng-if="expense.is_inclusive == 'false' && expense.price !==''"> {{currencySymbol}}{{expense.price | number: precisonTwo}} </td>
											<td> {{expense.package}} </td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Group items per day - Summary -->
							<div class="summary-expanded float" ng-class="{'hidden': showGroupItemIndex != $index}" ng-repeat="billGroupItems in billData.group_items">
								<table class="expense-details">
									<thead>
										<tr>
											<th translate>EXPENSE</th>
											<th translate>LOCATION</th>
											<th translate>DATE</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="billGroupExpense in billGroupItems.expense_details">
											<td class="price" > {{currencySymbol}}{{billGroupExpense.expense | number: precisonTwo}} </td>
											<td> {{billGroupExpense.title}} </td>
											<td> {{billGroupExpense.date | date:'MM-dd-yyyy'}} </td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
						<!-- Show Total Stay Fees and Balance -->

						<div ng-include="'assets/partials/bill/rvTotalStayFees.html'" ></div>

						<!-- Show Signature -->
					
						<div ng-include="'assets/partials/bill/rvSignature.html'"></div>
						<!-- Review bill and Complete checkout -->
						<!-- Checkin screen -->
						<!-- Checkout screen -->
					</div>
					<!-- Review bill and Complete checkout -->
					<!-- Checkin screen -->
					<!-- Checkout screen -->
				</div>
				<!-- Show Signature -->
				<!-- = render :partial => "staff/reservations/signature",:locals =>{:data =>data} -->
			</div>
		</div>
		
</div>

</section>
</div>