<div role="dialog" id="modal" class="modal-show" ng-cloak>
    <form method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form edit-charge" ng-click="clearErrorMessage()">
        <button class="modal-close" type="button"  ng-click="callActionsPopupAction('close')"  id="modal-close"><span class="icons icon-close invert"></span></button>

        <fieldset id="edit-charge" name="edit-charge" class="edit-charge">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <span class="h2 message" translate>EDIT_CHARGE</span>
            <span class="text">{{selectedTransaction.desc}}<strong>{{currencySymbol}}{{selectedTransaction.amount}}</strong></span>
            <ul id="change-edit-type" class="modal-options">
                <li ng-class="{'active':!chargeCodeActive}" ng-click="setchargeCodeActive(false)" translate>AMOUNT</li>
                <li ng-class="{'active':chargeCodeActive}" ng-click="setchargeCodeActive(true)" translate>CHARGE_CODE</li>
            </ul>

            <!-- Edit amount field -->
            <div id="edit-amount" class="entry full-width" ng-hide="chargeCodeActive">
                <label for="new-amount">{{'NEW_AMOUNT' | translate}}(<span>{{currencySymbol}}</span>)</label>
                <input name="new-amount" id="new-amount" placeholder="{{'ENTER_VALUE_PLACEHOLDER' | translate}}" ng-model="newAmount" type="text" />
            </div>

            <!-- Search available charge codes -->
            <div id="change-code" class="entry full-width" ng-show="chargeCodeActive">
                <div id="autocomplete-charge-codes" class="search-codes charge-code-select">
                    <input ng-model="chargecodeData.chargeCodeSearchText" ng-keyup="chargeCodeEntered()" name="search-codes" id="search-codes" type="text" placeholder="{{'SEARCH_OR_SELECT_CODES_PLACEHOLDER' | translate}}" value="" autocomplete="off" />
                    <div class="mini-select" ng-click = "showAvailableChargeCodes()"></div>
                </div>
                <div ng-show="(chargecodeData.chargeCodeSearchText.length>2 || showChargeCodes)">
                    <!-- Charge code Results / content -->
                    <div class="company-card-results charge-code-list" ng-hide="availableChargeCodes.length === 0"  ng-iscroll="chargeCodesList" ng-iscroll-delay="100">
                        <div class="search-results">
                            <ul id="search-list">
                                <li ng-repeat="chargeCode in availableChargeCodes" ng-click="selectChargeCode(chargeCode.id)" ng-show="chargeCode.is_row_visible === true">
                                    <h4 class="text-bold first-text" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.name|highlight:chargecodeData.chargeCodeSearchText:false"></h4> &nbsp;
                                    <h4 class="text-bold" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.description|highlight:chargecodeData.chargeCodeSearchText:false"></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Preview, hidden until amount edited or charge code changed -->
            <div id="edit-preview" class="entry full-width notice" ng-show="selectedChargeCode.description.length>0 || newAmount.length>0">
                <strong class="h4" translate>CHARGE_WILL_APPEAR_AS</strong>
                <ul>
                    <li>
                        <strong class="flag" translate>ADJUSTMENT</strong>
                        <span ng-hide="selectedChargeCode">
                        {{selectedTransaction.desc}} </span>
                        <span ng-show="selectedChargeCode">{{selectedChargeCode.description}}</span>               
                        <span class="value" ng-show="newAmount.length>0"> <span ng-class ="{'hidden':newAmount - selectedTransaction.amount< 0}">+</span>{{newAmount - selectedTransaction.amount |number:2}}</span>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="button green modal-close guest-bill-edit-buttons" ng-click="editCharge(newAmount,selectedChargeCode)" translate>CHANGE_AMOUNT</button>
                <button type="button" class="button blank guest-bill-edit-buttons" ng-click="callActionsPopupAction('close')" translate>CANCEL</button> 
            </div>
        </fieldset>
    </form>
</div>