<div class="invoice-logo">
    <h1 translate>INVOICE</h1>
    <img ng-src="{{printData.hotel_logo}}" alt="Logo of hotel" />
</div>
<table class="guest-info">
    <tbody>
        <tr>
            <th translate>GUEST_FULL_NAME</th>
            <th translate>ARRIVAL_DATE</th>
            <th translate>DEPARTURE_DATE</th>
        </tr>
        <tr>
            <td>{{printData.guest_details.first_name}}&nbsp;{{printData.guest_details.last_name}}</td>
            <td>{{printData.arrival_date | date:dateFormat}}</td>
            <td>{{printData.departure_date | date:dateFormat}}</td>
        </tr>
        <tr>
            <th translate>CITY</th>
            <th translate>STATE</th>
            <th translate>POSTAL_CODE</th>
            <th translate>COUNTRY</th>
        </tr>
        <tr>
            <td>{{printData.guest_details.city}}</td>
            <td>{{printData.guest_details.state}}</td>
            <td>{{printData.guest_details.postal_code}}</td>
            <td>{{printData.guest_details.country}}</td>
        </tr>
        <tr>
            <th translate>CONFIRMATION_NO</th>
            <th translate>ROOM_NO</th>
            <th translate>INVOICE_NO</th>
        </tr>
        <tr>
            <td>{{printData.confirmation_number}}</td>
            <td>{{printData.room_number}}</td> 
            <td>{{printData.invoice_number}}</td>
        </tr>
    </tbody>
</table>
<div class="invoice-header">
    {{printData.custom_text_header}}
</div>
<div class="invoice-body">
    <p class="date"><strong translate>INVOICE_DATE</strong>{{printData.invoice_date | date:dateFormat}}</p>
    <table class="invoice-details">
        <caption>
            {{printData.hotel_name}}
            <span ng-if="printData.show_hotel_address">
               {{printData.street}}&nbsp;&#9830;&nbsp;{{printData.city}},&nbsp;{{printData.state}}&nbsp; {{printData.zipcode}}&nbsp;&#9830;&nbsp;{{printData.country}}
            </span>
        </caption>
        <thead>
            <tr>
                <th translate>DATE_OF_CHARGE</th>
                <th translate>CHARGE_DESC</th>
                <th class="align-right" translate>CHARGE_AMOUNT</th>
                <th class="align-right" translate>CREDIT_AMOUNT</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"><strong translate>TOTAL_CHARGE</strong></td>
                <td><strong>{{currencySymbol}}{{printData.total_fees}}<strong></td>
            </tr>
            <tr>
                <td colspan="3"><strong translate>TOTAL_CREDITS<strong></td>
                <td><strong>{{currencySymbol}}{{printData.credits | number: precisonTwo}} <strong></td>
            </tr>

            <tr>
                <td colspan="3"><strong translate>BALANCE</strong></td>
                <td><strong>{{currencySymbol}}{{printData.balance}} </strong></td>
            </tr>
            <tr>
                <td colspan="3" translate>NET_AMOUNT</td>
                <td>{{currencySymbol}}{{printData.net_amount}}</td>
            </tr>
           
            <tr ng-repeat="item in printData.tax_details">
                <td colspan="3"> 
                    {{item.description}}
                </td>
                <td>           
                    {{currencySymbol}}{{item.amount | number: precisonTwo}}
                </td>
            </tr>

        </tfoot>

        <tbody>
            <tr ng-repeat="item in printData.charge_details_list">
                <td>{{item.date | date:dateFormat}}</td>
                <td class="description">
                    <span>{{item.description}}</span>
                    <span class="reference" ng-show="item.reference_text != ''">{{item.reference_text}}</span>
                </td>
                <td class="align-right">{{currencySymbol}}{{item.amount | number: precisonTwo}}</td>
                <td class="align-right"></td>
            </tr>

            <tr ng-repeat="item in printData.credit_details_list">
                <td>{{item.date | date:dateFormat}}</td>
                <td class="description">
                    <span>{{item.description}}</span>
                    <span class="reference" ng-show="item.reference_text != ''">{{item.reference_text}}</span>
                </td>
                <td class="align-right"></td>
                <td class="align-right">{{currencySymbol}}{{item.amount | number: precisonTwo}}</td>
            </tr>
        </tbody>

    </table>
</div>
<div class="invoice-footer">
    {{printData.custom_text_footer}}
</div>