<div role="dialog" id="modal" class="modal-show">
    <form method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form edit-charge" ng-click="clearErrorMessage()">  
        <button class="modal-close" type="button"  ng-click="callActionsPopupAction('close')"  id="modal-close"><span class="icons icon-close invert"></span></button>
        <fieldset id="remove-charge" class="remove-charge">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <span class="h2 message" translate>REMOVE_CHARGE</span>
            <span class="text red">{{selectedTransaction.desc}} <strong>{{currencySymbol}}{{selectedTransaction.amount}}</strong></span>
            <div class="entry full-width">
                <textarea placeholder="{{'REMOVAL_REASON_PLACEHOLDER' | translate}}" rows="2" ng-model="reasonForRemoving"></textarea>
            </div>
            <div class="actions">
                <button type="button" class="button red modal-close" ng-click="removeCharge(reasonForRemoving)" translate>REMOVE_CHARGE</button> 
                <button type="button" class="button blank" ng-click="callActionsPopupAction('close')" translate>CANCEL</button> 
            </div>
        </fieldset>
    </form>
</div>