<div id="billing-content" class="content-wrapper" ng-controller="rvRouteDetailsCtrl">
	<fieldset class="content-left">
		<div id="entity-details" class="entity-details scrollable">
			<div class="wrapper">
				<div class="title">
					{{'ENTITY' | translate}}
					<button type="button" id="edit-entity" ng-click="deSelectEntity()" class="button with-icon only-icon purple edit" ng-hide="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'">
						<span class="icons icon-pencil" ></span>
					</button>
				</div>
				<!-- Selected entity -->
				<div class="entity guest">
					<figure class="guest-image" ng-class = "getEntityIconClass(selectedEntity)" ng-if="escapeNull(selectedEntity.images[0].guest_image)!=''">
						<img src="{{selectedEntity.images[0].guest_image}}" alt="" />
					</figure>

					<figure class="guest-image" ng-if="escapeNull(selectedEntity.images[0].guest_image)==''">
	                    <div class="guest-image icons icon-company" ng-if="escapeNull(selectedEntity.entity_type)=='COMPANY_CARD'" ></div>
	                    <div class="guest-image icons icon-travel-agent" ng-if="escapeNull(selectedEntity.entity_type)=='TRAVEL_AGENT'" ></div>
	                </figure>

					<h2>{{selectedEntity.name}}</h2>
					<span class="guest-status small-icon" ng-class = "getGuestStatusMapped(selectedEntity.reservation_status, selectedEntity.is_opted_late_checkout)"  ng-hide="selectedEntity.entity_type !='RESERVATION'" >{{selectedEntity.status}}</span>
                  <div class="status" ng-class="getEntityRole(selectedEntity)" ng-show="selectedEntity.entity_type !='RESERVATION'">{{selectedEntity.status}}</div>
				</div>
				<div class="title" ng-show= "showPayment">Payment
					<button type="button" id="edit-entity" ng-click="renderAddedPayment = null; isAddPayment = false" class="button with-icon only-icon purple edit" ng-show= "renderAddedPayment != null">
						<span class="icons icon-pencil" ></span>
					</button>
				</div>
				<!-- Available credit card -->
				<div ng-iscroll='paymentList' ng-iscroll-delay='100' style="position: relative;height:210px;overflow: hidden;" ng-show = "!isAddPayment && showPayment && paymentDetails == null">
					<div class="wrapper">
						<div class="payment" ng-class="{'active': selectedEntity.selected_payment == paymentType.id}" ng-show = "!isAddPayment && showPayment" ng-repeat="paymentType in attachedPaymentTypes" ng-click = "selectedEntity.selected_payment = paymentType.id">
							<!-- add class active when selected -->
							<span ng-show = "paymentType.payment_type_id == 1">
								<figure class="card-logo">
									<img src="/assets/{{paymentType.card_code}}.png" alt="" />
								</figure>
								<span class="number">{{'NUMBER' | translate}} <span class="value number">{{paymentType.mli_token}}</span></span>
								<span class="date">{{'DATE' | translate}} <span class="value date">{{paymentType.card_expiry}}</span></span>							
							</span>
							<span class="value code" ng-show = "paymentType.payment_type_id != 1">{{ paymentType.payment_type }}</span>
							<span class="icons icon-ok-10" ng-show="selectedEntity.selected_payment == paymentType.id"></span>
						</div>
					</div>
				</div>

				<div class="payment active"  ng-show = "isAddPayment && showPayment && renderAddedPayment.payment_type == 'CC' && !saveData.newPaymentFormVisible">
						<!-- add class active when selected -->
						<span ng-show = "renderAddedPayment.payment_type == 'CC'">
							<figure class="card-logo">
								<img src="/assets/{{renderAddedPayment.creditCardType}}.png" alt="" />
							</figure>
							<span class="number">{{'NUMBER' | translate}} <span class="value number">{{renderAddedPayment.endingWith}}</span></span>
							<span class="date">{{'DATE' | translate}} <span class="value date">{{renderAddedPayment.cardExpiry}}</span></span>							
						</span>
						<span class="value code" ng-show = "paymentDetails.payment_type != 'CC'">{{ paymentDetails.payment_type_description }}</span>
						<span class="icons icon-ok-10" ></span>
				</div>
				
				<!-- Add new credit card button - remove it when new card is added -->
				<button type="button" class="add-new-button" ng-click = "showAddPayment()" ng-show = "!isAddPayment && showPayment && paymentDetails == null">+ New Payment Method</button>

				<!-- For to add the new credit card, should be shown when button above is tapped -->
				<div id = "newpaymentview"  ng-show = "isAddPayment && showCreditCardDropDown && showPayment && paymentDetails == null"  ng-include="'/assets/partials/bill/rvRoutesAddPayment.html'"> </div>
				  <!-- <div ng-include="'/assets/partials/roverPayment/rvCardOptions.html'" ng-controller="RVCardOptionsCtrl" ng-if = "isAddPayment && showPayment && paymentDetails == null"></div> -->
			</div>
		</div>
	</fieldset>
	<fieldset class="content-right">
		<span class="h2 message" ng-hide = "(reservationData.reservation_id != selectedEntity.id && selectedEntity.entity_type == 'RESERVATION') || billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'">
		  {{'ROUTE_TO_BILL' | translate}}
			<div class="select select-stand-alone">
				<select ng-model = "selectedEntity.to_bill" ng-disabled = "!selectedEntity.is_new" name="post-charge-to-bill" >
					<option value="{{bill.id}}" ng-selected = "bill.id == selectedEntity.to_bill" ng-repeat = "bill in bills">{{bill.bill_number}}</option>
					<!-- .. add options as needed -->
				</select>
			</div>
		</span>
		<span class="h2 message" ng-show="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'" translate> DETAILS</span>
		<ul id="transaction-type" class="modal-options" >
			<li ng-class="{'active' : isBillingGroup}" ng-click = "toggleChargeType()" translate>BILLING_GROUP</li>
			<li ng-class="{'active' : !isBillingGroup}" ng-click = "toggleChargeType()" translate>CHARGE_CODES</li>
		</ul>
		<div id="transactions" ng-iscroll='billingGroups' ng-iscroll-delay='100' class="transactions scrollable" ng-show = "isBillingGroup">
			
				<div class="entry radio-check wrapper"  >
					<label class="checkbox" ng-repeat  = "billingGroup in availableBillingGroups" ng-click = "toggleSelectionForBillingGroup(billingGroup)">
						<span class="icon-form icon-checkbox" ng-class = "{'checked':isBillingGroupSelected(billingGroup)}" ></span>
						<input name="billing-group" id="100" value="100" type="checkbox" />
						<span class="value"></span> {{billingGroup.name}}
					</label>
					
				</div>
			
		</div>


		<!-- Search available charge codes -->
		<div id="autocomplete-charge-codes" class="search-codes charge-code-select" ng-show = "!isBillingGroup">
			<input ng-model="chargeCodeSearchText" ng-keyup="chargeCodeEntered()" name="search-codes" id="search-codes" type="text" placeholder="{{'SEARCH_OR_SELECT_CODES_PLACEHOLDER' | translate}}" value="" autocomplete="off" />
			<div class="mini-select" ng-click = "showAvailableChargeCodes()">
				
			</div></div>
			<div ng-show="(chargeCodeSearchText.length>2 || showChargeCodes)">
         	
         	<!-- Charge code Results / content -->
				<div class="billing-info-charges charge-code-list" ng-hide="availableChargeCodes.length === 0"  ng-iscroll="chargeCodesList" ng-iscroll-delay="100">
					<div class="search-results" >
						<ul id="search-list" >
							<li ng-repeat="chargeCode in availableChargeCodes" ng-click="selectChargeCode(chargeCode.id)" ng-show="chargeCode.is_row_visible === true">
								<h4 class="text-bold first-text" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.code|highlight:chargeCodeSearchText:false"></h4> &nbsp;
								<h4 class="text-bold" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.description|highlight:chargeCodeSearchText:false"></h4>
							</li>
						</ul>
					</div>
				
	         	</div>
			</div>
		<!-- Added from search -->
		<div id="transactions" ng-iscroll='chargeCodes' ng-iscroll-delay='100' class="transactions codes scrollable billing-info-charge-codes" ng-show = "(!isBillingGroup && selectedEntity.attached_charge_codes.length > 0)">
			
				<div class="entry radio-check wrapper" >
					<label class="checkbox" ng-click="removeChargeCode(selectedChargeCode)" ng-repeat = "selectedChargeCode in selectedEntity.attached_charge_codes">
						<span class="icon-form icon-checkbox checked"></span>
							<input name="billing-group" id="100" value="100" type="checkbox" checked />
						<span class="value">{{selectedChargeCode.code}}</span> {{selectedChargeCode.description}}
					</label>
					
				</div>
		</div>
		<!-- No content-->
			<div id="transactions" class="transactions codes scrollable no-content" ng-show = "(!isBillingGroup && selectedEntity.attached_charge_codes.length == 0)">
				<div class="info">
					<strong class="h1" translate>NO_CODES_ADDED</strong>
				</div>
			</div>
	</fieldset>

	<!-- <fieldset class="content-right" ng-show = "bills.length == 0">
      <div class="no-content" >
         <div class="info">
            <strong class="h1" translate>NO_BILLS_TO_ROUTE</strong>  
            
         </div>
      </div> -->
        
   </fieldset>

</div>
<div class="actions">
	<button type="button" id="close-information" class="button blank modal-close" ng-click = "headerButtonClicked()" ng-hide="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'">CANCEL</button>
	<button type="button" id="close-information" class="button blank modal-close" ng-click = "closeThisDialog()" ng-show="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'">CANCEL</button>

	<button type="button" id="save-route" class="button green modal-close" ng-click = "saveRoute()" ng-hide="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'" translate>SAVE_ROUTE</button>
	<button type="button" id="save-route" class="button green modal-close" ng-click = "saveRoute()" ng-show="billingEntity === 'TRAVEL_AGENT_DEFAULT_BILLING' || billingEntity === 'COMPANY_CARD_DEFAULT_BILLING'" translate>SAVE</button>
</div>