<div id="billing-content" class="content-wrapper no-action" ng-controller="rvSelectEntityCtrl">
   <fieldset class="content-left">
      <div class="search-form" role="search">
         <div class="entry">
            <a href="#" id="billing-info-clear-query" class="clear-query" ng-class="{'visible': textInQueryBox!=''}">
            	<span class="icons icon-clear-search" ng-click="clearResults()"  translate>CLEAR_QUERY</span>
            </a>
            <button type="submit" name="submit" class="icons icon-search" translate>MENU_SEARCH</button>
            <input name="billing-info-query" id="billing-info-query" class="query" placeholder="{{'FIND_PLACEHOLDER' | translate}}" type="search" autocomplete="off" ng-model="textInQueryBox" ng-keyup="queryEntered()"/>
         </div>
      </div>
      <div id="available-entities">
         <!-- Attached entities, if exist -->
         <span class="h3 message" ng-hide="textInQueryBox!=''" translate>ATTACHED_ENTITIES</span>
         <div id="entities" ng-iscroll='entities' ng-iscroll-delay='100' class="entities-list scrollable" ng-hide="textInQueryBox!=''" >
            <ul class="wrapper">
            	<!-- List for guests -->
                 <li class="entity guest" ng-show="attachedEntities.hasOwnProperty('primary_guest_details')" ng-click="selectAttachedEntity(-1,'GUEST')">
                  <!-- image -->
                  
                  <figure class="guest-image" >
							<img src="{{attachedEntities.primary_guest_details.avatar}}" alt="" />
					</figure>

                  <!-- heading -->
                  <h2>{{attachedEntities.primary_guest_details.name}}</h2>
                  <!-- icon -->
                  <span class="guest-status small-icon" ng-class = "getGuestStatusMapped(reservationData.reservation_status, reservationData.is_opted_late_checkout)"   >{{attachedEntities.primary_guest_details.name}}</span>
                 </li>

                 <!-- List for accompany guests -->
                 <li class="entity accompany" ng-repeat="entity in attachedEntities.accompanying_guest_details" ng-click="selectAttachedEntity($index,'ACCOMPANY_GUEST')">
                  <!-- image -->
                  
                  <figure class="guest-image accompany" >
							<img src="{{entity.avatar}}" alt="" />
					</figure>

                  <!-- heading -->
                  <h2>{{entity.name}}</h2>
                  <!-- icon -->
                  <span class="guest-status small-icon" ng-class = "getGuestStatusMapped(reservationData.reservation_status, reservationData.is_opted_late_checkout)"   >{{entity.name}}</span>
                 </li>

                 <!-- Company card -->

                 <li class="entity company" ng-show="attachedEntities.hasOwnProperty('company_card')" ng-click="selectAttachedEntity(-1,'COMPANY_CARD')">
                  <!-- image -->
                  		
                  		<figure class="guest-image" ng-if="escapeNull(attachedEntities.company_card.logo)!=''">
	                        <img ng-src="{{attachedEntities.company_card.logo}}" alt="">
	                	</figure>
                  		<figure class="guest-image" ng-if="escapeNull(attachedEntities.company_card.logo)==''">
		                    <div class="guest-image icons icon-company" ></div>
		                    
		                </figure>



                  <!-- heading -->
                  <h2>{{attachedEntities.company_card.name}}</h2>
                  <!-- icon -->
                  
                  <div class="status company" >{{attachedEntities.company_card.name}}</div>
                 </li>

                 <!-- Travel agent card -->
                 <li class="entity travel-agent" ng-show="attachedEntities.hasOwnProperty('travel_agent')" ng-click="selectAttachedEntity(-1,'TRAVEL_AGENT')">
                  <!-- image -->
                  		<figure class="guest-image" ng-if="escapeNull(attachedEntities.travel_agent.logo)!=''">
	                        <img ng-src="{{attachedEntities.travel_agent.logo}}" alt="">
	                	</figure>
                  		<figure class="guest-image" ng-if="escapeNull(attachedEntities.travel_agent.logo)==''">		              
		                    <div class="guest-image icons icon-travel-agent" ></div>
		                </figure>

                  <!-- heading -->
                  <h2>{{attachedEntities.travel_agent.name}}</h2>
                  <!-- icon -->                  
                  <div class="status travel-agent" >{{attachedEntities.travel_agent.name}}</div>
                 </li>

            </ul>
         </div>
         <!-- Search results, show instead of attached entities when searching -->
         
        <ul id="filter-entities" class="modal-options" ng-show="textInQueryBox!=''">
			<li ng-click="toggleClicked(true)" ng-class="{'active':isReservationActive}" translate>
				RESERVATIONS
			</li>
			<li ng-click="toggleClicked(false)" ng-class="{'active':!isReservationActive}" translate>
				CARDS
			</li>
		</ul>
		<div id="entities" class="entities-list scrollable" ng-show="textInQueryBox!='' && !isReservationActive" ng-iscroll='cards_search_scroller' ng-iscroll-delay="100" style="height:57%;bottom: 0px; left:0px; width: 100%;overflow:hidden;">
			<ul class="wrapper">
				<div class="entity" ng-repeat="row in results.cards"  ng-class="{'company': row.account_type.toLowerCase()=='company', 'travel-agent': row.account_type.toLowerCase()=='travelagent'}" ng-show="row.is_row_visible==true" ng-hide="results.cards.length == 0" ng-click="selectEntity($index,'CARDS')">
	                <!-- image -->
	              	<figure class="guest-image" ng-if="escapeNull(row.company_logo)!=''">
	                        <img ng-src="{{row.company_logo}}" alt="">
	                </figure>
	
	                <figure class="guest-image" ng-if="escapeNull(row.company_logo)==''">
	                    <div class="guest-image icons icon-company" ng-if="escapeNull(row.account_type)=='COMPANY'" ></div>
	                    <div class="guest-image icons icon-travel-agent" ng-if="escapeNull(row.account_type)=='TRAVELAGENT'" ></div>
	                </figure>
	                <!-- heading -->
	                <h2 ng-bind-html="row.account_name | highlight:textInQueryBox:false"></h2>
	                <!-- icon -->
                  	<div class="status" ng-class="{'company': row.account_type.toLowerCase()=='company', 'travel-agent': row.account_type.toLowerCase()=='travelagent'}"></div>
                 </div>
			</ul>
			<!-- No results / no content when searched query not found-->
        	<div class="no-content" ng-show="results.cards.length==0 && textInQueryBox!='' && !isReservationActive">
				<div class="info">
					<span class="icon-no-content icon-cards"></span>
					<strong class="h1" translate>NO_MATCH_FOUND_MSG</strong>
				</div>
			</div>
		</div>
		
		<div id="entities" class="entities-list scrollable" ng-show="textInQueryBox!='' && isReservationActive" ng-iscroll='res_search_scroller' ng-iscroll-delay="100" style="height:57%;bottom: 0px; left:0px; width: 100%;overflow:hidden;">
			<ul class="wrapper">
				<div class="entity" ng-repeat="row in results.reservations" ng-show="row.is_row_visible==true" ng-hide="results.reservations.length == 0" ng-class="{'guest':row.images.length <= 1,'accompany':row.images.length >1}" ng-click="selectEntity($index,'RESERVATIONS')">
							
					<!-- image -->
					<figure class="guest-image" ng-show="row.images.length!=0 " ng-class="{'accompany': row.images.length >1}">	
						<img ng-repeat="image in row.images" 
						ng-src="{{image.guest_image}}" 

						ng-class="{'first-image':(row.images.length >1 && image.is_primary==true),

						'second-image':(row.images.length >1 && image.is_primary==false)}">

						<span class="vip" ng-show="row.vip==true" translate>VIP</span>
					</figure>

					<div class="data">
						<h2 ng-bind-html="'{{row.lastname}}, {{row.firstname}}'|highlight:textInQueryBox:false" 
						ng-class="{'grey' : row.images.length >1}"> </h2>
						<span class="confirmation" ng-bind-html="'# {{row.confirmation}}'|highlight:textInQueryBox:false" ></span>
						<span class="room">{{'ROOM_LABEL' | translate}} <strong ng-bind-html="'{{row.room}}'|highlight:textInQueryBox:false"></strong></span>
					</div>	
					
					<span class="guest-status small-icon {{getGuestStatusMapped(row.reservation_status, row.is_opted_late_checkout)}}" ></span>
						
				</div>
			</ul>
			<!-- No results / no content when searched query not found-->
        	<div class="no-content" ng-show="results.reservations.length==0 && textInQueryBox!='' && isReservationActive">
				<div class="info">
					<span class="icon-no-content"></span>
					<strong class="h1" translate>NO_MATCH_FOUND_MSG</strong>
				</div>
			</div>
			
		</div>
		<button ng-show="textInQueryBox!=''" type="button" id="cancel-entity-search" class="button blank" ng-click="clearResults()" translate>CANCEL_SEARCH</button>
		
      </div>
      
   </fieldset>
   <fieldset class="content-right">
      <div class="no-content" >
         <div class="info">
            <strong class="h1" translate>ENTITY_NOT_SELECTED</strong>
            <span class="h2" translate>SELECT_ENTITY_TO_CONFIGURE</span>
         </div>
      </div>
        
   </fieldset>
</div>