<!-- Checkin screen -->
<form id="signature-pad" class="complete-registration form" ng-if="clickedButton == 'checkinButton' && $index === 0">
	<h2  ng-show="reservationBillData.required_signature_at === 'CHECKIN'" translate>PLEASE_SIGN_BELOW</h2>
	<div class="sig sigWrapper" ng-show="reservationBillData.required_signature_at === 'CHECKIN'">
		<div id="signature" ui-jq="jSignature" ui-options="signaturePluginOptions" ng-mouseover="disableScroll()" ng-mouseleave="enableScroll()">
			
		</div>
	</div>
	<div class="entry">
		<label id="terms-and-conditions" for="terms" class="checkbox inline" ng-hide="reservationBillData.is_disabled_terms_conditions_checkin">
			<span class="icon-form icon-checkbox" ng-class="{'checked': saveData.termsAndConditions}"></span>
			<input type="checkbox" class = "termsandconditions-checkbox" ng-model="saveData.termsAndConditions">
			<div class = "agree-terms-and-conditions" ng-click = "termsAndConditionsClicked()">{{ 'T_AND_C_TEXT' | translate }}</div> </label>
		<label id="subscribe-via-email" for="subscribe" class="checkbox inline checked">
			<span class="icon-form icon-checkbox" ng-class="{'checked': saveData.promotions}"></span>
			<input type="checkbox" value="1" name="checkin" checked="" ng-model="saveData.promotions">
			{{ 'PROMO_NEWS_BY_EMAIL_TEXT' | translate }} </label>
	</div>
	<div class="actions">
		<!-- Complete checkin button disabled out until ready / vacant room is assigned -->
		<button id="checkin-button" ng-click="clickedCompleteCheckin()" data-room-status="READY" data-reseravation-status="CHECKING_IN" data-required-signature="CHECKIN" data-key-settings="encode" data-fo-status="VACANT" class="button green" translate>
			COMPLETE_CHECKIN
		</button>
		<div class="clearButton" ng-show="reservationBillData.required_signature_at === 'CHECKIN'">
			<a id="clear-signature" class="button blank" ng-click='clickedClearSignature()' translate>CLEAR_SIGNATURE</a>
		</div>
	</div>
</form>

<!-- Checkout screen -->
<form id="signature-pad" class="complete-registration form" ng-if="(clickedButton == 'checkoutButton') && (reservationBillData.reservation_status === 'CHECKING_OUT' || reservationBillData.reservation_status === 'CHECKEDIN')">
	
	<div>
		
		<div ng-if="reservationBillData.required_signature_at === 'CHECKOUT' && (($index+1) === reservationBillData.bills.length)">
			<h2 translate>PLEASE_SIGN_BELOW</h2>
			<div class="sig sigWrapper">
				<div id="signature" ui-jq="jSignature" ui-options="signaturePluginOptions" ng-mouseover="disableScroll()" ng-mouseleave="enableScroll()">
					
				</div>
			</div>
		</div>
		<!-- 
			CICO-9597 : While required_signature_at is not 'CHECKOUT',
						#terms-and-conditions field is making hidden and
		    			acceptCharges always chekcked or saveData.acceptCharges = true.
		-->
		<div class="entry" ng-show="($index+1) === reservationBillData.bills.length" ng-class="{ 'hidden': reservationBillData.required_signature_at !== 'CHECKOUT' }">
			<label id="terms-and-conditions" for="terms" class="checkbox inline">
				<span ng-if="reservationBillData.required_signature_at !== 'CHECKOUT'" class="icon-form icon-checkbox" ng-class="{'checked': true}">{{saveData.acceptCharges = true}}</span>
				<span ng-if="reservationBillData.required_signature_at === 'CHECKOUT'" class="icon-form icon-checkbox" ng-class="{'checked': saveData.acceptCharges }"></span>
				<input type="checkbox" ng-model="saveData.acceptCharges">
				{{ 'ACCEPT_CHARGE_TEXT' | translate }} </label>
		</div>
		
		<div class="actions" ng-show="($index+1) != reservationBillData.bills.length">
			<button type="submit" ng-click="clickedReviewButton($index)" class="button" ng-class="{'grey':(reviewStatusArray[$index].reviewStatus),'red':(!reviewStatusArray[$index].reviewStatus)}" ng-disabled="reviewStatusArray[$index].reviewStatus">
				{{ 'REVIEW_BILL' | translate }}
				{{ billData.bill_number }}
				{{ 'AND_CONTINUE' | translate }}
			</button>
		</div>
		
		<div class="actions" ng-show="($index+1) === reservationBillData.bills.length">
			<button type="submit" ng-click="clickedCompleteCheckout()" id="complete-checkout-button" data-reseravation-status="CHECKEDIN" data-required-signature="CHECKIN" class="button red">
				{{ 'REVIEW_BILL' | translate }}
				{{ billData.bill_number }}
				{{ 'AND_COMPLETE_CHECKOUT' | translate }}
			</button>
			<div class="clearButton" ng-if="reservationBillData.required_signature_at === 'CHECKOUT' && (($index+1) === reservationBillData.bills.length)">
				<a id="clear-signature" class="button blank" ng-click='clickedClearSignature()' translate>CLEAR_SIGNATURE</a>
			</div>
		</div>

	</div>
	
</form>