<div role="dialog" id="modal" ng-class="{'modal-show': modalOpened}"> <!--modal-content diary-move -->
    <div ng-cloak class="modal-content diary-move">
    <button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()"><span class="icons icon-close invert"></button>
    <span class="h2 message">
    	Move results in a price change of:
    	<!-- if price increase: -->
    	<span class="red" >{{currencySymbol}} {{price | number:2}}</span>
    	<!-- if price decrease:
    	<span class="green">- ${price}</span> -->
    </span>

	<div class="diary-moved">
		<span class="label">From</span>
		<ul class="details">
			<li class="arrival">
                <span>{{roomXfer.current.arrivalTime}}</span>
                {{roomXfer.current.arrivalDateToShow}}
            </li>
            <li class="departure">
                <span>{{roomXfer.current.departureTime}}</span>
                {{roomXfer.current.departureDateToShow}}
            </li>
            <li class="type">{{roomXfer.current.room.room_type_name}}</li>
            <li class="room">{{roomXfer.current.room.number}}</li>
            <li class="price">{{currencySymbol}} {{roomXfer.current.room.old_price | number:2}}</li>
		</ul>
	</div>
	<div class="diary-moved">
		<span class="label">To</span>
		<ul class="details">
			<li class="arrival">
                <span>{{roomXfer.next.arrivalTime}}</span>
                {{roomXfer.next.arrivalDateToShow}}
            </li>
            <li class="departure">
                <span>{{roomXfer.next.departureTime}}</span>
                {{roomXfer.next.departureDateToShow}}
            </li>
            <li class="type">{{roomXfer.next.room.room_type_name}}</li>
            <li class="room">{{roomXfer.next.room.number}}</li>
            <li class="price">{{currencySymbol}} {{roomXfer.next.room.new_price | number:2}}</li>
		</ul>
	</div>

    <div class="actions">
        <button type="button" class="button brand-colors" ng-click="moveWithoutRateChange()">Move without Rate Change</button>
        <button type="button" class="button green" ng-click="confirm()">Apply Payment</button>
        <button type="button" class="button blank" ng-click="closeDialog()">Cancel</button> 
    </div>
</div>
</div>