<!-- Diary header -->
<div ng-include="'/assets/partials/common/header.html'"></div> 

<section id="diary-content" class="content diary-content" role="main">
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>    
    <form method="post" action="" id="diary-header" name="diary-header" class="diary-header" ng-class="{'editing': gridProps.edit.active === true }">
        <div class="entry edit" ng-show="gridProps.edit.active">
            <div class="guest">
                <h1 ng-show="gridProps.edit.originalItem.reservation_primary_guest_full_name">
                    {{gridProps.edit.originalItem.reservation_primary_guest_full_name}}
                </h1>
                <h1 ng-show="!gridProps.edit.originalItem.reservation_primary_guest_full_name"> 
                    {{gridProps.edit.originalItem.account_name}}   
                </h1>
            </div>            
            <div class="actions">
                <button id="edit-staycard" class="button white" ng-click="openStayCard()">StayCard</button>
                <button id="edit-save" class="button green" ng-click="editSave()">Save</button>
                <button id="edit-cancel" class="button gray" ng-click="editCancel()">Cancel</button>
            </div>
        </div>
        <div class="entry date">
            <label for="arrival-date">Date</label>
            <div class="entry-data">
                <!-- we are using calendar's model as duplicate_arrival_date,
                actual data model is gridProps.filter.arrival_date -->
                <input name="arrival-date" ui-date="dateOptions" ng-model="duplicte_arrival_date" id="arrival-date" type="text" class="datepicker"  readonly /> <!--ng-model="gridProps.filter.arrival_date" -->
                <strong id="arrival-date-day" class="day">{{gridProps.filter.arrival_date.getDate()}}</strong>
                <span id="arrival-date-month" class="month">{{gridProps.filter.arrival_date.toComponents().date.monthName}}</span>
                <span id="arrival-date-year" class="year">{{gridProps.filter.arrival_date.getFullYear()}}</span>
            </div>
        </div>
        <div class="entry time">
            <label for="arrival-time">Arrival Time</label>
            <div class="select">
                <select id="arrival-time" 
                        name="arrival-time" 
                        ng-model="gridProps.filter.arrival_time" 
                        ng-options="arrival_time as arrival_time for arrival_time in gridProps.filter.arrival_times" ng-change="clickedOnArrivalTime()">
                    <option value="" selected="selected">Select</option>
                    <!--<option value={{arrival_time}}>{{arrival_time}}</option> -->
                </select>
            </div>
        </div>
        <div class="entry room">
            <label for="room-type">Room Type</label>
            <div class="select">
                <select id="room-type" 
                        name="room-type" 
                        ng-model="gridProps.filter.room_type" 
                        ng-options="room_type as room_type.name for room_type in gridProps.filter.room_types" ng-change="clickedOnRoomType()" class="placeholder">
                    <option value="" selected="selected">Select</option>
                </select>
            </div>
        </div>
        <div class="entry rate">
            <label for="rate-type">Rate Type</label>
            <div class="faux-select" ng-click="gridProps.filter.toggleRates()">
                {{gridProps.filter.rate_type}} Rate
            </div>
            <div id="diary-rates" class="faux-select-options"  ng-class="{'showing-search': gridProps.filter.rate_type === 'Corporate', 'hidden': !openRateTypeChoosingBox}">
                <div class="header">
                    
                    <label class="radio inline" ng-click="clickedOnRateType()">
                        <span class="icon-form icon-radio" ng-class="{checked: gridProps.filter.rate_type === 'Standard'}"></span>
                        <input name="rate-type" 
                               id="standard-rate" 
                               value="Standard" 
                               ng-model="gridProps.filter.rate_type" 
                               type="radio"/>
                        Standard
                    </label>
                    <label class="radio inline" ng-click="clickedOnRateType()">
                        <span class="icon-form icon-radio" ng-class="{checked: gridProps.filter.rate_type === 'Corporate'}"></span>
                        <input name="rate-type" 
                               id="corporate-rate" 
                               value="Corporate" 
                               ng-model="gridProps.filter.rate_type" 
                               type="radio"/>
                        Corporate 
                        <span  id="selected-company" class="placeholder" ng-hide="gridProps.filter.rate" >
                            Select account
                        </span>
                        <span  id="selected-company" class="placeholder active" ng-show="gridProps.filter.rate" >
                            {{gridProps.filter.rate.label}}
                        </span>
                        <button type="button" id="diary-corporate-ok" class="icons icon-ok-10" ng-show="gridProps.filter.rate">
                            Add
                        </button>
                        <button type="button" id="diary-corporate-cancel" class="icons icon-remove-10" ng-show="gridProps.filter.rate" ng-click="discardSelectedCompCardOrTravelAg()">
                            Cancel
                        </button>
                    </label> 
                </div>
                <div id="corporate-rate-search" class="entry search" ng-show="gridProps.filter.rate_type === 'Corporate'">
                    <a href="#" id="diary-corporate-clear-query" class="clear-query" ng-class="{'visible': corporateSearchText != ''}"  ng-click="clearCorporateSearchText()">
                        <span class="icons icon-clear-search">Clear query</span>
                    </a>
                    <button type="submit" name="submit" class="icons icon-search">
                        Search
                    </button>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                    <input auto-complete="" auto-options="autocompleteOptions" name="diary-corporate-query" id="diary-corporate-query" class="query ui-autocomplete-input" placeholder="Type Company or Travel Agent Name" type="search" ng-model="corporateSearchText" ul-class="find-diary-card" focus-me="focusOnCorporateSearchText">
                </div>                           
                         
            </div>
        </div>
        <div class="entry switch" ng-hide="!isHourlyRateOn">
            <label for="diary-hours-days">Hours / Days</label>
            <div class="switch-button" ng-class="{on: gridProps.filter.reservation_format === 'h'}">
                <input name="diary-hours-days" id="diary-hours-days" value="" type="checkbox" checked  /> <!--ng-click="gridProps.filter.toggleHoursDays()" -->
                <label class="data-off">
                    <span class="value">H</span>
                    <span class="switch-icon">D</span>
                </label>
                <label class="data-on">
                    <span class="switch-icon">H</span>
                    <span class="value">D</span>
                </label>
            </div>
        </div>
        <div class="entry switch display">
            <label for="diary-range">Show <span>(Hours)</span></label>
            <div class="switch-button" ng-class="{on: gridProps.viewport.hours === 12}">
                <input name="diary-view-range" id="diary-view-range" value="" type="checkbox" checked ng-click="gridProps.filter.toggleRange()" />
                <label class="data-off">
                    <span class="value">12</span>
                    <span class="switch-icon">24</span>
                </label>
                <label class="data-on">
                    <span class="switch-icon">12</span>
                    <span class="value">24</span>
                </label>
            </div>
        </div>
        <div class="entry reset">
            <label for="diary-reset">Re-Set</label>
            <button type="button" class="button white with-icon only-icon" ng-click="resetEverything()">
                <span class="icons icon-reset"></span>
            </button>
        </div>
       
        <!--<div class="actions">
            <button type="button" class="button green" ng-click="onUpdate()">Update</button>
        </div>-->
    </form>
    
    <!-- Diary Content -->
    <div id="component-wrapper" class="component-wrapper" ng-react-component="DiaryContent"></div>
</section>
