<!-- Navbar -->
<div ng-include="'/assets/partials/common/header.html'"></div>

<!-- Reservations search form -->
<section id="reservations" class="content create-reservation scrollable" role="main" ng-iscroll="search_reservation" ng-iscroll-delay="1000">
    
    <form method="get" action="{action}" name="create-reservation" id="create-reservation" class="wrapper" role="search">
        
        <!-- Date / Time -->
        <div id="dates" class="row">
            
            <!-- Arrival date -->
            <div id="arriving" class="entry">
                <label id="check-in-day-label" for="check-in-date">Arriving <span>{{getSimplifiedDayName(reservationData.arrivalDate)}}</span></label>
                <div class="entry-data">
                    <input ui-date="arrivalDateOptions" name="check-in-date" id="check-in-date" type="text" class="datepicker" ui-date-format ng-model="reservationData.arrivalDate" ng-change="arrivalDateChanged()"readonly/>
                    <strong id="check-in-day" class="day">{{reservationData.arrivalDate | date:'dd'}}</strong>
                    <span id="check-in-month" class="month">{{reservationData.arrivalDate | date:'MMMM'}}</span>
                    <span id="check-in-year" class="year">{{reservationData.arrivalDate | date:'yyyy'}}</span>
                </div>
            </div>

            <!-- Stay type (nights/hours) -->
            <div id="type" class="entry">
                <label for="nights-number">Staying <span>for</span></label>
                <div class="switch-button on" ng-show="shouldShowToggle" ng-class="{ 'on': !isNightsActive }">
                    <input name="stay-type" id="stay-type" value="" type="checkbox" ng-model="isNightsActive" ng-click="switchNightsHours()" />
                    <label class="data-off">
                        <span class="value">Hours</span>
                        <span class="switch-icon">Nights</span>
                    </label>
                    <label class="data-on">
                        <span class="switch-icon">Hours</span>
                        <span class="value">Nights</span>
                    </label>
                </div>
                <div class="entry-data">
                    <!-- Option for having 2 separate input fields for nights/hours entry. If nights is default, nights should be hidden until switch button is tapped.
                    Feel free to use just one input field id you want to -->
                    <input ng-show="shouldShowNights" name="nights-number" id="nights-number" type="tel" maxlength="2" ng-model="reservationData.numNights" ng-change="setDepartureDate()" />
                    <input ng-show="shouldShowHours" name="hours-number" id="hours-number" type="tel" maxlength="2" ng-model="reservationData.resHours" ng-change="setDepartureHours()"  ng-blur="setDepartureHours('force')"/>
                </div>
            </div>

            <!-- Departure date -->
            <!-- WHY THE INLINE STYLE *&$%@#%(!#$%? -->
            <!-- TELL ME HOW THE #%^@ AM I SUPPOSE TO TO MAKE THIS FIT PROPERLY WHEN YOU GAVE IT A STYLE: width: 32.52032520325203%; -->
            <div id="departing" class="entry" ng-class="{ 'hidden': !isNightsActive }" style="float: right">
                <label id="check-out-day-label" for="check-out-date">Departing <span>{{getSimplifiedDayName(reservationData.departureDate)}}</span></label>
                <div class="entry-data">
                    <input ui-date="departureDateOptions" name="check-out-date" id="check-out-date" type="text" class="datepicker" ui-date-format ng-model="reservationData.departureDate" ui-date readonly ng-change="departureDateChanged()"/>
                    <strong id="check-out-day" class="day">{{reservationData.departureDate | date:'dd'}}</strong>
                    <span id="check-out-month" class="month">{{reservationData.departureDate | date:'MMMM'}}</span>
                    <span id="check-out-year" class="year">{{reservationData.departureDate | date:'yyyy'}}</span>
                </div>
            </div>

            <!-- Arrival time -->
            <!-- WHY THE INLINE STYLE *&$%@#%(!#$%? -->
            <!-- TELL ME HOW THE #%^@ AM I SUPPOSE TO TO MAKE THIS FIT PROPERLY WHEN YOU GAVE IT A STYLE: width: 32.52032520325203%; -->
            <div id="arriving-time" class="entry" ng-class="{ 'hidden': isNightsActive }" style="float: right">
                <label for="arrival-time">Arrival Time</label>
                <div class="select">
                    <select id="arrival-time" name="arrival-time" iscroll-stop-propagation ng-model="fullCheckinTime" ng-change="mapToCheckinTime()">
                        <option value="00:00 AM">12:00 AM</option>
                        <option value="00:15 AM">12:15 AM</option>
                        <option value="00:30 AM">12:30 AM</option>
                        <option value="00:45 AM">12:45 AM</option>

                        <option value="1:00 AM">1:00 AM</option>
                        <option value="1:15 AM">1:15 AM</option>
                        <option value="1:30 AM">1:30 AM</option>
                        <option value="1:45 AM">1:45 AM</option>
                        <option value="2:00 AM">2:00 AM</option>
                        <option value="2:15 AM">2:15 AM</option>
                        <option value="2:30 AM">2:30 AM</option>
                        <option value="2:45 AM">2:45 AM</option>
                        <option value="3:00 AM">3:00 AM</option>
                        <option value="3:15 AM">3:15 AM</option>
                        <option value="3:30 AM">3:30 AM</option>
                        <option value="3:45 AM">3:45 AM</option>
                        <option value="4:00 AM">4:00 AM</option>
                        <option value="4:15 AM">4:15 AM</option>
                        <option value="4:30 AM">4:30 AM</option>
                        <option value="4:45 AM">4:45 AM</option>
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="5:15 AM">5:15 AM</option>
                        <option value="5:30 AM">5:30 AM</option>
                        <option value="5:45 AM">5:45 AM</option>
                        <option value="6:00 AM">6:00 AM</option>
                        <option value="6:15 AM">6:15 AM</option>
                        <option value="6:30 AM">6:30 AM</option>
                        <option value="6:45 AM">6:45 AM</option>
                        <option value="7:00 AM">7:00 AM</option>
                        <option value="7:15 AM">7:15 AM</option>
                        <option value="7:30 AM">7:30 AM</option>
                        <option value="7:45 AM">7:45 AM</option>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="8:15 AM">8:15 AM</option>
                        <option value="8:30 AM">8:30 AM</option>
                        <option value="8:45 AM">8:45 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="9:15 AM">9:15 AM</option>
                        <option value="9:30 AM">9:30 AM</option>
                        <option value="9:45 AM">9:45 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="10:15 AM">10:15 AM</option>
                        <option value="10:30 AM">10:30 AM</option>
                        <option value="10:45 AM">10:45 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="11:15 AM">11:15 AM</option>
                        <option value="11:30 AM">11:30 AM</option>
                        <option value="11:45 AM">11:45 AM</option>

                        <option value="00:00 PM">12:00 PM</option>
                        <option value="00:15 PM">12:15 PM</option>
                        <option value="00:30 PM">12:30 PM</option>
                        <option value="00:45 PM">12:45 PM</option>

                        <option value="1:00 PM">1:00 PM</option>
                        <option value="1:15 PM">1:15 PM</option>
                        <option value="1:30 PM">1:30 PM</option>
                        <option value="1:45 PM">1:45 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="2:15 PM">2:15 PM</option>
                        <option value="2:30 PM">2:30 PM</option>
                        <option value="2:45 PM">2:45 PM</option>
                        <option value="3:00 PM">3:00 PM</option>
                        <option value="3:15 PM">3:15 PM</option>
                        <option value="3:30 PM">3:30 PM</option>
                        <option value="3:45 PM">3:45 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="4:15 PM">4:15 PM</option>
                        <option value="4:30 PM">4:30 PM</option>
                        <option value="4:45 PM">4:45 PM</option>
                        <option value="5:00 PM">5:00 PM</option>
                        <option value="5:15 PM">5:15 PM</option>
                        <option value="5:30 PM">5:30 PM</option>
                        <option value="5:45 PM">5:45 PM</option>
                        <option value="6:00 PM">6:00 PM</option>
                        <option value="6:15 PM">6:15 PM</option>
                        <option value="6:30 PM">6:30 PM</option>
                        <option value="6:45 PM">6:45 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                        <option value="7:15 PM">7:15 PM</option>
                        <option value="7:30 PM">7:30 PM</option>
                        <option value="7:45 PM">7:45 PM</option>
                        <option value="8:00 PM">8:00 PM</option>
                        <option value="8:15 PM">8:15 PM</option>
                        <option value="8:30 PM">8:30 PM</option>
                        <option value="8:45 PM">8:45 PM</option>
                        <option value="9:00 PM">9:00 PM</option>
                        <option value="9:15 PM">9:15 PM</option>
                        <option value="9:30 PM">9:30 PM</option>
                        <option value="9:45 PM">9:45 PM</option>
                        <option value="10:00 PM">10:00 PM</option>
                        <option value="10:15 PM">10:15 PM</option>
                        <option value="10:30 PM">10:30 PM</option>
                        <option value="10:45 PM">10:45 PM</option>
                        <option value="11:00 PM">11:00 PM</option>
                        <option value="11:15 PM">11:15 PM</option>
                        <option value="11:30 PM">11:30 PM</option>
                        <option value="11:45 PM">11:45 PM</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Room(s) details -->
        <div id="rooms" class="row">
            <div id="room-1" class="entry" ng-repeat="room in reservationData.rooms">
                <label for="room-1-adults">Room <span>(s)</span></label>
                <div class="entry-data">
                    <div class="select adults">
                        <label for="room-1-adults" class="label">Adults</label>
                        <select iscroll-stop-propagation name="room-1-adults" id="room-1-adults" ng-model="room.numAdults" ng-change="validateOccupant(room, 'adult')">
                            <option ng-repeat="i in [0, otherData.maxAdults] | makeRange" value="{{i}}" ng-selected="i==room.numAdults">{{i}}</option>
                        </select>
                    </div>
                    <div class="select children">
                        <label for="room-1-children" class="label">Children</label>
                        <select iscroll-stop-propagation name="room-1-children" id="room-1-children" ng-model="room.numChildren" ng-change="validateOccupant(room, 'children')">
                            <option ng-repeat="i in [0, otherData.maxChildren] | makeRange" value="{{i}}" ng-selected="i==room.numChildren">{{i}}</option>
                        </select>
                    </div>
                    <div class="select infants">
                        <label for="room-1-infants" class="label">Infants</label>
                        <select iscroll-stop-propagation name="room-1-infants" id="room-1-infants" ng-model="room.numInfants">
                            <option ng-repeat="i in [0, otherData.maxInfants] | makeRange" value="{{i}}"ng-selected="i==room.numInfants">{{i}}</option>
                        </select>
                    </div>
                    <div class="select room-type">
                        <select iscroll-stop-propagation ng-model="room.roomTypeId" ng-options="roomType.id as roomType.name for roomType in otherData.roomTypes">
                          <option value="">All Room Types</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Guest info -->
        <div id="guest" class="row">
            <div id="first-name" class="entry">
                <label for="guest-first-name">Guest <span>(optional)</span></label>
                <input name="guest-first-name" id="guest-first-name" type="text" placeholder="First Name" ng-model="searchData.guestCard.guestFirstName" ng-change="reservationGuestSearchChanged()" />
            </div>
            <!-- WHY THE INLINE STYLE *&$%@#%(!#$%? -->
            <!-- TELL ME HOW THE #%^@ AM I SUPPOSE TO TO MAKE THIS FIT PROPERLY WHEN YOU GAVE IT A STYLE: width: 32.52032520325203%; -->
            <div id="last-name" class="entry no-label" style="float:right">
                <input name="guest-last-name" id="guest-last-name" type="text" placeholder="Last Name" ng-model="searchData.guestCard.guestLastName" ng-change="reservationGuestSearchChanged()" />
            </div>
        </div>

        <!-- Company / Travel Agent -->
        <div id="company-agent" class="row">
            <div id="autocomplete-search" class="entry">
                <label for="company-or-agent">Company / Travel Agent <span>(optional)</span></label>
                <input auto-complete auto-options="autocompleteOptions" name="company-or-agent" id="company-or-agent" data-card-type="" type="text" placeholder="Name, Corporate ID or IATA #" value="" autocomplete="off" ng-model="companySearchText" ul-class="find-cards"/>
            </div>
        </div>

        <!-- Codes -->
        <div id="codes" class="row" ng-if="promoCodesToBeImplemented">
            <div class="entry">
                <label for="codes-value">Promo Codes <span>(optional)</span></label>
                <div class="entry-data">
                    <input name="codes-value" id="codes-value" type="text" placeholder="Code #" value="" />
                    <div class="select">
                        <label for="codes-type" class="label">Type</label>
                        <select name="codes-type" id="codes-type">
                            <option value="" selected>None</option>
                            <option value="aaa">AAA</option>
                            ... repeat for codes
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="actions" class="row">
            <button id="find-rooms-and-rates" type="button" class="button green" ng-click="navigate()">Find Rooms &amp; Rates</button>
        </div>
    </form>
</section>