<!-- Content -->
<div ng-include="'/assets/partials/common/header.html'"></div>
<section id="details-and-payment" class="content reservations-inner">
    <div id="details-and-payment-content" class="reservations-content-wrapper">
    	<!-- Left Side contents -->
        <div class="reservation-summary scrollable" id="reservation-summary" ng-iscroll='reservationSummary'>
            <div class="wrapper">
                <h2>Reservation Confirmation</h2>
                <ul class="data" ng-if="!reservationData.isHourly">
                    <li><span class="guest-status room" translate>ROOMS</span>
                        <span>{{reservationData.rooms.length}}</span>
                        <span ng-if="reservationData.rooms.length === 1" translate>ROOM</span>
                        <span ng-if="reservationData.rooms.length !== 1" translate>ROOMS</span>
                    </li>
                    <li>
                        <span class="guest-status nights" translate>NIGHTS</span>
                        <span>{{reservationData.numNights}}</span>
                        <span ng-if="reservationData.numNights === 1" translate> NIGHT</span>
                        <span ng-if="reservationData.numNights !== 1" translate> NIGHTS</span>
                    </li>
                </ul>
                <div class="stay-dates">
                    <div class="check-in-dates">
                        <span class="guest-status small-icon check-in">check-in</span>
                        {{getSimplifiedDayName(reservationData.arrivalDate)}}, {{reservationData.arrivalDate | date:dateFormat}}
                        <span ng-if="!!reservationData.checkinTime.hh" class="check-data-set icons icon-time time-in">{{time.arrival}}</span>
                        <span ng-if="!reservationData.checkinTime.hh" class="check-data-not-set icons icon-time time-in">Not Set</span>
                    </div>
                    <div class="check-out-dates">
                        <span class="guest-status small-icon check-out">check-out</span>
                        {{getSimplifiedDayName(reservationData.departureDate)}}, {{reservationData.departureDate | date:dateFormat}}
                        <span ng-if="!!reservationData.checkoutTime.hh" class="check-data-set icons icon-time time-out">{{time.departure}}</span>
                        <span ng-if="!reservationData.checkoutTime.hh" class="check-data-not-set icons icon-time time-out">Not Set</span>
                    </div>
                </div>

                <!-- This here is dynamic content, depending on number of rooms booked -->
                <div class="rooms" ng-repeat="room in reservationData.rooms">
                    <div class="title">
                        <span translate>ROOM</span>
                        {{$index + 1}}
                        <div class="count">
                            <span><span class="label" translate>ADULTS</span>{{room.numAdults}}</span>
                            <span><span class="label" translate>CHILDREN</span>{{room.numChildren}}</span>
                            <span><span class="label" translate>INFANTS</span>{{room.numInfants}}</span>
                        </div>
                    </div>
                    <div class="room-type">
                        <h4>{{room.roomTypeName}}<span></span></h4>
                        <div class="confirmation" ng-hide="room.confirm_no"> <!-- Show confirmation number -->
                            <span class="label">Confirmation #</span>{{reservationData.confirmNum}}
                        </div>
                        <div class="confirmation" ng-show="room.confirm_no"> <!-- Show confirmation number -->
                            <span class="label">Confirmation #</span>{{room.confirm_no}}
                        </div>
                    </div>
                    <ul class="rate-and-enhancements">
                        <li>
                            <em>{{room.rateName}}</em>
                            <span class="price">
                                <label ng-if="!room.isSuppressed && !reservationData.isHourly">{{currencySymbol}}{{room.rateAvg | number : 2}}</label>
                                <label ng-if="room.isSuppressed && !reservationData.isHourly">SR</label>
                                <span translate ng-if="!reservationData.isHourly">AVG_NIGHT</span>
                                <span class="total" ng-if="room.isSuppressed">SR</span>
                                <span class="total" ng-if="!room.isSuppressed">{{currencySymbol}}{{room.rateTotal | number : 2}}</span>
                            </span>
                        </li>
                        <li ng-repeat='addon in room.addons'>
                            <em>{{addon.title}}</em>
                            <span class="price">
                                {{currencySymbol}}{{ addon.price | number : 2}}
                                <span translate>EACH</span>
                                <span class="total">{{currencySymbol}}{{ addon.effectivePrice | number : 2}}</span>
                            </span>
                        </li>
                    </ul>
                    <div class="guests">
                        <h5><em>Guest: </em>{{guestCardData.contactInfo.first_name}}&nbsp;{{guestCardData.contactInfo.last_name}}</h5> <!-- Show primary guest name -->
                        <!-- Show accompanying guests if they have been added -->
                        <!-- <ul class="accompanying-guests">
                            <li><span>Accompanying guest</span><em>John Smith</em></li>
                        </ul> -->
                    </div>
                    
                    <!-- <a href="" class="button blue" ng-click = "openBillingInformation(room.confirm_no)">{{getBillingInfoTitle()}}</a>
                    <a href="" class="button brand-colors" ng-click="setDemographics()">Demographics</a>
 -->
                </div>
                <ul class="total-stay-cost">
                	<li ng-repeat="row in reservationData.taxDetails">
                		<span class="label" translate> {{row.description}} </span>                		
                        <span class="total" ng-if="reservationData.isRoomRateSuppressed">SR</span>
                        <span class="total" ng-if="!reservationData.isRoomRateSuppressed">{{currencySymbol}}{{ row.amount | number : 2}}</span>
                	</li>
                    <li>
                        <span class="label" translate>TOTAL_TAX</span>
                        <label ng-if="!reservationData.isRoomRateSuppressed">{{currencySymbol}}{{reservationData.totalTax | number : 2}}</label>
                        <label ng-if="reservationData.isRoomRateSuppressed">SR</label>
                    </li>
                    <li>
                        <span class="label" translate>TOTAL_STAY_COST</span>
                        <label ng-if="!reservationData.isRoomRateSuppressed"><strong>{{currencySymbol}}{{reservationData.totalStayCost | number : 2}}</strong></label>
                        <label ng-if="reservationData.isRoomRateSuppressed">SR</label>
                    </li>
                </ul>
            </div> 
        </div>
        <form class="form payment-info scrollable" id="payment-info" name="payment_info" ng-iscroll='paymentInfo'>
            <div class="wrapper">
                <div ng-include="'/assets/partials/common/notification_message.html'"></div>
                <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
                <div class="reservation-completed">
                    <h2 ng-hide="viewState.identifier == 'UPDATED'" translate>RESERVATION_CREATED</h2>
                    <h2 ng-show="viewState.identifier == 'UPDATED'" translate>RESERVATION_CHANGED</h2>
                    <label translate ng-show="!reservationStatus.confirmed">SEND_CONFIRMATION_TO_FOLLOWING_EMAIL_ADDRESSES</label>
                    <div class="entry full-width" ng-show="!reservationStatus.confirmed">
                        
                        
                        <label for="email" translate>GUEST_EMAIL_ADDRESS</label>
                        <label class="checkbox inline">
                            <span class="icon-form icon-checkbox" ng-class="{'checked' : otherData.isGuestPrimaryEmailChecked}"></span>
                            <input name="send-confirmation" value="send-confirmation" type="checkbox" ng-model="otherData.isGuestPrimaryEmailChecked"/>
                            <span>&nbsp;</span>
                        </label>
                        <input class="summary_email" ng-model="reservationData.guest.email" ng-blur="primaryEmailEntered()">

                        <label for="email" translate>ADDITIONAL_EMAIL_ADDRESS</label>
                        <label class="checkbox inline">
                            <span class="icon-form icon-checkbox" ng-class="{'checked' : otherData.isGuestAdditionalEmailChecked}"></span>
                            <input name="send-confirmation" value="send-confirmation" type="checkbox" ng-model="otherData.isGuestAdditionalEmailChecked"/>
                            <span>&nbsp;</span>
                        </label>
                        <input class="summary_email" ng-model="otherData.additionalEmail">    
                    </div>
                    <div class="actions"  ng-show="!reservationStatus.confirmed">
                            <button type="button" class="button blue" ng-click="sendConfirmationClicked(payment_info.email.$valid)">Confirm Reservation</button>
                    </div>
                    <!-- <section ng-show="!reservationStatus.confirmed">
                    <p>Send confirmation to the following email address(es)</p>
                        <div class="entry full-width">
                            <label for="email" translate>GUEST_EMAIL_ADDRESS</label>
                            <label class="checkbox inline">
                                <span class="icon-form icon-checkbox" ng-class="{'checked' : otherData.isGuestPrimaryEmailChecked}"></span>
                                <input name="send-confirmation" value="send-confirmation" type="checkbox" ng-model="otherData.isGuestPrimaryEmailChecked"/>
                                <span>&nbsp;</span>
                            </label>
                            <input class="summary_email" ng-model="reservationData.guest.email" ng-blur="primaryEmailEntered()">
                        </div>
                        <div class="entry full-width">
                            <label for="email" translate>ADDITIONAL_EMAIL_ADDRESS</label>
                            <label class="checkbox inline">
                                <span class="icon-form icon-checkbox" ng-class="{'checked' : otherData.isGuestAdditionalEmailChecked}"></span>
                                <input name="send-confirmation" value="send-confirmation" type="checkbox" ng-model="otherData.isGuestAdditionalEmailChecked"/>
                                <span>&nbsp;</span>
                            </label>
                            <input class="summary_email" ng-model="otherData.additionalEmail">
                        </div>
                        <div class="actions">
                            <button type="button" class="button blue" ng-click="sendConfirmationClicked(payment_info.email.$valid)">Confirm Reservation</button>
                        </div>
                    </section>   -->  
                    <section ng-show="reservationStatus.confirmed">
                    <!-- 2. After confirmation -->
                    <div class="actions">
                        <button type="button" id="go-to-staycard" class="button brand-colors" ng-click="goToStaycardClicked()" translate>
                            GO_TO_STAYCARD
                        </button>
                        <button type="button" id="new-reservation-for-guest" class="button green" ng-click="clickedNewReservation()" translate>
                            NEW_RESERVATION_FOR_GUEST
                        </button>
                        <button type="button" id="go-to-search" ng-hide="reservationData.isHourly" class="button white blue-text" ng-click="goToSearchClicked()" translate>
                            SEARCH_RESERVATIONS
                        </button>
                        <button type="button" id="" class="button blue-text"  translate ng-click="checkin()" ng-disabled="!enableCheckInButton()" ng-class="{'white': enableCheckInButton(), 'grey': !enableCheckInButton()}" ng-hide="isHourlyRateOn">
                            CHECKIN
                        </button>
                        <button type="button" id="" class="button white blue-text"  translate ng-click="gotoDiaryScreen()" ng-show="reservationData.isHourly">
                            Diary
                        </button>
                    </div>
                    </section>
                    <section ng-hide="true">
                        <div class="entry full-width" ng-show="isConfirmationEmailSent">
                            <label>Email confirmation has been sent to {{reservationData.guest.email}}</label>
                            <label ng-if="reservationData.guest.email != '' && otherData.additionalEmail !=''">(and {{otherData.additionalEmail}}).</label>
                            <label ng-if="reservationData.guest.email == '' && otherData.additionalEmail != ''">{{otherData.additionalEmail}}.</label>
                        </div>
                        <div class="entry full-width" ng-hide="isConfirmationEmailSent">
                            <label for="email" translate>CONFIRM_EMAIL_LABEL</label>
                            <input name="email" id="email" type="email" ng-model="reservationData.guest.sendConfirmMailTo" ng-blur="primaryEmailEntered()">
                            <button type="button" id="send-confirmation" class="button blue" ng-click="sendConfirmationClicked(payment_info.email.$valid)" translate>SEND_CONFIRMATION_EMAIL</button>
                        </div>
                        <div class="actions">
                            <!-- You can use regular <a href="..."> here as well -->
                            <button type="button" id="go-to-staycard" class="button brand-colors" ng-click="goToStaycardClicked()" translate>GO_TO_STAYCARD</button>
                            <button type="button" id="new-reservation-for-guest" class="button green" ng-click="clickedNewReservation()" translate>NEW_RESERVATION_FOR_GUEST</button>
                            <button type="button" id="go-to-search" ng-hide="reservationData.isHourly" class="button white blue-text" ng-click="goToSearchClicked()" translate>SEARCH_RESERVATIONS</button> 
                            <button type="button" id="" class="button blue-text"  translate ng-click="checkin()" ng-disabled="!enableCheckInButton()" ng-class="{'white': enableCheckInButton(), 'grey': !enableCheckInButton()}" >CHECKIN</button>
                            <button type="button" id="" class="button white blue-text"  translate ng-click="gotoDiaryScreen()" ng-show="reservationData.isHourly">Diary</button>
                        </div>
                    </section>
                </div>
            </div>
        </form>
    </div>
</section>