<div class="reservations-content-wrapper">
    <div class="reservation-filters" ng-class="{'with-guests': stateCheck.stayDatesMode}">
        <div class="edit-guests" ng-show="stateCheck.stayDatesMode">
            <a ng-click="toggleEditGuestOptions()" class="button has-arrow toggle">
                <span class="label">Guests <em ng-hide="stateCheck.guestOptionsIsEditable">({{ stateCheck.dateModeActiveDate | date : 'EEE dd'}})</em></span>{{(stateCheck.selectedStayDate.guests.adults*1 + stateCheck.selectedStayDate.guests.children*1 + stateCheck.selectedStayDate.guests.infants*1)}}
            </a>

            <div id="guest-options" class="reservation-guests" ng-show="stateCheck.guestOptionsIsEditable">
                <div class="select adults">
                    <label for="room-adults" class="label" translate>ADULTS</label>
                    <select name="room-adults" id="room-adults" ng-model="stateCheck.selectedStayDate.guests.adults" ng-change="updateDayOccupancy('adults'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxAdults] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.adults">{{i}}</option>
                    </select>
                </div>
                <div class="select children">
                    <label for="room-children" class="label" translate>CHILDREN</label>
                    <select name="room-children" id="room-children" ng-model="stateCheck.selectedStayDate.guests.children" ng-change="updateDayOccupancy('children'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxChildren] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.children">{{i}}</option>
                    </select>
                </div>
                <div class="select infants">
                    <label for="room-infants" class="label" translate>INFANTS</label>
                    <select name="room-infants" id="room-infants" ng-model="stateCheck.selectedStayDate.guests.infants" ng-change="updateDayOccupancy('infants'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxInfants] | makeRange" value="{{i}}"ng-selected="i == stateCheck.selectedStayDate.guests.infants">{{i}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ul>
            <li ng-show="otherData.recommendedRateDisplay" ng-class="{active: activeCriteria =='RECOMMENDED'}" ng-click="activeCriteria='RECOMMENDED';refreshScroll()">{{'RESV_RECOMMENDED'|translate}}</li>
            <li ng-class="{active: activeCriteria == 'ROOM_TYPE'}" ng-click="activeCriteria='ROOM_TYPE'; refreshScroll()">{{'RESV_ROOM'|translate}}</li>
            <li ng-class="{active: activeCriteria == 'RATE'}" ng-click="activeCriteria= 'RATE';refreshScroll()">{{'RESV_RATE'|translate}}</li>
        </ul>
        <div class="find-rates" ng-show="activeCriteria == 'RATE'">
            <button type="submit" name="submit" class="icons icon-search" translate>SEARCH</button> <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input ng-blur="hideResults();" ng-focus="isRateFilterActive = true" name="find-rates" type="text" placeholder="Find Rates" value="" autocomplete="off" class="ui-autocomplete-input" ng-model="stateCheck.rateFilterText" ng-change="filterRates();">
        </div>
        <!-- ng-disabled="activeCriteria == 'RATE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay)" -->
        <div class="select" ng-show="activeCriteria == 'ROOM_TYPE'">
            <select ng-model="stateCheck.preferredType" 
            ng-disabled="activeCriteria == 'RATE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay && stateCheck.dateModeActiveDate != reservationData.arrivalDate) || reservationData.status == 'CHECKEDIN' || reservationData.status == 'CHECKING_OUT'" 
            ng-options="roomType.id as roomType.name for roomType in roomTypes|filter:{level:'!!'}|orderBy:'level'" 
            ng-change="filterRooms($event); resetRates();">
                <option value="" translate>RESV_ALL_ROOMS</option>
            </select>
        </div>
    </div>
    <div class="reservation-content rooms-and-rates-content scrollable" ng-iscroll="room_types" ng-iscroll-delay="500" style="height:{{containerHeight}}px">
        <div>
            <ul ng-if="activeCriteria == 'RECOMMENDED'" class="rooms-and-rates wrapper"></ul>
            <ul class="rooms-and-rates wrapper" ng-if="activeCriteria == 'ROOM_TYPE'">
                <li ng-repeat="room in displayData.roomTypes" ng-hide="$index > 1 && showLessRooms" ng-init="isVisibleRoom = (selectedRoomType == room.id)"> 
                    <a class="has-arrow toggle" ng-class="{active: isVisibleRoom}" ng-click="isVisibleRoom = !isVisibleRoom; refreshScroll()">
                        <div class="data">  
                            <h2>{{room.name}}</h2>
                            <span ng-init="upsell = roomAvailability[room.id].averagePerNight - roomAvailability[displayData.roomTypes[0].id].averagePerNight | number: 0" ng-show="displayData.roomTypes.length > 0 &&     $index > 0 && upsell > 0">{{ 'RESV_FOR_ONLY' | translate}}&nbsp;{{currencySymbol}}{{upsell|number:0}}&nbsp;{{'RESV_MORE'|translate}}</span>
                        </div>
                        <div class="book-rate" ng-class="{hidden: isVisibleRoom}">
                            <h4 translate>RESV_BEST_RATE</h4>
                            <div class="price" ng-if="!roomAvailability[room.id].isSuppressed">
                                {{currencySymbol}}{{roomAvailability[room.id].averagePerNight  | number: 0}}<span translate>RESV_AVG_NIGHT</span>
                            </div>
                            <div class="price" ng-if="roomAvailability[room.id].isSuppressed">
                                SR<span translate>RESV_AVG_NIGHT</span>
                            </div>
    
                            <button ng-show="stateCheck.selectedStayDate.rate.id == roomAvailability[room.id].defaultRate && stateCheck.preferredType == room.id" class="button white green-text" ng-click="handleNoEdit($event, room.id, roomAvailability[room.id].defaultRate)">CURRENT RATE</button>
                            <button ng-hide="stateCheck.selectedStayDate.rate.id == roomAvailability[room.id].defaultRate && stateCheck.preferredType == room.id" class="button green" ng-class = "{'red': stateCheck.restrictedContractedRates[room.id].indexOf(roomAvailability[room.id].defaultRate) > -1}" ng-click="handleBooking(room.id,roomAvailability[room.id].defaultRate,$event)" translate>RESV_BOOK</button>
                        </div>
                    </a>
                    <!-- Rates list -->
                    <ul class="rates" ng-class="{hidden: !isVisibleRoom}">
                        <li ng-repeat="rate in roomAvailability[room.id].rates"> 
                            <a class="has-arrow toggle" ng-class="{active: isActive}" ng-init="isActive=false;" ng-click="isActive = !isActive ; refreshScroll()">
                                <h3>{{displayData.allRates[rate].name}}</h3>
                                <div class="price" ng-if="!displayData.allRates[rate].is_suppress_rate_on">
                                    {{currencySymbol}}{{roomAvailability[room.id].total[rate].average | number: 0}}
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>
                                <div class="price" ng-if="displayData.allRates[rate].is_suppress_rate_on">
                                    SR
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>

                                <button ng-show="stateCheck.selectedStayDate.rate.id == rate && stateCheck.preferredType == room.id" class="button white green-text" ng-click="handleNoEdit($event, room.id, rate)">CURRENT RATE</button>
                                <button ng-hide="stateCheck.selectedStayDate.rate.id == rate && stateCheck.preferredType == room.id" class="button green" ng-class = "{'red': stateCheck.restrictedContractedRates[room.id].indexOf(rate) > -1}"  ng-click="handleBooking(room.id,rate, $event)" translate>RESV_BOOK</button>
                            </a>

                            <!-- Rate Details -->
                            <div class="rate-details" ng-class="{hidden: !isActive}">
                                <ul class="info">
                                    <li ng-bind-html="room.description"></li>
                                    <li>{{displayData.allRates[rate].description}}</li>
                                    <li>{{displayData.allRates[rate].deposit_policy.description}}</li>
                                    <li>{{displayData.allRates[rate].cancellation_policy.description}}</li>
                                </ul>
                                <table class="room-cost">
                                    <thead>
                                        <tr>
                                            <th translate>DATE</th>
                                            <th translate>RESV_RATE</th>
                                            <th>{{'TAX'|translate}}({{roomAvailability[room.id].total[rate].percent}})</th>
                                            <th translate>RESV_TOTAL</th>
                                            <th class="edit"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" class="total-label" translate>RESV_TOTAL_ROOM</td>
                                            <td class="total-value" ng-if="!displayData.allRates[rate].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[room.id].total[rate].total | number:2}}</td>
                                            <td ng-if="displayData.allRates[rate].is_suppress_rate_on">SR</td>
                                            <td class="edit" ng-hide="true"> <a href="modals/apply-discount/" class="open-modal button with-icon only-icon purple edit">
                                                <span class="icons icon-pencil"></span>
                                            </a>

                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="day in displayData.dates">
                                            <td>
                                                {{day.obj | date: fulldayInWeek }},
                                                {{day.obj | date: dateFormat }}
                                            </td>
                                            <td ng-if="!displayData.allRates[rate].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[room.id].ratedetails[day.str][rate].rate | number: 2}}</td>
                                            <td ng-if="displayData.allRates[rate].is_suppress_rate_on">SR</td>
                                            <td ng-if="!displayData.allRates[rate].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[room.id].ratedetails[day.str][rate].tax | number: 2}}</td>
                                            <td ng-if="displayData.allRates[rate].is_suppress_rate_on">SR</td>
                                            <td ng-if="!displayData.allRates[rate].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[room.id].ratedetails[day.str][rate].total | number: 2}}</td>
                                            <td ng-if="displayData.allRates[rate].is_suppress_rate_on">SR</td>
                                            <td class="edit"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="break" ng-show="showLessRooms && displayData.allRooms.length > 2 && selectedRoomType == -1" ng-click="showAllRooms()"> <span translate>RESV_SEE_MORE_ROOMS</span>

                </li>
            </ul>
            <ul class="rooms-and-rates wrapper" ng-if="activeCriteria == 'RATE'">
                <li class="is-rate" ng-repeat="rate in rateFiltered ? filteredRates : displayData.availableRates" ng-init="isActive=false; selectedRoom = rate.preferredType" ng-hide="$index > 1 && showLessRates"> <a class="has-arrow toggle" ng-class="{active: isActive}" ng-click="isActive = !isActive ; refreshScroll();">
                    <div class="data">
                        <h2>{{rate.rate.name}}</h2>
                    </div>
                    <div class="book-rate">
                        <div class="select" ng-click="$event.stopPropagation()">
                            <select name="room-1-type" class="placeholder" ng-model="selectedRoom" ng-change="refreshScroll()" ng-disabled="activeCriteria == 'ROOM_TYPE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay) || reservationData.status == 'CHECKEDIN' || reservationData.status == 'CHECKING_OUT'">
                                <!-- <option value="-1">Select Room Type</option> -->
                                <option ng-repeat="room in rate.rooms" value="{{room.id}}" ng-selected="room.id == rate.preferredType">{{room.name}}</option>
                            </select>
                        </div>
                        <div class="price" ng-if="!displayData.allRates[rate.rate.id].is_suppress_rate_on">
                            {{currencySymbol}}{{roomAvailability[selectedRoom].total[rate.rate.id].average | number:0}}
                            <span translate>RESV_AVG_NIGHT</span>
                        </div>
                        <div class="price" ng-if="displayData.allRates[rate.rate.id].is_suppress_rate_on">
                            SR
                            <span translate>RESV_AVG_NIGHT</span>
                        </div>

                        <button ng-show="stateCheck.selectedStayDate.rate.id == rate.rate.id && stateCheck.preferredType == selectedRoom" class="button white green-text" ng-click="handleNoEdit($event, selectedRoom, rate.rate.id)">CURRENT RATE</button>
                        <button ng-hide="stateCheck.selectedStayDate.rate.id == rate.rate.id && stateCheck.preferredType == selectedRoom" ng-class = "{'red': stateCheck.restrictedContractedRates[selectedRoom].indexOf(rate.rate.id) > -1}" class="button green" ng-click="handleBooking(selectedRoom,rate.rate.id, $event)" translate>RESV_BOOK</button>
                    </div>
                </a>

                    <ul class="rate-details" ng-class="{hidden: !isActive}">
                        <ul class="info">
                            <li ng-bind-html="roomAvailability[selectedRoom].description"></li>
                            <li>{{displayData.allRates[rate.rate.id].description}}</li>
                            <li>{{displayData.allRates[rate.rate.id].deposit_policy.description}}</li>
                            <li>{{displayData.allRates[rate.rate.id].cancellation_policy.description}}</li>
                        </ul>
                        <table class="room-cost">
                            <thead>
                                <tr>
                                    <th translate>DATE</th>
                                    <th translate>RESV_RATE</th>
                                    <th>{{'TAX'|translate}}({{roomAvailability[selectedRoom].total[rate.rate.id].percent}})</th>
                                    <th translate>RESV_TOTAL</th>
                                    <th class="edit"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="total-label" translate>RESV_TOTAL_ROOM</td>
                                    <td class="total-value" ng-if="!displayData.allRates[rate.rate.id].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[selectedRoom].total[rate.rate.id].total | number:2}}</td>
                                    <td ng-if="displayData.allRates[rate.rate.id].is_suppress_rate_on">SR</td>
                                    <td class="edit" ng-hide="true"> <a href="modals/apply-discount/" class="open-modal button with-icon only-icon purple edit">
                                        <span class="icons icon-pencil"></span>
                                    </a>

                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="day in displayData.dates">
                                    <td>
                                        {{day.obj | date: fulldayInWeek }},
                                        {{day.obj | date: dateFormat }}
                                    </td>
                                    <td ng-if="!displayData.allRates[rate.rate.id].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[selectedRoom].ratedetails[day.str][rate.rate.id].rate | number: 2}}</td>
                                    <td ng-if="displayData.allRates[rate.rate.id].is_suppress_rate_on">SR</td>
                                    <td ng-if="!displayData.allRates[rate.rate.id].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[selectedRoom].ratedetails[day.str][rate.rate.id].tax | number: 2}}</td>
                                    <td ng-if="displayData.allRates[rate.rate.id].is_suppress_rate_on">SR</td>
                                    <td ng-if="!displayData.allRates[rate.rate.id].is_suppress_rate_on">{{currencySymbol}}{{roomAvailability[selectedRoom].ratedetails[day.str][rate.rate.id].total | number: 2}}</td>
                                    <td ng-if="displayData.allRates[rate.rate.id].is_suppress_rate_on">SR</td>
                                    <td class="edit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </li>
                <li class="break" ng-show="showLessRates && rateFiltered == false && displayData.availableRates.length > 2 && selectedRoomType == -1" ng-click="showLessRates = false ; refreshScroll()"> <span translate>RESV_SEE_MORE_RATES</span>

                </li>
            </ul>
        </div>
    </div>
</div>