<div ng-include="'/assets/partials/common/header.html'"></div>
<section id="rooms-and-rates" class="content reservations-inner" >

    <ul class="reservation-header" ng-show="rooms.length > 1">
        <li ng-repeat = "room in rooms" class="load-room" ng-class="{'active': $index == activeRoom , 'hidden' : rooms.length < 2}" translate> ROOM_LABEL {{$index + 1}}</li>
    </ul>

     <!-- Reservation header -->
    <div id="rooms-and-rates-header" class="reservation-header">
        <div class="switch-button" ng-click="toggleCalendar()">
            <input name="rooms-availability-toggle" id="rooms-availability-toggle" value="rooms-availability" type="checkbox" />
            <label class="data-off" ng-class="{'calendar': stateCheck.activeMode=='CALENDAR'}">
                <span class="value">Calendar</span>
                <span class="switch-icon">Rooms &amp; Rates</span>
            </label>
            <label class="data-on">
                <span class="switch-icon">Calendar</span>
                <span class="value">Rooms &amp; Rates</span>
            </label>
        </div>
        <label class="checkbox inline dates-toggle" ng-click="toggleStayDaysMode()" ng-hide="stateCheck.activeMode=='CALENDAR'">
            <span class="icon-form icon-checkbox" ng-class="{'checked': stateCheck.stayDatesMode}"></span>
            {{'SHOW_STAY_DATES'|translate}}
        </label>
    </div>   

    <!-- Stay Dates: visible only when checked -->
    <div id="stay-days" class="stay-days" ng-class="{'open': stateCheck.stayDatesMode}">
        <div id="stay-days-listing" class="days scrollable" ng-iscroll="stayDates">
            <ul class="wrapper" style="width:{{(stateCheck.dateButtonContainerWidth)}}px">
                <li ng-repeat="stayday in reservationData.stayDays" ng-class="{'booked': reservationData.rooms[0].stayDates[stayday.date].rate.id != '','check-in':$first,'check-out':$last, 'active' : (!$last && stateCheck.dateModeActiveDate == stayday.date)}" ng-click="showStayDateDetails(stayday.date)">
                    <span class="day">{{stayday.dayOfWeek}}</span>
                    <span class="date">{{stayday.day}}</span>
                    <span ng-if="$first || $last" class="guest-status small-icon" ng-class="{'check-in':$first,'check-out':$last}"></span>                                        
                    <span ng-if="stateCheck.suppressedRates.indexOf(reservationData.rooms[0].stayDates[stayday.date].rate.id) == -1" class="price" ng-show="!$last && roomAvailability[stateCheck.preferredType].ratedetails[stayday.date][reservationData.rooms[0].stayDates[stayday.date].rate.id].rate">
                        {{currencySymbol}}{{roomAvailability[stateCheck.preferredType].ratedetails[stayday.date][reservationData.rooms[0].stayDates[stayday.date].rate.id].rate | number: 0}}
                    </span>
                    <span ng-if="stateCheck.suppressedRates.indexOf(reservationData.rooms[0].stayDates[stayday.date].rate.id) > -1" class="price" ng-show="!$last && roomAvailability[stateCheck.preferredType].ratedetails[stayday.date][reservationData.rooms[0].stayDates[stayday.date].rate.id].rate">
                        SR
                    </span>
                </li>                
            </ul>
        </div>
        <!-- When not all booked -->
        <button type="button" class="button" ng-class="{'grey' : !stateCheck.rateSelected.allDays, 'green': stateCheck.rateSelected.allDays}" ng-click="handleDaysBooking($event)">Done</button>
        <!-- When all booked -->
        <!-- <button type="button" class="button green">Done</button>-->
    </div>

    <div ng-if="stateCheck.activeMode=='ROOM_RATE'" ng-include src="'assets/partials/reservation/rvRoomRates.html'"></div>
    <div ng-if="stateCheck.activeMode=='CALENDAR'" ng-include src="'assets/partials/reservation/rvStayDatesCalendar.html'"></div>

</section>
<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all find-rate" tabindex="0" ng-show="filteredRates.length > 0 && isRateFilterActive==true" style="width: 280px; top: 265px; left: 25px;">
    <li ng-repeat="rate in filteredRates" class="ui-menu-item" role="presentation">
        <a class="ui-corner-all" tabindex="-1"  ng-click="selectRate(rate)">
            <span ng-bind-html="highlight(rate.rate.name, rateFilterText)"></span>
        </a>
    </li>
</ul>