<!-- Content -->
<div ng-include="'/assets/partials/common/header.html'"></div>
<section id="details-and-payment" class="content reservations-inner" ng-cloak>
    <div id="details-and-payment-content" class="reservations-content-wrapper">
        <div id="reservation-summary" class="reservation-summary scrollable" ng-iscroll='reservationSummary'>
            <div class="wrapper"> 
                <h2 translate>RESERVATION_SUMMARY</h2>
                <ul class="data" ng-if="!reservationData.isHourly">
                    <li>
                        <span class="guest-status room" translate>ROOMS</span>
                        <span>{{reservationData.rooms.length}}</span>
                        <span ng-if="reservationData.rooms.length === 1" translate>ROOM</span>
                        <span ng-if="reservationData.rooms.length !== 1" translate>ROOMS</span>
                    </li>
                    <li>
                        <span class="guest-status nights" translate>NIGHTS</span>
                        <span>{{reservationData.numNights}}</span>
                        <span ng-if="reservationData.numNights === 1" translate> NIGHT</span>
                        <span ng-if="reservationData.numNights !== 1" translate> NIGHTS</span>
                    </li>
                </ul>
                <div class="stay-dates">
                    <div class="check-in-dates">
                        <span class="guest-status small-icon check-in">check-in</span>
                        {{getSimplifiedDayName(reservationData.arrivalDate)}}, {{reservationData.arrivalDate | date:dateFormat}}
                        <div class="check-data icons icon-time time-in">
                            <div class="select hour">
                                <select iscroll-stop-propagation name="check-in" class="placeholder" ng-model="reservationData.checkinTime.hh">
                                    <option value="" selected>HH</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="select minutes">
                                <select iscroll-stop-propagation name="check-in" class="placeholder"ng-model="reservationData.checkinTime.mm">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                            <div class="select ampm">
                                <select iscroll-stop-propagation name="check-in" class="placeholder" ng-model="reservationData.checkinTime.ampm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="check-out-dates">
                        <span class="guest-status small-icon check-out">check-out</span>
                        {{getSimplifiedDayName(reservationData.departureDate)}}, {{reservationData.departureDate | date:dateFormat}}
                        <div class="check-data icons icon-time time-out">
                            <div class="select hour">
                                <select iscroll-stop-propagation name="check-out" class="placeholder" ng-model="reservationData.checkoutTime.hh">
                                    <option value="" selected>HH</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="select minutes">
                                <select iscroll-stop-propagation name="check-out" class="placeholder" ng-model="reservationData.checkoutTime.mm">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                            <div class="select ampm">
                                <select iscroll-stop-propagation name="check-out" class="placeholder" ng-model="reservationData.checkoutTime.ampm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- This here is dynamic content, depending on actual room booked -->
                <div class="rooms" ng-repeat="room in reservationData.rooms">
                    <div class="title">
                        <span translate>ROOM</span>
                        {{room.roomNumber}}
                        <div class="count">
                            <span><span class="label" translate>ADULTS</span>{{room.numAdults}}</span>
                            <span><span class="label" translate>CHILDREN</span>{{room.numChildren}}</span>
                            <span><span class="label" translate>INFANTS</span>{{room.numInfants}}</span>
                        </div>
                    </div>
                    <div class="room-type">
                        <h4>{{room.roomTypeName}}<span></span></h4>
                        <div class="confirmation" ng-hide="room.confirm_no"> <!-- Show confirmation number -->
                            <span class="label">Confirmation #</span>{{reservationData.confirmNum}}
                        </div>
                        <div class="confirmation" ng-show="room.confirm_no"> <!-- Show confirmation number -->
                            <span class="label">Confirmation #</span>{{room.confirm_no}}
                        </div>
                    </div>
                    <ul class="rate-and-enhancements">                        
                        <li class="update-rate">
                            <a ng-click="editReservationRates(room, $index)">
                                <em>{{room.rateName}}</em>
                                <span class="price">
                                    <label ng-if="!room.isSuppressed && !reservationData.isHourly">{{currencySymbol}}{{room.rateAvg | number : 2}}</label>
                                    <label ng-if="room.isSuppressed && !reservationData.isHourly">SR</label>
                                    <span ng-if="!reservationData.isHourly" translate>AVG_NIGHT</span>
                                    <span class="total" ng-if="room.isSuppressed">SR</span>
                                    <span class="total" ng-if="!room.isSuppressed">{{currencySymbol}}{{room.rateTotal | number : 2}}</span>
                                </span>
                            </a>
                        </li>
                        <li ng-repeat='addon in room.addons'>
                            <em>{{addon.title}}</em>
                            <span class="price">
                                {{currencySymbol}}{{ addon.price | number : 2}}
                                <span translate>EACH</span>
                                <span class="total">{{currencySymbol}}{{ addon.effectivePrice | number : 2}}</span>
                            </span>
                        </li>                        
                    </ul>
                    <div class="actions">
                        <button type="button" class="button white blue-text" ng-class="{'grey-text': !room.confirm_no && !reservationData.confirmNum}" ng-disabled="!room.confirm_no && !reservationData.confirmNum" ng-click = "openBillingInformation(room.confirm_no)">{{getBillingInfoTitle()}}</a>
                        <button type="button" class="button white brand-text" ng-class="{'grey-text': !room.confirm_no && !reservationData.confirmNum}" ng-disabled="!room.confirm_no && !reservationData.confirmNum" ng-click="setDemographics()">Demographics</a>
                    </div>
                    <button class="add-new-button" ng-hide="true">+ Accompanying Guest</button>
                    <form id="room-1-accompany" class="form hidden"> <!-- Remove class hidden when button above clicked -->
                        <div class="entry">
                            <label for="room-1-acc-1-firstname">Accompanying guest</label>
                            <input name="room-1-acc-1-firstname" id="room-1-acc-1-firstname" placeholder="First Name" value="" type="text" />
                            <input name="room-1-acc-1-lastname" id="room-1-acc-1-lastname" placeholder="Last Name" value="" type="text" />
                        </div>
                        <div class="actions">
                            <button type="button" class="button blank">Cancel</button>
                        </div>
                    </form>
                </div>
                <ul class="total-stay-cost">                	
                	<li ng-repeat="row in reservationData.taxDetails">                        
                		<span class="label" translate> {{row.description}} </span>
                        <span class="total" ng-if="reservationData.isRoomRateSuppressed">SR</span>
                        <span class="total" ng-if="!reservationData.isRoomRateSuppressed">{{currencySymbol}}{{ row.amount | number : 2}}</span>               		
                	</li>
                	
                    <li>
                        <span class="label" translate>TOTAL_TAX</span>
                        <label ng-if="!reservationData.isRoomRateSuppressed">{{currencySymbol}}{{reservationData.totalTax | number : 2}}</label>
                        <label ng-if="reservationData.isRoomRateSuppressed">SR</label>
                    </li>
                    <li>
                        <span class="label" translate>TOTAL_STAY_COST</span>
                        <label ng-if="!reservationData.isRoomRateSuppressed"><strong>{{currencySymbol}}{{reservationData.totalStayCost | number : 2}}</strong></label>
                        <label ng-if="reservationData.isRoomRateSuppressed">SR</label>
                    </li>
                </ul>
            </div> 
        </div>
        <form class="form payment-info"  ng-show="reservationData.paymentType.type.value=== 'CC' && showCC" ng-click="clearErrorMessage()">
            <div class="wrapper">
                <div ng-include="'/assets/partials/common/notification_message.html'"></div>
                <div id="set-payment" class="payment-form for-reservation"> 
                    <!-- <div class="entry full-width"> -->
                        <!-- Credit card options - hidden until CC set as payment type -->
                        <div ng-controller="RVCardOptionsCtrl" ng-include="'/assets/partials/roverPayment/rvCardOptions.html'"></div>
                    <!-- </div> -->
                </div>
            </div>
         </form>
        <form class="form payment-info scrollable" ng-iscroll='paymentInfo'  ng-hide="reservationData.paymentType.type.value=== 'CC' && showCC" ng-click="clearErrorMessage()">
            <div class="wrapper" style="height:120%;">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div id="set-payment" class="payment-form for-reservation"> 
                <div class="entry full-width" ng-hide="showCC ||(depositData.attempted && !depositData.depositAttemptFailure)">
                    <span ng-hide="true">{{reservationData.paymentType}}</span>
                    <label for="payment-type" translate>PAYMENT_TYPE</label>
                    <div class="select">

                        <select class="placeholder" ng-model="reservationData.paymentType.type.value"
                            ng-change="changePaymentType()" iscroll-stop-propagation>
                            <option value="" translate>SELECT_PAYMENT_TYPE</option>
                            <option ng-selected="paymentTypes.value == reservationData.paymentType.type.value" value="{{paymentTypes.value}}" ng-repeat="paymentTypes in reservationData.paymentMethods">{{paymentTypes.description}}</option>
                        </select>
                    </div>
                </div>
                    <!-- Card Input type - output only if Six Payments and payment type is CC -->
                <div class="entry" ng-show="paymentGateway === 'sixpayments' && reservationData.paymentType.type.value ==='CC' && !showCC">
                    <label for="card-source">Card Input</label>
                    <div class="switch-button" ng-class="{'on': !isManual}">
                        <input name="card-source" id="card-source" value="card-source" type="checkbox" ng-model="isManual" ng-change="changeOnsiteCallIn()" />
                        <label class="data-off">
                            <span class="value">C &amp; P</span>
                            <span class="switch-icon">Manual</span>
                        </label>
                        <label class="data-on">
                            <span class="switch-icon">C &amp; P</span>
                            <span class="value">Manual</span>
                        </label>
                    </div>
                </div>
               
                <div class="entry full-width" id="selected-card"  ng-show="showSelectedCreditCard && !showCCPage && reservationData.paymentType.type.value === 'CC' && !showCC &&(paymentGateway !== 'sixpayments' || isManual || reservationEditMode)" ng-click="changePaymentType()">
                <label>Credit Card (<span>Tap to change</span>)</label>
                <label class="active-item item-payment" id="pay-with-amex">
                    <figure class="card-logo">
                        <img ng-src="/assets/{{renderData.creditCardType}}.png" alt="">
                    </figure>
                    <span class="number">Ending with 
                        <span class="value number">{{renderData.endingWith}}</span>
                    </span>
                    <span class="date">Date 
                        <span class="value date">{{renderData.cardExpiry}}</span>
                        <span ng-show="renderData.isSwiped" class="icons icon-swiped swiped-card"></span> 
                    </span>
                    
                </label>
                 </div>

                    <!-- Credit card options - hidden until CC set as payment type -->
                      <!-- Credit card options - hidden until CC set as payment type -->
                    <!-- <div ng-controller="RVCardOptionsCtrl" ng-include="'/assets/partials/roverPayment/rvCardOptions.html'" ng-show="reservationData.paymentType.type.value=== 'CC' && showCC"></div> -->

                <div class="entry full-width" ng-show="isNewCardAdded">
                    <label class="checkbox inline" for="add-in-guest-card" ng-class="{'checked': addtoGuestCard}">
                        <span class="icon-form icon-checkbox" ng-class="{'checked': addToGuestCard}"></span>
                        <input ng-model="addToGuestCard" id="add-in-guest-card" value="1" type="checkbox" />
                        {{'ADD_TO_GUEST_CARD' | translate}}
                    </label>
                </div> 

                    <!-- Use only if deposit is required -->
                    <div class="notice deposit" ng-if="depositData.isDepositRequired && reservationData.isValidDeposit" ng-hide="depositData.attempted || showCC">                        
                        <p>Deposit required: <strong>{{depositData.description}}</strong>.</p>
                        <!-- Payment fields -->
                        <div ng-include="'/assets/partials/reservation/rvPaymentFields.html'"></div>                        
                        <!-- Buttons - remove class "hidden" when payment type is defined-->
                        <div class="actions" ng-show="!!reservationData.paymentType.type.value && reservationData.depositAmountWithoutFilter >= 0">
                            <button type="button" class="button blue" ng-click="confirmReservation()">Pay deposit later</button>
                            <button type="button" class="button green" ng-click="payDeposit()">Pay deposit now</button>
                        </div>
                    </div>
                    
                    <!-- Deposit paid succesfully -->
                    <div class="feedback no-top-border" ng-if="depositData.isDepositRequired" ng-show="depositData.attempted && !depositData.depositAttemptFailure">
                        <div class="notice success">Deposit paid</div>
                        <ul class="transaction">
                            <li ng-show="depositData.authorizationCode!==''">Your Authorize code is: <span class="auth">{{depositData.authorizationCode}}</span></li>
                            <li ng-if="isShowFees()">Amount paid: <span class="value">{{currencySymbol}}{{reservationData.depositAmount}} + {{currencySymbol}}{{feeData.calculatedFee}} fee
                            </span>
                            </li>
                             <li ng-if="!isShowFees()">Amount paid: <span class="value">{{currencySymbol}}{{reservationData.depositAmount}}
                             </span>
                            </li>
                        </ul>
                    </div>

                    <!-- Deposit payment failed -->
                    <div class="feedback" ng-if="depositData.isDepositRequired" ng-show="depositData.attempted &&depositData.depositAttemptFailure">
                        <!-- <div class="notice error">Payment failed. Try again or change payment method.</div> -->
                         <div class="notice error">{{paymentErrorMessage}}</div>
                    </div> 

                    <div class="actions" ng-hide="showCC">
                        <button type="button" ng-disabled="!reservationData.guest.id && !reservationData.company.id && !reservationData.travelAgent.id" class="button blank" ng-click="cancelReservation()">Cancel Reservation</button>
                        <!-- Show when deposit paid succesfully. If deposit not required, then show when payment method added  -->
                        <!-- <button type="button" class="button" ng-class="{'grey':isContinueDisabled(),'green':!isContinueDisabled()}" ng-disabled="isContinueDisabled()" ng-click="proceedCreatingReservation()">Continue</button> -->
                        <button type="button" class="button" ng-class="{'grey':isContinueDisabled(),'green':!isContinueDisabled()}" ng-disabled="isContinueDisabled()" ng-click="clickedContinueButton()">Continue</button>
                      
                        <!-- Show when deposit payment fails  -->
                        <button type="button" class="button blue" ng-show="depositData.depositAttemptFailure" ng-click="tryAgain()">Try Again</button>
                    </div>
                </div>
                
            </div> 
        </form>
    </div>
</section>