<div id="inline-modal-room-1" class="inline-modal modal-show" role="dialog" ng-cloak>
    <div class="modal-content room-enhancements">
        <span class="h2 message">Room {{roomNumber}} Enhancements</span>
        <!-- Initial markup -->
        <!-- Markup as you add items -->
        <div class="scrollable" ng-iscroll="resultDetails" ng-iscroll-delay="500">        
        <ul id="room-1-enhancements" class=" wrapper enhancements-added">
            <li ng-repeat="addon in addonsData.existingAddons" class="addons-list">
                <span class="item">{{ addon.title }}</span>

                <!-- if addon type is adult /child type multiplification factor will be (addon_count*number of days*(adult_count or child_count)) -->
                <!-- if addon type is person multiplification factor will be (addon_count*number of days*(adult_count+child_count))-->

                <span ng-if="addon.amount_type ==='Adult'">
                    <span class="count" ng-hide="addon.post_type ==='Entire Stay'"> ({{addon.quantity * reservationData.number_of_adults}})</span> 
                    <span class="count" ng-show="addon.post_type ==='Entire Stay'"> ({{addon.quantity* duration_of_stay *reservationData.number_of_adults}})</span>
                </span>
                <span ng-if="addon.amount_type ==='Child'">
                    <span class="count" ng-hide="addon.post_type ==='Entire Stay'"> ({{addon.quantity*reservationData.number_of_children}})</span> 
                    <span class="count" ng-show="addon.post_type ==='Entire Stay'"> ({{addon.quantity* duration_of_stay*reservationData.number_of_children}})</span>
                </span>

                <span ng-if="addon.amount_type ==='Flat'">
                    <span class="count" ng-hide="addon.post_type ==='Entire Stay'"> ({{addon.quantity}})</span> 
                    <span class="count" ng-show="addon.post_type ==='Entire Stay'"> ({{addon.quantity* duration_of_stay}})</span>
                </span>
                <span ng-if="addon.amount_type ==='Person'">
                    <span class="count" ng-hide="addon.post_type ==='Entire Stay'"> ({{addon.quantity*(reservationData.number_of_children+reservationData.number_of_adults)}})</span> 
                    <span class="count" ng-show="addon.post_type ==='Entire Stay'"> ({{addon.quantity* duration_of_stay*(reservationData.number_of_children+reservationData.number_of_adults)}})</span>
                </span>
               
                <span class="base" ng-hide="addon.is_inclusive">at {{currencySymbol}}{{addon.price_per_piece | number : 2}} / {{addon.amount_type}} <span ng-show="addon.post_type ==='First Night'">per stay</span><span ng-show="addon.post_type ==='Entire Stay'"> per night</span></span>

                <!-- if addon type is adult /child type multiplification factor will be (addon_count*number of days*(adult_count or child_count)) -->
                <!-- if addon type is person multiplification factor will be (addon_count*number of days*(adult_count+child_count))-->

                 <span ng-if="addon.amount_type ==='Adult'">
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type ==='Entire Stay'">{{currencySymbol}}{{addon.totalAmount * reservationData.number_of_adults| number : 2}}</span>
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type !=='Entire Stay'">{{currencySymbol}}{{addon.totalAmount * duration_of_stay * reservationData.number_of_adults| number : 2}}</span>
                    </span>
                     <span ng-if="addon.amount_type ==='Child'">
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type ==='Entire Stay'">{{currencySymbol}}{{addon.totalAmount*reservationData.number_of_children | number : 2}}</span>
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type !=='Entire Stay'">{{currencySymbol}}{{addon.totalAmount * duration_of_stay*reservationData.number_of_children| number : 2}}</span>
                    </span>
                    <span ng-if="addon.amount_type ==='Flat'">
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type ==='Entire Stay'">{{currencySymbol}}{{addon.totalAmount | number : 2}}</span>
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type !=='Entire Stay'">{{currencySymbol}}{{addon.totalAmount * duration_of_stay| number : 2}}</span>
                    </span>
                    <span ng-if="addon.amount_type ==='Person'">
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type ==='Entire Stay'">{{currencySymbol}}{{addon.totalAmount*(reservationData.number_of_children+reservationData.number_of_adults) | number : 2}}</span>
                        <span class="price" ng-hide="addon.is_inclusive || addon.post_type !=='Entire Stay'">{{currencySymbol}}{{addon.totalAmount * duration_of_stay*(reservationData.number_of_children+reservationData.number_of_adults)| number : 2}}</span>
                    </span>
               
                <span class="price" ng-show="addon.is_inclusive">INCL</span>
                <button type="button" class="icons icon-trash" ng-click="removeSelectedAddons($index)" translate>REMOVE</button>
            </li>
        </ul>
        </div>
        <div class="actions" ng-hide="fromPage=='staycard'">
            <button type="button" ng-click="closePopup()" class="button white modal-hide" translate>ADD_MORE_TO_THIS_ROOM</button>
            <button class="button green has-arrow skip" ng-click="goToSummaryAndConfirm()" translate>BOOK</button>
        </div>
        <div class="actions" ng-show="fromPage=='staycard'">
            <button class="button blank" ng-click="closeDialog()" translate>CLOSE</button>
        </div>
    </div>
</div>