<div>
 	<div ng-include="'/assets/partials/common/header.html'"></div>
	<section id="dashboard" class="content scrollable" role = "main" ng-iscroll='dashboard_scroller' ng-iscroll-delay="100" style="position:absolute; top:40px; bottom: 0px; left:0px; width: 100%;overflow:hidden;">
		<div class="wrapper">
			<h2>{{greetingsMessage | translate}} {{userDetails.first_name}}! </h2>

			<ul id="guests-today">
				<li>
					<a class="button green" ui-sref="rover.search({type:'DUEIN'})">
						{{ 'CHECKING_IN' | translate }}
						<strong> {{dashboardData.due_in_count?dashboardData.due_in_count:0}} 
							</strong> 
					</a>
				</li>
				<li>
					<a class="button blue" ui-sref="rover.search({type:'INHOUSE'})"> 
						{{ 'INHOUSE' | translate }}
						<strong> {{dashboardData.inhouse_count?dashboardData.inhouse_count:0}} 
							</strong> 
					</a>
				</li>
				<li>
					<a class="button red" ui-sref="rover.search({type:'DUEOUT'})"> 
						{{ 'CHECKING_OUT' | translate }}
						<strong> {{dashboardData.due_out_count?dashboardData.due_out_count:0}} </strong> 
					</a>
				</li>
			</ul>
			<ul id="stats-today" ng-class="{'upsell_on':hotelDetails.upsell_settings.is_upsell_settings_on}">
				<li>
					{{ 'GUEST_REVIEW_SCORE_TITLE' | translate }}
					<span ng-show="dashboardData.guest_review_score">{{dashboardData.guest_review_score}}</span>
					<span ng-hide="dashboardData.guest_review_score" class="no-data"> No data available </span>
				</li>
				<li ng-show= "hotelDetails.upsell_settings.is_upsell_settings_on">
					{{ 'UPSELL_TARGET_TITLE' | translate }}
					<span class="blue"> {{currencySymbol}} {{dashboardData.upsell_target?dashboardData.upsell_target:0}} </span>
				</li>
				<li ng-show= "hotelDetails.upsell_settings.is_upsell_settings_on">
					{{ 'ACTUAL_UPSELL_TITLE' | translate }}
					<span class="red">{{currencySymbol}} {{dashboardData.actual_upsell?dashboardData.actual_upsell:0}}</span>
				</li>
				<li>
					{{ 'VIP_CHECKIN_TITLE' | translate }}
					<span>{{dashboardData.vip_checkin_count?dashboardData.vip_checkin_count:0}}</span>
				</li>
				<li ng-show= "hotelDetails.upsell_settings.is_upsell_settings_on">
					{{ 'ROOMS_FOR_UPSELL_TITLE' | translate }}
					<span>{{dashboardData.rooms_for_upsell?dashboardData.rooms_for_upsell:0}}</span>
				</li>
				<li ng-show= "hotelDetails.upsell_settings.is_upsell_settings_on">
					{{ 'ROOMS_UPSOLD_TITLE' | translate }}
					<span>{{dashboardData.rooms_upsold?dashboardData.rooms_upsold:0}}</span>
				</li>
				</li>
			</ul>
		</div>

	</section>
</div>