
<div id="dashboard-rate-of-day" class="dashboard-block data rate-of-day" ng-show="isStandAlone">
    <h3>Rate of the Day</h3>
    <ul>
        <li>
        	Today
        	<span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.today.name)!==''">{{statisticsData.rate_of_day.today.name}}</span>
            <span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.today.name)==''">&#160;</span>
        	<span class="value" ng-if="escapeNull(statisticsData.rate_of_day.today.amount)!==''">
                {{currencySymbol}}{{statisticsData.rate_of_day.today.amount | number : 2}}
            </span>  
            <span class="value" ng-if="isEmptyObject(statisticsData.rate_of_day.today)">
                CLOSED
            </span>              
                   
        </li>
        <li>
        	{{tomorrow|date:monthAndDate}}
        	<span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.tomorrow.name)!==''">{{statisticsData.rate_of_day.tomorrow.name}}</span>
            <span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.tomorrow.name)==''">&#160;</span>
            <span class="value" ng-if="escapeNull(statisticsData.rate_of_day.tomorrow.amount)!==''">
                {{currencySymbol}}{{statisticsData.rate_of_day.tomorrow.amount | number : 2}}
            </span> 
            <span class="value" ng-if="isEmptyObject(statisticsData.rate_of_day.tomorrow)">
                CLOSED
            </span>                        
        </li>
        <li>
        	{{dayAfterTomorrow|date:monthAndDate}}
        	<span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.day_after_tomorrow.name)!==''">{{statisticsData.rate_of_day.day_after_tomorrow.name}}</span>
            <span class="rate" ng-if="escapeNull(statisticsData.rate_of_day.day_after_tomorrow.name)==''">&#160;</span>
            <span class="value" ng-if="escapeNull(statisticsData.rate_of_day.day_after_tomorrow.amount)!==''">
                {{currencySymbol}}{{statisticsData.rate_of_day.day_after_tomorrow.amount | number : 2}}
            </span> 
            <span class="value" ng-if="isEmptyObject(statisticsData.rate_of_day.day_after_tomorrow)">
                CLOSED
            </span>                        
        </li>      
    </ul>
</div>