<div id="dashboard-rooms" class="dashboard-block buttons" ng-controller="rvDashboardRoomsWidgetController">
    <h3>Rooms</h3>
    <ul class="actions">
        <li><a class="button blue" ng-click="clickedOnRoomButton($event, 'OCCUPIED')"><strong>{{statisticsData.rooms.occupied}}</strong> Occupied Rooms</a></li>
        <li><a class="button green" ng-click="clickedOnRoomButton($event, 'VACANT_READY')"><strong>{{statisticsData.rooms.vacant_ready}}</strong> Vacant <span>(Ready)</span></a></li>
        <li><a class="button red" ng-click="clickedOnRoomButton($event, 'VACANT_NOT_READY')"><strong>{{statisticsData.rooms.vacant_not_ready}}</strong> Vacant <span>(Not Ready)</span></a></li>
        <li><a class="button grey" ng-click="clickedOnRoomButton($event, 'OUTOFORDER_OR_SERVICE')"><strong>{{statisticsData.rooms.out_of_order}}</strong> Out of Order/Service</a></li>
    </ul>
    <ul class="data">
        <li ng-click="clickedOnRoomButton($event, 'OCCUPIED')">Occupied Rooms <strong class="blue">{{statisticsData.rooms.occupied}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'VACANT_READY')">Vacant (Ready) <strong class="green">{{statisticsData.rooms.vacant_ready}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'VACANT_NOT_READY')">Vacant (Not Ready) <strong class="red">{{statisticsData.rooms.vacant_not_ready}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'OUTOFORDER_OR_SERVICE')">Out of Order/Service <strong class="grey">{{statisticsData.rooms.out_of_order}}</strong></li>
    </ul>
</div>