<div bindonce="statisticsData" id="dashboard-upsell" class="dashboard-block data" ng-show= "hotelDetails.upsell_settings.is_upsell_settings_on">
    <h3>Upsell</h3>
    <ul>
        <li>
        	Target
        	<span ng-show="escapeNull(statisticsData.upsell.target)!==''" bo-text="'{{currencySymbol}}{{statisticsData.upsell.target | number : 0}}'">
            	
        	</span>      	
        </li>
        <li>
            Actual
            <span ng-show="escapeNull(statisticsData.upsell.amount)!==''"  bo-text="'{{currencySymbol}}{{statisticsData.upsell.amount | number : 0}}'">
                
            </span>            
        </li>
    </ul>
</div>