<div id="dashboard-rooms" class="dashboard-block buttons">
    <h3>Rooms</h3>
    <ul class="actions">
        <li><a class="button blue" ng-click="clickedOnRoomButton($event, 'INHOUSE_DIRTY')"><strong>{{statisticsData.rooms.stays_dirty}}</strong> Stays <span>(Dirty)</span></a></li>        
        <li><a class="button blue" ng-click="clickedOnRoomButton($event, 'INHOUSE_CLEAN')"><strong>{{statisticsData.rooms.stays_clean}}</strong> Stays <span>(Clean)</span></a></li>
        <li><a class="button red" ng-click="clickedOnRoomButton($event, 'DEPARTURES_DIRTY')"><strong>{{statisticsData.rooms.departure_dirty}}</strong> Departures <span>(Dirty)</span></a></li>
        <li><a class="button red" ng-click="clickedOnRoomButton($event, 'DEPARTURES_CLEAN')"><strong>{{statisticsData.rooms.departure_clean}}</strong> Departures <span>(Clean)</span></a></li>        
    </ul>
    <ul class="data">
        <li ng-click="clickedOnRoomButton($event, 'INHOUSE_DIRTY')">Stays (Dirty) <strong class="blue">{{statisticsData.rooms.stays_dirty}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'INHOUSE_CLEAN')">Stays (Clean) <strong class="blue">{{statisticsData.rooms.stays_clean}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'DEPARTURES_DIRTY')">Departures (Dirty) <strong class="red">{{statisticsData.rooms.departure_dirty}}</strong></li>
        <li ng-click="clickedOnRoomButton($event, 'DEPARTURES_CLEAN')">Departures (Clean) <strong class="red">{{statisticsData.rooms.departure_clean}}</strong></li>    
    </ul>
</div>