<div ng-include="'/assets/partials/search/rvSearchRoomWidget.html'"></div>

<section id="dashboard" class="content scrollable" role = "main" 
ng-iscroll='dashboard_scroller' ng-iscroll-delay="100" 
ng-show="showDashboard">
	<div class="wrapper">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbHouseKeepingRoomsSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbOccupancyHouseKeepingSection.html'"></div>		
		<div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
	</div>
</section>