<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
				<div class="checkout-status centeralign checkout-now-status">
					<p class="msg-head">It appears you have already completed your check-in.</p>
					<p class="msg-body">For further enquiries please contact the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
					<p class="msg-foot">Thank you!</p>
				</div>
			</div>
		</div>
	</div
></div>