<div class="config-wrapper">
    <ul class="date-wrapper" ng-class="{'inactive': currentClickedSet != $index}">
        <li style="width:30px;">
            <span class="icons delete_small" ng-click="confirmDeleteSet(set.id, $index, set.name)"  ng-hide="!is_date_range_editable(dateRange.end_date)">&nbsp;</span>
        </li>
        <li style="width:25%" ng-hide="currentClickedSet == $index">{{set.name}}</li>
        <li ng-show="currentClickedSet == $index" style="width:20%">
            <ad-textbox disabled="!is_date_range_editable(dateRange.end_date)" value="set.name" style="width:150px; margin-top:10px;"></ad-textbox>
        </li>

        <li style="width:58%">
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.monday" ng-click="toggleDays($index, 'monday')" label="MON"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.tuesday" ng-click="toggleDays($index, 'tuesday')" label="TUE"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.wednesday" ng-click="toggleDays($index, 'wednesday')" label="WED"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.thursday" ng-click="toggleDays($index, 'thursday')" label="THU"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.friday" ng-click="toggleDays($index, 'friday')" label="FRI"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.saturday" ng-click="toggleDays($index, 'saturday')" label="SAT"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:70px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.sunday" ng-click="toggleDays($index, 'sunday')" label="SUN"></ad-checkboxtext-left>
        </li>
        
        <li class="arrow-right" ng-hide="currentClickedSet == $index">
            <span class="cursor-hand"><img src="/assets/arrow-down.png" ng-click="setCurrentClickedSet($index)"></span>
        </li>
        
      
        <li ng-show="currentClickedSet == $index" style="width:9%;">
            <span class="icons icon-calendar" style="width:40px;" ng-click="popupCalendar()" ng-hide="!is_date_range_editable(dateRange.end_date)">&nbsp;</span>
        </li>
        <li ng-if="currentClickedSet == $index && rateData.is_hourly_rate" style="width: 9%; float: right;">
            <button ng-click="saveSet(dateRange.id, $index)" class="green button" type="button">SAVE</button>
        </li>
        
    </ul>
</div>

<div class="rate-config" ng-if="!rateData.is_hourly_rate">
    <table width="100%" border="0" align="right" cellspacing="0" cellpadding="0" id="ratetable" ng-show="currentClickedSet == $index">
        <tr>
            <td width="20%" align="right">&nbsp;</td>
            <td width="2%">&nbsp;</td>
            <td width="16%" align="left">Single ({{currencySymbol}})</td>
            <td width="5%" align="center">&nbsp;</td>
            <td width="16%" align="left">Double ({{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
            <td width="16%" align="left">Extra Adult (+{{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
            <td width="16%" align="left">Child (+{{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
        </tr>
        <tr ng-repeat="room_rate in set.room_rates">
            <td align="right" class="room-type">{{room_rate.name}}</td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry">
                    <input type="text" ng-model="room_rate.single" ng-disabled="!is_date_range_editable(dateRange.end_date)" ng-change="rateSetChanged(dateRange, $index)">
                </div>
            </td>
            <td align="center" ng-hide="!is_date_range_editable(dateRange.end_date)">
                <span class="icons right-arrow-grey" ng-click="moveSingleToDouble($parent.$index,$index)">&nbsp;</span>
            </td>
            <!-- To compensate for arrows. in date range not editable case -->
            <td align="center" ng-show="!is_date_range_editable(dateRange.end_date)">
                &nbsp;
            </td>

            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.double" ng-disabled="!is_date_range_editable(dateRange.end_date)" ng-change="rateSetChanged(dateRange, $index)"></div>
            </td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.extra_adult" ng-disabled="!is_date_range_editable(dateRange.end_date)" ng-change="rateSetChanged(dateRange, $index)"></div>
            </td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.child" ng-disabled="!is_date_range_editable(dateRange.end_date)" ng-change="rateSetChanged(dateRange, $index)"></div>
            </td>
            <td align="center">&nbsp;</td>
        </tr>
      <tr>
        <td width="20%" align="right">&nbsp;</td>
        <td width="2%">&nbsp;</td>
        <td width="16%" align="left">&nbsp;</td>
        <td width="4%" align="center">
            <span class="icons right-arrow-green" ng-hide="!is_date_range_editable(dateRange.end_date)" ng-click="moveAllSingleToDouble($index)">&nbsp;</span>
        </td>
        <td width="16%" align="left">&nbsp;</td>
        <td width="4%" align="center">&nbsp;</td>
        <td width="15%" style="text-align:right;" colspan="3">
            <button type="button" class="button" ng-click="saveSet(dateRange.id, $index)" ng-hide="set.isSaved" ng-disabled="!checkFieldEntered($index)" ng-class="(set.isEnabled) ? 'green' : 'grey'">SAVE&nbsp;SET</button>
            <button type="button" class="button" ng-click="saveSet(dateRange.id, $index)" ng-show="set.isSaved" ng-disabled="!checkFieldEntered($index)" ng-class="(set.isEnabled) ? 'green' : 'grey'">UPDATE&nbsp;SET</button>
            <button type="button" ng-click="collapse($index)" class="button blank">
                Cancel
            </button>
        </td>

         </tr>
       
    </table>
</div>


<div class="rate-config" ng-if="rateData.is_hourly_rate" ng-show="currentClickedSet == $index">
    <div class="hourly-config day">
        <label class="day_rates">Day Rates</label>
        <table width="100%" border="0" align="right" cellspacing="0" cellpadding="0" id="ratetable">
            <tr class="day_night_rates">                
                <td width="5%" align="left">Min. Hours</td>
                <td width="1%" align="center">&nbsp;</td>
                <td width="5%" align="left">Max. hours</td>
                <td width="1%" align="center">&nbsp;</td>
                <td width="13%" align="left">Check out cut-off</td>                
            </tr>
            <tr>               
                <td align="left">
                    <div class ="rate_entry">
                        <input ng-model="set.day_min_hours" type="text" >
                    </div>
                </td>
                <td align="center">&nbsp;</td>

                <td align="left">
                    <div class ="rate_entry">
                        <input ng-model="set.day_max_hours" type="text" >
                    </div>
                </td>
                <td align="center">&nbsp;</td>
                <td align="left">
                    <div class="entry full-width float">
                        <div class="select select-col col1-3">

                            <select ng-model="set.checkout.hh" class="styled">
                                <option value="" data-text="Not set" class="placeholder">HH</option>
                                <option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==set.checkout.hh">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">

                            <select ng-model="set.checkout.mm">
                                <option value="" data-text="Not set" class="placeholder">MM</option>
                                <option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==set.checkout.mm">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">
                            <select ng-model="set.checkout.am" name="hotel-checkout-primetime" class="styled">
                                <option value="AM" selected="" translate>AM</option>
                                <option value="PM" translate>PM</option>
                            </select>
                        </div>
                    </div>
                </td>                
            </tr>           
        </table>
    </div>
   <!--  <div style="width:10%"></div> -->
    <div class="full-width">
        <label class="night_rates">Night Rates</label>
        <table width="100%" border="0" align="right" cellspacing="0" cellpadding="0" id="ratetable" >
            <tr class="day_night_rates">
                <td width="11%" align="left">NIGHT STARTS</td>
                <td width="1%" align="center">&nbsp;</td>
                <td width="11%" align="left">NIGHT ENDS</td>
                <td width="1%" align="center">&nbsp;</td>
                <td width="11%" align="left">CHECK OUT CUT-OFF</td>
                <td width="1%" align="center">&nbsp;</td>
                <td width="6%" align="left">&nbsp;</td>
            </tr>
            <tr>
                <td align="left">
                   <div class="entry full-width float">
                        <div class="select select-col col1-3">

                            <select ng-model="set.dusk.hh" class="styled">
                                <option value="" data-text="Not set" class="placeholder">HH</option>
                                <option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==set.dusk.hh">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">

                            <select ng-model="set.dusk.mm">
                                <option value="" data-text="Not set" class="placeholder">MM</option>
                                <option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==set.dusk.mm">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">
                            <select ng-model="set.dusk.am" name="hotel-checkout-primetime" class="styled">
                                <option value="AM" selected="" translate>AM</option>
                                <option value="PM" translate>PM</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td align="center">&nbsp;</td>

                <td align="left">
                    <div class="entry full-width float">
                        <div class="select select-col col1-3">

                            <select ng-model="set.dawn.hh" class="styled">
                                <option value="" data-text="Not set" class="placeholder">HH</option>
                                <option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==set.dawn.hh">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">

                            <select ng-model="set.dawn.mm">
                                <option value="" data-text="Not set" class="placeholder">MM</option>
                                <option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==set.dawn.mm">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">
                            <select ng-model="set.dawn.am" name="hotel-checkout-primetime" class="styled">
                                <option value="AM" selected="" translate>AM</option>
                                <option value="PM" translate>PM</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td align="center">&nbsp;</td>

                <td align="left">
                    <div class="entry full-width float">
                        <div class="select select-col col1-3">
                            <select ng-model="set.night_checkout.hh" class="styled">
                                <option value="" data-text="Not set" class="placeholder">HH</option>
                                <option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==set.night_checkout.hh">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">
                            <select ng-model="set.night_checkout.mm">
                                <option value="" data-text="Not set" class="placeholder">MM</option>
                                <option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==set.night_checkout.mm">{{i}}</option>
                            </select>
                        </div>
                        <div class="select select-col col1-3">
                            <select ng-model="set.night_checkout.am" name="hotel-checkout-primetime" class="styled">
                                <option value="AM" selected="" translate>AM</option>
                                <option value="PM" translate>PM</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td align="center">&nbsp;</td>

                <td align="left">
                    <div class ="rate_entry">
                        <button ng-if="!set.isSaved" ng-click="saveSet(dateRange.id, $index, 'saveGrid')" class="green button" type="button">Create</button>
                        <button ng-if="set.isSaved" ng-click="saveSet(dateRange.id, $index, 'saveGrid')" class="green button" type="button">Update</button>
                    </div>
                </td>                
            </tr>
           
           
        </table>
    </div>


    <div class="hourly_rates_grid" ng-show="set.showRoomRate || set.isSaved">
        <div class="night_rates">
            <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="10%" align="right">&nbsp;</td>
                    <td width="2%">&nbsp;</td>                    
                </tr>
                <tr ng-repeat="room_rate in set.room_rates">
                    <td align="right" class="room-type">{{room_rate.name}}</td>
                    <td align="center">&nbsp;</td>                    
                </tr>
            </table>
        </div>
        <div id="hourlyRateDraw" ng-init="hourlyDraw = false">            
            <div class="draw" ng-class="{'closed':!hourlyDraw , 'open':hourlyDraw}">                
                <span ng-click="hourlyDraw = !hourlyDraw" ng-class="{'closed':!hourlyDraw , 'open':hourlyDraw}">Increments & Nightly Rates</span>                
                <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="30%" align="right">ADD PER HOUR ON DAY RATE</td>
                        <td width="2%">&nbsp;</td>
                        <td class="nightly" width="30%" align="center">NIGHLTY RATE</td>                    
                        <td width="2%" align="center">&nbsp;</td>
                        <td class="nightly" width="30%" align="center">ADD HOURLY IN DAY ON RATE</td>                    
                        <td width="2%" align="center">&nbsp;</td>
                    </tr>
                    <tr ng-repeat="room_rate in set.room_rates">
                        <td align="left">
                            <div class ="night_rate_entry">
                                <input ng-model="room_rate.day_per_hour" type="text">
                            </div>                        
                        </td>
                        <td align="center">&nbsp;</td>
                        <td align="left">
                            <div class ="night_rate_entry">
                                <input ng-model="room_rate.nightly_rate" type="text">
                            </div>                        
                        </td>
                        <td align="center">&nbsp;</td>
                        <td align="left">
                            <div class ="night_rate_entry">
                                <input ng-model="room_rate.night_per_hour" type="text">
                            </div>                        
                        </td>
                        <td align="center">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="hourly_rate_state">
            <table  border="0" align="center" cellspacing="0" cellpadding="0">                
                <tr>
                    <!-- The nightly time span will be greyed out as the default nightly price applies. Add class "default_night_price" in <td> -->
                    <!-- The Day Check Out time should be indicated in colour.Add class "day_checkout_time"-->
                    <td width="10%" class="hourly_grid_time" align="center" ng-repeat="i in [0, 23, 1, 2] | makeRange" value="{{i}}" ng-class="{'day_checkout_time' : $index == (set.checkout.am == 'AM' ? set.checkout.hh : 12 + set.checkout.hh), 'night_time' : checkNightly(set, $index) }"> {{i}}:00</td>
                    <td width="2%" align="center">&nbsp;</td>
                </tr>
                <tr ng-repeat="room_rate in set.room_rates">
                    <td width="10%" align="center" ng-repeat="i in [0, 23, 1, 2] | makeRange" value="{{i}}">

                        <!-- The nightly time span will be greyed out as the default nightly price applies. Add class "default_night_price" along with "night_rate_entry"-->
                        <div class ="night_rate_entry" ng-class="{'default_night_price' : checkNightly(set, $index)}">
                            <input ng-disabled="checkNightly(set, $index)" ng-model="room_rate.hourly[$index]" type="text">
                        </div>
                    </td>
                    
                </tr>
              
            </table>
           
        </div>

        <div class="entry movers" ng-hide="true">
            <span  class="icons icon-mover-right to-target" data-type="target">Move right</span>
            <span class="icons icon-mover-left to-source" data-type="source">Move left</span>
        </div>
    </div>


    
</div>


    
    
        

