<div id="wrapper" class="content current" ng-click="clearErrorMessage()" outside-click-handler>
    <header class="content-title float">
        <div>
            <h2 ng-if="!is_edit">Add new Rate</h2>
            <div ng-show="is_edit">
                <h2>Edit Rate <span>{{ rateData.name }}</span></h2>
            </div>
            <a class="action back" ng-click="backToRates($event)">Back to rates</a>
        </div>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <table class="grid">
            <!-- Render Rate Details View -->
            <tr>
                <td ng-include="'/assets/partials/rates/adRatesAddDetails.html'"></td>
            </tr>
            <!-- Render Rate Room Types View -->
            <!-- TODO Hide row for Add Mode -->
            <tr ng-show="rateData.id > 0">
                <td ng-include="'/assets/partials/rates/adRatesAddRoomTypes.html'"></td>
            </tr>
            <!-- to be done-->
            <tr ng-repeat ="dateRange in rateData.date_ranges">
                <td ng-include="'/assets/partials/rates/adRatesAddConfigure.html'" ng-controller="ADRatesAddConfigureCtrl"></td>
            </tr>
           <!--  <tr ng-show="rateMenu ==='ADD_NEW_DATE_RANGE'">
                <td ng-include="'/assets/partials/rates/adRatesAddRange.html'"></td>
            </tr> -->

        </table>
          <div ng-show="rateMenu ==='ADD_NEW_DATE_RANGE'">
            <div ng-include="'/assets/partials/rates/adRatesAddRange.html'"></div>
        </div>
        <!-- template to add new date range -->
        

        <div ng-click="addNewDateRange()" ng-show="shouldShowAddNewDateRange()" class="center_align add_new_date_range_container newset-container"> 
            <a class="icons icon-add">
            <span>NEW DATE RANGE</span>
            </a>
        </div>
    </section>
</div>
