<section id="replacing-div-first"
			class="content current" ng-cloak ng-click="clearErrorMessage()">
	<div data-view="GuestCardLikesView">
		<header class="content-title float">
			<h2>Add-Ons</h2>
			<span class="count">
				({{ totalCount }})
			</span>
			<a id="add-new-button" ng-hide="isConnectedToPMS" class="action add" ng-click="addNew()">{{ 'ADD_NEW' | translate }}</a>
			<a class="action import" ng-click="importFromPms($event)" ng-show="isConnectedToPMS">IMPORT FROM PMS</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
			<div ng-hide="isAddMode">
				<span class="count-show">Show</span>
				<div class="select table-count rates-table-count">
					<select ng-model="displyCount"	ng-options="opt for opt in displayCountList"></select>
				</div>
				<span class="count-entries">entries</span>
					
				<div class="entry table-search">
					<span class="search-text">Search</span>
					<span class="icons icon-search" name="submit" type="submit"></span>
					<input placeholder="" autocomplete="off" type="text" ad-delay-textbox ng-model="searchTerm" delay="1000" function-to-fire="searchEntered" />
			    </div>
			</div>


			<div id="new-form-holder" ng-show="isAddMode" ng-include="getTemplateUrl()"></div>

			<table id="addons" class="grid" ng-table="tableParams" ng-hide="isAddMode" template-pagination="custom/pager" template-header="custom/header">
				<tbody>
					<tr ng-repeat="item in  data track by $index">
						<td header-class="width-30" ng-click="editSingle()" ng-hide="currentClickedAddon === $index" >
							<a class="edit-data-inline">{{ item.name }}</a>
						</td>

						<td header-class="width-50" ng-hide="currentClickedAddon === $index" >	
							{{ item.description }}
						</td>

						<td header-class="width-10" class="activate text-left" ng-hide="currentClickedAddon === $index">
							<div class="entry">
								<div class="switch-button single"
										ng-class="{ on: item.activated }">
									<input type = "checkbox"
											id = "rates-addons"
											name = "rates-addons"
											ng-click = "switchActivation()">
									<span class="switch-icon"></span>
								</div>
							</div>
						</td>

						<td header-class="width-10" class="delete" ng-hide="currentClickedAddon === $index">
							<a class="icons icon-delete large-icon" ng-click="deleteAddon()">Delete this addon</a>		
						</td>

						<td colspan="4" ng-include="getTemplateUrl()" ng-show="currentClickedAddon === $index"></td>
					</tr>
				</tbody>
			</table>
		</section>

		<script id="custom/header" type="text/ng-template">
		  <tr>
						 
	           <th class="width-30" ng-class="{
	           			'sortable': currentClickedAddon == -1,
	                    'sort-asc': tableParams.isSortBy('name', 'asc'),
	                    'sort-desc': tableParams.isSortBy('name', 'desc')
	                  }"
	                  
	                    ng-click="sortByName()" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user" ></i> <span translate>NAME</span></div>
	                </th>
	                <th class="width-30"  ng-class="{
	                	'sortable': currentClickedAddon == -1,
	                    'sort-asc': tableParams.isSortBy('description', 'asc'),
	                    'sort-desc': tableParams.isSortBy('description', 'desc')
	                  }"
	                  
	                    ng-click="sortByDescription()" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user" ></i> <span translate>DESCRIPTION</span></div>
	                </th>                		
					<th class="width-20" ><span class="addon-header" translate> ACTIVE </span></th>
					<th  class="width-20"><span class="addon-header" translate> DELETE </span> </th>								
					</tr>
		</script>

		<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class="pager" ng-show="totalCount > 0">
				<span ng-show="totalCount > 0">Showing {{ startCount }} to {{ endCount }} of {{ totalCount }} items</span>
				<span ng-show="totalCount == 0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->

	</div>
</section>