<!-- Header Collapse View -->
<div ng-hide="detailsMenu ==='addOns'">
	<div class="form-title cursor_pointer" ng-click="changeDetailsMenu('addOns')">
		<div class="rate_additional_details_heading">
			ADD-ONS
	        <div class="cursor_pointer rate_additional_details_pointers">
	            <img src="/assets/arrow-down.png">
	        </div>
	    </div>
	</div>
</div>
<!-- Expanded View -->
<div ng-show="detailsMenu ==='addOns'" class="form_add_new_rate">
	<div class="form-title cursor_pointer" ng-click="changeDetailsMenu('')">
		<div class="rate_additional_details_heading">
			ADD-ONS
            <div class="cursor_pointer rate_additional_details_pointers">
                <img src="/assets/arrow-up.png">
            </div>
		</div>
	</div>
	<table class="grid rate_addons">
		<col width="20%">
		<col width="20%">
		<col width="30%">
		<col width="8%">
		<thead>
			<th class="header">ADD-ON</th>
			<th class="header">PRICE</th>
			<th class="header">INCLUSIVE/EXCLUSIVE</th>
			<th class="header center_align">USE</th>
		</thead>
		<tbody>
			<tr ng-repeat="addon in rateData.addOns">
				<td>{{addon.name}}</td>
				<td>
					<span ng-show="addon.amount.length>0">{{currencySymbol}} {{addon.amount |number:2}} &nbsp;&nbsp;<span class="rate_perstay">{{addon.post_type.description}}</span>
					</span>
				</td>
				<td>
					<div class="center_align">
						<div class="float_left">
							<label class="radio" ng-class="{checked:addon.is_inclusive_in_rate == 'true'}">
								<span class="icon-form icon-radio " ng-class="{checked:addon.is_inclusive_in_rate == 'true'}"></span>
								<input type="radio" ng-model="addon.is_inclusive_in_rate" value="true" class="change-data">
								Inclusive
								
							</label>
						</div>
						<div class="float_left rates_exclusive">
							<label class="radio" ng-class="{checked:addon.is_inclusive_in_rate == 'false'}">
								<span class="icon-form icon-radio " ng-class="{checked:addon.is_inclusive_in_rate == 'false'}"></span>
								<input type="radio" ng-model="addon.is_inclusive_in_rate" value="false" class="change-data">
								Exclusive
								
							</label>
						</div>
					</div>
				</td>
				<td><div class="center_align" style="margin-top:-22px;"><ad-toggle-button is-checked="addon.isSelected" ></ad-toggle-button></td>
			</tr>
		</tbody>		
	</table>
</div>