<form ng-cloak class="grey-texture-bg-color rate_end_date_form">
	<fieldset class="holder grey-texture-bg-color">
		<div class="center_align rate_end_date_validation_message">
			Active contracts exist for this rate. Please review contract end dates.
		</div>
		<div class="actions float">
			<button ng-click="cancelClicked()" type="button" class="button blank add-data-inline">Cancel</button>
			<button type="button" ng-click="proceedSave()" class="button green">Proceed</button>
		</div>
	</fieldset>
</form>
