<!-- Header Collapse View -->
<div ng-hide="detailsMenu ==='additionalDetails'">
    <div class="form-title cursor_pointer" ng-click="changeDetailsMenu('additionalDetails')">
        <div class="rate_additional_details_heading">
            ADDITIONAL DETAILS
            <div class="cursor_pointer rate_additional_details_pointers">
                <img src="/assets/arrow-down.png">
            </div>
        </div>
  </div>
</div>
<!-- Expanded View -->
<div ng-show="detailsMenu ==='additionalDetails'" class="form_add_new_rate" >
    <div class="form-title cursor_pointer " ng-click="changeDetailsMenu('')">
        <div class="rate_additional_details_heading">
            ADDITIONAL DETAILS
            <div class="cursor_pointer rate_additional_details_pointers">
                <img src="/assets/arrow-up.png">
            </div>
        </div>       
  </div>
	 <!-- <fieldset class="holder full-width"> -->
	 	<fieldset class="holder left">
                <div class="entry has-datepicker margin">
                    <label for="endDate"> end date &nbsp;<span  class="rate_end_date_desc">(overrides date range)</span>
                    </label>
                    <input type="text" ng-model="rateData.end_date_for_display" readonly="" maxlength="8"  placeholder="Set end date" class="date-picker-input-small">
                    <button ng-click="popupCalendar()" class="ui-datepicker-trigger date-picker-small" type="button">
                         ...
                    </button>
                    <div class="date-delete-wrapper">
                        <span class="icons delete_small rate_end_delete cursor_pointer date-delete" ng-click="deleteEndDate()">&nbsp;</span>
                    </div>
                </div>
	 		   <div class="entry full-width">
	 		   	<div class="entry" ng-hide="!rateTypesDetails.is_use_markets">
                <label>Market</label>
                <div class="select">
                    <select class="placeholder" ng-model="rateData.market_segment_id" ng-options="market.value as market.name for market in rateTypesDetails.markets">
                        <option value="" disabled>Select Market</option>
                    </select>
                </div>
                </div>
                <div class="entry"  ng-hide="!rateTypesDetails.is_use_sources">
                <label>Source</label>
                <div class="select">
                    <select class="placeholder" ng-model="rateData.source_id" ng-options="source.value as source.name for source in rateTypesDetails.sources">
                        <option value="" disabled>Select Source</option>
                    </select>
                </div>
          		</div>
            </div>
           
	 	</fieldset>
	 	<fieldset class="holder right">
	 		<ad-toggle-button is-checked="rateData.is_commission_on" label="COMMISSION"></ad-toggle-button>
	 		<ad-toggle-button is-checked="rateData.is_discount_allowed_on" label="DISCOUNT ALLOWED"></ad-toggle-button>
	 		<ad-toggle-button is-checked="rateData.is_suppress_rate_on" label="SUPPRESS RATE"></ad-toggle-button>
	 	</fieldset>
	 <!-- </fieldset> -->

</div>