<!-- Collapse View -->
<div ng-hide="rateMenu === 'dateRange.{{ dateRange.id }}'" ng-click="getDateRangeData(dateRange.id)" class="cursor_pointer">
    <span class="italic_text">{{dateRange.begin_date | date:'MMMM dd, y'}}</span>
    <span style="margin:0 5px;">to</span>
    <span class="italic_text">{{dateRange.end_date | date:'MMMM dd, y'}}</span>  
    <div style="float:right"><img src="/assets/arrow-down.png"></div>
</div>
<!-- Expanded View -->
    <div ng-show="rateMenu === 'dateRange.{{ dateRange.id }}'">
    <form class="form form-rate-config">
        <div style="width:100%;">
            <ul>        
                <li ng-click="closeDateRangeGrid()" class="cursor-hand">
                    <span  class="italic_text">{{dateRange.begin_date | date:'MMMM dd, y'}}</span>
                    <span style="margin:0 5px;">to</span>
                    <span  class="italic_text">{{dateRange.end_date | date:'MMMM dd, y'}}</span>
                    <span style="float:right"><img src="/assets/arrow-up.png"></span>

                </li>
                
                <br clear="all"/>
            </ul>

            <table width="100%">
                <tr ng-repeat="set in data.sets">
                    <td ng-include="'/assets/partials/rates/adAddRateConfig.html'" style="padding:0px !important;"></td>
                </tr>
            </table>
        </div>
    </form>
    <div ng-click="createNewSetClicked()" class="center_align add_new_date_range_container" style="margin-bottom: 10px;"> 
        <span class="icons icon-add cursor-hand" style="display: inline;">
        <span class="cursor-hand" ng-class="{'inactive': !isAllSetsSaved()}">NEW SET</span>
    </div>
</div>
