<!-- Collapse View -->
<div ng-hide="rateMenu ==='Room types'" ng-click="$emit('changeMenu','Room types')" class="cursor_pointer">
	<em class="rate_step_title">Room</em>&nbsp;<span class="italic_text">Types</span>
	<div style="float:right"><img src="/assets/arrow-down.png"></div>
</div>

<!-- Expanded View -->
<div ng-show="rateMenu ==='Room types'" ng-controller="ADAddRateRoomTypeCtrl">
	<form user="2"  class="form float form_add_new_rate">
		<fieldset class="holder full-width">
			<div class="form-title">
				<h3>
					<span>Room</span>
					Types
				</h3>
				<em class="status">
					<span>Assign at least 1 room type</span>
				</em>
			</div>
			<div class="entry has-sortable">
				<label class="center_align"><em class="rate_roomtype_text">Available Room Types</em></label>

				<ul class="boxes sortable ui-sortable short-list" data-type="source" data-drop="true" ng-model="nonAssignedroomTypes" style="overflow-y: scroll !important;" jqyoui-droppable="{multiple:true}" data-jqyoui-options="{accept:'.assigned-room-types'}">

					<li ng-repeat = "roomtype in nonAssignedroomTypes" 

						data-drag = "true"
						ng-model = "nonAssignedroomTypes"
						jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }"
						data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}"  class="non-assigned-room-types li-draggable"
						ng-click = "unAssignedRoomSelected($event, $index)"
						ng-class = '{selected: selectedUnAssignedRoomIndex === $index}' 
						>

					<span class="icons icon-handle"></span>
					<span class="icons icon-handle"></span>
					{{roomtype.name}}
				</li>
			</ul>
		</div>
		<div class="entry movers rates_mover" >
			<span class="top_mover" >
				<span class="icons icon-mover-right to-target" data-type="target" ng-click="topMoverightClicked()"
				ng-class="{active: selectedUnAssignedRoomIndex!=-1}" data-type="source">unassign room(s)</span>
				<span class="icons icon-mover-left to-source" data-type="source"
				ng-click="topMoveleftClicked()"ng-class="{active: selectedAssignedRoomIndex!=-1}">Assign room(s)</span>
			</span>
			<span>
				<div class="green_gradient icons">
					<span class="to-source green_mover icons_rates" data-type="source" ng-click="bottomMoverightClicked()">Assign room(s)</span>
				</div>
				<div class="red_gradient icons">
					<span class="to-target  red_mover icons_rates" data-type="target" ng-click="bottomMoveleftClicked()"
					>unassign room(s)</span>
				</div>
				
			</span>
		</div>
		<div class="entry has-sortable">
			<label class="center_align">
				<span class="assigned_room_text">Assigned Room Types</span></label>
				<ul class="boxes sortable ui-sortable short-list" 
					data-type="target" 
					data-drop="true" 
					ng-model="assignedRoomTypes"  
					style="overflow-y: scroll !important;" 
					jqyoui-droppable="{multiple:true, onOver: 'reachedAssignedRoomTypes'}"  data-jqyoui-options="{accept:'.non-assigned-room-types'}">
						<li ng-repeat="roomtype in assignedRoomTypes"
						ng-click="assignedRoomSelected($event,$index)"
						ng-class='{selected: selectedAssignedRoomIndex === $index}' class="assigned-room-types li-draggable"
						data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}"
						data-drag = "true"
						ng-model = "assignedRoomTypes"
						jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }">
							<span class="icons icon-handle"></span>
							<span class="icons icon-handle"></span>
							{{roomtype.name}}
						</li> 
				</ul>
		</div>
	</fieldset>
	<div class="actions float">
		<button type="button" id="cancel" class="button blank add-data-inline" ng-click="cancelMenu()">Cancel</button>
		<button type="button" id="send-email" ng-hide="rateData.room_type_ids.length > 0"  class="button" ng-class="{ 'brand-colors' : anyRoomSelected() }" ng-disabled="!anyRoomSelected()" ng-click="saveRoomTypes()" >
			Step 3 - Set date range
		</button>
		<button type="button" id="send-email" ng-show="rateData.room_type_ids.length > 0"  class="button" ng-class="{ 'green' : (rateData.id > 0 && anyRoomSelected()) }" ng-disabled="!anyRoomSelected()" ng-click="saveRoomTypes()" >
			Save
		</button>
	</div>
</form>
</div>
