<form class="form" ng-controller="ADAddRateRangeCtrl">
	<div class="grey-texture-bg-color" style="padding:2%;">
		<!--<fieldset class="holder full-width">
			<div class="form-title">
				<h3><span>Date</span>&nbsp;Range</h3>
			</div>
		</fieldset>-->
		<!--BEGIN NEW INSERT-->
		<fieldset class="holder full-width grey-texture-bg-color" style="margin-bottom:0px;">
			<div class="form-title">
				<h3><span>Date</span>&nbsp;Range Update</h3>
			</div>
		</fieldset>
		<!--END NEW INSERT-->
		<fieldset class="from-calendar left">
			<div class="center_align"><em>From</em>&nbsp;
				<span class="italic_text" ng-show="begin_date.length>0">{{begin_date | date:'MMMM dd, y'}}</span>
			</div>
			<div ui-date="fromDateOptions" ng-model="begin_date" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<fieldset class="to-calendar right">
			<div class="center_align"><em>To </em>&nbsp;
				<span  class="italic_text">{{end_date | date:'MMMM dd, y'}}</span>
			</div>
			<div ui-date="toDateOptions" ng-model="end_date" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<table class="date_range_set_table">
			<tr ng-repeat="set in Sets">
				<td width="5%">
					<a class="icons icon-delete  delete_item" ng-hide="($index === 0) && !($index ==6)"ng-click="deleteSet($index)"></a>
				</td>
				<td width="20%">
					<ad-textbox value="set.setName" style="width:150px;"></ad-textbox>
				</td>
				<td width="70%" class="date_range_checkbox_td">
					<ad-checkboxtext-left class="rate_range_checkbox" ng-repeat="day in set.days" is-checked="day.checked" label="{{day.name}}"  ng-click="checkboxClicked($index,$parent.$index)" width="70px"></ad-checkboxtext-left>	
				</td>
				<td>
					<a class="icons icon-add" ng-show="($index === Sets.length-1) && !($index ==6)" ng-click="addNewSet($index)"></a>

				</td>
				<tr>
				</table>
				<div class="actions float center_align">
					<button type="button" ui-sref="admin.rates" class="button blank add-data-inline">
						Cancel
					</button>
					<button type="button" ng-click="saveDateRange()" ng-hide="rateDate.date_ranges.length > 0" class="button" ng-class="{ 'brand-colors' : allFieldsFilled() }" ng-disabled="!allFieldsFilled()">
						Configure Rate
					</button>
					<button type="button" ng-click="saveDateRange()" ng-show="rateDate.date_ranges.length > 0" class="button" ng-class="{ 'green' : (rateData.id > 0 && allFieldsFilled()) }" ng-disabled="allFieldsFilled()">	Save
					</button>

				</div>
			</div>
		</form>
				<!--<div id="modal" class="calendar-popup modal-show">
	<form ng-cloak class="form grey-texture-bg-color">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<fieldset class="holder full-width grey-texture-bg-color" style="margin-bottom:0px;">
			<div class="form-title">
				<h3><span>Date</span>&nbsp;Range Update</h3>
			</div>
		</fieldset>
		<fieldset class="holder left grey-texture-bg-color">
			<div class="center_align grey-texture-bg-color"><em>From</em>&nbsp;
			<span class="italic_text">{{currentFilterData.begin_date| date:'MMMM dd, y'}}</span></div>
			<div ui-date="fromDateOptions" ng-model="currentFilterData.begin_date" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<fieldset class="holder right grey-texture-bg-color">
			<div class="center_align grey-texture-bg-color"><em>To </em>&nbsp;
			<span class="italic_text">{{currentFilterData.end_date | date:'MMMM dd, y'}}</span></div>
			<div ui-date="toDateOptions" ng-model="currentFilterData.end_date" ui-date-format="yy-mm-dd"></div>
		</fieldset>
		<div class="actions float">
			<button class="button blank add-data-inline" type="button" ng-click="cancelClicked()">Cancel</button>
			<button class="button green" ng-click="updateClicked()" type="button">Ok</button>
		</div>
	</form>
</div>-->