<div ng-cloak class="confirm-save grey-texture-bg-color ">
    <fieldset class="holder grey-texture-bg-color">
      <div class="form_title">
          Save change to Rate set for date range {{otherData.activeDateRange.begin_date | date:'MMMM dd, y'}} to {{otherData.activeDateRange.end_date | date:'MMMM dd, y'}}
      </div>
      <div class="actions float">
        <button type="button" id="cancel" class="button blank" ng-click="closeDialog()">
            Cancel
        </button>
        <button type="button" id="cancel" class="button blank" ng-click="discardRateSetChange()">
            Discard
        </button>
        <button type="button" id="update" class="button green" ng-click="saveSet(otherData.activeDateRange.id, otherData.activeDateRangeIndex)">
            Save
        </button> 
      </div>
    </fieldset>
</div>