<div id="reservations-settings" class="sidebar-left" role="complementary" ng-controller="RVReservationSettingsCtrl"  ui-jq="resizable" ui-options="resizableOptions" ng-click="clickedOnReservationSettings($event)" style="width: {{reservationSettingsWidth}}px;" ng-hide="hideSidebar">
    <div class="scrollable"  ng-iscroll="reservation-settings" ng-iscroll-delay="500" >
        <div class="wrapper" >
            <div ui-jq="accordion" ui-options="accordionInitiallyNotCollapsedOptions">
                <a class="settings-title toggle has-arrow active" >
                    <span class="title" translate>NIGHTS</span>
                    <span class="value">{{reservationData.numNights}}</span>
                </a>
                <div id="sidebar-nights" class="settings-content">
                    <a class="stay-dates" data-transition="nested-view" ng-class="{ disabled: isHourly}" ng-click="isHourly || stayDatesClicked()">
                        <div class="check-in">
                            <span class="title" >{{'ARRIVING_LABEL'|translate}} <span translate>{{getSimplifiedDayName(reservationData.arrivalDate)}}</span></span>
                            <strong class="date">{{reservationData.arrivalDate|date:fullDateFullMonthYear}}</strong>
                        </div>
                        <div class="check-out">
                            <span class="title" >{{'DEPARTING_LABEL'|translate}} <span translate>{{getSimplifiedDayName(reservationData.departureDate)}}</span></span>
                            <strong class="date">{{reservationData.departureDate|date:fullDateFullMonthYear}}</strong>
                        </div>
                    </a>
                </div>
            </div>
            <div ui-jq="accordion" ui-options="accordionInitiallyNotCollapsedOptions">
                <a class="settings-title toggle has-arrow active">
                    <span class="title" translate>ROOMS_LABEL</span>
                    <span class="value">{{reservationData.roomCount}}</span>
                </a>
                <div id="sidebar-rooms" class="settings-content">                
                    <div class="entry" ng-repeat="room in reservationData.rooms">
                        <label for="room-{{index+1}}-adults">{{'ROOM_LABEL'|translate}} {{$index+1}} </label>
                         <span ng-show="room.varyingOccupancy" translate>VAR_OCCUPANCY</span>
                        <div class="select adults">
                            <label for="room-{{index+1}}-adults" class="label" translate>ADULTS</label>
                            <select ng-disabled="room.varyingOccupancy" iscroll-stop-propagation name="room-{{index+1}}-adults" id="room-{{index+1}}-adults" ng-model="room.numAdults" ng-change="onOccupancyChange(room,'adult',$index)">
                                <option ng-repeat="i in [0, otherData.maxAdults] | makeRange" value="{{i}}" ng-selected="i==room.numAdults">{{i}}</option>
                            </select>
                        </div>
                        <div class="select children">
                            <label for="room-{{index+1}}-children" class="label" translate>CHILDREN</label>
                            <select ng-disabled="room.varyingOccupancy" iscroll-stop-propagation name="room-{{index+1}}-children" id="room-{{index+1}}-children" ng-model="room.numChildren" ng-change="onOccupancyChange(room,'children',$index)">
                                <option ng-repeat="i in [0, otherData.maxChildren] | makeRange" value="{{i}}" ng-selected="i==room.numChildren">{{i}}</option>
                            </select>
                        </div>
                        <div class="select infants">
                            <label for="room-{{index+1}}-infants" class="label" translate>INFANTS</label>
                            <select ng-disabled="room.varyingOccupancy" iscroll-stop-propagation name="room-{{index+1}}-infants" id="room-{{index+1}}-infants" ng-model="room.numInfants" ng-change="updateOccupancy($index)">
                                <option ng-repeat="i in [0, otherData.maxInfants] | makeRange" value="{{i}}" ng-selected="i==room.numInfants">{{i}}</option>

                            </select>
                        </div>
                        <!-- Room details should be attached here when book button is pressed -->
                        <div id="room-{{index+1}}-details" class="room-details" ng-hide="room.roomTypeId == '' || room.rateId == ''">
                            <h4>
                                {{room.roomTypeName}}
                                <button id="remove-room-{{index+1}}" ng-hide="isHourly" ng-click="editRoomRates($index)" type="button" class="edit-room icons icon-edit-10" translate>EDIT_ROOM_LABEL</button>
                            </h4>
                            <ul class="rate-and-enhancements">
                                <li>
                                    <em>{{room.rateName}}</em>
                                    <span class="price">
                                        <label ng-if="!room.isSuppressed">{{currencySymbol}}{{room.rateAvg | number : 0}}</label>
                                        <label ng-if="room.isSuppressed">SR</label>
                                        <span translate>AVG_NIGHT</span>
                                        <span class="total" ng-if="room.isSuppressed">SR</span>
                                        <span class="total" ng-if="!room.isSuppressed">{{currencySymbol}}{{room.rateTotal | number : 0}}</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Functionality of radio buttons will be defined later. So hiding the demographics section - CICO-9461. -->
            <div ui-jq="accordion" ui-options="accordionInitiallyNotCollapsedOptions" ng-hide="true">
                <a class="settings-title toggle has-arrow active">
                    <span class="title" translate>CODES_LABEL</span>
                    <span class="value">0</span>
                </a>
                <div id="sidebar-codes" class="settings-content">
                    <div class="entry">
                        <label class="radio inline">
                            <span class="icon-form icon-radio checked"></span>
                            <input name="codes" id="codes-none" type="radio" checked />
                            {{'NONE_LABEL'|translate}}
                        </label>
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-promo-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-promo" type="radio" />
                            {{'PROMOTION_CODE_LABEL'|translate}}
                        </label>
                        <input name="codes-promo-value" id="codes-promo-value" type="text" value="" translate/>
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-member-number-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-member-number" type="radio" translate/>
                            {{'MEMBER_NUMBER_LABEL'|translate}}
                        </label>
                        <input name="codes-member-number-value" id="codes-member-number-value" type="text" value="" />
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-aaa-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-aaa" type="radio" translate/>
                            {{'AAA_LABEL'|translate}}
                        </label>
                        <input name="codes-aaa-value" id="codes-aaa-value" type="text" value="" />
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-group-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-group" type="radio" translate/>
                            {{'GROUP_LABEL'|translate}}
                        </label>
                        <input name="codes-group-value" id="codes-group-value" type="text" value="" />
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-senior-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-senior" type="radio" translate/>
                            {{'AARP_LABEL'|translate}}
                        </label>
                        <input name="codes-senior-value" id="codes-senior-value" type="text" value="" />
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-gov-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-gov" type="radio" translate/>
                            {{'GOVERNMENT_LABEL'|translate}}
                        </label>
                        <input name="codes-gov-value" id="codes-gov-value" type="text" value="" />
                    </div>
                    <div class="entry">
                        <label class="radio inline" for="codes-offers-value">
                            <span class="icon-form icon-radio"></span>
                            <input name="codes" id="codes-offers" type="radio" translate/>
                            {{'PROMOTIONS_OFFERS_LABEL'|translate}}
                        </label>
                        <input name="codes-offers-value" id="codes-offers-value" type="text" value="" />
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>