<div role="dialog" id="modal" class="modal-show">
	<form id="validate" class="modal-content form confirmation">
		<button type="button" id="modal-close" class="modal-close"  ng-click="closeDialog()">
			<span class="icons icon-close invert"></span>
		</button>
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<span class="h2 message" ng-show="showEmail && showPhone" translate>PHONE_EMAIL_MISSING</span>
		<span class="h2 message" ng-show="!showEmail && showPhone" translate>PHONE_MISSING</span>
		<span class="h2 message" ng-show="showEmail && !showPhone" translate>EMAIL_MISSING</span>
		<span class="text" translate>PROVIDE_BEFORE_CHECKIN</span>
		<div id="guest-phone-entry" class="entry full-width" ng-show="showPhone" >
			<label for="guest-phone" translate>PHONE</label>
			<input type="text" value="" name="guest-phone" id="guest-phone" autocomplete="off" ng-model="saveData.phone">
		</div>
		<div id="guest-email-entry" class="entry full-width" ng-show="showEmail">
			<label for="guest-email" translate>EMAIL</label>
			<input type="text" value="" name="guest-email" id="guest-email" autocomplete="off" ng-model="saveData.email">
		</div>
		<div class="actions float">
			<a id="submit" class="button green modal-close" ng-click="submitAndGoToCheckin()" translate>SUBMIT_AND_GOTO_CHECKIN</a>
			<a id="cancel" class="button blank modal-close" ng-click="ignoreAndGoToCheckin()" translate>IGNORE_AND_GOTO_CHECKIN</a>
		</div>
	</form>
</div>