<div class="entry radio-check {{divClass}}">
	<label class="checkbox {{parentLabelClass}}" ng-class="{'checked': isChecked}" >
		
		<span ng-if="spanClass == 'checkbox-background'" class="icon-form icon-checkbox" ng-class="{'checked': isChecked, 'checkbox-background': !isChecked}"></span>
		<span ng-if="spanClass != 'checkbox-background'" class="icon-form icon-checkbox" ng-class="{'checked': isChecked}"></span>
		<input type="checkbox" ng-disabled = "isDisabled" ng-model="isChecked"  ng-change='change(datagroup,index)'>
		{{label}}
		<strong ng-show = "required=='yes'">*</strong>
	</label>
</div>
  