<section class="content current" ng-click='clearErrorMessage()'>
	
	<div data-view="HotelRoomTypesView">
		<header class="content-title float">
			<h2 translate> FLOORS </h2>
			<span class="count"> ({{data.floors.length}}) </span>
			<a id="import-rooms" class="action add" ng-click="addNewFloor()"  translate>ADD_NEW</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div id="new-form-holder"></div>
			<span class="grid" ng-show="isAddMode" ng-include="getTemplateUrl(-1)"></span>
			<table id="brands" class="grid ng-table" ng-table="tableParams">
				<thead>
					<tr>
						 
	           <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('floor_number', 'asc'),
	                    'sort-desc': tableParams.isSortBy('floor_number', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'floor_number' : tableParams.isSortBy('floor_number', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user"></i> <span translate>FLOOR_NO</span></div>
	                </th>
	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('description', 'asc'),
	                    'sort-desc': tableParams.isSortBy('description', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'description' : tableParams.isSortBy('description', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="glyphicon glyphicon-user"></i> <span translate>FLOOR_DESCRIPTION</span></div>
	                </th>					
						<th class="width-10" translate> DELETE</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="floor in $data" > 
						<td  class="text-left" ng-hide="currentClickedElement == $index" >
							<a  class="edit-data-inline" ng-click="editFloor($index)">{{floor.floor_number}} </a>
							
						</td>
						<td header-class="width-20"  ng-click="editFloor($index)" ng-hide="currentClickedElement == $index" >
							<a class="edit-data-inline">{{floor.description}} </a>
						</td>
						<td header-class=" width-10"  class="text-left" ng-hide="currentClickedElement == $index" >
							<span ng-click="deleteFloor($index)" class="icons icon-delete large-icon floor_delete">&nbsp;</span>
						</td>
						
						<td colspan="3" ng-include="getTemplateUrl($index)" ng-show="currentClickedElement == $index"></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>