<div class="jumbotron">
	<div class="container backgroundbg">
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image-back></logo-image-back>
			</div>
		</div>
		<!-- show posting message -->
		<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
			<p class="msg-head">Your request is being processed.</p>
			<p class="msg-body">This may take a few seconds..... please wait!</p>
		</div>
		<!-- show error message -->
		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head">Our apologies, something went wrong, please complete your check-out at our front desk.</p>
			<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
		</div>
		<!-- contentarea starts here-->
		<div class="container" ng-hide="isFetching || netWorkError">
			<!-- top section starts here-->
			<div class="row check-inout-wrapper late-options">
				<div class="col-md-6 headtext centeralign extra-head-pad" ng-show="optionsAvailable">
					Select your new <br/>check-out time:
				</div>
				<br>
				<!-- checkoubtn section starts here-->
				<div class="col-md-6 no-padding now-later-options" ng-show="optionsAvailable">
					<div class="row">
						<div ng-repeat="charge in charges" class="col-xs-6 later-options {{ charge.class }}">						
							<div class="rel-wrapper">
								<a ng-click="gotToNextStep(charge.amount,charge.id)"></a> 
								<div class="circle-wrapper">
									<div class="row pad-hz-24 ">
										<div class="circle-bg">
											<text x="40%" y="65%" fill="white">
												<tspan class="time">
													{{ charge.time | number }}
												</tspan>
												<tspan class="ap">
													{{ charge.ap }}
												</tspan>
											</text>
										</div>
									</div>
								</div>
								<div class="row late-charge">
									<span class="for">for</span><br/>
									<span class="amount" ng-hide="charge.amount.toString().length>2">{{currencySymbol}}{{charge.amount| number:2}}</span>
									<span class="amount" ng-show="charge.amount.toString().length>2">{{currencySymbol}}{{charge.amount| number:0}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-thanks-wrap">
					<p class="centeralign no-thanks" ng-show="optionsAvailable">
						<a ui-sref="checkOutOptions">no, thanks</a>
					</p>
				</div>
			</div>
		</div>
	</div>